

body {
    // Scrollbar //
    --scrollbar-fons: light-dark(hsl(223, 14%, 61%), hsl(0, 0%, 18%));

    // Fons //
    &::-webkit-scrollbar { background-color: var(--scrollbar-fons); }
    // Via //
    &::-webkit-scrollbar-track { background-color: var(--scrollbar-fons); }
    // Thumb //
    &::-webkit-scrollbar-thumb {
        border: 2px solid var(--scrollbar-fons);
        border-radius: 24px; // 6px;
        background-color: light-dark(hsl(223, 100%, 92%), hsl(0, 0%, 60%));
        &:hover { background-color: light-dark(hsl(223, 100%, 97%), hsl(0, 0%, 80%)); }
        &:active { background-color: white; }
    }
    // Botons //
    // &::-webkit-scrollbar-button {
    //     background-color: var(--scrollbar-thumb);
    //     box-shadow: inset -17px 0px 15px -10px var(--scrollbar-thumb-hover);
    //     border: 2px solid var(--scrollbar-via);
    //     // border-radius: 30px;
    //     border-radius: 10px 10px 6px 6px;
    //     height: 20px;
    //     &:active { background-color: var(--scrollbar-thumb-hover); }
    // }
}
