@import "./mediaqueries.scss";

// Variables //

:root {

    // Estils generals dark mode //
    
    // --fons: rgb(0, 31, 31);
    // --text: rgb(224, 255, 255);
    // --fons: rgb(16, 16, 16);
    // --text: rgb(255, 255, 255);

    --link: light-dark(#0089ff, #5fc2ff);

    // &.light {
        // --fons: hsl(210deg 100% 90%);
        // --text: rgb(16, 16, 16);
    // }


    // Temes (text i fons) //
    
    
    --color-fosc-hsl-vals-test: hsl(0, 0%, 0%);
    --color-clar-hsl-vals-test: hsl(0, 0%, 100%);
    --color-fosc-hsl-vals: 0, 0%, 0%;
    --color-clar-hsl-vals: 0, 0%, 100%;

    --color-l-0: hsl(224, 100%, 0%);
    --color-l-1: hsl(224, 100%, 16%);
    --color-l-2: hsl(224, 100%, 27%);
    --color-l-3: hsl(224, 100%, 37%);
    --color-l-4: hsl(224, 100%, 48%);
    --color-l-5: hsl(224, 100%, 58%);
    --color-l-6: hsl(224, 100%, 69%);
    --color-l-7: hsl(224, 100%, 79%);
    --color-l-8: hsl(224, 100%, 89%);
    --color-l-9: hsl(224, 100%, 100%);


    --accent-color: light-dark(hsl(224, 100%, 58%), white); //hsl(210, 100%, 79%);
    // linear-gradient(45deg, #00ff45, hsl(184.15deg 100% 59.91%))
    
    // &.light {
        // linear-gradient(45deg, hsl(210, 100%, 40%), hsl(184.15deg 100% 59.91%))
        // linear-gradient(45deg, #ba00ff, hsl(251.16deg 100% 50%));
    // }
}

// Establir variables mode fosc i clar //
// Afegeixo els .section per a que utilitzin els colors respectius segons les variables. //
// Caldria afegir aquí totes les classes a on es necessitessin remapejar els colors //
html [class*="tema-"], html [class*="paleta-"] {
    --accent-color: var(--color-7);
}
html, html .section, html [class*="tema-"], html [class*="paleta-"] {
    --color-fosc:    hsla(var(--color-fosc-hsl-vals), 1.0);
    --color-fosc-90: hsla(var(--color-fosc-hsl-vals), 0.9);
    --color-fosc-80: hsla(var(--color-fosc-hsl-vals), 0.8);
    --color-fosc-70: hsla(var(--color-fosc-hsl-vals), 0.7);
    --color-fosc-60: hsla(var(--color-fosc-hsl-vals), 0.6);
    --color-fosc-50: hsla(var(--color-fosc-hsl-vals), 0.5);
    --color-fosc-40: hsla(var(--color-fosc-hsl-vals), 0.4);
    --color-fosc-30: hsla(var(--color-fosc-hsl-vals), 0.3);
    --color-fosc-20: hsla(var(--color-fosc-hsl-vals), 0.2);
    --color-fosc-10: hsla(var(--color-fosc-hsl-vals), 0.1);
    --color-clar:    hsla(var(--color-clar-hsl-vals), 1.0);
    --color-clar-90: hsla(var(--color-clar-hsl-vals), 0.9);
    --color-clar-80: hsla(var(--color-clar-hsl-vals), 0.8);
    --color-clar-70: hsla(var(--color-clar-hsl-vals), 0.7);
    --color-clar-60: hsla(var(--color-clar-hsl-vals), 0.6);
    --color-clar-50: hsla(var(--color-clar-hsl-vals), 0.5);
    --color-clar-40: hsla(var(--color-clar-hsl-vals), 0.4);
    --color-clar-30: hsla(var(--color-clar-hsl-vals), 0.3);
    --color-clar-20: hsla(var(--color-clar-hsl-vals), 0.2);
    --color-clar-10: hsla(var(--color-clar-hsl-vals), 0.1);

    --fons: var(--color-fosc);
    --fons-90: var(--color-fosc-90);
    --fons-80: var(--color-fosc-80);
    --fons-70: var(--color-fosc-70);
    --fons-60: var(--color-fosc-60);
    --fons-50: var(--color-fosc-50);
    --fons-40: var(--color-fosc-40);
    --fons-30: var(--color-fosc-30);
    --fons-20: var(--color-fosc-20);
    --fons-10: var(--color-fosc-10);
    --text: var(--color-clar);
    --text-90: var(--color-clar-90);
    --text-80: var(--color-clar-80);
    --text-70: var(--color-clar-70);
    --text-60: var(--color-clar-60);
    --text-50: var(--color-clar-50);
    --text-40: var(--color-clar-40);
    --text-30: var(--color-clar-30);
    --text-20: var(--color-clar-20);
    --text-10: var(--color-clar-10);

    --color-0: var(--color-l-0);
    --color-1: var(--color-l-1);
    --color-2: var(--color-l-2);
    --color-3: var(--color-l-3);
    --color-4: var(--color-l-4);
    --color-5: var(--color-l-5);
    --color-6: var(--color-l-6);
    --color-7: var(--color-l-7);
    --color-8: var(--color-l-8);
    --color-9: var(--color-l-9);
}

.light, .light .section, .light [class*="tema-"], .light [class*="paleta-"] {
    --fons: var(--color-clar);
    --fons-90: var(--color-clar-90);
    --fons-80: var(--color-clar-80);
    --fons-70: var(--color-clar-70);
    --fons-60: var(--color-clar-60);
    --fons-50: var(--color-clar-50);
    --fons-40: var(--color-clar-40);
    --fons-30: var(--color-clar-30);
    --fons-20: var(--color-clar-20);
    --fons-10: var(--color-clar-10);
    --text: var(--color-fosc);
    --text-90: var(--color-fosc-90);
    --text-80: var(--color-fosc-80);
    --text-70: var(--color-fosc-70);
    --text-60: var(--color-fosc-60);
    --text-50: var(--color-fosc-50);
    --text-40: var(--color-fosc-40);
    --text-30: var(--color-fosc-30);
    --text-20: var(--color-fosc-20);
    --text-10: var(--color-fosc-10);
    
    --color-0: var(--color-l-9);
    --color-1: var(--color-l-8);
    --color-2: var(--color-l-7);
    --color-3: var(--color-l-6);
    --color-4: var(--color-l-5);
    --color-5: var(--color-l-4);
    --color-6: var(--color-l-3);
    --color-7: var(--color-l-2);
    --color-8: var(--color-l-1);
    --color-9: var(--color-l-0);
}


// Temes cada card //

// Colors generador //

@for $hue from 0 through 360 {
    .paleta-#{$hue} {

        @if ($hue > 330 and $hue <= 360 or $hue >= 0 and $hue <= 30) {
            // 0 //
            --color-fosc-hsl-vals: #{$hue}, 100%, 7%;
            --color-clar-hsl-vals: #{$hue}, 100%, 91%;
            --color-l-0: hsl(#{$hue}, 100%, 7%);
            --color-l-1: hsl(#{$hue}, 100%, 16%);
            --color-l-2: hsl(#{$hue}, 100%, 26%);
            --color-l-3: hsl(#{$hue}, 100%, 35%);
            --color-l-4: hsl(#{$hue}, 100%, 44%);
            --color-l-5: hsl(#{$hue}, 100%, 54%);
            --color-l-6: hsl(#{$hue}, 100%, 63%);
            --color-l-7: hsl(#{$hue}, 100%, 72%);
            --color-l-8: hsl(#{$hue}, 100%, 82%);
            --color-l-9: hsl(#{$hue}, 100%, 91%);
        }
        @if ($hue > 30 and $hue <= 90) {
            // 60 //
            --color-fosc-hsl-vals: #{$hue}, 100%, 7%;
            --color-clar-hsl-vals: #{$hue}, 100%, 91%;
            --color-l-0: hsl(#{$hue}, 100%, 7%);
            --color-l-1: hsl(#{$hue}, 100%, 12%);
            --color-l-2: hsl(#{$hue}, 100%, 18%);
            --color-l-3: hsl(#{$hue}, 100%, 26%);
            --color-l-4: hsl(#{$hue}, 100%, 35%);
            --color-l-5: hsl(#{$hue}, 100%, 44%);
            --color-l-6: hsl(#{$hue}, 100%, 58%);
            --color-l-7: hsl(#{$hue}, 100%, 75%);
            --color-l-8: hsl(#{$hue}, 100%, 83%);
            --color-l-9: hsl(#{$hue}, 100%, 91%);
        }
        @if ($hue > 90 and $hue <= 150) {
            // 120 //
            --color-fosc-hsl-vals: #{$hue}, 100%, 8%;
            --color-clar-hsl-vals: #{$hue}, 100%, 90%;
            --color-l-0: hsl(#{$hue}, 100%, 8%);
            --color-l-1: hsl(#{$hue}, 100%, 15%);
            --color-l-2: hsl(#{$hue}, 100%, 23%);
            --color-l-3: hsl(#{$hue}, 100%, 30%);
            --color-l-4: hsl(#{$hue}, 100%, 37%);
            --color-l-5: hsl(#{$hue}, 100%, 45%);
            --color-l-6: hsl(#{$hue}, 100%, 60%);
            --color-l-7: hsl(#{$hue}, 100%, 74%);
            --color-l-8: hsl(#{$hue}, 100%, 84%);
            --color-l-9: hsl(#{$hue}, 100%, 90%);
        }
        @if ($hue > 150 and $hue <= 210) {
            // 180 //
            --color-fosc-hsl-vals: #{$hue}, 100%, 8%;
            --color-clar-hsl-vals: #{$hue}, 100%, 90%;
            --color-l-0: hsl(#{$hue}, 100%, 8%);
            --color-l-1: hsl(#{$hue}, 100%, 15%);
            --color-l-2: hsl(#{$hue}, 100%, 20%);
            --color-l-3: hsl(#{$hue}, 100%, 27%);
            --color-l-4: hsl(#{$hue}, 100%, 35%);
            --color-l-5: hsl(#{$hue}, 100%, 45%);
            --color-l-6: hsl(#{$hue}, 100%, 50%);
            --color-l-7: hsl(#{$hue}, 100%, 70%);
            --color-l-8: hsl(#{$hue}, 100%, 80%);
            --color-l-9: hsl(#{$hue}, 100%, 90%);
        }
        @if ($hue > 210 and $hue <= 270) {
            // 240 //
            --color-fosc-hsl-vals: #{$hue}, 100%, 8%;
            --color-clar-hsl-vals: #{$hue}, 100%, 92%;
            --color-l-0: hsl(#{$hue}, 100%, 8%);
            --color-l-1: hsl(#{$hue}, 100%, 17%);
            --color-l-2: hsl(#{$hue}, 100%, 25%);
            --color-l-3: hsl(#{$hue}, 100%, 34%);
            --color-l-4: hsl(#{$hue}, 100%, 43%);
            --color-l-5: hsl(#{$hue}, 100%, 60%);
            --color-l-6: hsl(#{$hue}, 100%, 68%);
            --color-l-7: hsl(#{$hue}, 100%, 75%);
            --color-l-8: hsl(#{$hue}, 100%, 85%);
            --color-l-9: hsl(#{$hue}, 100%, 92%);
        }
        @if ($hue > 270 and $hue <= 330) {
            // 300 //
            --color-fosc-hsl-vals: #{$hue}, 100%, 7%;
            --color-clar-hsl-vals: #{$hue}, 100%, 93%;
            --color-l-0: hsl(#{$hue}, 100%, 7%);
            --color-l-1: hsl(#{$hue}, 100%, 16%);
            --color-l-2: hsl(#{$hue}, 100%, 26%);
            --color-l-3: hsl(#{$hue}, 100%, 35%);
            --color-l-4: hsl(#{$hue}, 100%, 44%);
            --color-l-5: hsl(#{$hue}, 100%, 60%);
            --color-l-6: hsl(#{$hue}, 100%, 70%);
            --color-l-7: hsl(#{$hue}, 100%, 79%);
            --color-l-8: hsl(#{$hue}, 100%, 87%);
            --color-l-9: hsl(#{$hue}, 100%, 93%);
        }
    }
    .paleta-bn {
        // Grayscale //
        --color-fosc-hsl-vals: 0, 0%, 10%;
        --color-clar-hsl-vals: 0, 0%, 100%;
        --color-l-0: hsl(0, 0%, 10%);
        --color-l-1: hsl(0, 0%, 20%);
        --color-l-2: hsl(0, 0%, 30%);
        --color-l-3: hsl(0, 0%, 40%);
        --color-l-4: hsl(0, 0%, 50%);
        --color-l-5: hsl(0, 0%, 60%);
        --color-l-6: hsl(0, 0%, 70%);
        --color-l-7: hsl(0, 0%, 80%);
        --color-l-8: hsl(0, 0%, 90%);
        --color-l-9: hsl(0, 0%, 100%);
    }
}

// Colors específics cards //

// Projects //

.tema-android {
    @extend .paleta-147;
    background-color: light-dark(hsla(147, 100%, 72%, 0.5), hsla(147, 100%, 14%, 0.5)) !important;
    --link: light-dark(var(--color-l-2), var(--color-l-5));
}

.tema-mad-jumpgate {
    @extend .paleta-60;
    background-color: light-dark(hsla(60, 100%, 72%, 0.5), hsla(60, 100%, 21%, 0.5)) !important;
    --link: light-dark(var(--color-l-3), var(--color-l-7));
}

.tema-github {
    @extend .paleta-bn;
    background-color: light-dark(hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 6%, 0.5)) !important;
}

.tema-tasker {
    @extend .paleta-34;

    background-color: light-dark(hsla(34, 100%, 72%, 0.5), hsla(34, 100%, 25%, 0.5)) !important;
    --link: light-dark(var(--color-l-4),var(--color-l-7));

    @include light {
        --accent-color: var(--color-l-3);
    }
}

.tema-amazfit {
    @extend .paleta-44;

    --color-fosc-hsl-vals-test: hsl(273, 100%, 7%);
    --color-clar-hsl-vals-test: hsl(44, 100%, 91%);
    --color-fosc-hsl-vals: 273, 100%, 7%;
    --color-clar-hsl-vals: 44, 100%, 91%;
    --color-l-0: hsl(273, 100%, 7%);
    --color-l-1: hsl(273, 100%, 16%);
    --color-l-2: hsl(273, 100%, 26%);
    --color-l-3: hsl(273, 100%, 35%);
    --color-l-4: hsl(273, 100%, 44%);
    --color-l-5: hsl(44, 100%, 44%);
    --color-l-6: hsl(44, 100%, 58%);
    --color-l-7: hsl(44, 100%, 65%);
    --color-l-8: hsl(44, 100%, 72%);
    --color-l-9: hsl(44, 100%, 91%);
    
    background-color: light-dark(hsla(44, 100%, 72%, 0.5), hsla(273, 100%, 15%, 0.5)) !important;
}

.tema-icons {
    @extend .paleta-60;

    background: linear-gradient(45deg,
        hsla(87, 100%, 25%, 0.5),
        hsla(160, 100%, 25%, 0.5),
        hsla(225, 100%, 25%, 0.5),
        hsla(253, 100%, 25%, 0.5)
    ) !important;
    @include light {
        background: linear-gradient(45deg,
            hsla(87, 100%, 72%, 0.5),
            hsla(160, 100%, 72%, 0.5),
            hsla(225, 100%, 72%, 0.5),
            hsla(253, 100%, 72%, 0.5)
        ) !important;
    }

}


// Experiencia //

// Colors paleta Dintel: rgb(17, 77, 166), #e8effa, white //
.tema-alvea {
    @extend .paleta-216;

    background-color: light-dark(hsla(216, 100%, 85%, 0.5), hsla(216, 81%, 36%, 0.5)) !important;
    --link: light-dark(rgb(17, 77, 166), rgb(232, 239, 250));
}


// Colors logo Evora: hsla(212, 64%, 37%, 0.5), hsla(9, 83%, 48%, 0.5), hsla(41, 100%, 48%, 0.5) //
.tema-evora {
    @extend .paleta-41;

    --color-fosc-hsl-vals-test: hsl(212, 100%, 8%);
    --color-clar-hsl-vals-test: hsl(41, 100%, 91%);
    --color-fosc-hsl-vals: 212, 100%, 8%;
    --color-clar-hsl-vals: 41, 100%, 91%;
    --color-l-0: hsl(212, 100%, 8%);
    --color-l-1: hsl(212, 100%, 17%);
    --color-l-2: hsl(212, 100%, 25%);
    --color-l-3: hsl(212, 100%, 34%);
    --color-l-4: hsl(212, 100%, 43%);
    --color-l-5: hsl(41, 100%, 50%);
    --color-l-6: hsl(41, 100%, 63%);
    --color-l-7: hsl(41, 100%, 72%);
    --color-l-8: hsl(41, 100%, 82%);
    --color-l-9: hsl(41, 100%, 91%);

    
    background: linear-gradient(45deg,
        hsla(9, 100%, 25%, 0.5) 15%,
        hsla(212, 100%, 25%, 0.5) 65%
    ) !important;

    --link: light-dark(var(--color-l-4), var(--color-l-6));

    @include light {
        background: linear-gradient(45deg,
            hsla(41, 100%, 72%, 0.5),
            hsla(9, 83%, 72%, 0.5),
            hsla(212, 64%, 72%, 0.5)
        ) !important;
    }
}

.tema-orange {
    @extend .paleta-28;
    background-color: light-dark(hsla(28, 100%, 72%, 0.5), hsla(28, 100%, 25%, 0.5)) !important;
    --link: light-dark(var(--color-l-3), var(--color-l-6));
}

.tema-in2art {
    @extend .paleta-bn;
    background-color: light-dark(hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 6%, 0.5)) !important;
    --link: light-dark(var(--color-l-3), var(--color-l-6));
}

.tema-matic {
    @extend .paleta-356;
    background-color: light-dark(hsla(356, 100%, 72%, 0.5), hsla(356, 100%, 15%, 0.5)) !important;
    --link: light-dark(var(--color-l-2), var(--color-l-7));
}

.tema-indra {
    @extend .paleta-193;
    background-color: light-dark(hsla(193, 100%, 62%, 0.5), hsla(193, 100%, 16%, 0.5)) !important;
    --link: light-dark(var(--color-l-3), var(--color-l-6));
}

.tema-nexxia {
    @extend .paleta-46;
    background-color: light-dark(hsla(46, 100%, 72%, 0.5), hsla(46, 100%, 21%, 0.5)) !important;
    --link: light-dark(var(--color-l-3), var(--color-l-6));
}
