@if (!showTime) {
    <section class="{{normalitzar(nom)}}">
        <div
            class="chip"
            [title]="getAnysExp()"
            appMostrarAmbAnimacio>
            {{nom}}
            <!-- - {{m.exp.getSkill(nom).diesTotals}} -->
        </div>
    </section>
} @else {
    <span class="tooltipExp {{normalitzar(nom)}}">

        <section class="showTime" appMostrarAmbAnimacio>
            <div
                class="chip"
                [title]="getAnysExp()">
                {{nom}}
            </div>

            <div class="barra">
                <div class="nivell" [style.width.%]="getNivellBarra()"> {{getTextCurt(nom)}} </div>
            </div>
            <!-- <div class="textExp">
                {{getTextCurt(nom)}}
            </div> -->

        </section>

        <div class="tooltip-card">
            <b>{{nom}}:</b><br>
            {{getTextTooltip()}}
        </div>
    </span>
}
