@if (dadesSkill) {
    <button class="rs w-100 tooltipExp" [class]="skill" (mouseenter)="correctTooltipPosition()" (click)="obrirPaginaSkill()">
        @if (!showTime) {
            <section [class]="skill">
                <div class="chip" jmpMostrarAmbAnimacio>{{ SkillText[skill] }}</div>
            </section>
        } @else {
            <section class="showTime" jmpMostrarAmbAnimacio>
                <div class="chip">{{ SkillText[skill] }}</div>
                <div class="barra">
                    <div class="nivell" [style.width.%]="getNivellBarra()"> {{ getTextCurt() }} </div>
                </div>
            </section>
        }
        <div class="tooltip-card">
            {{ experienciaEn_string() }} <b>{{ SkillText[skill] }}:</b><br>
            {{ getTextTooltip() }}
        </div>
    </button>
}
