<div id="page" class="page">
    <div class="page-title mb-5" appMostrarAmbAnimacio>
        @if (m.ca) { Projectes artístics }
        @if (m.es) { Proyectos artísticos }
        @if (m.en) { Artistic projects }
    </div>

    <div class="content mb-6 d-flex flex-column gap-6">

        <div class="seccions">
            @for (seccio of seccionsPrioritat; track seccio.nom) {
                <ng-container *ngComponentOutlet="seccio.component"></ng-container>
            }

            @if (seccionsPrioritat.length && seccions.length) {
                <div class="altres-seccions-titol" appMostrarAmbAnimacio>
                    @if (m.ca) { Altres projectes artístics }
                    @if (m.es) { Otros proyectos artísticos }
                    @if (m.en) { Other artistic projects }
                </div>
            }

            @for (seccio of seccions; track seccio.nom) {
                <ng-container *ngComponentOutlet="seccio.component"></ng-container>
            }
        </div>

        <h2 class="proximament-mes">{{ frase[m.idiomaIndex] }}</h2>

        <div class="navegacio-pagina">
            <button class="boto projects" routerLink="/projects" title="Projects" appMostrarAmbAnimacio matRipple>
                <i class="fa-solid fa-shapes" alt="Projects"></i>
            </button>
            <button class="boto about-me" routerLink="/about-me" appMostrarAmbAnimacio matRipple>
                <i class="fa-solid fa-user" alt="About me"></i>
                @if (m.ca) { Sobre mi }
                @if (m.es) { Acerca de mí }
                @if (m.en) { About me }
            </button>
        </div>

    </div>
</div>
