<div id="page" class="page">
    <div class="page-title mb-5" appMostrarAmbAnimacio>
        @if (m.ca) { Projectes artístics }
        @if (m.es) { Proyectos artísticos }
        @if (m.en) { Artistic projects }
    </div>

    <div class="content mb-6">

        <div class="seccions mw-1400 m-auto row justify-content-center g-3 mb-6">
            <app-preview-case-study class="col-12 col-md-6 col-xl-4" [nom]="'icons'" />
            <app-preview-case-study class="col-12 col-md-6 col-xl-4" [nom]="'amazfit'" />
        </div>


        <h2 class="proximament-mes mt-6 mb-6">{{ frase[m.idiomaIndex] }}</h2>


        <app-botons-navegacio-pagina />

    </div>
</div>
