@import "src/styles.scss";

.section {
    .section-title {
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
        }
    }
}
