@import "src/styles.scss";


::ng-deep .content {
    .content-title {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
        color: var(--text);
        transition: font-size 0.3s;
    }

    .group {
        color: var(--text);
        background-color: var(--fons-50);
        backdrop-filter: blur(40px);
        @extend .shadow-2;
        transition: padding 0.3s, border-radius 0.3s, box-shadow 0.3s, font-size 0.3s;
    
        .subtitle {
            color: var(--text);
        }
        .text {
            text-align: justify;
            color: var(--text-80);
        }
    
        .title, .subtitle, .text {
            transition: font-size 0.3s;
        }
        .title-icon {
            height: 2rem;
        }
    }
    
}


// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
/// 
// Pantalla PC //
@media only screen and (min-width: 576px) {
    .content {
        padding: 1rem 1rem 0rem;
    }
    .content-title {
        font-size: 2.5rem;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .content {
        padding: 0.5rem 0.5rem 0rem;
    }
    .content-title {
        font-size: 2rem;
    }
}

// PC //
@media (pointer: fine) { }
// Mòbil //
@media (pointer: coarse) { }
