@import "src/styles.scss";

::ng-deep .page {
    font-size: 1.1rem;
    padding: var(--padding-page) var(--padding-page) 0rem;

    --padding-page: 0.5rem;
    @include tablet { --padding-page: 1rem; }

    .page-title {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
        color: white;
        font-size: 2rem;
        transition: font-size 0.3s;
        
        @extend .white-title-shadow;

        @include tablet {
            font-size: 2.5rem;
        }
    }

    .content {
    
        .altres-seccions-titol {
            text-align: center;
            color: white;
            font-size: 2rem;
            transition: font-size 0.3s;
            
            @extend .white-title-shadow;

            @include tablet {
                font-size: 2.5rem;
            }
        }

    }
}

.proximament-mes {
    color: white;
    @include light {
        text-shadow: 0px 2px 9px rgba(0, 0, 0, 70%);
    }

    text-align: center;
    font-style: italic;
}
