@import "src/styles.scss";

::ng-deep .page {
    font-size: 1.1rem;
    padding: var(--padding-page) var(--padding-page) 0rem;

    --padding-page: 0.5rem;
    @include tablet { --padding-page: 1rem; }

    .page-title {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
        color: var(--text);
        font-size: 2rem;
        transition: font-size 0.3s;

        @include tablet {
            font-size: 2.5rem;
        }
    }

    .botoSeguentPagina {
        display: flex;
        gap: 1rem;

        padding: 2rem 4rem;
        border-radius: 2rem;
        font-size: 1.5rem;

        &:hover {
            // border-radius: 3rem;
            box-shadow: inset 0 0 0 1000px light-dark(#fff2, #fff8) !important;
        }
    }
}
