@import "src/styles.scss";


.section {
    .section-title {
        a {
            img.title-icon {
                height: 2.4rem;
                transition: transform 0.3s;
            }
            &:hover {
                img.title-icon {
                    transform: scale(1.4);
                }
            }
        }
    }

    .descripcio {
        .crdroid {
            width: 300px;
            @include mobil {
                width: 100%;
                max-width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .mobils-rootejats {

        .mobil {

            display: flex;
            flex-direction: column;

            text-align: center;

            padding: 1rem;
            background-color: light-dark(var(--color-clar-50),  var(--color-clar-20));
            border-radius: 2rem;
            height: 100%;

            img {
                height: 10rem;
                margin-bottom: 1rem;
                object-fit: contain;

            }

            .titol {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }

            .text {
                font-size: 0.8rem;
                color: var(--text-70);
            }

        }
    }

}
