@import "src/styles.scss";


.section {
    .section-title {
        a {
            img.title-icon {
                height: 2.4rem;
                transition: transform 0.3s;
            }
            &:hover {
                img.title-icon {
                    transform: scale(1.4);
                }
            }
        }
    }

    .imatges {
        display: flex;
        justify-content: center;

        img {

            max-width: 100%;
            max-height: 25rem;

            border-radius: 1rem

        }
    }
}
