<div id="custom-roms" class="group mb-6" appMostrarAmbAnimacio>
    <div class="subtitle mb-2 g-2_5">
        Custom ROMs
        <a href="https://xdaforums.com/c/custom-rom-central.2605/" class="link-img"><img src="assets/icons/fastboot.png" alt="Fastboot" class="title-icon"></a>
    </div>
    <p class="text mb-0">
        @if (m.ca()) {
            També estic ficat al món de les custom ROMs per Android: des dels primers anys d'Android he estat instal·lant tota mena de ROMs
            (<a href="https://cyanogenmodroms.com/">CyanogenMod</a>,
            <a href="https://lineageos.org/">LineageOS</a>,
            <a href="https://get.pixelexperience.org/">PixelExperience</a>,
            <a href="https://resurrectionremix.com/">ResurrectionRemix</a>,
            <a href="https://evolution-x.org/">EvolutionX</a>
            i moltes més) als meus mòbils (vells i també nous) amb l'objectiu de tenir sempre l'última versió d'Android i les últimes funcions, i també millorar el seu rendiment.<br>
            Instal·lar diferents versions d'Android per a cada mòbil és útil per a poder utilitzar algunes funcions que només van existir en determinades versions d'Android, i que van ser eliminades posteriorment, o funcions específiques de certes capes de personalització, i també per fer proves per a les meves aplicacions en dispositius reals, per a assegurar-me la compatibilitat perfecta amb totes les versions majoritàriament utilitzades.<br><br>

            El procés implica desbloquejar el bootloader i instal·lar un custom recovery (com ara
            <a href="https://twrp.me/">TWRP</a>,
            <a href="https://forum.xda-developers.com/t/recovery-25-9-clockworkmod-recovery-6-0-5-1-android-one-common-to-all.2885736/">CWM</a>,
            etc.) i després, des d'aquest recovery, flashejar la rom i, si cal, les
            <a href="https://opengapps.org/">Gapps</a>
            o
            <a href="https://magiskmanager.com/#What_is_Magisk">Magisk</a>.
            <br><br>

            També tinc experiència en l'ús de programes per restablir els firmwares de fàbrica de mòbils de diferents marques, com ara
            <a href="https://samsungodin.com/">Odin (Samsung)</a>,
            <a href="https://msmdownloadtools.com/">MsmDownloadTool (OnePlus, Oppo, Realme)</a>,
            <a href="https://xiaomiflashtool.com/">Xiaomi Flash Tool (Xiaomi)</a>,
            <a href="https://www.ytechb.com/asus-flash-tool/">Zenfone Flash Tool (ASUS)</a>
            i altres.<br><br>

            Addicionalment, també he modificat firmwares de smartbands i smartwatches per fer petits canvis, com ara canviar els paquets d'icones i afegir alguna funcionalitat extra. Com que a internet no hi havia manuals per a editar el firmware, els coneixements per a descomprimir el firmware i editar-lo els he aconseguit autodidàcticament, mitjançant l'experimentació, l'observació, el raonament i el sistema de prova i error.<br>
        }
        
        @if (m.es()) {
            También estoy metido en el mundillo de las custom ROMs para Android: desde los primeros años de Android he estado instalando toda clase de ROMs 
            (<a href="https://cyanogenmodroms.com/">CyanogenMod</a>,
            <a href="https://lineageos.org/">LineageOS</a>,
            <a href="https://get.pixelexperience.org/">PixelExperience</a>,
            <a href="https://resurrectionremix.com/">ResurrectionRemix</a>,
            <a href="https://evolution-x.org/">EvolutionX</a>
            y muchas más) a mis móviles (viejos y también nuevos) con el objetivo de tener siempre la última versión de Android y las últimas funciones, y también mejorar su rendimiento.<br>
            Instalar diferentes versiones de Android para cada móvil es útil para poder usar algunas funciones que sólo existieron en determinadas versiones de Android, y que fueron eliminadas posteriormente, o funciones específicas de ciertas capas de personalización, y también para hacer pruebas para mis aplicaciones en dispositivos reales, para asegurarme la compatibilidad perfecta con todas las versiones mayormente usadas.<br><br>

            El proceso implica desbloquear el bootloader e instalar un custom recovery (como
            <a href="https://twrp.me/">TWRP</a>,
            <a href="https://forum.xda-developers.com/t/recovery-25-9-clockworkmod-recovery-6-0-5-1-android-one-common-to-all.2885736/">CWM</a>,
            etc.) y luego desde el recovery flashear la rom y, si es preciso, las
            <a href="https://opengapps.org/">Gapps</a>
            o
            <a href="https://magiskmanager.com/#What_is_Magisk">Magisk</a>.
            <br><br>

            También tengo experiencia en el uso de programas para restablecer los firmwares de fábrica de móviles de distintas marcas, tales como
            <a href="https://samsungodin.com/">Odin (Samsung)</a>,
            <a href="https://msmdownloadtools.com/">MsmDownloadTool (OnePlus, Oppo, Realme)</a>,
            <a href="https://xiaomiflashtool.com/">Xiaomi Flash Tool (Xiaomi)</a>,
            <a href="https://www.ytechb.com/asus-flash-tool/">Zenfone Flash Tool (ASUS)</a>
            y otros.<br><br>

            Adicionalmente, también he modificado firmwares de smartbands y smartwatches para realizar pequeños cambios, como cambiar los paquetes de iconos y añadir alguna funcionalidad extra. Como en internet no existían manuales para editar el firmware, los conocimientos para descomprimir el firmware y editarlo los he conseguido autodidácticamente, mediante la experimentación, observación, razonamiento y el sistema de prueba y error.
        }
        
        @if (m.en()) {
            I am also involved in the world of custom ROMs for Android: since the first years of Android I have been installing all kinds of ROM
            (<a href="https://cyanogenmodroms.com/">CyanogenMod</a>,
            <a href="https://lineageos.org/">LineageOS</a>,
            <a href="https://get.pixelexperience.org/">PixelExperience</a>,
            <a href="https://resurrectionremix.com/">ResurrectionRemix</a>,
            <a href="https://evolution-x.org/">EvolutionX</a>
            and many more) to my phones (old and new) with in order to always have the latest version of Android and the latest features, and also improve its performance.<br>
            Installing different Android versions for each phone is useful to be able to use some features that only existed in certain versions of Android, and were later removed, or specific features of certain manufacturer skins, and also for testing my apps on real devices, in order to ensure perfect compatibility with all majorly used versions.<br><br>

            The process involves unlocking the bootloader and installing a custom recovery (such as
            <a href="https://twrp.me/">TWRP</a>,
            <a href="https://forum.xda-developers.com/t/recovery-25-9-clockworkmod-recovery-6-0-5-1-android-one-common-to-all.2885736/">CWM</a>,
            etc.) and then, from this recovery, flash the rom and, if necessary,
            <a href="https://opengapps.org/">Gapps</a>
            or
            <a href="https://magiskmanager.com/#What_is_Magisk">Magisk</a>.<br><br>

            I also have experience in using programs to restore the factory firmwares of mobile phones from different manufacturers, such as
            <a href="https://samsungodin.com/">Odin (Samsung)</a>,
            <a href="https://msmdownloadtools.com/">MsmDownloadTool (OnePlus, Oppo, Realme)</a>,
            <a href="https://xiaomiflashtool.com/">Xiaomi Flash Tool (Xiaomi)</a>,
            <a href="https://www.ytechb.com/asus-flash-tool/">Zenfone Flash Tool (ASUS)</a>
            and others.<br><br>

            Additionally, I've also modified smartband and smartwatch firmwares to make small changes, such as changing icon packs and adding some extra functionality. Since there were no manuals for editing the firmware on the internet, the knowledge to unzip the firmware and edit it was self-taught, through experimentation, observation, reasoning and the trial and error system.
        }
    </p>
</div>
