.select-idioma {
    background-color: var(--fons-50);
    color: var(--text);
    border: none;
    border-radius: 5px;
    padding: 0.25rem 0.5rem 0.25rem 1rem;
    outline: none;
    cursor: pointer;

    option {
        background-color: var(--fons);
    }
}


// Pantalla Gran //
@media only screen and (min-width: 992px) {
    .select-idioma {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
// Pantalla PC //
@media only screen and (min-width: 576px) {
    .select-idioma {
        font-size: 1.2rem;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .select-idioma {
        font-size: 1.1rem;
    }
}

// PC //
@media (pointer: fine) { }
// Mòbil //
@media (pointer: coarse) {
    .select-idioma {
        border-radius: 0.6rem !important;
    }
}
