<section id="experience-home">

    <div class="titol white-title-shadow h2 mb-4 text-center" appMostrarAmbAnimacio>
        @if (m.ca) { Experiència professional }
        @if (m.es) { Experiencia profesional }
        @if (m.en) { Professional experience }
    </div>

    <div class="experiencies section row g-3">

        <jmp-preview-case-study class="col-12 col-sm-6" pagina="experience" id="indra" />
        <jmp-preview-case-study class="col-12 col-sm-6" pagina="experience" id="in2art" />
        <jmp-preview-case-study class="col-12 col-sm-6" pagina="experience" id="matic" />
        <jmp-preview-case-study class="col-12 col-sm-6" pagina="experience" id="evora" />
        <jmp-preview-case-study class="col-12 col-sm-6" pagina="experience" id="orange" />
        <jmp-preview-case-study class="col-12 col-sm-6" pagina="experience" id="tecnocom" />
        <jmp-preview-case-study class="col-12 col-sm-6" pagina="experience" id="nexxia" />
        
    </div>

</section>
