<section id="experience-home">

    <div class="titol white-title-shadow h2 mb-4 text-center" appMostrarAmbAnimacio>
        @if (m.ca) { Experiència professional }
        @if (m.es) { Experiencia profesional }
        @if (m.en) { Professional experience }
    </div>

    <div class="experiencies section row g-3">

        <div class="col-12 col-sm-6">
            <div class="experiencia tema-dintel card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">Indra</div>
                <div class="text">
                    @if (m.ca) {
                        Backoffice i llibreria per gestionar ciutadans a l'estranger durant crisis.<br>
                        Llibreria per a totes les aplicacions del ministeri d'afers exteriors.
                    }
                    @if (m.es) {
                        Backoffice y librería para gestionar ciudadanos en el extranjero durante crisis.<br>
                        Librería para todas las aplicaciones del ministerio de asuntos exteriores.
                    }
                    @if (m.en) {
                        Backoffice and library to manage citizens abroad during crises.<br>
                        Library for all applications of the Ministry of Foreign Affairs.
                    }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/indra">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="experiencia tema-in2art card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">In2art</div>
                <div class="text">
                    @if (m.ca) { Xarxa social d'art. Frontend complet, backend parcial.<br> Líder de projecte. }
                    @if (m.es) { Red social de arte. Frontend completo, backend parcial.<br> Líder de proyecto. }
                    @if (m.en) { Art social network. Complete frontend, partial backend.<br> Project lead. }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/in2art">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="experiencia tema-matic card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">Matic</div>
                <div class="text">
                    @if (m.ca) {
                        CRM per a la gestió d'una empresa de transports. Web, app i programa Windows.<br><br>
                        App per controlar l'accés a esdeveniments amb tests COVID i QR.<br><br>
                        Desenvolupament de seccions per OCINE.
                    }
                    @if (m.es) {
                        CRM para la gestión de una empresa de transportes. Web, app y programa Windows.<br><br>
                        App para controlar el acceso a eventos con tests COVID y QR.<br><br>
                        Desarrollo de secciones para OCINE.
                    }
                    @if (m.en) {
                        CRM for the management of a transport company. Web, app and Windows program.<br><br>
                        App to control access to events with COVID tests and QR.<br><br>
                        Development of sections for OCINE.
                    }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/matic">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="experiencia tema-evora card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">Evora IT</div>
                <div class="text">
                    @if (m.ca) {
                        Migració d'una aplicació a PWA i a Angular 17 i anàlisi del seu impacte.<br><br>
                        Multinacional del sector mèdic.<br><br>
                        Comunicació només en anglès, equip multicultural.
                    }
                    @if (m.es) {
                        Migración de una aplicación a PWA y a Angular 17 y análisis del impacto.<br><br>
                        Multinacional del sector médico.<br><br>
                        Comunicación solo en inglés, equipo multicultural.
                    }
                    @if (m.en) {
                        Migration of an application to PWA and Angular 17 and analysis of its impact.<br><br>
                        Multinational company in the medical sector.<br><br>
                        Communication only in English, multicultural team.
                    }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/evora">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="experiencia tema-orange card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">Orange</div>
                <div class="text">
                    @if (m.ca) { Fullstack en una aplicació per a evitar fraus en el consum dels clients d'una operadora. }
                    @if (m.es) { Fullstack en una aplicación para evitar fraudes en el consumo de los clientes de una operadora. }
                    @if (m.en) { Fullstack in an application to prevent fraud in the consumption of an operator's clients. }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/orange">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="experiencia tema-tecnocom card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">Tecnocom / Indra</div>
                <div class="text">
                    @if (m.ca) { Renovació del sistema Línia Oberta de La Caixa: Desenvolupament d'un sistema de gestió de clients, amb guies de desenvolupament. Middlewares. }
                    @if (m.es) { Renovación del sistema Línia Oberta de La Caixa: Desarrollo de un sistema de gestión de clientes, con guías de desarrollo. Middlewares. }
                    @if (m.en) { Renewal of La Caixa's Línia Oberta system: Development of a customer management system, with development guides. Middlewares. }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/tecnocom">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="experiencia tema-nexxia card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">Nexxia</div>
                <div class="text">
                    @if (m.ca) { Desenvolupament d'un sistema de generació de plantilles personalitzades per a posterior generació de factures. }
                    @if (m.es) { Desarrollo de un sistema de generación de plantillas personalizadas para posterior generación de facturas. }
                    @if (m.en) { Development of a system for generating customized templates for subsequent invoice generation. }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/nexxia">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

</section>
