<section id="matic" class="tema-matic card-themed bg-colored section">
    <div class="titol-top-card section-title d-flex mb-2">
        <a [href]="getLink()" class="rs link-boto-titol gap-3" matRipple>
            Matic
            <img src="assets/icons/experience/matic.png" alt="Matic" class="title-icon rounded">
            <span class="fletxa">↗</span>
        </a>
    </div>
    <!-- <article class="descripcio mb-4">
        @if (m.ca) {
            Durant la meva experiència laboral a Matic Enginyeria Informàtica, vaig ser responsable de programar el frontend i part del backend d'un sistema CRM dissenyat per a la gestió de clients, manteniments i molls de càrrega de l'empresa SystemBlock. Aquest sistema integra una web, una app Android i un programa <app-link href="https://learn.microsoft.com/ca-es/windows/uwp/get-started/universal-application-platform-guide">UWP</app-link> per a Windows 10.<br><br>
            A més, vaig dur a terme el manteniment i millora de <app-link href="https://www.ocineurbanxmadrid.es/">diverses pàgines web</app-link> per a <app-link href="https://www.ocine.es/">Ocine</app-link>, on vaig crear noves seccions, pantalles i funcions, utilitzant CSS, Javascript, PHP i Joomla.<br>
            També vaig desenvolupar un sistema de cartelleres per al públic a diversos locals de cinemes a Madrid.<br><br>

            Elaboració de documentació sobre com generar claus de signatura per a les aplicacions Android i UWP, i instruccions per a pujar canvis a les webs d'Ocine i sincronitzar els monitors de les cartelleres. Elaboració de scripts PowerShell per a automatitzar tasques.
        }

        @if (m.es) {
            Durante mi experiencia laboral en Matic Enginyeria Informàtica, fui responsable de programar el frontend y parte del backend de un sistema CRM diseñado para la gestión de clientes, mantenimientos y muelles de carga de la empresa SystemBlock. Este sistema integra un sitio web, una app Android y un programa <app-link href="https://learn.microsoft.com/es-es/windows/uwp/get-started/universal-application-platform-guide">UWP</app-link> para Windows 10.<br><br>
            Además, llevé a cabo el mantenimiento y mejora de <app-link href="https://www.ocineurbanxmadrid.es/">varias páginas web</app-link> para <app-link href="https://www.ocine.es/">Ocine</app-link>, en donde creé nuevas secciones, pantallas y funciones, utilizando CSS, Javascript, PHP y Joomla.<br>
            También desarrollé un sistema de carteleras para el público en múltiples locales de cines en Madrid.<br><br>

            Elaboración de documentación sobre cómo generar claves de firma para las aplicaciones Android y UWP, e instrucciones para subir cambios en las webs de Ocine y sincronizar los monitores de las carteleras. Elaboración de scripts PowerShell para automatizar tareas.
        }

        @if (m.en) {
            During my work experience at Matic Enginyeria Informàtica, I was responsible for programming the frontend and part of the backend of a CRM system designed for customer, maintenance, and loading docks management for the company SystemBlock. The system integrates a website, an Android app and a <app-link href="https://learn.microsoft.com/en-us/windows/uwp/get-started/universal-application-platform-guide">UWP</app-link> Windows 10 program.<br><br>
            In addition, I carried out maintenance and improvement of <app-link href="https://www.ocineurbanxmadrid.es/">several webpages</app-link> for <app-link href="https://www.ocine.es/">Ocine</app-link>, in which I created new sections, screens and functions, using CSS, Javascript, PHP and Joomla.<br>
            I also developed a billboard system for the public in multiple cinemas in Madrid.<br><br>

            Elaboration of documentation on how to generate signature keys for Android and UWP applications, and instructions for uploading changes to Ocine websites and synchronizing billboard monitors. Development of PowerShell scripts to automate tasks.
        }
    </article> -->
    <article class="descripcio mb-4">
        @if (m.ca) {
            <p>
                Durant la meva experiència laboral a Matic Enginyeria Informàtica, vaig ser responsable de programar el frontend i part del backend d'un sistema CRM dissenyat per a la gestió de clients, vendes, manteniments i molls de càrrega de l'empresa SystemBlock. Aquest sistema integra una web, una app Android i un programa <app-link id="uwp_ca">UWP</app-link> per a Windows 10.
            </p>
            <h4>Assoliments</h4>
            <ul>
                <li>🌟Líder del projecte de frontend. Creació del frontend d'un CRM complet per gestionar clients, vendes, manteniments i logística de molls de càrrega</li>
                <li>Desenvolupament multiplataforma d'un lloc web, una app Android i un programa <app-link id="uwp_ca">UWP</app-link></li>
                <li>Projectes construïts des de zero amb Javascript, JQuery, CSS, Cordova i llibreries</li>
                <li>Desenvolupament de noves funcions per a <app-link id="ocine_ca">Ocine</app-link></li>
                <li>Desenvolupament d'un sistema de cartelleres per al públic per a ser utilitzades en múltiples locals de cinemes a Madrid</li>
            </ul>
            <p>
                Vaig dur a terme el manteniment i millora de <app-link id="ocine-madrid">diverses pàgines web</app-link> per a <app-link id="ocine_ca">Ocine</app-link>, on vaig crear noves seccions, pantalles i funcions, utilitzant CSS, Javascript, PHP i Joomla.<br><br>

                Elaboració de documentació sobre com generar claus de signatura per a les aplicacions Android i UWP, i instruccions per a pujar canvis a les webs d'Ocine i sincronitzar els monitors de les cartelleres. Elaboració de scripts PowerShell per a automatitzar tasques.
            </p>
        }

        @if (m.es) {
            <p>
                Durante mi experiencia laboral en Matic Enginyeria Informàtica, fui responsable de programar el frontend y parte del backend de un sistema CRM diseñado para la gestión de clientes, ventas, mantenimientos y logística de muelles de carga de la empresa SystemBlock. Este sistema integra un sitio web, una app Android y un programa <app-link id="uwp_es">UWP</app-link> para Windows 10.
            </p>
            <h4>Logros</h4>
            <ul>
                <li>🌟Líder del proyecto de frontend. Creación del frontend de un CRM completo para gestionar clientes, ventas, mantenimientos y muelles de carga</li>
                <li>Desarrollo multiplataforma de un sitio web, una app Android y un programa <app-link id="uwp_es">UWP</app-link></li>
                <li>Proyectos construidos desde cero con Javascript, JQuery, CSS, Cordova y librerías</li>
                <li>Desarrollo de nuevas funciones para <app-link id="ocine_es">Ocine</app-link></li>
                <li>Desarrollo de un sistema de carteleras para el público para ser usadas en múltiples locales de cines en Madrid</li>
            </ul>
            <p>
                Llevé a cabo el mantenimiento y mejora de <app-link id="ocine-madrid">varias páginas web</app-link> para <app-link id="ocine_es">Ocine</app-link>, en donde creé nuevas secciones, pantallas y funciones, utilizando CSS, Javascript, PHP y Joomla.<br><br>

                Elaboración de documentación sobre cómo generar claves de firma para las aplicaciones Android y UWP, e instrucciones para subir cambios en las webs de Ocine y sincronizar los monitores de las carteleras. Elaboración de scripts PowerShell para automatizar tareas.
            </p>
        }

        @if (m.en) {
            <p>
                During my work experience at Matic Enginyeria Informàtica, I was responsible for programming the frontend and part of the backend of a CRM system designed for customer, sales, maintenance, and loading dock logistics management for the company SystemBlock. The system integrates a website, an Android app and a <app-link id="uwp_en">UWP</app-link> Windows 10 program.
            </p>
            <h4>Achievements</h4>
            <ul>
                <li>🌟Project lead of the frontend. Creation of the frontend of a complete CRM to manage clients, sales, maintenance, and loading docks</li>
                <li>Multiplatform development of a website, an Android app, and a <app-link id="uwp_en">UWP</app-link></li>
                <li>Projects built from scratch with Javascript, JQuery, CSS, Cordova, and some libraries</li>
                <li>Development of new functions for <app-link id="ocine_en">Ocine</app-link></li>
                <li>Development of a billboard system for the public to be used in multiple locations of cinemas in Madrid</li>
            </ul>
            <p>
                I carried out maintenance and improvement of <app-link id="ocine-madrid">several webpages</app-link> for <app-link id="ocine_en">Ocine</app-link>, in which I created new sections, screens and functions, using CSS, Javascript, PHP and Joomla.<br><br>

                Elaboration of documentation on how to generate signature keys for Android and UWP applications, and instructions for uploading changes to Ocine websites and synchronizing billboard monitors. Development of PowerShell scripts to automate tasks.
            </p>
        }
    </article>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.JAVASCRIPT"/>
        <app-skill [skill]="Skills.JQUERY"/>
        <app-skill [skill]="Skills.CSS"/>
        <app-skill [skill]="Skills.HTML5"/>
        <app-skill [skill]="Skills.BOOTSTRAP"/>
        <app-skill [skill]="Skills.MATERIALIZE"/>
        <app-skill [skill]="Skills.UWP"/>
        <app-skill [skill]="Skills.CORDOVA"/>
        <app-skill [skill]="Skills.SEQUELIZE"/>
        <app-skill [skill]="Skills.PHP"/>
        <app-skill [skill]="Skills.APACHE"/>
        <app-skill [skill]="Skills.MYSQL"/>
        <app-skill [skill]="Skills.PHPMYADMIN"/>
        <app-skill [skill]="Skills.FILEZILLA"/>
        <app-skill [skill]="Skills.POWERSHELL"/>
        <app-skill [skill]="Skills.WINDOWSSERVER"/>
        <app-skill [skill]="Skills.JOOMLA"/>
        <app-skill [skill]="Skills.AGILE"/>
        <app-skill [skill]="Skills.MVC"/>
        <app-skill [skill]="Skills.RESPONSIVEDESIGN"/>
        <app-skill [skill]="Skills.ANYDESK"/>
        <app-skill [skill]="Skills.REMOTEDESKTOP"/>
    </div>
</section>
