<section id="matic" class="tema-matic card section" appMostrarAmbAnimacio>
    <div class="section-title d-flex mb-2">
        <a [href]="getLink()" class="no-style link-boto-titol gap-3" matRipple>
            Matic
            <img src="assets/icons/experience/matic.png" alt="Matic" class="title-icon rounded">
            <span class="fletxa">↗</span>
        </a>
    </div>
    <p class="text mb-1">
        @if (m.ca) {
            Durant la meva experiència laboral a Matic Enginyeria Informàtica, vaig ser responsable de programar el frontend i part del backend d'un sistema CRM dissenyat per a la gestió de clients, manteniments i molls de càrrega de l'empresa SystemBlock. Aquest sistema integra una web, una app Android i un programa <a href="https://learn.microsoft.com/ca-es/windows/uwp/get-started/universal-application-platform-guide">UWP</a> per a Windows 10.<br><br>
            A més, vaig dur a terme el manteniment i millora de <a href="https://www.ocineurbanxmadrid.es/">diverses pàgines web</a> per a <a href="https://www.ocine.es/">Ocine</a>, on vaig crear noves seccions, pantalles i funcions, utilitzant CSS, Javascript, PHP i Joomla.<br>
            També vaig desenvolupar pàgines web específiques per a les pantalles de cartelleres a múltiples locals de cinemes a Madrid.<br><br>

            Elaboració de documentació sobre com generar claus de signatura per a les aplicacions Android i UWP, i instruccions per a pujar canvis a les webs d'Ocine i sincronitzar els monitors de les cartelleres. Elaboració de scripts PowerShell per a automatitzar tasques.
        }
            
        @if (m.es) {
            Durante mi experiencia laboral en Matic Enginyeria Informàtica, fui responsable de programar el frontend y parte del backend de un sistema CRM diseñado para la gestión de clientes, mantenimientos y muelles de carga de la empresa SystemBlock. Este sistema integra un sitio web, una app Android y un programa <a href="https://learn.microsoft.com/es-es/windows/uwp/get-started/universal-application-platform-guide">UWP</a> para Windows 10.<br><br>
            Además, llevé a cabo el mantenimiento y mejora de <a href="https://www.ocineurbanxmadrid.es/">varias páginas web</a> para <a href="https://www.ocine.es/">Ocine</a>, en donde creé nuevas secciones, pantallas y funciones, utilizando CSS, Javascript, PHP y Joomla.<br>
            También desarrollé páginas web específicas para las pantallas de carteleras en múltiples locales de cines en Madrid.<br><br>

            Elaboración de documentación sobre cómo generar claves de firma para las aplicaciones Android y UWP, e instrucciones para subir cambios en las webs de Ocine y sincronizar los monitores de las carteleras. Elaboración de scripts PowerShell para automatizar tareas.
        }
            
        @if (m.en) {
            During my work experience at Matic Enginyeria Informàtica, I was responsible for programming the frontend and part of the backend of a CRM system designed for customer, maintenance, and loading docks management for the company SystemBlock. The system integrates a website, an Android app and a <a href="https://learn.microsoft.com/en-us/windows/uwp/get-started/universal-application-platform-guide">UWP</a> Windows 10 program.<br><br>
            In addition, I carried out maintenance and improvement of <a href="https://www.ocineurbanxmadrid.es/">several webpages</a> for <a href="https://www.ocine.es/">Ocine</a>, in which I created new sections, screens and functions, using CSS, Javascript, PHP and Joomla.<br>
            I also developed specific web pages for billboard screens in multiple cinema locations in Madrid.<br><br>

            Elaboration of documentation on how to generate signature keys for Android and UWP applications, and instructions for uploading changes to Ocine websites and synchronizing billboard monitors. Development of PowerShell scripts to automate tasks.
        }
    </p>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.JAVASCRIPT"/>
        <app-skill [skill]="Skills.JQUERY"/>
        <app-skill [skill]="Skills.CSS"/>
        <app-skill [skill]="Skills.HTML5"/>
        <app-skill [skill]="Skills.BOOTSTRAP"/>
        <app-skill [skill]="Skills.MATERIALIZE"/>
        <app-skill [skill]="Skills.UWP"/>
        <app-skill [skill]="Skills.CORDOVA"/>
        <app-skill [skill]="Skills.SEQUELIZE"/>
        <app-skill [skill]="Skills.PHP"/>
        <app-skill [skill]="Skills.APACHE"/>
        <app-skill [skill]="Skills.MYSQL"/>
        <app-skill [skill]="Skills.PHPMYADMIN"/>
        <app-skill [skill]="Skills.FILEZILLA"/>
        <app-skill [skill]="Skills.POWERSHELL"/>
        <app-skill [skill]="Skills.WINDOWSSERVER"/>
        <app-skill [skill]="Skills.JOOMLA"/>
        <app-skill [skill]="Skills.AGILE"/>
        <app-skill [skill]="Skills.MVC"/>
        <app-skill [skill]="Skills.RESPONSIVEDESIGN"/>
        <app-skill [skill]="Skills.ANYDESK"/>
        <app-skill [skill]="Skills.REMOTEDESKTOP"/>
    </div>
</section>
