<section id="evora" class="tema-evora card-themed bg-colored section">
    <div class="titol-top-card section-title d-flex mb-2">
        <a [href]="getLink()" class="rs link-boto-titol gap-3" matRipple>
            Evora IT
            <img src="assets/icons/experience/evora.png" alt="EvoraIT" class="title-icon">
            <span class="fletxa">↗</span>
        </a>
    </div>
    <!-- <article class="descripcio mb-4">
        @if (m.ca) {
            Programador frontend a Evora IT Solutions, una empresa multinacional amb seu a Múnic, Alemanya, especialitzada en la creació de solucions per a clients al sector mèdic. Vaig formar part d'un equip multicultural, on la comunicació i la feina es duien a terme exclusivament en anglès.<br><br>

            L'aplicació estava desenvolupada en Angular amb NgRx, i tenia com a objectiu facilitar la gestió del manteniment i substitució dels dispositius mèdics.<br><br>

            Vaig participar en l'equip d'actualització de la versió d'Angular de l'aplicació, resolent els errors sorgits durant aquest procés. La migració va ser d'<app-link href="https://blog.angular.io/angular-v12-is-now-available-32ed51fbfd49">Angular 12</app-link> fins a la versió més recent, <app-link href="https://blog.angular.io/introducing-angular-v17-4d7033312e4b">Angular 17</app-link>.<br>
            A més, vaig realitzar un anàlisi detallat de l'impacte que tindria la implementació de les noves característiques d'Angular 17 a la nostra aplicació.<br><br>

            També vaig participar en la conversió de l'aplicació a PWA, amb l'objectiu d'ampliar la seva accessibilitat a altres dispositius, més enllà dels iPads dels tècnics de la nostra empresa client.
        }

        @if (m.es) {
            Programador frontend en Evora IT Solutions, una empresa multinacional con sede en Múnich, Alemania, especializada en la creación de soluciones para clientes en el sector médico. Formé parte de un equipo multicultural, donde la comunicación y el trabajo se llevaban a cabo exclusivamente en inglés.<br><br>

            La aplicación estaba desarrollada en Angular con NgRx, y tenía como objetivo facilitar la gestión del mantenimiento y sustitución de los dispositivos médicos.<br><br>

            Participé en el equipo de actualización de la versión de Angular de la aplicación, resolviendo los errores surgidos durante ese proceso. La migración fue de <app-link href="https://blog.angular.io/angular-v12-is-now-available-32ed51fbfd49">Angular 12</app-link> hasta la versión más reciente, <app-link href="https://blog.angular.io/introducing-angular-v17-4d7033312e4b">Angular 17</app-link>.<br>
            Además, realicé un análisis detallado del impacto que tendría la implementación de las nuevas características de Angular 17 en nuestra aplicación.<br><br>

            También participé en la conversión de la aplicación a PWA, con el propósito de ampliar su accesibilidad a otros dispositivos, más allá de los iPads de los técnicos de nuestra empresa cliente.
        }

        @if (m.en) {
            Frontend programmer at Evora IT Solutions, a multinational company based in Munich, Germany, specialized in creating solutions for clients in the medical sector. I was part of a multicultural team, where communication and work were exclusively in English. <br> <br>

            The application was developed in Angular with NgRx, and its objective was to facilitate the management of maintenance and replacement of medical devices.<br><br>

            I participated in the Angular version update team of the application, resolving errors that appeared during that process. The migration was from <app-link href="https://blog.angular.io/angular-v12-is-now-available-32ed51fbfd49">Angular 12</app-link> to the most recent version, <app-link href="https://blog.angular.io/introducing-angular-v17-4d7033312e4b">Angular 17</app-link>.<br>
            Additionally, I performed a detailed analysis of the impact of implementing the new Angular 17 features on our application.<br><br>

            I also participated in the conversion of the application to PWA, with the purpose of expanding its accessibility to other devices, beyond the iPads of the technicians of our client company.
        }
        <br><br>
        <app-link href="assets/documents/Jordi Mas Parramon EvoraIT onboarding 2023.pptx">
            @if(m.ca) { Powerpoint de presentació a Evora IT }
            @if(m.es) { Powerpoint de presentación en EvoraIT }
            @if(m.en) { Presentation Powerpoint at EvoraIT }
        </app-link>
    </article> -->
    <article class="descripcio mb-4">
        @if(m.esPantallaPc()) {
            <img src="assets/images/evora/maquina-evora.png" alt="siemens machine" class="maquina float-right ms-4" appMostrarAmbAnimacio>
        }
        @if (m.ca) {
            <p>
                Programador frontend a Evora IT Solutions, una empresa multinacional amb seu a Múnic, Alemanya, especialitzada en la creació de solucions per a clients al sector mèdic. Vaig formar part d'un equip multicultural, on la comunicació i la feina es duien a terme exclusivament en anglès.<br><br>

                L'aplicació estava desenvolupada en Angular amb NgRx, i tenia com a objectiu facilitar la gestió del manteniment i substitució dels dispositius mèdics.
            </p>

            <h4>Tasques</h4>
            <ul>
                <li>Participació en l'equip d'actualització d'Angular, de <app-link id="angular-12">Angular 12</app-link> a <app-link id="angular-17">Angular 17</app-link></li>
                <li>Anàlisi de l'impacte de la implementació de les noves característiques d'Angular 17</li>
                <li>Participació en la conversió de l'aplicació a PWA</li>
            </ul>

            <p>
                Vaig participar en l'equip d'actualització de la versió d'Angular de l'aplicació, resolent els errors sorgits durant aquest procés. La migració va ser d'Angular 12 fins a la versió més recent en aquell moment, la 17.<br><br>

                També vaig participar en la conversió de l'aplicació a PWA, amb l'objectiu d'ampliar la seva accessibilitat a altres dispositius, més enllà dels iPads dels tècnics de la nostra empresa client. L'actualització a PWA també permetria que pogués ser instal·lada directament als dispositius i funcionar sense connexió, ja que el client no sempre tenia connexió als llocs on feien els manteniments. Les peticions de les dades introduïdes es guardaven en caché per a ser enviades al servidor quan es tornés a tenir connexió.
            </p>
        }

        @if (m.es) {
            <p>
                Programador frontend en Evora IT Solutions, una empresa multinacional con sede en Múnich, Alemania, especializada en la creación de soluciones para clientes en el sector médico. Formé parte de un equipo multicultural, donde la comunicación y el trabajo se llevaban a cabo exclusivamente en inglés.<br><br>

                La aplicación estaba desarrollada en Angular con NgRx, y tenía como objetivo facilitar la gestión del mantenimiento y sustitución de los dispositivos médicos.
            </p>

            <h4>Tareas</h4>
            <ul>
                <li>Participación en el equipo de actualización de Angular, de <app-link id="angular-12">Angular 12</app-link> a <app-link id="angular-17">Angular 17</app-link></li>
                <li>Análisis del impacto de la implementación de las nuevas características de Angular 17</li>
                <li>Participación en la conversión de la aplicación a PWA</li>
            </ul>

            <p>
                Participé en el equipo de actualización de la versión de Angular de la aplicación, resolviendo los errores surgidos durante el proceso. La migración fue de Angular 12 hasta la versión más reciente en ese momento, la 17.<br><br>

                Participé en la conversión de la aplicación a PWA, con el propósito de ampliar su accesibilidad a otros dispositivos, más allá de los iPads de los técnicos de nuestra empresa cliente. La actualización a PWA también permitiría que pudiera ser instalada directamente en los dispositivos y funcionar sin conexión, pues el cliente no siempre tenía conexión en los sitios donde hacían los mantenimientos. Las peticiones de los datos introducidos se guardaban en caché para ser enviadas al servidor cuando se volviera a tener conexión.
            </p>
        }

        @if (m.en) {
            <p>
                Frontend programmer at Evora IT Solutions, a multinational company based in Munich, Germany, specialized in creating solutions for clients in the medical sector. I was part of a multicultural team, where communication and work were exclusively in English.<br><br>

                The application was developed in Angular with NgRx, and its objective was to facilitate the management of maintenance and replacement of medical devices.
            </p>

            <h4>Tasks</h4>
            <ul>
                <li>Participation in the Angular update team, from <app-link id="angular-12">Angular 12</app-link> to <app-link id="angular-17">Angular 17</app-link></li>
                <li>Analysis of the impact of implementing new features in Angular 17</li>
                <li>Participation in the conversion of the application to PWA</li>
            </ul>

            <p>
                I participated in the team that updated the Angular version of the application, resolving errors that arose during the process. The migration was from Angular 12 to the most recent version at that time, 17.<br><br>

                I also participated in the conversion of the application to PWA, with the purpose of expanding its accessibility to other devices, beyond the iPads of the technicians of our client company. The update to PWA would also allow it to be installed directly on the devices and work offline, since the client did not always have a connection at the sites where they did the maintenance. The requests of the entered data were cached to be sent to the server when the connection was restored.
            </p>
        }
        <app-link id="onboarding-evora">
            @if(m.ca) { Powerpoint de presentació a Evora IT }
            @if(m.es) { Powerpoint de presentación en EvoraIT }
            @if(m.en) { Presentation Powerpoint at EvoraIT }
        </app-link>
        @if(m.esPantallaMobil()) {
            <img src="assets/images/evora/maquina-evora.png" alt="siemens machine" class="maquina mt-4" appMostrarAmbAnimacio>
        }
    </article>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.ANGULAR" />
        <app-skill [skill]="Skills.NGRX" />
        <app-skill [skill]="Skills.TYPESCRIPT" />
        <app-skill [skill]="Skills.CSS" />
        <app-skill [skill]="Skills.ANGULARMATERIAL" />
        <app-skill [skill]="Skills.PWA" />
        <app-skill [skill]="Skills.CORDOVA" />
        <app-skill [skill]="Skills.GIT" />
        <app-skill [skill]="Skills.JIRA" />
        <app-skill [skill]="Skills.CONFLUENCE" />

        <app-skill [skill]="Skills.CONTINUOUSINTEGRATION" />
        <app-skill [skill]="Skills.AGILE" />
        <app-skill [skill]="Skills.MVC" />

    </div>
</section>
