<div id="page" class="page">
    <div class="page-title mb-5" appMostrarAmbAnimacio>
        @if (m.ca) { Sobre mi }
        @if (m.es) { Acerca de mí }
        @if (m.en) { About me }
    </div>

    <div class="content mb-6 d-flex flex-column gap-6">

        <section class="card-themed bg-colored section">
            <article class="descripcio">
                @if(m.ca) {
                    <h3>Infància</h3>
                    <p>
                        Des de ben petit sempre m'ha fascinat qualsevol tipus de tecnologia. Des dels 4 anys em passava les tardes jugant i construint <app-link id="bionicle_es">Bionicles</app-link>, una línia de figures articulades de LEGO, sovint sense mirar les instruccions; els sabia muntar a partir de veure el resultat final. Quan els desmuntava, utilitzava les peces per a inventar-me'n de nous. Veia una imatge a internet d'un Bionicle nou i intentava construir-lo, improvisant amb les peces de les que disposava, sovint amb bastant èxit. Gràcies a això vaig desenvolupar una visió espacial molt potent i un gran poder d'observació des de ben jove.<br><br>

                        Quan vaig créixer i tenir accés a un tornavís, obria tots els aparells que s'epatllaven per a intentar arreglar-los. Una cosa no estava espatllada fins que no la obria i me la mirava, amb tutorials de Youtube o sense.<br><br>

                        Sempre havia volgut ser desenvolupador de videojocs, i a la ESO vaig estudiar introducció a HTML i altres eines i em va agradar tant que vaig decidir estudiar programació. Vaig estudiar 2 cicles superiors i amb el temps m'he anat especialitzant en la part frontend, tot i que sovint he hagut d'intervenir en tots els punts de la programació.<br>
                        A batxillerat era un crack a dibuix tècnic, tecnologia, electrotècnia, física i filosofia.
                    </p>

                    <h3>Habilitats</h3>
                    <ul>
                        <li>Pensament lògic i racional</li>
                        <li>Gran capacitat d'observació</li>
                        <li>Intuïció aguda i anàlisi ràpid de problemes per a deduir la millor solució</li>
                        <li>Creativitat i pensament innovador, tendència a pensar fora de la caixa</li>
                        <li>Gust pel disseny gràfic, estils, formes i colors. Consistència del disseny</li>
                        <li>Inquietud constant que em motiva a buscar sempre maneres de millorar/automatitzar/optimitzar/simplificar els processos. Tant en la informàtica com en la meva vida cotidiana</li>
                        <li>Alta capacitat de concentració quan un tema m'apassiona</li>
                    </ul>

                    <p>
                        Tinc una intuïció ràpida per a anticipar resultats segons patrons, de manera inconscient. Sovint puc analitzar i descartar possibles solucions i intuir al moment quina serà la millor solució, abans que jo mateix m'adoni de com ho he fet.
                    </p>

                    <h3>Valors en programació</h3>
                    <ul>
                        <li>Empatia amb l'usuari i densenvolupament ergonòmic</li>
                        <li>Desenvolupament sempre responsiu per defecte</li>
                        <li>Interfícies atractives, intuïtives i ergonòmiques per a proporcionar en tot moment una experiència d'usuari tan agradable com sigui possible.</li>
                        <li>Quan l'usuari fa una acció o analitza la pàgina, no produir resultats inesperats o contraintuïtius</li>
                        <li>No limitar l'usuari sense motiu</li>
                        <li>Seguir bones pràctiques en disseny i en codi</li>
                        <li>L'excel·lència resideix als detalls. Perfeccionista</li>
                        <li>Desenvolupament tenint en compte els possibles canvis futurs</li>
                        <li>Creativitat i sempre provar coses noves</li>
                    </ul>
                }
                @if(m.es) {
                    <h3>Infancia</h3>
                    <p>
                        Desde pequeño siempre me ha fascinado cualquier tipo de tecnología. Desde los 4 años me pasaba las tardes jugando y construyendo <app-link id="bionicle_es">Bionicles</app-link>, una línea de figuras articuladas de LEGO, a menudo sin mirar las instrucciones; los sabía montar con sólo ver el resultado final. Cuando los desmontaba, utilizaba las piezas para inventarme nuevos. Veía una imagen en internet de un Bionicle nuevo e intentaba construirlo, improvisando con las piezas de las que disponía, a menudo con bastante éxito. Gracias a esto desarrollé una visión espacial muy potente y un gran poder de observación desde muy joven.<br><br>

                        Cuando crecí y tuve acceso a un destornillador, abría todos los aparatos que se estropeaban para intentar arreglarlos. Algo no estaba estropeado hasta que no lo abría y me lo miraba, con o sin tutoriales de Youtube.<br><br>

                        Siempre había querido ser desarrollador de videojuegos, y en la ESO estudié introducción a HTML y otras herramientas y me gustó tanto que decidí estudiar programación. Estudié 2 ciclos superiores y con el tiempo me he ido especializando en la parte frontend, aunque a menudo he tenido que intervenir en todos los puntos de la programación.<br>
                        En bachillerato se me daba muy bien dibujo técnico, tecnología, electrotecnia, física y filosofía.
                    </p>

                    <h3>Habilidades</h3>
                    <ul>
                        <li>Pensamiento lógico y racional</li>
                        <li>Gran capacidad de observación</li>
                        <li>Intuición aguda y análisis rápido de problemas para deducir la mejor solución</li>
                        <li>Creatividad y pensamiento innovador, tendencia a pensar fuera de la caja</li>
                        <li>Gusto por el diseño gráfico, estilos, formas y colores. Consistencia del diseño</li>
                        <li>Inquietud constante que me motiva a buscar siempre formas de mejorar/automatizar/optimizar/simplificar los procesos. Tanto en la informática como en mi vida cotidiana</li>
                        <li>Alta capacidad de concentración cuando un tema me apasiona</li>
                    </ul>

                    <p>
                        Tengo una intuición rápida para anticipar resultados según patrones, de forma inconsciente. A menudo puedo analizar y descartar posibles soluciones e intuir en el momento cuál será la mejor solución, antes de que yo mismo me dé cuenta de cómo lo he hecho.
                    </p>

                    <h3>Valores en programación</h3>
                    <ul>
                        <li>Empatía con el usuario y desarrollo ergonómico</li>
                        <li>Desarrollo siempre responsivo por defecto</li>
                        <li>Interfaces atractivas, intuitivas y ergonómicas para proporcionar en todo momento una experiencia de usuario lo más agradable posible.</li>
                        <li>Cuando el usuario realiza una acción o analiza la página, no producir resultados inesperados o contraintuitivos</li>
                        <li>No limitar al usuario sin motivo</li>
                        <li>Seguir buenas prácticas en diseño y en código</li>
                        <li>La excelencia reside en los detalles. Perfeccionista</li>
                        <li>Desarrollo teniendo en cuenta los posibles cambios futuros</li>
                        <li>Creatividad y siempre probar cosas nuevas</li>
                    </ul>
                }
                @if(m.en) {
                    <h3>Childhood</h3>
                    <p>
                        Since I was a child, I have always been fascinated by any kind of technology. From the age of 4, I used to spend whole afternoons playing and building <app-link id="bionicle_en">Bionicles</app-link>, a line of articulated LEGO figures, often without looking at the instructions; I knew how to put them together just by looking at the final result. When I took them apart, I used the pieces to invent new ones. I would see an image on the internet of a new Bionicle and try to build it, improvising with the pieces I had available, often quite successfully. Due to this, I developed a very strong spatial vision and great observation capacity from a very young age.<br><br>

                        When I grew up and had access to a screwdriver, I would open up every device that broke to try to fix it. Something wasn't broken until I opened it up and looked at it, with or without YouTube tutorials.<br><br>

                        I always wanted to be a video game developer, and in high school I studied an introduction to HTML and other tools and I liked it so much that I decided to study programming. I studied 2 higher cycles and over time I have specialized in the frontend part, although I have often had to intervene in all aspects of programming.<br>
                        In high school I was very good at technical drawing, technology, electrical engineering, physics and philosophy.
                    </p>

                    <h3>Skills</h3>
                    <ul>
                        <li>Logical and rational thinking</li>
                        <li>Great observation skills</li>
                        <li>Sharp intuition and quick analysis of problems to deduce the best solution</li>
                        <li>Creativity and innovative thinking, tendency to think outside the box</li>
                        <li>Taste for graphic design, styles, shapes and colors. Consistency of design</li>
                        <li>Constant concern that motivates me to always look for ways to improve/automate/optimize/simplify processes. Both in computing and in my daily life</li>
                        <li>High ability to concentrate when a topic fascinates me</li>
                    </ul>

                    <p>
                        I have a quick intuition to anticipate results based on patterns, unconsciously. I can often analyze and discard possible solutions and intuit in the moment what will be the best solution, before I myself realize how I did it.
                    </p>

                    <h3>Values in programming</h3>
                    <ul>
                        <li>Empathy with the user and ergonomic development</li>
                        <li>Always responsive development by default</li>
                        <li>Attractive, intuitive and ergonomic interfaces to provide the most pleasant user experience possible at all times.</li>
                        <li>When the user performs an action or analyzes the page, do not produce unexpected or counterintuitive results</li>
                        <li>Do not limit the user without reason</li>
                        <li>Follow good practices in design and code</li>
                        <li>Excellence lies in the details. Perfectionist</li>
                        <li>Development taking into account possible future changes</li>
                        <li>Creativity and always trying new things</li>
                    </ul>
                }



            </article>
        </section>
    </div>

</div>
