@import "src/styles.scss";
@import "../page.scss";


.page {
    
    app-stories {
        margin-left: calc(-1 * var(--padding-page));
        margin-right: calc(-1 * var(--padding-page));
    }

    .content {

        max-width: 1280px;

        .descripcio {

            section {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                @include mobil {
                    flex-direction: column;
                }
                img {
                    border-radius: 1rem;
                    @include mobil {
                        border-radius: 2rem;
                        max-width: 100%;
                    }
                }


                &.bionicles {
                    img.bionicle {
                        width: 300px;
                        @include mobil { width: 300px; }

                        filter: brightness(1.6);
                    }
                }
                &.pokemon {
                    pre { display: inline; }

                    @include tablet { flex-direction: row-reverse; }
                    img.pokemon {
                        image-rendering: pixelated;
                        width: calc(240px * 2);
                        @include mobil { width: 100%; }
                    }
                }
                &.desmuntant-portatil {
                    img.portatil {
                        width: 500px;
                        @include mobil { width: 100%; }
                    }
                }


            }
            
            :last-child {
                margin-bottom: 0;
            }
        }

    }

}
