@import "src/styles.scss";
@import "../page.scss";


.page {
    
    app-stories {
        margin-left: calc(-1 * var(--padding-page));
        margin-right: calc(-1 * var(--padding-page));
    }

    .content {

        max-width: 1280px;

        .descripcio {

            section {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                @include mobil {
                    flex-direction: column;
                }
                .imatge {
                    border-radius: 1rem;
                    @include mobil {
                        border-radius: 2rem;
                        max-width: 100%;
                    }
                }


                &.bionicles {
                    .imatge.bionicle {
                        width: 300px;
                        @include mobil { width: 300px; }

                        filter: brightness(1.6);
                    }
                }
                &.pokemon {
                    pre {
                        font-family: Consolas;
                        display: inline;
                        background-color: light-dark(white, hsl(0, 0%, 25%));
                        color: light-dark(hsl(0, 0%, 20%), white);
                        padding: 0.1rem 0.25rem;
                        border-radius: 0.25rem;
                    }

                    @include tablet { flex-direction: row-reverse; }
                    .imatge.pokemon {
                        // 240 x 160 //
                        width: calc(240px * 2);
                        @include mobil { width: calc(240px * 1.5); }

                        image-rendering: pixelated;
                        aspect-ratio: 3 / 2;

                        background: url('/assets/about-me/pokemon/pokemon-hackrom.png');
                        background-size: auto 100%;
                        
                        animation: vent 1.333s steps(5) infinite;

                        @keyframes vent {
                            from { background-position-x: 0; }
                            to   { background-position-x: calc(-100% * 5); }
                        }
                    }
                }
                &.desmuntant-portatil {
                    .imatge.portatil {
                        width: 500px;
                        @include mobil { width: 100%; }
                    }
                }


            }
            
            :last-child {
                margin-bottom: 0;
            }
        }

    }

}
