<div id="page" class="page">
    <div class="page-title mb-4" appMostrarAmbAnimacio>
        @if (m.ca) { Sobre mi }
        @if (m.es) { Acerca de mí }
        @if (m.en) { About me }
    </div>

    <app-stories class="d-block mb-4" />

    <div class="content mb-6 d-flex flex-column gap-6">

        <section class="card-themed bg-colored section">
            <article class="descripcio">
                <h3>
                    @if (m.ca) { Infància }
                    @if (m.es) { Infancia }
                    @if (m.en) { Childhood }
                </h3>

                <section class="bionicles mb-5">
                    <!-- Bionicles -->
                    <span class="text flex-1" appMostrarAmbAnimacio>
                        @if (m.ca) {
                            Des de ben petit sempre m'ha fascinat qualsevol tipus de tecnologia. Des dels 4 anys em passava les tardes jugant i construint <app-link id="bionicle">Bionicles</app-link>, una línia de figures articulades de LEGO, sovint sense mirar les instruccions; els sabia muntar a partir de veure el resultat final, i amb els ingeniosos mecanismes interns funcionant. Quan me'n cansava, sovint ràpid, els desmuntava i utilitzava les peces per a inventar-me'n de nous. Veia una imatge a internet d'un Bionicle nou i intentava construir-lo, improvisant amb les peces de les que disposava, sovint amb bastant èxit. Considero que això va contribuir al desenvolupament de la meva visió espacial i al meu poder d'observació des de molt jove.
                        }
                        @if (m.es) {
                            Desde pequeño siempre me ha fascinado cualquier tipo de tecnología. Desde los 4 años me pasaba las tardes jugando y construyendo <app-link id="bionicle">Bionicles</app-link>, una línea de figuras articuladas de LEGO, a menudo sin mirar las instrucciones; los sabía montar con sólo ver el resultado final, y con los ingeniosos mecanismos internos funcionando. Cuando me cansaba, a menudo rápido, los desmontaba y utilizaba las piezas para inventarme nuevos. Veía una imagen en internet de un Bionicle nuevo e intentaba construirlo, improvisando con las piezas de las que disponía, a menudo con bastante éxito. Considero que esto contribuyó al desarrollo de mi visión espacial y a mi poder de observación desde muy joven.
                        }
                        @if (m.en) {
                            Since I was a child, I have always been fascinated by any kind of technology. From the age of 4, I used to spend whole afternoons playing and building <app-link id="bionicle">Bionicles</app-link>, a line of articulated LEGO figures, often without looking at the instructions; I knew how to put them together just by looking at the final result, and with the ingenious internal mechanisms working. When I got bored of them, often quickly, I would take them apart and use the the pieces to invent new ones. I would see a picture of a new Bionicle on the internet and try to build it, improvising with whatever parts I had available, often quite successfully. I believe this contributed to the development of my spatial vision and powers of observation from a very young age.
                        }
                    </span>
                    <img src="assets/about-me/bionicle-makuta-nui-2003.jpg" alt="bionicle makuta nui 2003" class="bionicle" appMostrarAmbAnimacio>
                </section>

                <section class="pokemon mb-5">
                    <!-- Pokemon -->
                    <span class="text flex-1" appMostrarAmbAnimacio>
                        @if (m.ca) {
                            El meu primer contacte real amb la programació va ser als 16 anys, amb el <b>ROM Hacking de Pokémon</b>. Utilitzava programes creats per la comunitat per a modificar de manera no oficial els jocs de Pokémon de la GBA i canviar scripts, mapes i lògica del joc.<br>
                            Vaig dissenyar mapes amb Advance Map i scripts amb eXtreme Script Editor (XSE) per a crear contingut jugable com l'entrega d'objectes, diàlegs, trencaclosques i combats. Els scripts s'escrivien en un llenguatge de scripting propietari, específic del motor del joc, amb instruccions com <pre>giveitem</pre>, <pre>msgbox</pre> o <pre>setflag</pre>, cada una definint una acció concreta dins del joc.<br>
                            Anys després, quan vaig començar a estudiar C#, em va sorprendre descobrir com de diferent era la programació moderna, més lineal i enfocada a la lògica que no pas a donar instruccions concretes al motor del joc.
                        }
                        @if (m.es) {
                            Mi primer contacto real con la programación fue a los 16 años, con el <b>ROM Hacking de Pokémon</b>. Utilizaba programas creados por la comunidad para modificar de manera no oficial los juegos de Pokémon de la GBA y cambiar scripts, mapas y lógica del juego.<br>
                            Diseñaba mapas con Advance Map y scripts con eXtreme Script Editor (XSE) para crear contenido jugable como la entrega de objetos, diálogos, rompecabezas y combates. Los scripts se escribían en un lenguaje de scripting propietario, específico del motor del juego, con instrucciones como <pre>giveitem</pre>, <pre>msgbox</pre> o <pre>setflag</pre>, cada una definiendo una acción concreta dentro del juego.<br>
                            Años después, cuando empecé a estudiar C#, me sorprendió descubrir lo diferente que era la programación moderna, más lineal y enfocada a la lógica que a dar instrucciones concretas al motor del juego.
                        }
                        @if (m.en) {
                            My first real contact with programming was at age 16, with <b>Pokémon ROM Hacking</b>. I used community-created programs to unofficially modify the Pokémon games for the GBA, changing scripts, maps and game logic.<br>
                            I designed maps with Advance Map and scripts with eXtreme Script Editor (XSE) to create playable content such as item delivery, dialogues, puzzles and battles. The scripts were written in a proprietary scripting language specific to the game engine, with instructions like <pre>giveitem</pre>, <pre>msgbox</pre> or <pre>setflag</pre>, each defining a specific action within the game.<br>
                            Years later, when I started studying C#, I was surprised to discover how different modern programming was, more linear and focused on logic rather than being focused on giving specific instructions to the game engine.
                        }
                        <!-- (tot i que també hi ha ROM Hacking per la GB i NDS) -->
                    </span>
                    <img src="assets/about-me/pokemon/exemple.png" alt="Pokemon ROM Hack 2013" class="pokemon" appMostrarAmbAnimacio>
                </section>

                <section class="desmuntant-portatil mb-5">
                    <!-- Desmuntant portàtil -->
                    <span class="text flex-1" appMostrarAmbAnimacio>
                        @if (m.ca) {
                            Amb la mateixa curiositat amb la que creava i desmuntava Bionicles, vaig començar a explorar el món dels aparells electrònics. Quan vaig tenir accés a un tornavís, obria tots els aparells que s'espatllaven per a intentar arreglar-los: ordinadors, ratolins, teclats, carregadors, comandaments... una cosa no estava espatllada fins que no la obria i me la mirava, amb tutorials de YouTube o sense.<br><br>

                            Un temps després, quan vaig acabar d'estudiar i començar a treballar, em vaig animar a comprar un PC per peces i el vaig muntar, amb l'ajuda de tutorials de YouTube per alguns detalls. Em va servir per a jugar, i més endavant, es va convertir en el meu equip per a programar tot tipus de projectes personals i de codi obert.
                        }
                        @if (m.es) {
                            Con la misma curiosidad con la que creaba y desmontaba Bionicles, empecé a explorar el mundo de los aparatos electrónicos. Cuando tuve acceso a un destornillador, abría todos los aparatos que se estropeaban para intentar arreglarlos: ordenadores, ratones, teclados, cargadores, mandos... una cosa no estaba estropeada hasta que no la abría y la miraba, con tutoriales de YouTube o sin.<br><br>

                            Un tiempo después, cuando terminé de estudiar y empecé a trabajar, me animé a comprar un PC por piezas y lo monté, con la ayuda de tutoriales de YouTube para algunos detalles. Me sirvió para jugar, y más adelante, se convirtió en mi equipo para programar todo tipo de proyectos personales y de código abierto.
                        }
                        @if (m.en) {
                            With the same curiosity with which I created and dismantled Bionicles, I began to explore the world of electronic devices. When I had access to a screwdriver, I would open all the devices that broke down to try to fix them: computers, mice, keyboards, chargers, controllers... something wasn't broken until I opened it and looked at it, with YouTube tutorials or without.<br><br>

                            Some time later, when I finished studying and started working, I decided to buy a PC in parts and assembled it, with the help of YouTube tutorials for some details. It served me for gaming, and later, it became my setup for programming all kinds of personal and open source projects.
                        }
                    </span>
                    <img src="assets/about-me/disassembling-laptop-2015.jpg" alt="disassembling laptop 2015" class="portatil" appMostrarAmbAnimacio>
                </section>



                <p class="mb-4">
                    @if (m.ca) {
                        Sempre havia volgut ser desenvolupador de videojocs, i a secundària vaig estudiar introducció a HTML i altres eines i em va agradar tant que vaig decidir estudiar programació. Vaig estudiar 2 cicles superiors (<app-link id="daw">DAW</app-link> i <app-link id="dam">DAM</app-link>) i amb el temps m'he anat especialitzant en la part frontend, tot i que sovint he hagut d'intervenir en tots els punts de la programació.<br>
                        A batxillerat era un crack a dibuix tècnic, tecnologia, electrotècnia, física i filosofia.
                    }
                    @if (m.es) {
                        Siempre había querido ser desarrollador de videojuegos, y en secundaria estudié introducción a HTML y otras herramientas y me gustó tanto que decidí estudiar programación. Estudié 2 ciclos superiores (<app-link id="daw">DAW</app-link> y <app-link id="dam">DAM</app-link>) y con el tiempo me he ido especializando en la parte frontend, aunque a menudo he tenido que intervenir en todos los puntos de la programación.<br>
                        En bachillerato se me daba muy bien dibujo técnico, tecnología, electrotecnia, física y filosofía.
                    }
                    @if (m.en) {
                        I always wanted to be a video game developer, and in high school I studied an introduction to HTML and other tools and I liked it so much that I decided to study programming. I studied 2 higher cycles (<app-link id="daw">Web</app-link> and <app-link id="dam">Multiplatform</app-link> Application Development) and over time I have specialized in the frontend part, although I have often had to intervene in all aspects of programming.<br>
                        In high school I was very good at technical drawing, technology, electrical engineering, physics and philosophy.
                    }
                </p>

                @if (m.ca) {
                    <h3>Habilitats</h3>
                    <ul>
                        <li>Pensament lògic i racional</li>
                        <li>Gran capacitat d'observació</li>
                        <li>Intuïció aguda i anàlisi ràpid de problemes per a deduir la millor solució</li>
                        <li>Creativitat i pensament innovador, tendència a pensar fora de la caixa</li>
                        <li>Gust pel disseny gràfic, estils, formes i colors. Consistència del disseny</li>
                        <li>Inquietud constant que em motiva a buscar sempre maneres de millorar, automatitzar, optimitzar i simplificar els processos. Tant en la informàtica com en la meva vida cotidiana</li>
                        <li>Alta capacitat de concentració quan un tema m'apassiona</li>
                    </ul>

                    <p>
                        Tinc una intuïció ràpida per a anticipar resultats segons patrons, de manera inconscient. Sovint puc analitzar i descartar possibles solucions i intuir al moment quina serà la millor solució, abans que jo mateix m'adoni de com ho he fet.
                    </p>

                    <h3>Valors en programació</h3>
                    <ul>
                        <li>Empatia amb l'usuari i densenvolupament ergonòmic</li>
                        <li>Desenvolupament sempre responsiu per defecte</li>
                        <li>Interfícies atractives, intuïtives i ergonòmiques per a proporcionar en tot moment una experiència d'usuari tan agradable com sigui possible.</li>
                        <li>Quan l'usuari fa una acció o analitza la pàgina, no produir resultats inesperats o contraintuïtius</li>
                        <li>No limitar l'usuari sense motiu</li>
                        <li>Seguir bones pràctiques en disseny i en codi</li>
                        <li>L'excel·lència resideix als detalls. Perfeccionista</li>
                        <li>Desenvolupament tenint en compte els possibles canvis futurs</li>
                        <li>Creativitat i sempre provar coses noves</li>
                    </ul>
                }

                @if (m.es) {
                    <h3>Habilidades</h3>
                    <ul>
                        <li>Pensamiento lógico y racional</li>
                        <li>Gran capacidad de observación</li>
                        <li>Intuición aguda y análisis rápido de problemas para deducir la mejor solución</li>
                        <li>Creatividad y pensamiento innovador, tendencia a pensar fuera de la caja</li>
                        <li>Gusto por el diseño gráfico, estilos, formas y colores. Consistencia del diseño</li>
                        <li>Inquietud constante que me motiva a buscar siempre formas de mejorar, automatizar, optimizar y simplificar los procesos. Tanto en la informática como en mi vida cotidiana</li>
                        <li>Alta capacidad de concentración cuando un tema me apasiona</li>
                    </ul>

                    <p>
                        Tengo una intuición rápida para anticipar resultados según patrones, de forma inconsciente. A menudo puedo analizar y descartar posibles soluciones e intuir en el momento cuál será la mejor solución, antes de que yo mismo me dé cuenta de cómo lo he hecho.
                    </p>

                    <h3>Valores en programación</h3>
                    <ul>
                        <li>Empatía con el usuario y desarrollo ergonómico</li>
                        <li>Desarrollo siempre responsivo por defecto</li>
                        <li>Interfaces atractivas, intuitivas y ergonómicas para proporcionar en todo momento una experiencia de usuario lo más agradable posible.</li>
                        <li>Cuando el usuario realiza una acción o analiza la página, no producir resultados inesperados o contraintuitivos</li>
                        <li>No limitar al usuario sin motivo</li>
                        <li>Seguir buenas prácticas en diseño y en código</li>
                        <li>La excelencia reside en los detalles. Perfeccionista</li>
                        <li>Desarrollo teniendo en cuenta los posibles cambios futuros</li>
                        <li>Creatividad y siempre probar cosas nuevas</li>
                    </ul>
                }
                @if (m.en) {
                    <h3>Skills</h3>
                    <ul>
                        <li>Logical and rational thinking</li>
                        <li>Great observation skills</li>
                        <li>Sharp intuition and quick analysis of problems to deduce the best solution</li>
                        <li>Creativity and innovative thinking, tendency to think outside the box</li>
                        <li>Taste for graphic design, styles, shapes and colors. Consistency of design</li>
                        <li>Constant concern that motivates me to always look for ways to improve, automate, optimize and simplify processes. Both in computing and in my daily life</li>
                        <li>High ability to concentrate when a topic fascinates me</li>
                    </ul>

                    <p>
                        I have a quick intuition to anticipate results based on patterns, unconsciously. I can often analyze and discard possible solutions and intuit in the moment what will be the best solution, before I myself realize how I did it.
                    </p>

                    <h3>Values in programming</h3>
                    <ul>
                        <li>Empathy with the user and ergonomic development</li>
                        <li>Always responsive development by default</li>
                        <li>Attractive, intuitive and ergonomic interfaces to provide the most pleasant user experience possible at all times.</li>
                        <li>When the user performs an action or analyzes the page, do not produce unexpected or counterintuitive results</li>
                        <li>Do not limit the user without reason</li>
                        <li>Follow good practices in design and code</li>
                        <li>Excellence lies in the details. Perfectionist</li>
                        <li>Development taking into account possible future changes</li>
                        <li>Creativity and always trying new things</li>
                    </ul>
                }



            </article>
        </section>

        <div class="navegacio-pagina">
            <button class="boto art" routerLink="/art" title="Art" appMostrarAmbAnimacio matRipple>
                <i class="fa-solid fa-paintbrush" alt="Art"></i>
            </button>
            <button class="boto home" routerLink="/home" appMostrarAmbAnimacio matRipple>
                <i class="fa-solid fa-house" alt="Home"></i>
                @if (m.ca) { Inici }
                @if (m.es) { Inicio }
                @if (m.en) { Home }
            </button>
        </div>
    </div>

</div>
