@import "src/styles.scss";
@import "../page.scss";


.page {

    .content {

        max-width: 1280px;

        .descripcio {

            .bionicle {
                width: 200px;
                @include mobil {
                    width: 100%;
                    max-width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                }

                filter: brightness(1.6);
            }
            .laptop {
                width: 350px;
                @include mobil {
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            
            :last-child {
                margin-bottom: 0;
            }
        }

    }

}
