@import "src/styles.scss";
@import "../page.scss";


.page {

    .content {

        max-width: 1280px;

        .descripcio {

            .text-imatge {
                display: flex;
                flex-direction: column;
                @include pc { flex-direction: row; }
                align-items: center;
                gap: 1.5rem;


                span {
                    @include pc {
                        text-align: right;
                    }
                }
                img {
                    width: 100%;
                    @include pc {
                        width: 350px;
                    }
                }
            }

            :last-child {
                margin-bottom: 0;
            }
        }

    }

}
