@import "src/styles.scss";

footer {
    background-color: var(--color-fosc-50);
    color: var(--color-clar);
    width: 100%;
    padding: 1.5rem;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 10px 0px var(--color-fosc-50);

    .titol-footer {
        font-size: 1.75rem;
    }
    .contact-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        .card {
            min-width: 18rem;
            min-height: 8.5rem;
            padding: 1rem;

            border-radius: 1.5rem;
            
            background-color: var(--color-clar-30);

            overflow: hidden;

            --brilloFinal: 0.8;
            &.github { --brilloFinal: 2; }
            &.playstore { --brilloFinal: 1; }

            * {
                transition: transform 0.3s, opacity 0.3s;
            }
            
            img.fons {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                filter: brightness(0.4);
                transition: transform 0.3s, filter 0.3s;
            }

            .titol-ocult {
                position: absolute;
                inset: 0;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                opacity: 0;
                transform: scale(60%);

                transition: opacity 0.3s, transform 0.3s;

                .icona {
                    height: 3.6rem;
                }
                .titol {
                    font-size: 2rem;
                }

            }
            .header {
                .icona {
                    height: 2.4rem;
                }
                .titol {
                    font-size: 1.4rem;
                    padding-right: 0.5rem;
                }
            }
            .text {
                font-size: 1.1rem;
            }


            &:hover {
                img.fons {
                    transform: scale(1.4);
                    filter: brightness(var(--brilloFinal)) blur(20px) saturate(1.5);
                }
                .titol-ocult {
                    transform: none;
                    opacity: 1;
                }
                .header {
                    .icona {
                        transform: translateX(-50%);
                        opacity: 0;
                    }
                    .titol {
                        transform: translateY(-50%);
                        opacity: 0;
                    }
                }
                .text {
                    transform: translateY(5rem);
                    opacity: 0;
                }
            }

        }
    }



    .developed-by {
        // font-family: consolas;
        color: var(--color-clar-70);
        animation: colorChange 20s linear infinite;

        font-style: italic;
        text-align: center;
    }
    @keyframes colorChange {
        0%   { color: hsla(0,   100%, 86%, 0.7); }
        8%   { color: hsla(30,  100%, 86%, 0.7); }
        16%  { color: hsla(60,  100%, 86%, 0.7); }
        33%  { color: hsla(120, 100%, 86%, 0.7); }
        50%  { color: hsla(180, 100%, 86%, 0.7); }
        66%  { color: hsla(240, 100%, 86%, 0.7); }
        83%  { color: hsla(300, 100%, 86%, 0.7); }
        100% { color: hsla(360, 100%, 86%, 0.7); }
    }
    .chargeYourPhone {
        color: red;
        font-style: italic;
        text-align: center;
    }
}

::ng-deep .light footer {
    background-color: var(--color-fosc-80);
}


// Pantalla Mòbil // @media only screen and (max-width: 575px) { }
// Pantalla Tablet // @media only screen and (min-width: 576px) { }
// Pantalla PC // @media only screen and (min-width: 768px) { }
// Pantalla Molt Gran // @media only screen and (min-width: 992px) { }
