footer {
    background-color: var(--color-fosc);
    color: var(--color-clar);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-altura);
    // border-top: 1px solid var(--text-50);

    display: flex;
    transition: all 0.3s ease;

    .contact-icons {
        text-align: center;
        height: fit-content;
        margin: auto;

        a {
            padding: 0.5rem;
            border-radius: 16px;
            
            img.title-icon {
                height: 2.2rem;
            }
        }
    }
}

::ng-deep .light footer {
    box-shadow: 0 0 10px 0px var(--color-fosc-50);
}

// ::ng-deep .light footer { box-shadow: inset -100px 133px 9px -123px var(--color-clar); border: none; }



// Pantalla PC //
@media only screen and (min-width: 576px) {
    
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {

}


// PC //
@media (pointer: fine) {
    footer .contact-icons a:hover {
        transform: scale(1.3);
        background-color: var(--color-l-3);
    }
}
// Mòbil //
@media (pointer: coarse) { }
