<footer>
    <div class="contact-icons">
        <a href="https://www.linkedin.com/in/jordimas96" class="link-img no-style -v" appMostrarAmbAnimacio>
            <img src="assets/icons/contact/linkedin.png" alt="LinkedIn" class="footer-icon boing">
            <div class="footer-icon-text">LinkedIn</div>
        </a>
        <a href="https://github.com/jordimas96" class="link-img no-style -v" appMostrarAmbAnimacio>
            <img src="assets/icons/contact/github.png" alt="GitHub" class="footer-icon boing">
            <div class="footer-icon-text">GitHub</div>
        </a>
        <a href="https://jordimas96.github.io/pages/play-store" class="link-img no-style -v" appMostrarAmbAnimacio>
            <img src="assets/icons/play-store.png" alt="Google Play Store" class="footer-icon boing">
            <div class="footer-icon-text">Play Store</div>
        </a>
        <a href="mailto:xordimas@gmail.com" class="link-img no-style -v" appMostrarAmbAnimacio>
            <img src="assets/icons/contact/email.png" alt="Email" class="footer-icon boing p-1 rounded-2">
            <div class="footer-icon-text">Email me!</div>
        </a>
        <!-- <a href="https://www.youtube.com/channel/UCwhngZa29JXke-myScVzlOA" class="link-img no-style -v" appMostrarAmbAnimacio>
            <img src="assets/icons/contact/youtube.png" alt="YouTube" class="footer-icon boing p-1">
            <div class="footer-icon-text">YouTube</div>
        </a> -->
    </div>



    <div class="developed-by">
        @if (m.ca) { - Desenvolupat per Jordi Mas - }
        @if (m.es) { - Desarrollado por Jordi Mas - }
        @if (m.en) { - Developed by Jordi Mas - }
    </div>
    @if (bateria < 20 && !carregant) {
        <div class="chargeYourPhone mt-2">
            @if (m.ca) { Carrega el mòbil! }
            @if (m.es) { ¡Carga el móvil! }
            @if (m.en) { Charge your phone! }
        </div>
    }
</footer>
