footer {
    background-color: var(--color-fosc);
    color: var(--color-clar);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-altura);
    border-top: 1px solid var(--text);

    display: flex;
    transition: all 0.3s ease;

    .contact-icons {
        text-align: center;
        height: fit-content;
        margin: auto;

        a {
            margin: 0.5rem;

            img.title-icon {
                height: 2.2rem;
            }
        }
    }
}

// ::ng-deep .light footer { box-shadow: inset -100px 133px 9px -123px var(--text); }
