<footer>
    <div class="contact-icons mb-3">
        <a href="https://www.linkedin.com/in/jordimas96" class="link-img -v" appMostrarAmbAnimacio>
            <img src="assets/icons/contact/linkedin.png" alt="LinkedIn" title="LinkedIn" class="title-icon">
        </a>
        <a href="https://github.com/jordimas96" class="link-img -v" appMostrarAmbAnimacio>
            <img src="assets/icons/contact/github.png" alt="GitHub" title="GitHub" class="title-icon">
        </a>
        <!-- <a href="https://www.youtube.com/channel/UCwhngZa29JXke-myScVzlOA" class="link-img -v" appMostrarAmbAnimacio>
            <img src="assets/icons/contact/youtube.png" alt="YouTube" title="YouTube" class="title-icon p-1">
        </a> -->
        <a href="https://play.google.com/store/apps/developer?id=Jordi+Mas+Parramon" class="link-img -v" appMostrarAmbAnimacio>
            <img src="assets/icons/play-store.png" alt="Google Play Store" title="Google Play Store" class="title-icon">
        </a>
        <a href="mailto:xordimas@gmail.com" class="link-img -v" appMostrarAmbAnimacio>
            <img src="assets/icons/contact/email.png" alt="Email" title="Email me!" class="title-icon p-1 rounded-2">
        </a>
    </div>



    <div class="developed-by" [style]="'color:hsl('+colorFirma+'deg 100% 86.47% / 70%);'">
        @if (m.ca()) { - Desenvolupat per Jordi Mas - }
        @if (m.es()) { - Desarrollado por Jordi Mas - }
        @if (m.en()) { - Developed by Jordi Mas - }
    </div>
    @if (bateria < 20 && !carregant) {
        <div class="chargeYourPhone mt-2">
            @if (m.ca()) { Carrega el mòbil! }
            @if (m.es()) { ¡Carga el móvil! }
            @if (m.en()) { Charge your phone! }
        </div>
    }
</footer>
