@import "src/styles.scss";



.llenguatges {
    .titol-llenguatges {
        font-size: 1.75rem;
    }

    .botonsCanviarVista {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        font-size: 1.1rem;
        
        .botoShowTime {
            padding: 0.2rem 0.8rem;
        }
        .botoSort {
            padding: 0.2rem 0.6rem;

        }
    }

    .tipus-llenguatge {
        padding-top: 3rem;
        &.showTime:first-child {
            padding-top: 1.5rem;
        }

        .titol-tipus-llenguatge {
            color: var(--text-80);
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
        }
        .skills {
            padding: 0 0.25rem;
            justify-content: center;
            
            &.showTime {
                display: flex;
                flex-direction: column;
                padding: 0;
                gap: 0.2rem;
                
            }
        }
    }

    .botoVeureMes {
        display: inline;
        font-size: 1.6rem;
        border-radius: 0;

        i {
            display: block;
            transition: transform 0.3s;
        }

        &:hover {
            i {
                transform: translateY(0.5rem);
            }
        }
    }
}





// Pantalla Mòbil //
@media only screen and (max-width: 575px) {

    .llenguatges {
        .titol-llenguatges {
            font-size: 1.4rem;
        }
        .skills {
            padding: 0;
        }
    }

}
// Pantalla Tablet //
@media only screen and (min-width: 576px) { }
// Pantalla PC //
@media only screen and (min-width: 768px) { }
// Pantalla Molt Gran //
@media only screen and (min-width: 992px) { }

// PC //
@media (pointer: fine) {

    .botoVeureMes:hover {
        color: var(--color-6);
    }

}
// Mòbil //
@media (pointer: coarse) { }
