@import "src/styles.scss";

.llenguatges {
    .titol-llenguatges {
        font-size: 1.75rem;
        @include mobil { font-size: 1.4rem; }
    }

    .botonsCanviarVista {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        font-size: 1.1rem;
        
        .botoShowTime {
            padding: 0.2rem 0.8rem;
        }
        .botoSort {
            padding: 0.2rem 0.6rem;

        }
    }

    .tipus-llenguatge {
        padding-top: 3rem;

        &.showTime:first-child {
            padding-top: 1.5rem;
        }

        .titol-tipus-llenguatge {
            color: var(--text-80);
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
        }

        .skills {
            justify-content: center;

            @include gran {
                padding: 0 0.25rem;
            }
            
            &.showTime {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                
            }
        }
    }

    .botoVeureMes {
        display: inline;
        font-size: 1.6rem;

        padding: 1rem 2rem;
        border-radius: 50rem;

        i {
            display: block;
            transition: transform 0.3s;
        }

        &:hover {
            color: var(--color-6);
            i {
                transform: translateY(0.5rem);
            }
        }
    }
}
