<section id="languages" class="llenguatges section text-center mb-6" >
    <div class="titol-llenguatges">
        @if (m.ca) { Habilitats en programació }
        @if (m.es) { Habilidades en programación }
        @if (m.en) { Programming skills }
    </div>

    <div class="botonsCanviarVista mt-2 mb-0">
        <button class="boto botoShowTime" (click)="showExpTime_click()">
            @if(showTime) { <i class="fa-regular fa-calendar-minus"></i> }
            @else { <i class="fa-regular fa-calendar-plus"></i> }
            @if (m.ca) { {{ showTime ? "Ocultar temps" : "Mostrar temps" }} }
            @if (m.es) { {{ showTime ? "Ocultar tiempo" : "Mostrar tiempo" }} }
            @if (m.en) { {{ showTime ? "Hide time" : "Show time" }} }
        </button>
        @if (showTime) {
            <button class="boto botoSort" (click)="sort_click()">
                @if (sorted) { <i class="fa-solid fa-chart-bar"></i> }
                @else { <i class="fa-solid fa-arrow-down-wide-short"></i> }
            </button>
        }
    </div>

    <div class="row justify-content-center">
        <div class="tipus-llenguatge col-12 col-lg-6" [ngClass]="!showTime ? 'col-sm-6' : ''">
            <div class="titol-tipus-llenguatge">Frontend</div>
            <div class="skills" [class.showTime]="showTime">
                @if(showTime) {
                    <app-skill n="Frontend" [showTime]="showTime" />
                }
                <app-skill n="Angular" [showTime]="showTime" />
                <app-skill n="NgRx" [showTime]="showTime" />
                <app-skill n="JavaScript" [showTime]="showTime" />
                <app-skill n="JQuery" [showTime]="showTime" />
                <app-skill n="CSS" [showTime]="showTime" />
                <app-skill n="SASS" [showTime]="showTime" />
                <app-skill n="TypeScript" [showTime]="showTime" />
                <app-skill n="PWA" [showTime]="showTime" />
                <app-skill n="HTML5" [showTime]="showTime" />
                <app-skill n="Bootstrap" [showTime]="showTime" />
                <app-skill n="Materialize" [showTime]="showTime" />
                <app-skill n="Android" [showTime]="showTime" />
                <app-skill n="Kotlin" [showTime]="showTime" />
                <app-skill n="UWP" [showTime]="showTime" />
                <app-skill n="Delphi" [showTime]="showTime" />
                <app-skill n="Cordova" [showTime]="showTime" />
                <!-- <app-skill n="XML" [showTime]="showTime" /> -->
                <!-- <app-skill n="WPF" [showTime]="showTime" /> -->
            </div>
        </div>

        <div class="tipus-llenguatge col-12 col-lg-6" [ngClass]="!showTime ? 'col-sm-6' : ''">
            <div class="titol-tipus-llenguatge">Backend</div>
            <div class="skills" [class.showTime]="showTime">
                @if(showTime) {
                    <app-skill n="Backend" [showTime]="showTime" />
                }
                <app-skill n="NodeJs" [showTime]="showTime" />
                <app-skill n="Java" [showTime]="showTime" />
                <app-skill n="JSP" [showTime]="showTime" />
                <app-skill n="Sequelize" [showTime]="showTime" />
                <!-- <app-skill n="JSON" [showTime]="showTime" /> -->
                <app-skill n="Python" [showTime]="showTime" />
                <app-skill n="C#" [showTime]="showTime" />
                <!-- <app-skill n="Django" [showTime]="showTime" /> -->
                <app-skill n="PHP" [showTime]="showTime" />
                <!-- <app-skill n="Ruby on Rails" [showTime]="showTime" /> -->
                <app-skill n="Apache" [showTime]="showTime" />
                <!-- <app-skill n="XAMPP" [showTime]="showTime" /> -->
                <app-skill n="MySQL" [showTime]="showTime" />
                <app-skill n="PL/SQL" [showTime]="showTime" />
                <!-- <app-skill n="PL/1" [showTime]="showTime" /> -->
                <!-- <app-skill n="DB2" [showTime]="showTime" /> -->
            </div>
        </div>

        <div id="divBotoVeureMes" class="col-12 col-sm-12 text-center">
            <button class="boto botoText botoVeureMes mt-4" (click)="obrirVeureMesSkills()" appMostrarAmbAnimacio>
                @if (m.ca) { Veure més }
                @if (m.es) { Ver más }
                @if (m.en) { See more }
                <br>
                <i class="fa-solid fa-chevron-down"></i>
            </button>
        </div>

        <div class="tipus-llenguatge skills-ocultes col-12 col-lg-6" style="display:none;">
            <div class="titol-tipus-llenguatge">
                @if (m.ca) { Eines de desenvolupament }
                @if (m.es) { Herramientas de desarrollo }
                @if (m.en) { Software development tools }
            </div>
            <div class="skills" [class.showTime]="showTime">
                <app-skill n="Git" [showTime]="showTime" />
                <app-skill n="GitHub" [showTime]="showTime" />
                <!-- <app-skill n="Bitbucket" [showTime]="showTime" /> -->
                <app-skill n="Sourcetree" [showTime]="showTime" />
                <app-skill n="Postman" [showTime]="showTime" />
                <!-- <app-skill n="Asana" [showTime]="showTime" /> -->
                <app-skill n="SQL Developer" [showTime]="showTime" />
                <app-skill n="PHPMyadmin" [showTime]="showTime" />
                <!-- <app-skill n="Filezilla" [showTime]="showTime" /> -->
                <app-skill n="Android Studio" [showTime]="showTime" />
                <!-- <app-skill n="PowerShell" [showTime]="showTime" /> -->
                <app-skill n="Unity" [showTime]="showTime" />
                <app-skill n="Visual Studio" [showTime]="showTime" />
                <app-skill n="Eclipse" [showTime]="showTime" />
                <!-- <app-skill n="Netbeans" [showTime]="showTime" /> -->
                <!-- <app-skill n="SVN" [showTime]="showTime" /> -->
                <!-- <app-skill n="Hibernate" [showTime]="showTime" /> -->
                <!-- <app-skill n="VSCode" [showTime]="showTime" /> -->
                <app-skill n="Joomla" [showTime]="showTime" />
                <!-- <app-skill n="Poedit" [showTime]="showTime" /> -->
                <!-- <app-skill n="FastReport" [showTime]="showTime" /> -->
                <app-skill n="Agile" [showTime]="showTime" />
                <app-skill n="MVC" [showTime]="showTime" />
                <app-skill n="Responsive Design" [showTime]="showTime" />
                <!-- <app-skill n="TeamViewer" [showTime]="showTime" /> -->
                <!-- <app-skill n="AnyDesk" [showTime]="showTime" /> -->
                <!-- <app-skill n="Remote Desktop" [showTime]="showTime" /> -->
            </div>
        </div>

        <div class="tipus-llenguatge skills-ocultes col-12 col-lg-6" style="display:none;">
            <div class="titol-tipus-llenguatge">
                @if (m.ca) { Eines de virtualització i SO }
                @if (m.es) { Herramientas de virtualización y SO }
                @if (m.en) { Virtualization tools and OS }
            </div>
            <div class="skills" [class.showTime]="showTime">
                <app-skill n="VMware" [showTime]="showTime" />
                <app-skill n="VirtualBox" [showTime]="showTime" />
                <app-skill n="Windows" [showTime]="showTime" />
                <app-skill n="Windows Server" [showTime]="showTime" />
                <app-skill n="Ubuntu" [showTime]="showTime" />
                <app-skill n="Debian" [showTime]="showTime" />
                <app-skill n="Red Hat" [showTime]="showTime" />
                <app-skill n="Fedora" [showTime]="showTime" />
                <app-skill n="macOS" [showTime]="showTime" />
                <app-skill n="Tails" [showTime]="showTime" />
                <app-skill n="zOS/MVS" [showTime]="showTime" />
            </div>
        </div>

        <!-- <div class="tipus-llenguatge skills-ocultes col-12" [ngClass]="showTime ? 'col-sm-12' : 'col-sm-6'" style="display:none;">
            <div class="titol-tipus-llenguatge">
                @if (m.ca) { CMS i frameworks web }
                @if (m.es) { CMS y frameworks web }
                @if (m.en) { CMS and web frameworks }
            </div>
            <div class="skills" [class.showTime]="showTime">
                <app-skill n="Joomla" [showTime]="showTime" />
                <app-skill n="K2" [showTime]="showTime" />
                <app-skill n="Akeeba Backup" [showTime]="showTime" />
                <app-skill n="JCE FileManager" [showTime]="showTime" />
            </div>
        </div> -->
        
    </div>
    
</section>
