<div class="content" [style.margin-top.px]="m.u.getAlturaAppbar()">
    <!-- <div class="title h1 mt-0 mb-4">Jordi Mas Parramon</div> -->

    <div class="group mt-5 mb-6" id="bio" appMostrarAmbAnimacio>
        <div class="row no-gutters">
            <div class="col-5 col-sm-4 p-3 p-sm-4" appMostrarAmbAnimacio>
                <div class="div-foto shadow-2-l">
                    <!-- <app-imatge-scroll src="assets/Foto carnet 2020.jpg"></app-imatge-scroll> -->
                    <img src="assets/Foto carnet 2020.jpg" alt="Foto" class="foto-carnet">
                </div>
            </div>
            <div class="div-text col-7 col-sm-8 px-sm-4 pt-sm-4" appMostrarAmbAnimacio>

                <div class="linies">
                    <div class="bondia mb-2">{{getSalutacioSegonsHora()}}</div>
                    <div class="nom">
                        <span class="emdic">
                            @if (m.ca()) { Em dic }
                            @if (m.es()) { Me llamo }
                            @if (m.en()) { My name is }
                        </span>
                        @if (m.esPantallaMobil()) { <br> }
                        Jordi Mas Parramon
                    </div>
                    <div class="programador">
                        -
                        @if (m.front()) {
                            @if (m.ca()) { Programador frontend }
                            @if (m.es()) { Programador frontend }
                            @if (m.en()) { Frontend programmer }
                        }
                        @if (m.back()) {
                            @if (m.ca()) { Programador backend }
                            @if (m.es()) { Programador backend }
                            @if (m.en()) { Backend programmer }
                        }
                        @if (m.full()) {
                            @if (m.ca()) { Programador fullstack }
                            @if (m.es()) { Programador fullstack }
                            @if (m.en()) { Fullstack programmer }
                        }
                        -
                    </div>
                </div>
                <!-- Recipient bio pc -->
                @if (m.esPantallaPc()) {
                    <div class="text bio mt-4">
                        <div *ngTemplateOutlet="bio"></div>
                    </div>
                }
                
            </div>
        </div>
        <!-- Recipient bio mobil -->
        @if (m.esPantallaMobil()) {
            <div class="text bio mt-4">
                <div *ngTemplateOutlet="bio"></div>
            </div>
        }
        <!-- Template bio -->
        <ng-template #bio>
            @if (m.front()) {
                @if (m.ca()) {
                    Sóc un apassionat programador frontend amb experiència en Angular, CSS, Javascript, jQuery, Python i C#, entre altres. Els meus esforços se centren en la creació d'interfícies d'usuari atractives, intuïtives i adaptades a les necessitats de l'usuari per proporcionar-los una experiència agradable.<br>
                    En aquesta web, trobaràs informació sobre la meva experiència, habilitats i projectes, així com la meva informació de contacte perquè puguem conversar sobre diferents maneres d'ajudar-te amb projectes futurs.
                }
                @if (m.es()) {
                    Soy un apasionado programador frontend con experiencia en Angular, CSS, Javascript, jQuery, Python y C#, entre otros. Mis esfuerzos se centran en la creación de interfaces de usuario atractivas, intuitivas y adaptadas a las necesidades del usuario para proporcionarles una experiencia agradable.<br>
                    En esta web, encontrarás información sobre mi experiencia, habilidades y proyectos, así como mi información de contacto para que podamos conversar sobre diferentes formas de ayudarte con proyectos futuros.
                }
                @if (m.en()) {
                    I am a passionate frontend programmer. I have experience working with Angular, CSS, Javascript, jQuery, Python and C#, among others. My efforts focus on creating attractive, intuitive user interfaces adapted to user needs to provide them with a pleasant experience.<br>
                    On this site, you will find information about my past experience, skills, and projects, as well as my contact information so we can discuss about different ways on helping you and your business with future projects.
                }
            }
            @if (m.back()) {
                @if (m.ca()) {
                    Sóc un apassionat programador backend amb experiència en Java, NodeJs, Python, C#, PHP i SQL, entre altres. El meu objectiu principal és construir servidors robustos i escalables, garantint un rendiment òptim i una gestió eficient de dades.<br>
                    En aquesta web, trobaràs informació sobre la meva experiència, habilitats i projectes, així com la meva informació de contacte perquè puguem conversar sobre diferents maneres d'ajudar-te amb projectes futurs.
                }
                @if (m.es()) {
                    Soy un apasionado programador backend con experiencia en Java, NodeJs, Python, C#, PHP y SQL, entre otros. Mi principal objetivo es construir servidores robustos y escalables, garantizando un rendimiento óptimo y una gestión eficiente de datos.<br>
                    En esta web, encontrarás información sobre mi experiencia, habilidades y proyectos, así como mi información de contacto para que podamos conversar sobre diferentes formas de ayudarte con proyectos futuros.
                }
                @if (m.en()) {
                    I am a passionate backend programmer. I have experience working with Java, NodeJs, Python, C#, PHP and SQL, among others. My main goal is to build robust and scalable servers, guaranteeing optimal performance and efficient data management.<br>
                    On this site, you will find information about my past experience, skills, and projects, as well as my contact information so we can discuss about different ways on helping you and your business with future projects.
                }
            }
            @if (m.full()) {
                @if (m.ca()) {
                    Sóc un apassionat programador fullstack amb experiència en Angular, Java, NodeJs, CSS i Python, entre altres. Aquesta àmplia gamma d'habilitats em permet treballar en projectes de principi a fi, creant interfícies d'usuari atractives i servidors sòlids per a solucions completes i ben integrades.<br>
                    En aquesta web, trobaràs informació sobre la meva experiència, habilitats i projectes, així com la meva informació de contacte perquè puguem conversar sobre diferents maneres d'ajudar-te amb projectes futurs.
                }
                @if (m.es()) {
                    Soy un apasionado programador fullstack con experiencia en Angular, Java, NodeJs, CSS y Python, entre otros. Esta amplia gama de habilidades me permite trabajar en proyectos de principio a fin, creando interfaces de usuario atractivas y servidores sólidos para soluciones completas y bien integradas.<br>
                    En esta web, encontrarás información sobre mi experiencia, habilidades y proyectos, así como mi información de contacto para que podamos conversar sobre diferentes formas de ayudarte con proyectos futuros.
                }
                @if (m.en()) {
                    I am a passionate fullstack programmer. I have experience working with Angular, Java, NodeJs, CSS and Python, among others. This broad range of skills allows me to work on projects from start to finish, creating attractive user interfaces and robust servers for complete, well-integrated solutions.<br>
                    On this site, you will find information about my past experience, skills, and projects, as well as my contact information so we can discuss about different ways on helping you and your business with future projects.
                }
            }

            <a [href]="getRutaCV()" class="boto mt-4 pl-3" appMostrarAmbAnimacio>
                @if (m.ca()) { Obrir CV }
                @if (m.es()) { Abrir CV }
                @if (m.en()) { Open Resume }
                <img src="assets/icons/contact/cv.png" alt="Curriculum Vitae" class="logo inv-dark-2">
            </a>
        </ng-template>
    </div>
    

    <!-- Skills -->
    <div id="llenguatges" class="group llenguatges mb-6" appMostrarAmbAnimacio>
        <div class="subtitle mb-2">
            @if (m.ca()) { Habilitats en programació }
            @if (m.es()) { Habilidades en programación }
            @if (m.en()) { Programming skills }
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-sm-6 mt-4" [ngClass]="{'order-1': !m.back(), 'order-2': m.back()}">
                <div class="titol-tipus-llenguatge mb-2">Frontend</div>
                <div class="skills">
                    <app-skill n="Angular"/>
                    <app-skill n="JavaScript"/>
                    <app-skill n="JQuery"/>
                    <app-skill n="CSS"/>
                    <app-skill n="SASS"/>
                    <app-skill n="TypeScript"/>
                    <app-skill n="HTML"/>
                    <app-skill n="Bootstrap"/>
                    <app-skill n="Materialize"/>
                    <app-skill n="Android"/>
                    <app-skill n="Kotlin"/>
                    <!-- <app-skill n="XML"/> -->
                    <app-skill n="UWP"/>
                    <app-skill n="Cordova"/>
                    <!-- <app-skill n="WPF"/> -->
                    <!-- <app-skill n="Delphi"/> -->
                </div>
            </div>

            <div class="col-12 col-sm-6 mt-4" [ngClass]="{'order-1': m.back(), 'order-2': !m.back()}">
                <div class="titol-tipus-llenguatge mb-2">Backend</div>
                <div class="skills">
                    <app-skill n="NodeJs"/>
                    <app-skill n="Java"/>
                    <app-skill n="Sequelize"/>
                    <!-- <app-skill n="JSON"/> -->
                    <app-skill n="Python"/>
                    <app-skill n="C#"/>
                    <!-- <app-skill n="Django"/> -->
                    <app-skill n="PHP"/>
                    <!-- <app-skill n="Ruby on Rails"/> -->
                    <app-skill n="Apache"/>
                    <!-- <app-skill n="XAMPP"/> -->
                    <app-skill n="MySQL"/>
                    <app-skill n="PL/SQL"/>
                    <!-- <app-skill n="JSP"/> -->
                    <!-- <app-skill n="PL/1"/> -->
                    <!-- <app-skill n="DB2"/> -->
                </div>
            </div>

            <div class="col-12 col-sm-12 mt-4 order-3">
                <div class="titol-tipus-llenguatge mb-2">
                    @if (m.ca()) { Eines de desenvolupament }
                    @if (m.es()) { Herramientas de desarrollo }
                    @if (m.en()) { Software development tools }
                </div>
                <div class="skills">
                    <app-skill n="Git"/>
                    <app-skill n="GitHub"/>
                    <!-- <app-skill n="Bitbucket"/> -->
                    <app-skill n="Sourcetree"/>
                    <app-skill n="Postman"/>
                    <!-- <app-skill n="Asana"/> -->
                    <app-skill n="SQL Developer"/>
                    <app-skill n="PHPMyadmin"/>
                    <!-- <app-skill n="Filezilla"/> -->
                    <app-skill n="Android Studio"/>
                    <!-- <app-skill n="PowerShell"/> -->
                    <app-skill n="Unity"/>
                    <app-skill n="Visual Studio"/>
                    <app-skill n="Eclipse"/>
                    <!-- <app-skill n="Netbeans"/> -->
                    <!-- <app-skill n="SVN"/> -->
                    <!-- <app-skill n="Hibernate"/> -->
                    <!-- <app-skill n="VSCode"/> -->
                    <app-skill n="Joomla"/>
                    <!-- <app-skill n="Poedit"/> -->
                    <!-- <app-skill n="FastReport"/> -->
                    <app-skill n="Agile"/>
                    <app-skill n="MVC"/>
                    <app-skill n="Responsive Web Design"/>
                    <!-- <app-skill n="TeamViewer"/> -->
                    <!-- <app-skill n="AnyDesk"/> -->
                    <!-- <app-skill n="Remote Desktop"/> -->
                </div>
            </div>

            @defer (on interaction) {
                <div class="col-12 col-sm-6 mt-4 order-4">
                    <div class="titol-tipus-llenguatge mb-2">
                        @if (m.ca()) { Eines de virtualització i SO }
                        @if (m.es()) { Herramientas de virtualización y SO }
                        @if (m.en()) { Virtualization tools and OS }
                    </div>
                    <div class="skills">
                        <app-skill n="VMware"/>
                        <app-skill n="VirtualBox"/>
                        <app-skill n="Windows"/>
                        <app-skill n="Windows Server"/>
                        <app-skill n="Ubuntu"/>
                        <app-skill n="Debian"/>
                        <app-skill n="Red Hat"/>
                        <app-skill n="Fedora"/>
                        <app-skill n="macOS"/>
                        <app-skill n="Tails"/>
                        <app-skill n="zOS/MVS"/>
                    </div>
                </div>

                <div class="col-12 col-sm-6 mt-4 order-5">
                    <div class="titol-tipus-llenguatge mb-2">
                        @if (m.ca()) { CMS i frameworks web }
                        @if (m.es()) { CMS y frameworks web }
                        @if (m.en()) { CMS and web frameworks }
                    </div>
                    <div class="skills">
                        <app-skill n="Joomla"/>
                        <app-skill n="K2"/>
                        <app-skill n="Akeeba Backup"/>
                        <app-skill n="JCE FileManager"/>
                    </div>
                </div>
            }
            @placeholder {
                <div class="col-12 col-sm-12 mt-4 order-4 text-center">
                    <button class="boto botoText botoVeureMes" appMostrarAmbAnimacio>
                        @if (m.ca()) { Veure més }
                        @if (m.es()) { Ver más }
                        @if (m.en()) { See more }
                        <br>
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
            }
            
        </div>
        
    </div>

    <div class="mb-6 text-center" appMostrarAmbAnimacio>
        <button class="boto botoSeguentPagina m-auto" (click)="m.u.getDocument().querySelector('#experience').click()">
            @if (m.ca()) { Experiència }
            @if (m.es()) { Experiencia }
            @if (m.en()) { Experience }
            <i class="fa-solid fa-chevron-right ml-2"></i>
        </button>
    </div>
    
</div>
