// opacity: primary (87%), secondary (60%), tertiary (38%) //


.div-foto, .div-text {
    transition: all 0.3s ease;
}
.linia1 {
    text-align: right;
    color: var(--text-60);
    transition: font-size 0.3s ease, var(--transicio-colors);
}
.linia2 {
    text-align: right;
    color: var(--text);
    transition: font-size 0.3s ease, var(--transicio-colors);
    .sub {
        color: var(--text-70);
        transition: font-size 0.3s ease, var(--transicio-colors);
    }
}

// PC //
@media only screen and (min-width: 576px) {
    .linia1 {
        font-size: 1.8rem;
    }
    .linia2 {
        font-size: 1.7rem;
        .sub {
            font-size: 1.4rem;
        }
    }
}
// Mòbil //
@media only screen and (max-width: 575px) {
    .linia1 {
        font-size: 1.2rem;
    }
    .linia2 {
        font-size: 1.2rem;
        .sub {
            font-size: 1.1rem;
        }
    }
}
