<div class="content" [style.margin-top.px]="m.u.getAlturaAppbar()">
    <!-- <div class="title h1 mt-0 mb-4">Jordi Mas Parramon</div> -->

    <div class="group mt-5" id="bio">
        <div class="row no-gutters">
            <div class="col-5 col-sm-4 p-3 p-sm-4 ocult-animacio h">
                <div class="div-foto shadow-2-l">
                    <!-- <app-imatge-scroll src="assets/Foto carnet 2020.jpg"></app-imatge-scroll> -->
                    <img src="assets/Foto carnet 2020.jpg" alt="Foto" class="foto-carnet">
                </div>
            </div>
            <div class="div-text col-7 col-sm-8 px-sm-4 pt-sm-4 ocult-animacio h">

                <div class="linies">
                    <div class="bondia mb-2">{{getSalutacioSegonsHora()}}</div>
                    <div class="nom">
                        <span class="emdic">
                            <ng-container *ngIf="m.ca()">Em dic</ng-container>
                            <ng-container *ngIf="m.es()">Me llamo</ng-container>
                            <ng-container *ngIf="m.en()">My name is</ng-container>
                        </span>
                        <br *ngIf="m.esPantallaMobil()">
                        Jordi Mas Parramon
                    </div>
                    <div class="programador">
                        -
                        <ng-container *ngIf="m.ca()">Programador frontend</ng-container>
                        <ng-container *ngIf="m.es()">Programador frontend</ng-container>
                        <ng-container *ngIf="m.en()">Frontend programmer</ng-container>
                        -
                    </div>
                </div>
                <!-- Recipient bio pc -->
                <div *ngIf="m.esPantallaPc()" class="text bio mt-4">
                    <div *ngTemplateOutlet="bio"></div>
                </div>
                
            </div>
        </div>
        <!-- Recipient bio mobil -->
        <div class="ocult-animacio h">
            <div *ngIf="m.esPantallaMobil()" class="text bio mt-4">
                <div *ngTemplateOutlet="bio"></div>
            </div>
        </div>
        <!-- Template bio -->
        <ng-template #bio>
            <ng-container *ngIf="m.ca()">Sóc un apassionat programador frontend amb experiència en Angular, CSS, Javascript, C# i Python, entre altres. En aquesta web, trobaràs informació sobre la meva experiència, habilitats i projectes, així com la meva informació de contacte perquè puguem conversar sobre diferents maneres d'ajudar-te amb projectes futurs.</ng-container>
                
            <ng-container *ngIf="m.es()">Soy un apasionado programador frontend con experiencia en Angular, CSS, Javascript, C# y Python, entre otros. En esta web, encontrarás información sobre mi experiencia, habilidades y proyectos, así como mi información de contacto para que podamos conversar sobre diferentes formas de ayudarte con proyectos futuros.</ng-container>
        
            <ng-container *ngIf="m.en()">I am a passionate frontend programmer. I have experience working with Angular, CSS, Javascript, C# and Python, among others. On this site, you will find information about my past experience, skills, and projects, as well as my contact information so we can discuss about different ways on helping you and your business with future projects.</ng-container>
            
            <a [href]="getRutaCV()" class="boto mt-4">
                <ng-container *ngIf="m.ca()">Obrir CV</ng-container>
                <ng-container *ngIf="m.es()">Abrir CV</ng-container>
                <ng-container *ngIf="m.en()">Open Resume</ng-container>
                <img src="assets/icons/contact/cv.png" alt="Curriculum Vitae" class="logo inv-dark-2">
            </a>
        </ng-template>
    </div>
    

    <!-- Skills -->
    <div id="llenguatges" class="group llenguatges ocult-animacio h">
        <div class="subtitle mb-2">
            <ng-container *ngIf="m.ca()">Habilitats en programació</ng-container>
            <ng-container *ngIf="m.es()">Habilidades en programación</ng-container>
            <ng-container *ngIf="m.en()">Programming skills</ng-container>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-sm-6 mt-4">
                <div class="titol-tipus-llenguatge mb-2">Frontend</div>
                <div class="skills">
                    <app-skill n="Angular"/>
                    <app-skill n="JavaScript"/>
                    <app-skill n="JQuery"/>
                    <app-skill n="CSS"/>
                    <app-skill n="SASS"/>
                    <app-skill n="TypeScript"/>
                    <app-skill n="HTML"/>
                    <app-skill n="Bootstrap"/>
                    <app-skill n="Materialize"/>
                    <app-skill n="Android"/>
                    <app-skill n="Kotlin"/>
                    <!-- <app-skill n="XML"/> -->
                    <app-skill n="UWP"/>
                    <app-skill n="Cordova"/>
                    <!-- <app-skill n="WPF"/> -->
                    <!-- <app-skill n="Delphi"/> -->
                </div>
            </div>

            <div class="col-12 col-sm-6 mt-4">
                <div class="titol-tipus-llenguatge mb-2">Backend</div>
                <div class="skills">
                    <app-skill n="NodeJs"/>
                    <app-skill n="Sequelize"/>
                    <!-- <app-skill n="JSON"/> -->
                    <app-skill n="Java"/>
                    <app-skill n="Python"/>
                    <app-skill n="C#"/>
                    <!-- <app-skill n="Django"/> -->
                    <app-skill n="PHP"/>
                    <!-- <app-skill n="Ruby on Rails"/> -->
                    <app-skill n="Apache"/>
                    <!-- <app-skill n="XAMPP"/> -->
                    <app-skill n="MySQL"/>
                    <app-skill n="PL/SQL"/>
                    <!-- <app-skill n="JSP"/> -->
                    <!-- <app-skill n="PL/1"/> -->
                    <!-- <app-skill n="DB2"/> -->
                </div>
            </div>

            <div class="col-12 col-sm-6 mt-4">
                <div class="titol-tipus-llenguatge mb-2">
                    <ng-container *ngIf="m.ca()">Eines de desenvolupament</ng-container>
                    <ng-container *ngIf="m.es()">Herramientas de desarrollo</ng-container>
                    <ng-container *ngIf="m.en()">Software development tools</ng-container>
                </div>
                <div class="skills">
                    <app-skill n="Git"/>
                    <app-skill n="GitHub"/>
                    <!-- <app-skill n="Bitbucket"/> -->
                    <app-skill n="Sourcetree"/>
                    <app-skill n="Postman"/>
                    <!-- <app-skill n="Asana"/> -->
                    <app-skill n="PHPMyadmin"/>
                    <!-- <app-skill n="Filezilla"/> -->
                    <app-skill n="Android Studio"/>
                    <!-- <app-skill n="PowerShell"/> -->
                    <app-skill n="Unity"/>
                    <app-skill n="Visual Studio"/>
                    <app-skill n="Eclipse"/>
                    <!-- <app-skill n="Netbeans"/> -->
                    <!-- <app-skill n="SVN"/> -->
                    <!-- <app-skill n="Hibernate"/> -->
                    <!-- <app-skill n="VSCode"/> -->
                    <app-skill n="Joomla"/>
                    <!-- <app-skill n="Poedit"/> -->
                    <!-- <app-skill n="FastReport"/> -->
                    <app-skill n="Agile"/>
                    <app-skill n="MVC"/>
                    <!-- <app-skill n="TeamViewer"/> -->
                    <!-- <app-skill n="AnyDesk"/> -->
                    <!-- <app-skill n="Remote Desktop"/> -->
                </div>
            </div>

            <!-- <div class="col-12 col-sm-6 mt-4">
                <div class="titol-tipus-llenguatge mb-2">
                    <ng-container *ngIf="m.ca()">Eines de virtualització i SO</ng-container>
                    <ng-container *ngIf="m.es()">Herramientas de virtualización y SO</ng-container>
                    <ng-container *ngIf="m.en()">Virtualization tools and OS</ng-container>
                </div>
                <div class="skills">
                    <app-skill n="VMware"/>
                    <app-skill n="VirtualBox"/>
                    <app-skill n="Windows"/>
                    <app-skill n="Windows Server"/>
                    <app-skill n="Ubuntu"/>
                    <app-skill n="Debian"/>
                    <app-skill n="Red Hat"/>
                    <app-skill n="Fedora"/>
                    <app-skill n="macOS"/>
                    <app-skill n="Tails"/>
                    <app-skill n="zOS/MVS"/>
                </div>
            </div> -->

            <!-- <div class="col-12 col-sm-6 mt-4">
                <div class="titol-tipus-llenguatge mb-2">
                    <ng-container *ngIf="m.ca()">CMS i frameworks web</ng-container>
                    <ng-container *ngIf="m.es()">CMS y frameworks web</ng-container>
                    <ng-container *ngIf="m.en()">CMS and web frameworks</ng-container>
                </div>
                <div class="skills">
                    <app-skill n="Joomla"/>
                    <app-skill n="K2"/>
                    <app-skill n="Akeeba Backup"/>
                    <app-skill n="JCE FileManager"/>
                </div>
            </div> -->
            
        </div>
        
    </div>
</div>
