<div class="content">
    <div class="title h1 mt-0 mb-4">Jordi Mas Parramon</div>

    <div class="row no-gutters">
        <div class="div-foto col-5 col-sm-4 p-3 p-sm-4">
            <app-imatge-scroll [src]="'assets/Foto carnet 2020.jpg'" style="display:none;"></app-imatge-scroll>
        </div>
        <div class="div-text col-7 col-sm-8 p-sm-4">
            <p class="text">
                <ng-container *ngIf="m.ca()">Sóc en Jordi Mas, un apassionat programador amb experiència en Angular, CSS, Javascript, C# i Python, entre altres. En aquesta web, trobaràs informació sobre la meva experiència, habilitats i projectes, així com la meva informació de contacte perquè puguem conversar sobre com et puc ajudar amb el teu proper projecte.</ng-container>
                
                <ng-container *ngIf="m.es()">Soy Jordi Mas, un apasionado programador con experiencia en Angular, CSS, Javascript, C# y Python, entre otros. En esta web, encontrarás información sobre mi experiencia, habilidades y proyectos, así como mi información de contacto para que podamos conversar sobre cómo puedo ayudarte con tu próximo proyecto.</ng-container>

                <ng-container *ngIf="m.en()">I am Jordi Mas, a passionate programmer with experience in Angular, CSS, Javascript, C# and Python, among others. On this site, you'll find information about my past experience, skills, and projects, as well as my contact information so we can discuss about how I can help with your next project.</ng-container>
            </p>
        </div>
    </div>
</div>
