<div id="page" class="page">
    <!-- <div class="page-title mt-0 mb-4">Jordi Mas Parramon</div> -->

    <div class="content d-flex flex-column gap-6 align-items-center mb-6">

        <jmp-bio class="mw-940" />
        <jmp-feina-actual class="mw-940" />
        <jmp-projectes-home class="mw-1400" />
        <jmp-experiencies-home class="mw-1400" />
        <jmp-stats class="mw-1400" />
        <jmp-llenguatges-programacio-home class="mw-1400" />


        <jmp-botons-navegacio-pagina />

    </div>
</div>
