@import "src/styles.scss";

// opacity: primary (87%), secondary (60%), tertiary (38%) //


.div-foto, .div-text {
    transition: all 0.3s ease;
}
.div-text {
    align-self: center;
}

.linies {
    text-align: right;
    & * {
        transition: font-size 0.3s ease, var(--transicio-colors);
    }

    .bondia {
        color: var(--text-60);
    }
    .nom {
        color: var(--text);
        .emdic {
            color: var(--text-70);
        }
    }
    .programador {
        color: var(--text-70);
        font-style: italic;
    }
}

.llenguatges {
    .titol-tipus-llenguatge {
        font-size: 1.4rem;
        color: var(--text-80);
        text-align: center;
    }
    .chips {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        

        .chip {
            color: var(--fons);
            background-color: var(--text);
            font-size: 1rem;
            padding: 0.25rem 0.75rem;
            margin: 0.25rem;
            border-radius: 1000px;
            font-weight: bold;
            box-shadow:
                0px 30px 25px -30px #ffffff45 inset, 0px -30px 25px -30px #00000045 inset,
                0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


            &.angular       { background-color: #dd0031; color: #ffffff; }
            &.javascript    { background-color: #ffdf00; color: #000000; }
            &.jquery        { background-color: #1e2e3b; color: #21ace2; }
            &.typescript    { background-color: #0078cf; color: #ffffff; }
            &.css           { background-color: #2196f3; color: #ffffff; }
            &.sass          { background-color: #d56fa4; color: #ffffff; }
            &.html          { background-color: #e64c18; color: #ffffff; }
            &.bootstrap     { background-color: #563d7c; color: #ffffff; }
            &.materialize   { background-color: #f6a2ad; color: #000000; }
            &.android       { background-color: #3DDC84; color: #153b4c; }
            &.kotlin        { background-color: #f88909; color: #231f20; }
            &.uwp           { background-color: #0072c6; color: #ffffff; }
            &.cordova       { background-color: #364451; color: #35e9f6; }
            &.wpf           { background-color: #044a88; color: #ffffff; }
            &.delphi        { background-color: #9e0f20; color: #ffffff; }
            &.nodejs        { background-color: #83cd29; color: #333333; }
            &.sequelize     { background-color: #02aeee; color: #ffffff; }
            &.java          { background-color: #e11f21; color: #ffffff; }
            &.python        { background-color: #3572A5; color: #ffe364; }
            &.csharp        { background-color: #953dac; color: #ffffff; }
            &.django        { background-color: #003e2b; color: #ffffff; }
            &.php           { background-color: #777bb3; color: #ffffff; }
            &.rubyonrails   { background-color: #cc0000; color: #ffffff; }
            &.apache        { background-color: #c4203c; color: #ffffff; }
            &.mysql         { background-color: #00618a; color: #e48e00; }
            &.phpmyadmin    { background-color: #6c78af; color: #f89c0e; }
            &.plsql         { background-color: #e11a1f; color: #ffffff; }
            &.jsp           { background-color: #000000; color: #ffffff; }
            &.pl1           { background-color: #000000; color: #00d200; }
            &.db2           { background-color: #009a2c; color: #ffffff; }
            &.git           { background-color: #f05133; color: #413000; }
            &.github        { background-color: #ffffff; color: #000000; }
            &.bitbucket     { background-color: #2684ff; color: #ffffff; }
            &.sourcetree    { background-color: #2684ff; color: #ffffff; }
            &.postman       { background-color: #ee6d3f; color: #ffffff; }
            &.asana         { background-color: #ff5878; color: #1d3042; }
            &.filezilla     { background-color: #8f0000; color: #ffffff; }
            &.androidstudio { background-color: #3DDC84; color: #153b4c; }
            &.unity         { background-color: #222c37; color: #ffffff; }
            &.netbeans      { background-color: #7c9bd2; color: #ffffff; }
            &.eclipse       { background-color: #2c2255; color: #f7941e; }
            &.svn           { background-color: #809cc9; color: #ffffff; }
            &.hibernate     { background-color: #59666c; color: #bcae79; }
            &.vscode        { background-color: #3aa8f2; color: #ffffff; }
            &.poedit        { background-color: #dbcb44; color: #000000; }
            &.fastreport    { background-color: #b5110f; color: #1d1d1b; }
            &.vmware        { background-color: #ffffff; color: #545256; }
            &.virtualbox    { background-color: #cee4fb; color: #183861; }
            &.windows       { background-color: #00aeef; color: #ffffff; }
            &.winserver     { background-color: #37689d; color: #c9c5be; }
            &.ubuntu        { background-color: #9b0583; color: #ffffff; }
            &.debian        { background-color: #d70751; color: #ffffff; }
            &.redhat        { background-color: #e20000; color: #ffffff; }
            &.fedora        { background-color: #243f73; color: #ffffff; }
            &.macos         { background-color: #eeeeee; color: #444444; }
            &.tails         { background-color: #55347b; color: #ffffff; }
            &.zos           { background-color: #000000; color: #00ff00; }
            &.joomla        { background-color: #5091cd; color: #ffffff; }
            &.k2            { background-color: #000000; color: #ffffff; }
            &.akeeba        { background-color: #514f50; color: #38b5b9; }
            &.jce           { background-color: #dddddd; color: #000000; }
            

        }
    }
}


// Pantalla PC //
@media only screen and (min-width: 576px) {
    .bondia {
        font-size: 1.8rem;
    }
    .nom {
        font-size: 1.7rem;
        .emdic {
            font-size: 1.4rem;
        }
    }
    .programador {
        font-size: 1.2rem;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .bondia {
        font-size: 1.6rem;
    }
    .nom {
        font-size: 1.4rem;
        .emdic {
            position: relative;
            top: 0.5rem;
            font-size: 1.1rem;
        }
    }
    .programador {
        font-size: 0.9rem;
    }
}
