@import "src/styles.scss";

.group {
    --color-fosc-rgb-vals-test: rgb(0, 32, 41);
    --color-clar-rgb-vals-test: rgb(184, 240, 255);
    --color-fosc-rgb-vals: 0, 32, 41;
    --color-clar-rgb-vals: 184, 240, 255;
    --color-l-0: hsl(193, 100%, 8%);
    --color-l-1: hsl(193, 100%, 17%);
    --color-l-2: hsl(193, 100%, 25%);
    --color-l-3: hsl(193, 100%, 34%);
    --color-l-4: hsl(193, 100%, 43%);
    --color-l-5: hsl(193, 100%, 51%);
    --color-l-6: hsl(193, 100%, 60%);
    --color-l-7: hsl(193, 100%, 69%);
    --color-l-8: hsl(193, 100%, 77%);
    --color-l-9: hsl(193, 100%, 86%);
}

// Colors específics cards //
             .group { background-color: hsla(193, 100%, 16%, 0.5); --link: var(--color-l-6); }
.light :host .group { background-color: hsla(193, 100%, 62%, 0.5); --link: var(--color-l-3); }
