@import "src/styles.scss";
@import "../experience-styles.scss";



a.link-boto-titol {
    img.title-icon {
        transition: transform 0.3s;
    }
    &:hover {
        img.title-icon {
            transform: scale(1.15);
        }
    }
}
