<section id="indra" class="tema-indra section" appMostrarAmbAnimacio>
    <div class="section-title mb-2">
        <a [href]="getLink()" class="no-style link-boto-titol gap-3">
            Indra
            <img [src]="'assets/icons/experience/'+(m.ts.modeFosc?'indra-d.png':'indra-l.png')" alt="Indra" class="title-icon rounded">
            <span class="fletxa">↗</span>
        </a>
    </div>
    <p class="text mb-1">
        @if (m.ca) {
            Quan vaig treballar a Indra, vaig formar part de l'equip de programació encarregat de renovar el sistema Línia Oberta, un sistema de gestió de clients per als treballadors de <a href="https://www.caixabank.cat/index_ca.html">La Caixa</a>. L'objectiu d'aquest projecte era integrar i donar suport a la majoria d'aplicacions de l'organització a través de diferents canals (terminal financer, home banking, caixers, etc.). Va comptar amb un pressupost d'1 milió d'euros i es va enfocar a assolir objectius com la senzillesa d'ús, la multicanalitat, la compatibilitat amb diferents països i idiomes, la productivitat i la seguretat. El projecte va ser creat sota l'arquitectura ABSIS (TF7), utilitzant les tecnologies Batch SSMM i Java.<br>
            
            Per a la capa de presentació vaig utilitzar la llibreria Taglib UI de TF7, que proporciona components reutilitzables per a la interfície d'usuari. Aquests components permeten substituir el codi HTML, Javascript i CSS, optimitzant així el temps de desenvolupament i assegurant una uniformitat visual a les pantalles. Vaig utilitzar aquestes guies de desenvolupament per construir múltiples pantalles a JSP.<br><br>
            
            Addicionalment, vaig ser responsable de l'elaboració de manuals, documentació de proves i resolució d'incidències.<br><br>

            A més d'això, vaig rebre formació sobre diverses tecnologies, entre les quals hi ha
            <a href="https://www.ibm.com/docs/en/zos-basic-skills?topic=interfaces-what-is-tso">TSO</a>/<a href="https://www.ibm.com/docs/en/zos-basic-skills?topic=interfaces-what-is-ispf">ISPF</a>,
            <a href="https://www.ibm.com/docs/en/zos-basic-skills?topic=collection-basic-jcl-concepts">JCL</a> del <a href="https://www.ibm.com/es-es/products/zos">zOS</a>/<a href="https://ca.wikipedia.org/wiki/MVS">MVS</a>,
            <a href="https://ca.wikipedia.org/wiki/PL/I">PL/I</a>,
            <a href="https://www.ibm.com/es-es/products/db2">bases de dades DB2</a>,
            Eclipse Java,
            eines HOST i
            eines <a href="https://www.ibm.com/es-es/topics/middleware">Middleware</a>.
        }
            
        @if (m.es) {
            Cuando trabajé en Indra, formé parte del equipo de programación encargado de renovar el sistema Linia Oberta, un sistema de gestión de clientes para los trabajadores de <a href="https://www.caixabank.cat/index_es.html">La Caixa</a>. El objetivo de este proyecto era integrar y dar soporte a la mayoría de aplicaciones de la organización a través de diferentes canales (terminal financiero, home banking, cajeros, etc.). Contó con un presupuesto de 1 millón de euros y se enfocó en lograr objetivos como la sencillez de uso, la multi-canalidad, la compatibilidad con diferentes países e idiomas, la productividad y la seguridad. El proyecto fue creado bajo la arquitectura ABSIS (TF7), usando las tecnologías Batch SSMM y Java.<br>
            
            Para la capa de presentación utilicé la librería Taglib UI de TF7, que proporciona componentes reutilizables para la interfaz de usuario. Estos componentes permiten sustituir el código HTML, Javascript y CSS, optimizando así el tiempo de desarrollo y asegurando una uniformidad visual en las pantallas. Utilicé estas guías de desarrollo para construir múltiples pantallas en JSP.<br><br>
            
            Adicionalmente, fui responsable de la elaboración de manuales, documentación de pruebas y resolución de incidencias.<br><br>

            Además de eso, recibí formación sobre varias tecnologías, entre las cuales se encuentran
            <a href="https://www.ibm.com/docs/en/zos-basic-skills?topic=interfaces-what-is-tso">TSO</a>/<a href="https://www.ibm.com/docs/en/zos-basic-skills?topic=interfaces-what-is-ispf">ISPF</a>,
            <a href="https://www.ibm.com/docs/en/zos-basic-skills?topic=collection-basic-jcl-concepts">JCL</a> del <a href="https://www.ibm.com/es-es/products/zos">zOS</a>/<a href="https://es.wikipedia.org/wiki/MVS">MVS</a>,
            <a href="https://es.wikipedia.org/wiki/PL/1">PL/I</a>,
            <a href="https://www.ibm.com/es-es/products/db2">bases de datos DB2</a>,
            Eclipse Java,
            herramientas HOST y
            herramientas <a href="https://www.ibm.com/es-es/topics/middleware">Middleware</a>.
        }
            
        @if (m.en) {
            When I worked at Indra, I was part of the programming team in charge of renewing the Linia Oberta system, a customer management system for workers at <a href="https://www.caixabank.es/particular/holabank/particulares_en.html">La Caixa</a>. The objective of this project was to integrate and support most of the organization's applications through different channels (financial terminal, home banking, ATMs, etc.). It had a budget of 1 million euros and focused on achieving objectives such as ease of use, multi-channel, compatibility with different countries and languages, productivity and security. The project was created under the ABSIS architecture (TF7), using Batch SSMM and Java technologies.<br>
            
            For the presentation layer I used the Taglib UI library from TF7, which provides reusable components for the user interface. These components allow you to replace the HTML, Javascript and CSS code, thus optimizing development time and ensuring visual uniformity on the screens. I used these development guides to build multiple screens in JSP.<br><br>
            
            Additionally, I was responsible for the development of manuals, test documentation and incident resolution.<br><br>

            In addition to that, I received training on various technologies including
            TSO/ISPF, zOS/MVS JCL, PL/I, DB2 databases, Eclipse Java, HOST tools, and Middleware tools.
            <a href="https://www.ibm.com/docs/en/zos-basic-skills?topic=interfaces-what-is-tso">TSO</a>/<a href="https://www.ibm.com/docs/en/zos-basic-skills?topic=interfaces-what-is-ispf">ISPF</a>,
            <a href="https://www.ibm.com/products/zos">zOS</a>/<a href="https://en.wikipedia.org/wiki/MVS">MVS</a>&nbsp;<a href="https://www.ibm.com/docs/en/zos-basic-skills?topic=collection-basic-jcl-concepts">JCL</a>,
            <a href="https://en.wikipedia.org/wiki/PL/I">PL/I</a>,
            <a href="https://www.ibm.com/products/db2">DB2 databases</a>,
            Eclipse Java,
            HOST tools and
            <a href="https://www.ibm.com/topics/middleware">Middleware</a> tools.
        }
    </p>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill n="Java"/>
        <app-skill n="JSP"/>
        <app-skill n="PL/1"/>
        <app-skill n="DB2"/>
        <app-skill n="Maven"/>
        <app-skill n="Netbeans"/>
        <app-skill n="Eclipse"/>
        <app-skill n="SVN"/>
        <app-skill n="Windows Server"/>
        <app-skill n="TeamViewer"/>
        <app-skill n="Remote Desktop"/>
        <app-skill n="zOS/MVS"/>
        <app-skill n="Continuous integration"/>
        <app-skill n="Agile"/>
    </div>
</section>
