@import "src/styles.scss";




.index {
    transition: transform 0.3s;

    button {
        color: var(--text);
        background-color: var(--fons-50);
        backdrop-filter: blur(20px);
        
        transition: transform 0.15s, font-size 0.3s, padding 0.3s, border-radius 0.3s;

        &:hover {
            // scale: 1.06;
            filter: brightness(1.5);
            z-index: 1;
        }
    }
}

.index.mobil {
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0.5rem;

    width: max-content;
    max-width: 100%;
    margin: auto;
    padding: 0.5rem;

    // backdrop-filter: blur(20px) saturate(1.5);
    // border-radius: 1.5rem;

    overflow: hidden;
    overflow-x: scroll;
    &::-webkit-scrollbar { display: none; }

    z-index: 1005;

    button {
        display: block;
        flex-shrink: 0;

        font-size: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 1.5rem;
    }
}

.index.pc {
    position: fixed;
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.5rem;
    width: calc((100% - 940px) / 2);
    min-width: 10rem;
    max-width: 16rem;

    z-index: 1005;

    button {
        display: flex;
        justify-content: center;

        font-size: 1.7rem;
        padding: 1rem 2rem;
        border-radius: 1.5rem;
    }
}

::ng-deep body.scrolled {

    .index.mobil {
        button {
            font-size: 1.2rem !important;
            padding: 0.5rem 1rem !important;
            border-radius: 1.5rem !important;
        }
    }
    .index.pc {
        button {

        }
    }
}



// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .index.mobil {
        button {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            border-radius: 0.8rem;
        }
    }
    ::ng-deep body.scrolled {

        .index.mobil {
            button {
                font-size: 1rem !important;
                padding: 0.5rem 0.8rem !important;
                border-radius: 1.3rem !important;
            }
        }
    }

}
// Pantalla Tablet //
@media only screen and (min-width: 576px) {
}
// Pantalla PC //
@media only screen and (min-width: 768px) { }
// Pantalla Molt Gran //
@media only screen and (min-width: 992px) { }
