@if(vistaMobil()) {
    <div #index class="index mobil" [style.top.px]="ls.getAlturaAppbar()" (mousemove)="scrollOnHover($event)">

        @for (o of getOpcions(); track o.id) {
            @if(idExists(o.id)) {
                <button class="boto tema-{{o.id}}" (click)="scrollTo(o.id)" appMostrarAmbAnimacio matRipple>{{o.nom}}</button>
            }
        }
    </div>
} @else {
    <div #index class="index pc" [style.top.px]="ls.getAlturaAppbar()">

        @for (o of getOpcions(); track o.id) {
            @if(idExists(o.id)) {
                <button class="boto tema-{{o.id}}" (click)="scrollTo(o.id)" appMostrarAmbAnimacio matRipple>{{o.nom}}</button>
            }
        }
    </div>
}
