@import "src/styles.scss";

.index {
    position: sticky;
    display: flex;
    gap: 0.5rem;

    width: max-content;
    max-width: 100%;
    margin: auto;
    padding: 0.5rem;

    // backdrop-filter: blur(20px) saturate(1.5);
    // border-radius: 1.9rem;

    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    
    pointer-events: none;
    
    transition: transform 0.3s;

    z-index: 1005;

    button {
        color: var(--text);
        background: var(--fons-card, var(--fons-50));
        backdrop-filter: blur(20px);

        flex-shrink: 0;

        display: flex;
        gap: 0.75rem;

        font-size: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 1.5rem;

        pointer-events: all;

        transition: transform 0.15s, font-size 0.3s, padding 0.3s, border-radius 0.3s, box-shadow 0.3s;

        @include mobil {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            border-radius: 0.8rem;
        }

        &:hover {
            // scale: 1.06;
            filter: brightness(1.5);
            z-index: 1;
        }

        img.icon {
            height: 2rem;
        }

        &.mad-jumpgate, &.amazfit {
            .icon {
                border-radius: 0.25rem;
                transition: border-radius 0.3s;
            }
        }
    }
}

.index.scrolled {
    button {
        font-size: 1.2rem !important;
        padding: 0.5rem 1rem !important;
        border-radius: 1.5rem !important;
        @extend .shadow-2;

        &.mad-jumpgate, &.github, &.custom-roms, &.tasker, &.amazfit {
            padding-right: 0.5rem !important;
        }
        &.mad-jumpgate, &.amazfit {
            .icon { border-radius: 1rem; }
        }

        @include mobil {
            font-size: 1rem !important;
            padding: 0.5rem 0.8rem !important;
            border-radius: 1.5rem !important;
        }
    }
}



.boto {
    &.android img.icon {
        @include light {
            filter: brightness(0.7) saturate(2);
        }
    }
}
