@import "src/styles.scss";


.section {
    .section-title {
        a {
            img.title-icon {
                height: 2.4rem;
                transition: transform 0.3s;
            }
            &:hover {
                img.title-icon {
                    transform: scale(1.4);
                }
            }
        }
    }

    .funcionalitats {
        .layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;

            .funcionalitat.card {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                width: 100%;
                @include tablet { width: calc(50% - 0.5rem); }
                @include pc { width: 17.5rem; }
                
                padding: 1rem;
                border-radius: 2rem;

                background-color: light-dark(hsla(346, 100%, 90%, 0.5), hsla(346, 100%, 60%, 0.2));

                cursor: default;

                i {
                    font-size: 2rem;
                }
                .text {
                    display: flex;
                    flex: 1;
                    text-align: center;
                }
            }
        }
    }

    section.botons-pagines {
        
        .boto.web {
            padding: 1.2rem 2rem;
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 1.3rem;
        }

        .boto.amb-icona {
            display: flex;
            gap: 1rem;
            padding: 0.6rem;
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 2.5rem;

            .text {
                margin-left: 0.5rem;
            }

            &.github {
                background-color: #e9e9eb;
                color: black;

                img {
                    height: 3rem;
                    filter: invert(1);
                }
            }
            &._3cat {
                background-color: #f61e50;
                color: white;

                img {
                    height: 2rem;
                    margin-bottom: 0.2rem;
                    margin-right: 0.2rem;
                }
            }
        }
    }

}


// Icona en mode clar: afegim filtre (?) //
section#bunquer .section-title .title-icon {
    @include light {
        // filter: brightness(0.7) saturate(2);
    }
}
