@import "src/styles.scss";


.section {
    .section-title {
        a {
            img.title-icon {
                height: 2.4rem;
                transition: transform 0.3s;
            }
            &:hover {
                img.title-icon {
                    transform: scale(1.4);
                }
            }
        }
    }

    .descripcio {
        h4, h5 {
            margin-top: 1.7rem;
        }
    }

}


// Icona en mode clar: afegim filtre (?) //
section#bunquer .section-title .title-icon {
    @include light {
        // filter: brightness(0.7) saturate(2);
    }
}
