@import "src/styles.scss";

.appbar {
    position: sticky;
    top: 0rem;
    left: 0rem;
    right: 0rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 11000;
    background: none;
    backdrop-filter: blur(20px) saturate(1.5);
    transition: box-shadow 0.3s, backdrop-filter 0.3s;


    &:not(.scrolled) {
        // background: var(--fons-50);
        backdrop-filter: blur(20px) saturate(1);
    }

    .botoSidebar {
        padding: 0.5rem;
        width: 4rem;
        font-size: 2rem;
    }
    jmp-navegacio-tab {
        margin: 0.5rem;
    }

    jmp-input-buscador {
        position: absolute;
        left: 50%;
        translate: -50%;
        
        width: 30rem;
        max-width: 56%;
        @include mobil {
            width: calc(100% - 8rem);
            max-width: none;
        }
        transition: scale 0.2s, opacity 0.2s;
    }

    
    ::ng-deep jmp-selector-idioma {
        @include gran {
            padding: 0.25rem 2rem 0.25rem 1.5rem;
        }
    }

}
