@import "src/styles.scss";

.appbar {
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    z-index: 1000;
    background: none;
    backdrop-filter: blur(20px) saturate(1.5);
    transition: box-shadow 0.3s;

    &:not(.scrolled) {
        // background: var(--fons-50);
        backdrop-filter: blur(20px) saturate(1);
    }

    .botoObrirSidebar {
        padding: 0.5rem;
        font-size: 2rem;
        i {
            display: block;
        }
    }
    app-navegacio-tab {
        margin: 0.5rem;
    }
    app-selector-idioma {
        align-items: center;
    }

}

// Pantalla Mòbil //
@media only screen and (max-width: 575px) { }
// Pantalla Tablet //
@media only screen and (min-width: 576px) {
    .appbar {
        .botoObrirSidebar {
            padding: 0.5rem 1.5rem;
        }
    }
}
// Pantalla PC //
@media only screen and (min-width: 768px) { }
// Pantalla Molt Gran //
@media only screen and (min-width: 992px) { }
