.appbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--fons-50);
    backdrop-filter: blur(20px) saturate(1.3);

    .botonsDarkMode {
        width: fit-content;
        padding: 0.5rem;
        .botoDarkMode {
            background-color: var(--color-fosc);
            color: var(--color-clar);
            border: 1px solid var(--color-clar-70);
            border-radius: 1000px;
            outline: none;
            cursor: pointer;
            padding: 0.5rem 1.4rem;
            font-size: 1.3rem;
            transition: var(--transicio-colors);
        }
    }

    .navegacio {
        text-align: center;
        height: fit-content;

        button {
            background-color: var(--fons);
            color: var(--text);
            outline: none;
            cursor: pointer;
            border: 1px solid var(--text-70);
            margin: 0.5rem 0.25rem;
            padding: 0.25rem 1rem;
            border-radius: 0.6rem;

            transition: border-radius 0.3s ease, font-size 0.3s ease, padding 0.3s ease, var(--transicio-colors);

            &.selected {
                background-color: var(--text);
                color: var(--fons);
                border-radius: 1.6rem;
            }
        }
    }

    .idioma {
        padding: 0.5rem;
        text-align: right;

        .select-idioma {
            background-color: var(--fons);
            color: var(--text);
            border-color: var(--text-70);
            border-radius: 5px;
            padding: 0.25rem 0.5rem 0.25rem 1rem;
            margin-top: 0.25rem;
            outline: none;
            cursor: pointer;
            transition: padding 0.3s ease, font-size 0.3s ease, var(--transicio-colors);
        }
    }
}
::ng-deep html.light .appbar .botoDarkMode {
    border-color: transparent !important;
}
::ng-deep html.nit .appbar {
    background: none;
}


// Pantalla Gran //
@media only screen and (min-width: 992px) {
    .navegacio button {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    .idioma .select-idioma {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
// Pantalla PC //
@media only screen and (min-width: 576px) {
    .navegacio button {
        font-size: 1.5rem;
    }
    .idioma .select-idioma {
        font-size: 1.2rem;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .navegacio button {
        font-size: 1.1rem;
    }
    .idioma .select-idioma {
        font-size: 1.1rem;
    }
}

// PC //
@media (pointer: fine) { }
// Mòbil //
@media (pointer: coarse) {
    .select-idioma {
        border-radius: 0.6rem !important;
    }
}
