<div class="appbar">
    <div class="botonsDarkMode">
        <button (click)="btnDarkMode_click()" class="botoDarkMode"><i class="fa-solid fa-circle-half-stroke"></i></button>
        <button (click)="btnAutoDarkMode_click()" class="botoDarkMode botoAutoMode ml-1" style="display:none;"><b>A</b></button>
    </div>

    <nav style="background-color: #000; border-radius: 20px;" class="pt-3 px-3 mt-1 h4">
        <a routerLink="/">home</a>&nbsp;
        <a routerLink="/experience">experience</a>&nbsp;
        <a routerLink="/projects">projects</a>&nbsp;
    </nav>

    <select [(ngModel)]="idioma" id="idioma" name="idioma" class="select-idioma" (change)='setCookieIdioma()'>
        <option value="ca">Català</option>
        <option value="es">Español</option>
        <option value="en">English</option>
    </select>
</div>
