@import "src/styles.scss";


// Efecte hover links en PC //
a {
    display: inline;
    position: relative;// fa com el z-index //
    color: var(--link);
    
    background-image: linear-gradient(0deg, var(--link), var(--link));
    background-size: calc(100% - 12px) 8%;
    background-position: 50% 92%;
    background-repeat: no-repeat;

    padding: 2px 6px;
    margin: 0 -6px;
    border-radius: 10rem; //0.5rem;
    
    text-decoration: none;
    text-wrap: nowrap;

    transition: all 0.3s;

    &:hover {
        color: var(--fons);
        background-size: 100% 100%;
        // scale: 1.05;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important; // shadow-1 //
        // box-shadow: 0px 30px 25px -30px #ffffff45 inset, 0px -30px 25px -30px #00000045 inset !important;
    }
}
