@import "src/styles.scss";

.botoDarkMode, .botoAutoMode {
    padding: initial; // iPhone/iPad fix //
    transition: background-color 0.3s linear, width 0.3s, height 0.3s, font-size 0.3s, transform 0.1s, opacity 0.3s;

    height: 3rem;
    font-size: 1.3rem;

    &.transicio-1 {
        transition: background-color 0.3s linear, width 0.3s, height 0.3s, font-size 0.3s, box-shadow 700ms cubic-bezier(1, 0, 1, 1);
    }
    &.transicio-2 {
        transition: background-color 0.3s linear, width 0.3s, height 0.3s, font-size 0.3s, box-shadow 500ms ease-in;
    }
}
.botoDarkMode {
    width: 4rem;

    background-color: light-dark(#008, #28d4ff);
    color: light-dark(gold, gold);

    position: relative;

    @include light {
        // Estrelles //
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.6px;
            height: 1.6px;

            box-shadow:
                -12px -15px 0 0.2px white,
                10px -14px 0 0px white,
                16px 2px 0 0.3px white,
                -11px 13px 0 0.5px white,
                9px 13px 0 0px white;

            pointer-events: none;
            border-radius: 10px;
        }
    }

    i {
        transition: transform 700ms;
    }

    // transform-origin: 37.5% 50%;
    // i { transition: rotate 0.3s; }
}
.botoAutoMode {
    width: 3rem;
    background: linear-gradient(to bottom right, #28d4ff 50%, #008 50%);
    color: gold;
}
