@import "src/styles.scss";

.botoDarkMode, .botoAutoMode {
    padding: initial; // iPhone/iPad fix //
    transition: background-color 0.3s linear, width 0.3s, height 0.3s, font-size 0.3s, transform 0.1s, opacity 0.3s;

    height: 3rem;
    font-size: 1.3rem;

    &.transicio-1 {
        transition: background-color 0.3s linear, width 0.3s, height 0.3s, font-size 0.3s, box-shadow 400ms ease-in;
    }
    &.transicio-2 {
        transition: background-color 0.3s linear, width 0.3s, height 0.3s, font-size 0.3s, box-shadow 400ms ease-in;
    }
}
.botoDarkMode {
    width: 4rem;

    // transform-origin: 37.5% 50%;
    // i { transition: rotate 0.3s; }
}
.botoAutoMode {
    width: 3rem;
}
