@import "src/styles.scss";

.botoDarkMode, .botoAutoMode {
    padding: initial; // iPhone/iPad fix //
    transition: background-color 0.3s linear, width 0.3s, height 0.3s, font-size 0.3s, transform 0.1s;
    
    @include mobil {
        height: 2.5rem;
        font-size: 1.15rem;
    }
    @include tablet {
        height: 3rem;
        font-size: 1.3rem;
    }

    &.transicio-1 {
        transition: background-color 0.3s linear, width 0.3s, height 0.3s, font-size 0.3s, box-shadow 400ms ease-in;
    }
    &.transicio-2 {
        transition: background-color 0.3s linear, width 0.3s, height 0.3s, font-size 0.3s, box-shadow 400ms ease-in;
    }
}
.botoDarkMode {
    @include mobil { width: 3.5rem; }
    @include tablet { width: 3rem; } //4rem;
}
.botoAutoMode {
    @include mobil { width: 2.5rem; }
    @include tablet { width: 3rem; }
}
