<section id="matic" class="tema-matic card-themed bg-colored section">
    <div class="titol-top-card section-title d-flex mb-2">
        <a [href]="getLink()" class="rs link-boto-titol gap-3" matRipple>
            Matic
            <img src="assets/_experience/matic/matic.png" alt="Matic" class="title-icon rounded">
            <span class="fletxa">↗</span>
        </a>
    </div>
    <!-- <article class="descripcio mb-4">
        @if (m.ca) {
            Durant la meva experiència laboral a Matic Enginyeria Informàtica, vaig ser responsable de programar el frontend i part del backend d'un sistema CRM dissenyat per a la gestió de clients, manteniments i molls de càrrega de l'empresa System Block. Vaig desenvolupar una web, una aplicació Android i un programa <app-link href="https://learn.microsoft.com/ca-es/windows/uwp/get-started/universal-application-platform-guide">UWP</app-link> per a Windows 10.<br><br>
            A més, vaig dur a terme el manteniment i millora de <app-link href="https://www.ocineurbanxmadrid.es/">diverses pàgines web</app-link> per a <app-link href="https://www.ocine.es/">Ocine</app-link>, on vaig crear noves seccions, pantalles i funcions, utilitzant CSS, Javascript, PHP i Joomla.<br>
            També vaig desenvolupar un sistema de cartelleres per al públic a diversos locals de cinemes a Madrid.<br><br>

            Elaboració de documentació sobre com generar claus de signatura per a les aplicacions Android i UWP, i instruccions per a pujar canvis a les webs d'Ocine i sincronitzar els monitors de les cartelleres. Elaboració de scripts PowerShell per a automatitzar tasques.
        }

        @if (m.es) {
            Durante mi experiencia laboral en Matic Enginyeria Informàtica, fui responsable de programar el frontend y parte del backend de un sistema CRM diseñado para la gestión de clientes, mantenimientos y muelles de carga de la empresa System Block. Desarrollé una web, una aplicación Android y un programa <app-link href="https://learn.microsoft.com/es-es/windows/uwp/get-started/universal-application-platform-guide">UWP</app-link> para Windows 10.<br><br>
            Además, llevé a cabo el mantenimiento y mejora de <app-link href="https://www.ocineurbanxmadrid.es/">varias páginas web</app-link> para <app-link href="https://www.ocine.es/">Ocine</app-link>, en donde creé nuevas secciones, pantallas y funciones, utilizando CSS, Javascript, PHP y Joomla.<br>
            También desarrollé un sistema de carteleras para el público en múltiples locales de cines en Madrid.<br><br>

            Elaboración de documentación sobre cómo generar claves de firma para las aplicaciones Android y UWP, e instrucciones para subir cambios en las webs de Ocine y sincronizar los monitores de las carteleras. Elaboración de scripts PowerShell para automatizar tareas.
        }

        @if (m.en) {
            During my work experience at Matic Enginyeria Informàtica, I was responsible for programming the frontend and part of the backend of a CRM system designed for customer, maintenance, and loading docks management for the company System Block. I developed a web, an Android app and a <app-link href="https://learn.microsoft.com/en-us/windows/uwp/get-started/universal-application-platform-guide">UWP</app-link> Windows 10 program.<br><br>
            In addition, I carried out maintenance and improvement of <app-link href="https://www.ocineurbanxmadrid.es/">several webpages</app-link> for <app-link href="https://www.ocine.es/">Ocine</app-link>, in which I created new sections, screens and functions, using CSS, Javascript, PHP and Joomla.<br>
            I also developed a billboard system for the public in multiple cinemas in Madrid.<br><br>

            Elaboration of documentation on how to generate signature keys for Android and UWP applications, and instructions for uploading changes to Ocine websites and synchronizing billboard monitors. Development of PowerShell scripts to automate tasks.
        }
    </article> -->
    <article class="descripcio mb-4">
        <p>
            @if (m.ca) {
                Durant la meva experiència laboral a Matic Enginyeria Informàtica, vaig ser responsable de programar un CRM complet de 3 aplicacions interconnectades, una app per a gestionar tests de COVID, el manteniment i desenvolupament de pantalles i funcions per a Ocine, i altres desenvolupaments puntuals, com ara uns canvis en una app de Selva Aventura i suport tècnic per a una botiga online:
            }
            @if (m.es) {
                Durante mi experiencia laboral en Matic Enginyeria Informàtica, fui responsable de programar un CRM completo de 3 aplicaciones interconectadas, una app para gestionar tests de COVID, el mantenimiento y desarrollo de pantallas y funciones para Ocine, y otros desarrollos puntuales, como algunos cambios en una app de Selva Aventura y soporte técnico para una tienda online:
            }
            @if (m.en) {
                During my work experience at Matic Enginyeria Informàtica, I was responsible for programming a complete CRM of 3 interconnected applications, an app to manage COVID tests, the maintenance and development of screens and functions for Ocine, and other specific developments, such as some changes in a Selva Aventura app and technical support for an online store:
            }
        </p>

        <!-- SYSTEM BLOCK -->
        <section class="systemblock card paleta-21 text-80 mb-6">
            <h3 class="text-center mt-3 mb-2 text-100">System Block</h3>
            <p class="mx-3 mb-3">
                @if (m.ca) {
                    En aquest projecte vaig ser responsable de programar el frontend i aproximadament el 40% del backend d'un sistema CRM anomenat <app-link id="smartcounting-pdf_ca">Smart Counting</app-link> dissenyat per a la gestió de clients, vendes, manteniments i logística de molls de càrrega per a l'empresa System Block. Vaig programar el frontend complet de les 3 aplicacions i, tot i que el backend no era la meva responsabilitat principal, vaig fer una part significativa del backend, vaig crear i adaptar endpoints importants, i vaig arreglar errors i simplificar codi.<br><br>

                    Aquest CRM consta de 3 aplicacions interconnectades:
                }
                @if (m.es) {
                    En este proyecto fui responsable de programar el frontend y aproximadamente el 40% del backend de un sistema CRM llamado <app-link id="smartcounting-pdf_es">Smart Counting</app-link> diseñado para la gestión de clientes, ventas, mantenimientos y logística de muelles de carga para la empresa System Block. Programé el frontend completo de las 3 aplicaciones y, aunque el backend no era mi responsabilidad principal, hice una parte significativa del backend, creé y adapté endpoints importantes, y arreglé errores y simplifiqué código.<br><br>

                    Este CRM consta de 3 aplicaciones interconectadas:
                }
                @if (m.en) {
                    In this project I was responsible for programming the frontend and approximately 40% of the backend of a CRM system called <app-link id="smartcounting-pdf_en">Smart Counting</app-link> designed for the management of clients, sales, maintenance and loading dock logistics for the company System Block. I programmed the complete frontend of the 3 applications and, although the backend was not my main responsibility, I did a significant part of the backend, created and adapted important endpoints, and fixed errors and simplified code.<br><br>

                    This CRM consists of 3 interconnected applications:
                }
            </p>

            <div class="accordion">
                <div class="card web">
                    <button class="boto-desplegable" (click)="toggleSeccio($event.currentTarget)" matRipple>
                        <div class="d-flex flex-column text-start ps-3">
                            <div class="titol">
                                @if (m.ca) { CRM web }
                                @if (m.es) { CRM web }
                                @if (m.en) { Web CRM }
                            </div>
                            <div class="subtitol">
                                @if (m.ca) { Gestió general de l'empresa }
                                @if (m.es) { Gestión general de la empresa }
                                @if (m.en) { General company management }
                            </div>
                        </div>
                        <i class="fa-solid fa-chevron-down fletxa"></i>
                    </button>
                    <div class="contingut flex-column" style="display:none;">
                        <div class="text">
                            @if (m.ca) {
                                Desenvolupament d'una plataforma completa per a la gestió de clients, comercials, visites, seguiments, vendes i albarans. L'aplicació té un sistema d'autenticació amb diferents nivells de permisos, un dashboard amb estadístiques i gràfics, i funcionalitats específiques per a la gestió de l'empresa.
                                Entre les seves característiques principals hi ha:
                                <ul>
                                    <li>Gestió de clients i comercials, vendes i albarans</li>
                                    <li>Sistema per identificar nous clients potencials i aconseguir noves vendes</li>
                                    <li>Assignació de comercials als clients per a un servei personalitzat</li>
                                    <li>Registre i gestió de molls de càrrega: creació, edició i assignació per zona i client, amb opcions d'afegir fotos i detalls concrets</li>
                                    <li>Organització de visites tècniques, reparacions i manteniments, agenda d'ordres de treball pels operaris</li>
                                    <li>Dashboard amb estadístiques i gràfics de tot el sistema, personalitzats segons cada usuari, i amb vistes generals pels administradors</li>
                                    <li>Sistemes automàtics d'enviament de correus a l'administració i als clients</li>
                                    <li>Maaquetació de factures imprimibles i enviables per email, amb firmes incloses</li>
                                    <li>Exportació a Excel i PDF de les dades completes o parcials, segons filtres i rols</li>
                                </ul>
                            }
                            @if (m.es) {
                                Desarrollo de una plataforma completa para la gestión de clientes, comerciales, visitas, seguimientos, ventas y albaranes. La aplicación tiene un sistema de autenticación con diferentes niveles de permisos, un dashboard con estadísticas y gráficos, y funcionalidades específicas para la gestión de la empresa.
                                Entre sus características principales se encuentran:
                                <ul>
                                    <li>Gestión de clientes y comerciales, ventas y albaranes</li>
                                    <li>Sistema para identificar nuevos clientes potenciales y conseguir nuevas ventas</li>
                                    <li>Asignación de comerciales a los clientes para un servicio personalizado</li>
                                    <li>Registro y gestión de muelles de carga: creación, edición y asignación por zona y cliente, con opciones de añadir fotos y detalles concretos</li>
                                    <li>Organización de visitas técnicas, reparaciones y mantenimientos, agenda de órdenes de trabajo para los operarios</li>
                                    <li>Dashboard con estadísticas y gráficos de todo el sistema, personalizados según cada usuario, y con vistas generales para los administradores</li>
                                    <li>Sistemas automáticos de envío de correos a la administración y a los clientes</li>
                                    <li>Maquetación de facturas imprimibles y enviables por email, con firmas incluidas</li>
                                    <li>Exportación a Excel y PDF de los datos completos o parciales, según filtros y roles</li>
                                </ul>
                            }
                            @if (m.en) {
                                Development of a complete platform for the management of clients, salespeople, visits, follow-ups, sales and delivery notes. The application has an authentication system with different permission levels, a dashboard with statistics and graphs, and specific functionalities for company management.
                                Its main features include:
                                <ul>
                                    <li>Management of clients and salespeople, sales and delivery notes</li>
                                    <li>System to identify new potential clients and achieve new sales</li>
                                    <li>Assignment of salespeople to clients for personalized service</li>
                                    <li>Registration and management of loading docks: creation, editing and assignment by area and client, with options to add photos and specific details</li>
                                    <li>Organization of technical visits, repairs and maintenance, work order agenda for operators</li>
                                    <li>Dashboard with statistics and graphs of the entire system, customized according to each user, and with general views for administrators</li>
                                    <li>Automatic email sending systems to administration and clients</li>
                                    <li>Layout of printable invoices that can be sent by email, with signatures included</li>
                                    <li>Export to Excel and PDF of complete or partial data, according to filters and roles</li>
                                </ul>
                            }
                        </div>
                        <div class="imatge">
                            <img src="assets/_experience/matic/captura-crm-pc-estadistiques.jpg" alt="System Block Web" class="w-100 rounded-3">
                        </div>
                    </div>
                </div>

                <div class="card app">
                    <button class="boto-desplegable" (click)="toggleSeccio($event.currentTarget)" matRipple>
                        <div class="d-flex flex-column text-start ps-3">
                            <div class="titol">
                                @if (m.ca) { App mòbil }
                                @if (m.es) { App móvil }
                                @if (m.en) { Mobile app }
                            </div>
                            <div class="subtitol">
                                @if (m.ca) { Per a les visites tècniques }
                                @if (m.es) { Para las visitas técnicas }
                                @if (m.en) { For technical visits }
                            </div>
                        </div>
                        <i class="fa-solid fa-chevron-down fletxa"></i>
                    </button>
                    <div class="contingut flex-column flex-sm-row" style="display:none;">
                        <div class="text flex-8">
                            @if (m.ca) {
                                Aplicació mòbil per a la gestió de visites tècniques, que permet als tècnics registrar totes les dades del manteniment o reparació dels molls de càrrega. Durant la visita, poden introduir-hi tota la informació de la intervenció, incloent-hi les peces utilitzades i les que necessitaran per a fer la feina a cada moll de càrrega, per fer posteriorment la factura.<br><br>

                                Permet crear albarans, firmar-los i enviar-los per email al client i a l'administrador. També es poden fer fotos durant la visita i adjuntar-les a l'informe. Té agenda per a les visites tècniques i llista de les ordres de treball assignades al tècnic.<br><br>

                                L'app se sincronitza amb la base de dades central i amb la web.<br>
                                Interfície adaptativa per a mòbils i tablets.<br><br>

                                Aquesta app la vaig fer amb Javascript, jQuery, CSS i Cordova, i està compilada per a Android.<br><br>

                                És una web interna que només utilitzen els tècnics de l'empresa, no està publicada a cap botiga d'aplicacions.
                            }
                            @if (m.es) {
                                Aplicación móvil para la gestión de visitas técnicas, que permite a los técnicos registrar todos los datos del mantenimiento o reparación de los muelles de carga. Durante la visita, pueden introducir toda la información de la intervención, incluyendo las piezas utilizadas y las que necesitarán para hacer el trabajo en cada muelle de carga, para hacer posteriormente la factura.<br><br>

                                Permite crear albaranes, firmarlos y enviarlos por email al cliente y a la administración. También se pueden hacer fotos durante la visita y adjuntarlas al informe. Tiene agenda para las visitas técnicas y lista de las órdenes de trabajo asignadas al técnico.<br><br>

                                La app se sincroniza con la base de datos central y con la web.<br>
                                Interfaz adaptativa para móviles y tablets.<br><br>

                                Esta app la hice con Javascript, jQuery, CSS y Cordova, y está compilada para Android.<br><br>

                                Es una web interna que sólo utilizan los técnicos de la empresa, no está publicada en ninguna tienda de aplicaciones.
                            }
                            @if (m.en) { 
                                Mobile application for the management of technical visits, which allows technicians to register all the data of the maintenance or repair of loading docks. During the visit, they can enter all the information of the intervention, including the parts used and those they will need to do the job at each loading dock, to later make the invoice.<br><br>

                                It allows creating delivery notes, signing them and sending them by email to the client and administration. Photos can also be taken during the visit and attached to the report. It has an agenda for technical visits and a list of work orders assigned to the technician.<br><br>

                                The app synchronizes with the central database and with the web.<br>
                                Adaptive interface for mobiles and tablets.<br><br>

                                I made this app with Javascript, jQuery, CSS and Cordova, and it is compiled for Android.<br><br>

                                It is an internal web that is only used by the company's technicians, it is not published in any app store.
                            }
                        </div>
                        <div class="imatge flex-4 mw-75 mw-sm-100 mx-auto">
                            <img src="assets/_experience/matic/systemblock-captura-mobil.jpg" alt="System Block App" class="w-100">
                        </div>
                    </div>
                </div>

                <div class="card app-windows">
                    <button class="boto-desplegable" (click)="toggleSeccio($event.currentTarget)" matRipple>
                        <div class="d-flex flex-column text-start ps-3">
                            <div class="titol">
                                @if (m.ca) { App Windows 10 }
                                @if (m.es) { App Windows 10 }
                                @if (m.en) { Windows 10 app }
                            </div>
                            <div class="subtitol">
                                @if (m.ca) { Per a enviar comunicacions }
                                @if (m.es) { Para enviar comunicaciones }
                                @if (m.en) { To send communications }
                            </div>
                        </div>
                        <i class="fa-solid fa-chevron-down fletxa"></i>
                    </button>
                    <div class="contingut" style="display:none;">
                        <div class="text">
                            @if (m.ca) {
                                Aplicació nativa per a Windows 10 (<app-link id="uwp_ca">UWP</app-link>) per a l'enviament de notificacions als clients des d'administració. Té diferents versions de missatges predefinits per a diferents situacions, i permet enviar comunicacions múltiples a diversos clients alhora. Els missatges s'envien per email i per WhatsApp. També té registre de missatges enviats, i permet fer seguiment de les comunicacions amb els clients.<br>
                                Es connecta amb la base de dades central i amb la web i l'app.
                            }
                            @if (m.es) {
                                Aplicación nativa para Windows 10 (<app-link id="uwp_es">UWP</app-link>) para el envío de notificaciones a los clientes desde administración. Tiene diferentes versiones de mensajes predefinidos para diferentes situaciones, y permite enviar comunicaciones múltiples a varios clientes a la vez. Los mensajes se envían por email y por WhatsApp. También tiene registro de mensajes enviados, y permite hacer seguimiento de las comunicaciones con los clientes.<br>
                                Se conecta con la base de datos central y con la web y la app.
                            }
                            @if (m.en) { 
                                Native application for Windows 10 (<app-link id="uwp_en">UWP</app-link>) for sending notifications to clients from administration. It has different versions of predefined messages for different situations, and allows sending multiple communications to several clients at once. Messages are sent by email and WhatsApp. It also has a record of sent messages, and allows tracking communications with clients.<br>
                                It connects to the central database and with the web and the app.
                            }
                        </div>
                    </div>
                </div>

            </div>
            
        </section>

        <!-- APPCESSS TEST --> <!-- (17 de maig al 4 de juny del 2021) -->
        <section class="appcess card paleta-193 text-80 mb-6">
            <h3 class="text-center mb-3 text-100">Appcess Test</h3>
            @if (m.ca) {
                Desenvolupament d'una aplicació per a Android i iPhone per al control d'accés a esdeveniments durant la pandèmia. L'aplicació permet als usuaris fer-se un test de COVID en centres autoritzats, i obtenir un QR per a accedir a l'esdeveniment.<br><br>
                
                Flux de funcionament:
                <ol>
                    <li>L'usuari es registra a l'app.</li>
                    <li>Es fa un test de COVID en un centre autoritzat pel promotor de l'esdeveniment.</li>
                    <li>L'usuari pot consultar el seu QR i l'estat del test en qualsevol moment (pendent, negatiu o positiu). Quan surt el resultat, l'usuari rep una notificació push al mòbil i el resultat del test es mostra a l'app.</li>
                    <li>Si el resultat és negatiu (no té COVID), l'aplicació mostra una targeta verda i l'usuari pot ensenyar el QR a l'entrada per accedir a l'esdeveniment.</li>
                </ol>
                
                L'aplicació permet gestionar tant l'accés propi com el dels possibles menors a càrrec.<br>
                La UI és simple i intuïtiva: es pot navegar fàcilment entre els diferents esdeveniments (swipe vertical) i, dins de cada esdeveniment, entre els QRs de les persones a càrrec (swipe horitzontal).<br>
                Inclou autenticació biomètrica (empremta digital o reconeixement facial) per a més seguretat.<br>
                L'aplicació està dissenyada per a funcionar sense connexió, ja que s'utilitzaria en llocs on hi hauria una gran quantitat de gent.<br><br>

                Vaig desenvolupar tot el frontend de l'aplicació en solitari en 3 setmanes de treball intensiu, incloent totes les proves en condicions reals.<br>
                Posteriorment, aquesta aplicació es va reutilitzar per crear 3 aplicacions adaptades a diferents esdeveniments i empreses.<br>
            }
            @if (m.es) {
                Desarrollo de una aplicación para Android y iPhone para el control de acceso a eventos durante la pandemia. La aplicación permite a los usuarios hacerse un test de COVID en centros autorizados, y obtener un QR para acceder al evento.<br><br>
                
                Flujo de funcionamiento:
                <ol>
                    <li>El usuario se registra en la app.</li>
                    <li>Se hace un test de COVID en un centro autorizado por el promotor del evento.</li>
                    <li>El usuario puede consultar su QR y el estado del test en cualquier momento (pendiente, negativo o positivo). Cuando sale el resultado, el usuario recibe una notificación push en el móvil y el resultado del test se muestra en la app.</li>
                    <li>Si el resultado es negativo (no tiene COVID), la aplicación muestra una tarjeta verde y el usuario puede enseñar el QR en la entrada para acceder al evento.</li>
                </ol>
                
                La aplicación permite gestionar tanto el acceso propio como el de posibles menores a cargo.<br>
                La UI es simple e intuitiva: se puede navegar fácilmente entre los diferentes eventos (swipe vertical) y, dentro de cada evento, entre los QRs de las personas a cargo (swipe horizontal).<br>
                Incluye autenticación biométrica (huella digital o reconocimiento facial) para mayor seguridad.<br>
                La aplicación está diseñada para funcionar sin conexión, ya que se utilizaría en lugares donde habría una gran cantidad de gente.<br><br>

                Desarrollé todo el frontend de la aplicación en solitario en 3 semanas de trabajo intensivo, incluyendo todas las pruebas en condiciones reales.<br>
                Posteriormente, esta aplicación se reutilizó para crear 3 aplicaciones adaptadas a diferentes eventos y empresas.<br>
            }
            @if (m.en) {
                Development of an application for Android and iPhone for access control to events during the pandemic. The application allows users to take a COVID test in authorized centers, and obtain a QR to access the event.<br><br>
                
                Operating flow:
                <ol>
                    <li>The user registers in the app.</li>
                    <li>A COVID test is taken in a center authorized by the event promoter.</li>
                    <li>The user can check their QR and the status of the test at any time (pending, negative or positive). When the result comes out, the user receives a push notification on their mobile and the test result is displayed in the app.</li>
                    <li>If the result is negative (does not have COVID), the application shows a green card and the user can show the QR at the entrance to access the event.</li>
                </ol>
                
                The application allows managing both one's own access and that of possible minors in charge.<br>
                The UI is simple and intuitive: you can easily navigate between different events (vertical swipe) and, within each event, between the QRs of the people in charge (horizontal swipe).<br>
                It includes biometric authentication (fingerprint or facial recognition) for added security.<br>
                The application is designed to work offline, as it would be used in places where there would be a large amount of people.<br><br>

                I developed the entire frontend of the application alone in 3 weeks of intensive work, including all tests in real conditions.<br>
                Subsequently, this application was reused to create 3 applications adapted to different events and companies.<br>
            }
        </section>

        <h4 class="mb-3">
            @if (m.ca) { Altres projectes }
            @if (m.es) { Otros proyectos }
            @if (m.en) { Other projects }
        </h4>

        @if (m.ca) {
            <h5>Ocine</h5>
            Vaig dur a terme el manteniment i millora de <app-link id="ocine-madrid">diverses pàgines web</app-link> per a <app-link id="ocine_ca">Ocine</app-link>, on vaig crear noves seccions, pantalles i funcions, utilitzant CSS, Javascript, PHP i Joomla.<br><br>

            <h5>Selva Aventura</h5>
            Vaig treballar en una app per al parc de tirolines Selva de l'Aventura. Vaig fer algunes millores en accessibilitat i facilitat d'ús, facilitació d'ompliment de formularis i correcció d'errors de codi i visuals en diferents mides de pantalles.<br><br>

            <h5>Inquiets</h5>
            Suport tècnic per a la web comercial d'Inquiets, una botiga de roba i productes infantils a Figueres. Gestió i desenvolupament de canvis i millores a la web. Suport tècnic remot per a clients, amb solució d'errors de la base de dades i de la web.<br><br>
        }
        @if (m.es) {
            <h5>Ocine</h5>
            Llevé a cabo el mantenimiento y mejora de <app-link id="ocine-madrid">varias páginas web</app-link> para <app-link id="ocine_es">Ocine</app-link>, en donde creé nuevas secciones, pantallas y funciones, utilizando CSS, Javascript, PHP y Joomla.<br><br>

            <h5>Selva Aventura</h5>
            Trabajé en una app para el parque de tirolinas Selva de l'Aventura. Hice algunas mejoras en accesibilidad y facilidad de uso, facilitación de rellenado de formularios y corrección de errores de código y visuales en diferentes tamaños de pantallas.<br><br>

            <h5>Inquiets</h5>
            Soporte técnico para la web comercial de Inquiets, una tienda de ropa y productos infantiles en Figueres. Gestión y desarrollo de cambios y mejoras en la web. Soporte técnico remoto para clientes, con solución de errores de la base de datos y de la web.<br><br>
        }
        @if (m.en) {
            <h5>Ocine</h5>
            I carried out maintenance and improvement of <app-link id="ocine-madrid">several webpages</app-link> for <app-link id="ocine_en">Ocine</app-link>, in which I created new sections, screens and functions, using CSS, Javascript, PHP and Joomla.<br><br>

            <h5>Selva Aventura</h5>
            I worked on an app for the Selva de l'Aventura zip line park. I made some improvements in accessibility and ease of use, facilitation of filling out forms and correction of code and visual errors in different screen sizes.<br><br>

            <h5>Inquiets</h5>
            Technical support for the commercial website of Inquiets, a clothing and children's products store in Figueres. Management and development of changes and improvements to the web. Remote technical support for clients, with solution of database and web errors.<br><br>
        }


        @if (m.ca) {
            <h4>Assoliments</h4>
            <ul>
                <li><span class="text-daurat">Líder de projecte</span> en el desenvolupament de 4 projectes grans</li>
                <li>Programació d'un CRM complet de 3 aplicacions interconnectades: web, app Android i programa <app-link id="uwp_ca">UWP</app-link></li>
                <li>Programació d'una app adaptable i reutilitzable per a gestionar concerts amb control de tests de COVID</li>
                <li>Projectes construïts des de zero amb Javascript, JQuery, CSS, Cordova i llibreries</li>
                <li>Desenvolupament d'UIs simples, intuïtives i pulides utilitzant CSS i llibreries</li>
                <li>Desenvolupament de noves funcions per a <app-link id="ocine_ca">Ocine</app-link></li>
                <li>Modificacions menors d'apps i webs</li>
                <li>Desenvolupament d'un sistema de cartelleres per al públic per a ser utilitzades en múltiples locals de cinemes a Madrid</li>
            </ul>

            <p>
                <!-- Elaboració de documentació sobre com generar claus de signatura per a les aplicacions Android i UWP, i instruccions per a pujar canvis a les webs d'Ocine i sincronitzar els monitors de les cartelleres. Elaboració de scripts PowerShell per a automatitzar tasques. -->
            </p>
        }

        @if (m.es) {
            <h4>Logros</h4>
            <ul>
                <li><span class="text-daurat">Líder de proyecto</span> en el desarrollo de 4 proyectos grandes</li>
                <li>Programación de un CRM completo de 3 aplicaciones interconectadas: web, app Android y programa <app-link id="uwp_es">UWP</app-link></li>
                <li>Programación de una app adaptable y reutilizable para gestionar conciertos con control de tests de COVID</li>
                <li>Proyectos construidos desde cero con Javascript, JQuery, CSS, Cordova y librerías</li>
                <li>Desarrollo de UIs simples, intuitivas y pulidas utilizando CSS y librerías</li>
                <li>Desarrollo de nuevas funciones para <app-link id="ocine_es">Ocine</app-link></li>
                <li>Modificaciones menores de apps i webs</li>
                <li>Desarrollo de un sistema de carteleras para el público para ser usadas en múltiples locales de cines en Madrid</li>
            </ul>

            <p>
                Llevé a cabo el mantenimiento y mejora de <app-link id="ocine-madrid">varias páginas web</app-link> para <app-link id="ocine_es">Ocine</app-link>, en donde creé nuevas secciones, pantallas y funciones, utilizando CSS, Javascript, PHP y Joomla.<br><br>

                Elaboración de documentación sobre cómo generar claves de firma para las aplicaciones Android y UWP, e instrucciones para subir cambios en las webs de Ocine y sincronizar los monitores de las carteleras. Elaboración de scripts PowerShell para automatizar tareas.
            </p>
        }

        @if (m.en) {
            <h4>Achievements</h4>
            <ul>
                <li><span class="text-daurat">Project leader</span> in the development of 4 large projects</li>
                <li>Programming of a complete CRM of 3 interconnected applications: web, Android app and <app-link id="uwp_en">UWP</app-link> program</li>
                <li>Programming of an adaptable and reusable app to manage concerts with COVID test control</li>
                <li>Projects built from scratch with Javascript, JQuery, CSS, Cordova, and some libraries</li>
                <li>Development of simple, intuitive and polished UIs using CSS and libraries</li>
                <li>Development of new functions for <app-link id="ocine_en">Ocine</app-link></li>
                <li>Minor modifications of apps and webs</li>
                <li>Development of a billboard system for the public to be used in multiple locations of cinemas in Madrid</li>
            </ul>

            <p>
                I carried out maintenance and improvement of <app-link id="ocine-madrid">several webpages</app-link> for <app-link id="ocine_en">Ocine</app-link>, in which I created new sections, screens and functions, using CSS, Javascript, PHP and Joomla.<br><br>

                Elaboration of documentation on how to generate signature keys for Android and UWP applications, and instructions for uploading changes to Ocine websites and synchronizing billboard monitors. Development of PowerShell scripts to automate tasks.
            </p>
        }

        @if (m.ca) { <h4>Demo interactiva</h4> }
        @if (m.es) { <h4>Demo interactiva</h4> }
        @if (m.en) { <h4>Interactive demo</h4> }

        <div class="text-80 font-italic mt-3 mb-2">
            @if (m.ca) { Interactua amb els botons! }
            @if (m.es) { ¡Interactúa con los botones! }
            @if (m.en) { Interact with the buttons! }
        </div>

        <section class="seccio-boto-systemblock shadow-2-l">
            <a [href]="getLinkSmartCountingPDF()" class="rs btn btn-negre">
                PDF SmartCounting
            </a>
            <a [href]="getLink2()" class="rs btn btn-blanc">
                @if (m.ca) { App mòbil }
                @if (m.es) { App móvil }
                @if (m.en) { Mobile app }
            </a>
        </section>

        
    </article>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.JAVASCRIPT" />
        <app-skill [skill]="Skills.JQUERY" />
        <app-skill [skill]="Skills.CSS" />
        <app-skill [skill]="Skills.HTML5" />
        <app-skill [skill]="Skills.BOOTSTRAP" />
        <app-skill [skill]="Skills.MATERIALIZE" />
        <app-skill [skill]="Skills.UWP" />
        <app-skill [skill]="Skills.CORDOVA" />
        <app-skill [skill]="Skills.SEQUELIZE" />
        <app-skill [skill]="Skills.PHP" />
        <app-skill [skill]="Skills.APACHE" />
        <app-skill [skill]="Skills.MYSQL" />
        <app-skill [skill]="Skills.PHPMYADMIN" />
        <app-skill [skill]="Skills.FILEZILLA" />
        <app-skill [skill]="Skills.POWERSHELL" />
        <app-skill [skill]="Skills.WINDOWSSERVER" />
        <app-skill [skill]="Skills.JOOMLA" />
        <app-skill [skill]="Skills.AGILE" />
        <app-skill [skill]="Skills.MVC" />
        <app-skill [skill]="Skills.RESPONSIVEDESIGN" />
        <app-skill [skill]="Skills.ANYDESK" />
        <app-skill [skill]="Skills.REMOTEDESKTOP" />
    </div>
</section>
