@import "src/styles.scss";

.group {
    --color-fosc-rgb-vals-test: rgb(36, 27, 0);
    --color-clar-rgb-vals-test: rgb(255, 244, 209);
    --color-fosc-rgb-vals: 36, 27, 0;
    --color-clar-rgb-vals: 255, 244, 209;
    --color-l-0: hsl(46, 100%, 7%);
    --color-l-1: hsl(46, 100%, 14%);
    --color-l-2: hsl(46, 100%, 19%);
    --color-l-3: hsl(46, 100%, 28%);
    --color-l-4: hsl(46, 100%, 35%);
    --color-l-5: hsl(46, 100%, 44%);
    --color-l-6: hsl(46, 100%, 58%);
    --color-l-7: hsl(46, 100%, 65%);
    --color-l-8: hsl(46, 100%, 72%);
    --color-l-9: hsl(46, 100%, 91%);
}

// Colors específics cards //
             .group { background-color: hsla(46, 100%, 21%, 0.5); --link: var(--color-l-6); }
.light :host .group { background-color: hsla(46, 100%, 72%, 0.5); --link: var(--color-l-3); }
