<div id="nexxia" class="tema-nexxia group mb-6" appMostrarAmbAnimacio>
    <div class="group-title mb-2">
        <a [href]="getLink()" class="no-style link-boto-titol gap-3">
            Nexxia Soft
            <img src="assets/icons/nexxia.jpg" alt="Nexxia" class="title-icon rounded-2">
            <span class="fletxa">↗</span>
        </a>
        @if (m.esPantallaPc()) {
            <div class="h6 text-60 px-2 d-xs-none">
                @if (m.ca) { Pràctiques }
                @if (m.es) { Prácticas }
                @if (m.en) { Internship }
            </div>
        }
    </div>
    <p class="text mb-1">
        @if (m.ca) {
            Quan vaig estar de pràctiques en aquesta empresa, vaig desenvolupar una eina de software en Delphi que permetia generar aplicacions Windows amb opcions personalitzades per a la generació de plantilles <a href="https://www.fast-report.com/en/">FastReport</a>. Aquestes plantilles permeten al client generar informes i factures personalitzades per satisfer les seves necessitats.<br><br>
            
            També vaig desenvolupar diverses pantalles web referents al projecte, usant JQuery i Bootstrap.<br><br>

            Vaig fer una feina molt important i l'empresa va quedar tant satisfeta que em va donar una <a href="assets/documents/Carta Recomanacio Nexxia 2017.pdf">carta de recomanació</a>.
        }

        @if (m.es) {
            Cuando estuve de prácticas en esta empresa, desarrollé una herramienta de software en Delphi que permitía generar aplicaciones Windows con opciones personalizadas para la generación de plantillas <a href="https://www.fast-report.com/en/">FastReport</a>. Estas plantillas permiten al cliente generar informes y facturas personalizadas para satisfacer sus necesidades.<br><br>

            También desarrollé varias pantallas web referentes al proyecto, usando JQuery y Bootstrap.<br><br>

            Hice un trabajo muy importante y la empresa quedó tan satisfecha que me dio una <a href="assets/documents/Carta Recomanacio Nexxia 2017.pdf">carta de recomendación</a>.
        }
        
        @if (m.en) {
            When I was doing my internship at this company, I developed a software tool in Delphi that allowed to generate Windows applications with customized options for the generation of <a href="https://www.fast-report.com/en/">FastReport</a> templates. These templates allow the customer to generate customized reports and invoices to meet their needs.<br><br>

            I also developed several web screens related to the project, using JQuery and Bootstrap.<br><br>

            I did a very important job and the company was so satisfied that they gave me a <a href="assets/documents/Carta Recomanacio Nexxia 2017.pdf">letter of recommendation</a>.
        }
    </p>
    
    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill n="JavaScript"/>
        <app-skill n="JQuery"/>
        <app-skill n="CSS"/>
        <app-skill n="HTML"/>
        <app-skill n="Bootstrap"/>
        <app-skill n="Delphi"/>
        <app-skill n="FastReport"/>
        <app-skill n="Responsive Web Design"/>
    </div>
</div>
