@import "src/styles.scss";


.section {
    .section-title {
        a {
            img.title-icon {
                height: 2.4rem;
                transition: transform 0.3s;
            }
            &:hover {
                img.title-icon {
                    transform: scale(1.4);
                }
            }
        }
    }

    .boto-i-gif {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        @include tablet {
            flex-direction: row;
        }

        .div-gif-i-text {
    
            img {
                // box-shadow: 0px 0px 10px 0px white;
                // box-shadow: 0 0 6px 5px white;
                border-radius: 11px;
            }
            .text-gif {
                font-size: 0.9rem;
            }
        }
    }
}
