@import "src/styles.scss";

.section {
    a.link-img {
        img.title-icon {
            transition: transform 0.3s;
        }
        &:hover {
            img.title-icon {
                transform: scale(1.4);
            }
        }
    }

    .boto-i-gif {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        @include tablet {
            flex-direction: column;
        }

        .div-gif-i-text {
    
            img {
                // box-shadow: 0px 0px 10px 0px white;
                // box-shadow: 0 0 6px 5px white;
                border-radius: 11px;
            }
            .text-gif {
                font-size: 0.9rem;
            }
        }
    }
}
