@import "src/styles.scss";



.section {
    a.link-img {
        img.title-icon {
            transition: transform 0.3s;
        }
    }

    .boto-i-gif {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        .div-gif-i-text {
    
            img {
                // box-shadow: 0px 0px 10px 0px white;
                // box-shadow: 0 0 6px 5px white;
                border-radius: 11px;
            }
            .text-gif {
                font-size: 0.9rem;
            }
        }
    }
}





// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .section .boto-i-gif {
        flex-direction: column;
    }
}
// Pantalla Tablet //
@media only screen and (min-width: 576px) {
}
// Pantalla PC //
@media only screen and (min-width: 768px) { }
// Pantalla Molt Gran //
@media only screen and (min-width: 992px) { }


// PC //
@media (pointer: fine) {
    a.link-img:hover {
        img.title-icon {
            transform: scale(1.4);
        }
    }
}
// Mòbil //
@media (pointer: coarse) { }
