@import "src/styles.scss";



.section {
    
    a.link-img {
        img.title-icon {
            transition: transform 0.3s;
        }
        &:hover {
            img.title-icon {
                transform: scale(1.4);
            }
        }
    }

    ngx-masonry.repos {
        color: var(--text);

        .repo {
            text-align: center;
            
            border-radius: 2rem;

            transform-origin: center;
            transition: transform 0.3s;
            
            img {
                height: 4rem;
                transition: transform 0.3s, filter 0.3s;
            }
            .title {
                font-size: 1.6rem;
                text-transform: capitalize;
            }
            .text {

            }
            &:hover {
                transform: scale(1.06);
                img {
                    transform: scale(1.2);
                    filter: drop-shadow(0 0 6px) !important;
                }
            }
        }
    }
}


// Pantalla Mòbil // @media only screen and (max-width: 575px) { }
// Pantalla Tablet // @media only screen and (min-width: 576px) { }
// Pantalla PC // @media only screen and (min-width: 768px) { }
// Pantalla Molt Gran // @media only screen and (min-width: 992px) { }
