@import "src/styles.scss";


.section {
    .section-title {
        a {
            img.title-icon {
                height: 2.4rem;
                transition: transform 0.3s;
            }
            &:hover {
                img.title-icon {
                    transform: scale(1.4);
                }
            }
        }
    }

    .repos {
        color: var(--text);

        .repo {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            padding: 1rem;
            border-radius: 2rem;

            background-color: hsla(var(--hue), 100%, 75%, 0.35);
            @include light {
                background-color: hsla(var(--hue), 100%, 75%, 0.5);
            }

            text-align: center;

            box-shadow: none;
            
            .header {
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                    height: 4rem;
                    align-self: flex-start;
                }
                .titol {
                    font-size: 1.6rem;
                    text-transform: capitalize;
                }
            }
            .text { }
            
            .logo, .titol, .text {
                position: relative;
                transition: color 0.6s;
            }

            .boto {
                padding: 0.5rem 1rem;

                box-shadow: 0 0 0 0 var(--accent-color);
                transition: box-shadow 0.6s;
            }

            &:hover {
                
                .titol, .text {
                    color: var(--fons);
                }

                .boto {
                    box-shadow: 0 0 30px 33rem var(--accent-color);
                    @include gran {
                        box-shadow: 0 0 30px 28rem var(--accent-color);
                    }
                }
            }
        }
    }
    mat-spinner {
        margin: 2rem auto;

        ::ng-deep circle {
            stroke: light-dark(var(--accent-color), white);
        }
    }
}
[ngxmasonryitem] {
    transition: top 0.3s, left 0.3s;
}
