<section id="github" class="tema-github card-themed bg-colored section">
    <div class="titol-top-card section-title mb-2 d-flex align-items-center justify-content-between gap-2">
        <div class="d-flex align-items-center gap-2_5">
            @if (m.ca) { Projectes GitHub }
            @if (m.es) { Proyectos GitHub }
            @if (m.en) { GitHub projects }
            <a href="https://github.com/jordimas96?tab=repositories" class="rs">
                <img src="assets/_projects/github/github.png" alt="GitHub" class="title-icon inv-dark">
            </a>
        </div>

        <!-- <div class="missatge-temps-real-github text-90">
            @if (m.ca) { * Repositoris carregats a temps real des de GitHub }
            @if (m.es) { * Repositorios cargados a tiempo real desde GitHub }
            @if (m.en) { * Repositories loaded in real time from GitHub }
        </div> -->
    </div>
    <article class="descripcio mb-4">
        @if (m.ca) { Llistat dels meus repositoris més rellevants a GitHub, on tinc els meus experiments i eines, i projectes vells dels meus estudis. Les imatges, títols, text dels readmes en 3 idiomes, url i altra informació es carrega dinàmicament mitjançant una petició a l'API de GitHub. }
        @if (m.es) { Listado de mis repositorios más relevantes en GitHub, donde tengo mis experimentos y herramientas, y proyectos viejos de mis estudios. Las imágenes, títulos, texto de los readmes en 3 idiomas, url y demás información se carga dinámicamente mediante una petición a la API de GitHub. }
        @if (m.en) { List of my most relevant repositories on GitHub, where I have my experiments and tools, and old projects from my studies. Images, titles, readmes text in 3 languages, url and other information are loaded dynamically through a request to the GitHub API. }


        <ngx-masonry #masonry class="repos row g-3 mt-3" [ordered]="true" [class.d-none]="!repos">
            @for(repo of repos; track repo.name) {
                <div ngxMasonryItem class="col-12 col-md-6" [attr.aria-order]="repo.order" style="--hue: {{repo.cardHue}}deg">

                    <div class="repo card-themed paleta-{{repo.cardHue}} {{repo.name}}" appMostrarAmbAnimacio matRipple>
                        <div class="header">
                            @if (repo.iconUrl) {
                                <img class="logo" [src]="repo.iconUrl" [alt]="repo.title" (error)="onImgLogoError(repo)">
                            }
                            <div class="titol flex-fill">{{repo.title}}</div>
                        </div>
                        @if (repo.text[m.idioma]) { <div class="text">{{repo.text[m.idioma]}}</div> }
                        <div class="text-end">
                            <a class="boto stretched-link" [href]="repo.url">
                                @if(m.ca) { Visitar web }
                                @if(m.es) { Visitar web }
                                @if(m.en) { Visit web }
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            }
        </ngx-masonry>

        @if (!repos) {
            <!-- <div class="fst-italic m-3">No projects found</div> -->
            <mat-spinner [diameter]="60" />
        }
    </article>

    <div class="text-center d-flex justify-content-center gap-4 mt-5">
        <app-story [urlId]="'17989504298801722'" [titol]="'Web projects'" img="assets/about-me/stories/github.jpg" appMostrarAmbAnimacio />
        <app-story [urlId]="'18499569574034605'" [titol]="'Rounded Corners'" img="assets/about-me/stories/rounded-corners-directive.ico" appMostrarAmbAnimacio />
    </div>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.ANGULAR" />
        <app-skill [skill]="Skills.CSS" />
        <app-skill [skill]="Skills.JAVASCRIPT" />
        <app-skill [skill]="Skills.JQUERY" />
        <app-skill [skill]="Skills.NGRX" />
        <app-skill [skill]="Skills.PHP" />
    </div>
</section>
