<section id="github" class="tema-github card section" appMostrarAmbAnimacio>
    <div class="section-title d-flex align-items-center mb-2 gap-2_5">
        @if (m.ca) { Projectes GitHub }
        @if (m.es) { Proyectos GitHub }
        @if (m.en) { GitHub projects }
        <a href="https://github.com/jordimas96?tab=repositories" class="rs link-img d-flex"><img src="assets/icons/projects/github.png" alt="GitHub" class="title-icon inv-dark"></a>
    </div>
    <div class="text mb-4">
        @if (m.ca) { Tinc alguns projectes de GitHub sobre diversos temes: }
        @if (m.es) { Tengo algunos proyectos de GitHub sobre varios temas: }
        @if (m.en) { I have some GitHub projects on many topics: }
        <br><br>

        <ngx-masonry class="repos row m-n2" [ordered]="true">
            @for(repo of repos; track repos["name"]) {

                <div ngxMasonryItem class="col-12 col-md-6 p-2" [attr.aria-order]="repo.order">
                    
                    <a [href]="repo.url" class="rs">
                        <div class="repo p-4 {{repo.name}}" [style.backgroundColor]="getColorRepoCards(repo.cardHue)" appMostrarAmbAnimacio matRipple>
                            <img [src]="repo.iconUrl" [alt]="repo.title" [style.color]="getColorImgShadow(repo.cardHue)" class="mb-2 shadow-filter-1" (error)="repo.iconUrl=repo.iconUrlBackup; repo.iconUrlBackup=null">
                            <div class="title">{{repo.title}}</div>
                            @if (repo.text[m.idioma]) { <div class="text mt-1">{{repo.text[m.idioma]}}</div> }
                        </div>
                    </a>

                </div>

            } @empty { <i class="ms-4">No projects found</i> }
        </ngx-masonry>
    </div>
    
    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.ANGULAR"/>
        <app-skill [skill]="Skills.CSS"/>
        <app-skill [skill]="Skills.JAVASCRIPT"/>
        <app-skill [skill]="Skills.JQUERY"/>
        <app-skill [skill]="Skills.NGRX"/>
        <app-skill [skill]="Skills.PHP"/>
    </div>
</section>
