@import "src/styles.scss";


.section {
    .section-title {
        a {
            img.title-icon {
                height: 2.4rem;
                transition: transform 0.3s;
            }
            &:hover {
                img.title-icon {
                    transform: scale(1.4);
                }
            }
        }
    }

    ngx-masonry.repos {
        color: var(--text);

        .repo {
            text-align: center;
            
            border-radius: 2rem;

            transform-origin: center;
            transition: transform 0.3s;

            &:hover {
                .title {
                    transform: scale(1.1);
                }
                img {
                    transform: scale(1.2);
                    filter: drop-shadow(0 0 6px) !important;
                }
            }
            
            img {
                height: 4rem;
                transition: transform 0.3s, filter 0.3s;
            }
            .title {
                font-size: 1.6rem;
                text-transform: capitalize;
                transition: transform 0.3s;
            }
            .text { }
        }
    }
}
