@import "src/styles.scss";

.stories {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    width: max-content;
    max-width: 100%;
    margin: auto;
    padding: 0.5rem;

    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;

}
