
<div #stories class="stories" (mousemove)="scrollOnHover($event)">

    <app-story [urlId]="'17860028271350863'" [titol]="'Web'" [img]="prefixUrl + 'web.jpg'" />
    <app-story [urlId]="'18093877849582297'" [titol]="'iPhone'" [img]="prefixUrl + 'iphone.png'" />
    <app-story [urlId]="'18067698388795695'" [titol]="'AOSP'" [img]="prefixUrl + 'aosp.png'" />
    <app-story [urlId]="'17914703540996809'" [titol]="'DIY'" [img]="prefixUrl + 'diy.png'" />
    <app-story [urlId]="'17860279146405756'" [titol]="'Design'" [img]="prefixUrl + 'design.png'" />

    <app-story [urlId]="'17891896137250980'" [titol]="'Art'" [img]="prefixUrl + 'art.png'" />
    <app-story [urlId]="'18050195072522645'" [titol]="'Code'" [img]="prefixUrl + 'codi.png'" />
    <app-story [urlId]="'18003839957777674'" [titol]="'Tasker'" [img]="prefixUrl + 'tasker.png'" />

    <app-story [urlId]="'18078142072743585'" [titol]="'FPS'" [img]="prefixUrl + 'mad-jumpgate.png'" />
    <app-story [urlId]="'17989504298801722'" [titol]="'Web projects'" [img]="prefixUrl + 'github.jpg'" />
    <app-story [urlId]="'18499569574034605'" [titol]="'Rounded Corners'" [img]="prefixUrl + 'rounded-corners-directive.ico'" />
    
    <app-story [urlId]="'18067998383314514'" [titol]="'Breaking Ball'" [img]="prefixUrl + 'breaking-ball.png'" />
    <app-story [urlId]="'18044150213577474'" [titol]="'Wallpaper Blurrer'" [img]="prefixUrl + 'wallpaper-blurrer.png'" />
    <app-story [urlId]="'18503334469057954'" [titol]="'SUS Tracker'" [img]="prefixUrl + 'sus-tracker.png'" />
    <app-story [urlId]="'17877632784216731'" [titol]="'Text Mimicker'" [img]="prefixUrl + 'text-mimicker.png'" />

    <app-story [urlId]="'18035465501634144'" [titol]="'Google Maps'" [img]="prefixUrl + 'google-maps.jpeg'" />
    <app-story [urlId]="'17955690083947417'" [titol]="'Phones'" [img]="prefixUrl + 'mobils.jpg'" />
    <app-story [urlId]="'17980702019827824'" [titol]="'Other'" [img]="prefixUrl + 'other.png'" />

</div>
