.gap-0   { gap: 0rem !important; }
.gap-0_5 { gap: 0.125rem !important; }
.gap-1   { gap: 0.25rem !important; }
.gap-1_5 { gap: 0.375rem !important; }
.gap-2   { gap: 0.5rem !important; }
.gap-2_5 { gap: 0.75rem !important; }
.gap-3   { gap: 1rem !important; }
.gap-3_5 { gap: 1.25rem !important; }
.gap-4   { gap: 1.5rem !important; }
.gap-4_5 { gap: 2.25rem !important; }
.gap-5   { gap: 3rem !important; }
.gap-5_5 { gap: 3.5rem !important; }
.gap-6   { gap: 4rem !important; }

.p-6 { padding: 4rem !important; }
.pt-6 { padding-top: 4rem !important; }
.pr-6 { padding-right: 4rem !important; }
.pb-6 { padding-bottom: 4rem !important; }
.pl-6 { padding-left: 4rem !important; }

.m-6 { margin: 4rem !important; }
.mt-6 { margin-top: 4rem !important; }
.mr-6 { margin-right: 4rem !important; }
.mb-6 { margin-bottom: 4rem !important; }
.ml-6 { margin-left: 4rem !important; }

// Negatius //
.m-n1 { margin: -0.25rem !important; }
.m-n2 { margin: -0.5rem !important; }
.m-n3 { margin: -1rem !important; }
.m-n4 { margin: -1.5rem !important; }
.m-n5 { margin: -3rem !important; }
.m-n6 { margin: -4rem !important; }

.mt-n1 { margin-top: -0.25rem !important; }
.mt-n2 { margin-top: -0.5rem !important; }
.mt-n3 { margin-top: -1rem !important; }
.mt-n4 { margin-top: -1.5rem !important; }
.mt-n5 { margin-top: -3rem !important; }
.mt-n6 { margin-top: -4rem !important; }

.mr-n1 { margin-right: -0.25rem !important; }
.mr-n2 { margin-right: -0.5rem !important; }
.mr-n3 { margin-right: -1rem !important; }
.mr-n4 { margin-right: -1.5rem !important; }
.mr-n5 { margin-right: -3rem !important; }
.mr-n6 { margin-right: -4rem !important; }

.mb-n1 { margin-bottom: -0.25rem !important; }
.mb-n2 { margin-bottom: -0.5rem !important; }
.mb-n3 { margin-bottom: -1rem !important; }
.mb-n4 { margin-bottom: -1.5rem !important; }
.mb-n5 { margin-bottom: -3rem !important; }
.mb-n6 { margin-bottom: -4rem !important; }

.ml-n1 { margin-left: -0.25rem !important; }
.ml-n2 { margin-left: -0.5rem !important; }
.ml-n3 { margin-left: -1rem !important; }
.ml-n4 { margin-left: -1.5rem !important; }
.ml-n5 { margin-left: -3rem !important; }
.ml-n6 { margin-left: -4rem !important; }



// * Necessari perquè de moment no faig servir l'última versió (a saber per què, hi havia algo que fallava...) //
.flex-1  { flex: 1; }
.flex-2  { flex: 2; }
.flex-3  { flex: 3; }
.flex-4  { flex: 4; }
.flex-5  { flex: 5; }
.flex-6  { flex: 6; }
.flex-7  { flex: 7; }
.flex-8  { flex: 8; }
.flex-9  { flex: 9; }
.flex-10 { flex: 10; }
.flex-11 { flex: 11; }
.flex-12 { flex: 12; }
