<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,100.7,200..1000;1,6..12,100.7,200..1000&display=swap" rel="stylesheet">

<section id="indra" class="tema-dintel card-themed bg-colored section">
    <div class="titol-top-card section-title d-flex mb-2">
        <a [href]="getLink()" class="rs link-boto-titol gap-3" matRipple>
            Indra
            <img [src]="'assets/_experience/indra/'+(ts.modeFosc?'indra-d.png':'indra-l.png')" alt="Indra" class="title-icon rounded">
            <span class="fletxa">↗</span>
        </a>
    </div>
    <!-- <article class="descripcio mb-4">
        @if (m.ca) {
            En aquesta empresa vaig treballar per a Indra, una consultora que gestiona diversos projectes per al Gobierno de España.<br>
            Principal desenvolupador frontend d'un backoffice per al <app-link href="https://www.exteriores.gob.es/ca">Ministerio de Asuntos Exteriores y Cooperación</app-link>, que permetrà proporcionar suport als ciutadans espanyols que es troben a l'estranger durant situacions de crisi, com ara atemptats o catàstrofes naturals. L'aplicació permetrà gestionar grups de ciutadans per a organitzar trasllats, salconduits, repatriacions, renovació de documents, comunicacions i atenció a necessitats especials, entre d'altres serveis.<br><br>

            Vam iniciar el projecte creant una llibreria de components en Angular, utilitzant PrimeNG, Angular Material i altres plugins com a base. Aquesta llibreria inclou tant elements comuns en formularis (selectors, radiobuttons, checkboxes, calendaris, mapes interactius) com components habituals en interfícies d'usuari (botons, cards, toasts, menús desplegables, breadcrumbs, etc.).<br><br>

            Tant els components com la web estan desenvolupats seguint uns estils estrictament definits, amb cada aspecte del disseny (colors, formes, espais, fonts, mides, animacions) fortament marcat. L'estructura de la pàgina és semblant a la de les altres webs oficials de l'estat. Els estils estan completament desacoblats i organitzats.<br><br>

            L'aplicació compta amb suport per a diversos idiomes: de moment castellà i anglès, però planegem ampliar-la a català, euskera, gallec, asturià, entre d'altres.<br><br>

            L'aplicació és una Single Page Application d'Angular. Té sistema d'emmagatzematge en caché de les peticions per a garantir-ne el funcionament en zones amb poca cobertura, o amb problemes de connexió, cosa freqüent en situacions d'emergència. A més, compleix tots els estàndards d'accessibilitat de .<app-link href="https://ialabs.ie/what-is-the-difference-between-wcag-a-aa-and-aaa/">nivell AA</app-link><br><br>

            Durant el desenvolupament de l'aplicació, vaig desenvolupar alguns components, improvisats segons les necessitats, tant ben construïts i responsius que em van trucar des de la llibreria per afegir-los a la llibreria oficial, perquè estiguessin disponibles per ser utilitzats en totes les aplicacions del Ministeri.
        }

        @if (m.es) {
            En esta empresa trabajé para Indra, una consultora que gestiona varios proyectos para el Gobierno de España.<br>
            Principal desarrollador frontend de un backoffice para el <app-link href="https://www.exteriores.gob.es/">Ministerio de Asuntos Exteriores y Cooperación</app-link>, que permitirá proporcionar soporte a los ciudadanos españoles que se encuentran en el extranjero durante situaciones de crisis, como atentados o catástrofes naturales. La aplicación permitirá gestionar grupos de ciudadanos para organizar traslados, salvoconductos, repatriaciones, renovación de documentos, comunicaciones y atención a necesidades especiales, entre otros servicios.<br><br>

            Iniciamos el proyecto creando una librería de componentes en Angular, utilizando PrimeNG, Angular Material y otros plugins como base. Esta librería incluye tanto elementos comunes en formularios (selectores, radiobuttons, checkboxes, calendarios, mapas interactivos) como componentes habituales en interfaces de usuario (botones, cards, toasts, menús desplegables, breadcrumbs, etc.).<br><br>

            Tanto los componentes como la web están desarrollados siguiendo unos estilos estrictamente definidos, con cada aspecto del diseño (colores, formas, espacios, fuentes, tamaños, animaciones) fuertemente marcado. La estructura de la página es similar a la de las otras webs oficiales del estado. Los estilos están completamente desacoplados y organizados.<br><br>

            La aplicación cuenta con soporte para varios idiomas: de momento español e inglés, pero planeamos ampliarla a catalán, euskera, gallego, asturiano, entre otros.<br><br>

            La aplicación es una Single Page Application de Angular. Tiene sistema de almacenamiento en caché de las peticiones para garantizar su funcionamiento en zonas con poca cobertura, o con problemas de conexión, algo frecuente en situaciones de emergencia. Además, cumple con todos los estándares de accesibilidad de <app-link href="https://ialabs.ie/what-is-the-difference-between-wcag-a-aa-and-aaa/">nivel AA</app-link>.<br><br>

            Durante el desarrollo de la aplicación, desarrollé algunos componentes, improvisados según las necesidades, tan bien construidos y responsivos que me llamaron desde la librería para añadirlos a la librería oficial, para que estuvieran disponibles para ser usadas en todas las aplicaciones del Ministerio.
        }

        @if (m.en) {
            In this company I worked for Indra, a consultancy that manages several projects for the Government of Spain.<br>
            Lead frontend developer of a back-office system for the <app-link href="https://www.exteriores.gob.es/en">Ministry of Foreign Affairs and Cooperation</app-link>, which will provide support to Spanish citizens who are abroad during crises situations, such as terrorist attacks or natural disasters. The application will allow managing groups of citizens to organize transfers, safe conduct passes, repatriations, document renewals, communications and attention to special needs, among other services.<br><br>

            We started the project by creating a component library in Angular, using PrimeNG, Angular Material and other plugins as a base. This library includes both common form elements (selectors, radio buttons, checkboxes, calendars, interactive maps) and common user interface components (buttons, cards, toasts, drop-down menus, breadcrumbs, etc.). <br><br>

            Both the components and the website are developed following strictly defined styles, with each aspect of the design (colors, shapes, spaces, fonts, sizes, animations) strongly established. The structure of the page is similar to that of the other official government websites. The styles are completely decoupled and organized. <br><br>

            The application has support for several languages: currently Spanish and English, but we plan to expand to Catalan, Basque, Galician, Asturian, among others. <br><br>

            The application is an Angular Single Page Application. It has a request caching system to ensure its operation in areas with poor coverage, or with connection problems, something common in emergency situations. It also meets all <app-link href="https://ialabs.ie/what-is-the-difference-between-wcag-a-aa-and-aaa/">level AA</app-link> accessibility standards.<br><br>

            During the development of the application, I developed some components, improvised based on the needs of the project, so well-built and responsive that the library team contacted me to add them to the official library, so that they would be available for use in all applications of the Ministry.
        }
    </article> -->
    <article class="descripcio mb-4">
        @if (m.ca) {
            <h5>Principal desenvolupador d'una web per al Ministeri d'Exteriors</h5>
            <p>
                En aquesta empresa vaig treballar per a <app-link id="indra_ca">Indra</app-link>, una consultora que gestiona diversos projectes per al Gobierno de España, contractat per <app-link id="alvea">Alvea</app-link>.<br>
                Principal desenvolupador frontend d'un backoffice per al <app-link id="ministerio-exteriores_ca">Ministerio de Asuntos Exteriores y Cooperación</app-link>, que permetrà als consolats i ambaixades proporcionar suport als ciutadans espanyols que es troben a l'estranger durant situacions de crisi, com ara atemptats terroristes o catàstrofes naturals. L'aplicació permetrà gestionar grups de ciutadans per a organitzar trasllats, salconduits, repatriacions, renovació de documents, comunicacions i atenció a necessitats especials, entre d'altres serveis.<br><br>

                Vam iniciar el projecte creant una <app-link [href]="getLinkDintelComponents()">llibreria de components</app-link> en Angular, utilitzant PrimeNG, Angular Material i altres plugins com a base. Aquesta llibreria inclou tant elements comuns en formularis (selectors, radiobuttons, checkboxes, calendaris, mapes interactius) com components habituals en interfícies d'usuari (botons, cards, toasts, menús desplegables, breadcrumbs, etc.).<br><br>

                Tant els components com la web estan desenvolupats seguint uns estils estrictament definits, amb cada aspecte del disseny (colors, formes, espais, fonts, mides, animacions) fortament marcat. L'estructura de la pàgina és semblant a la de les altres webs oficials de l'estat. Els estils estan completament desacoblats i organitzats.<br><br>

                L'aplicació compta amb suport per a diversos idiomes: castellà, anglès, català, euskera, gallec, asturià i francès.<br><br>

                L'aplicació és una Single Page Application d'Angular. Té sistema d'emmagatzematge en caché de les peticions per a garantir-ne el funcionament en zones amb poca cobertura, o amb problemes de connexió, cosa freqüent en situacions d'emergència. A més, compleix tots els estàndards d'accessibilitat de <app-link id="accessibilitat-aa">nivell AA</app-link>.
            </p>

            <h4>Assoliments</h4>
            <ul>
                <!-- <li><span class="text-daurat">Líder de la part forntend del projecte</span></li> -->
                <li>Participació en el desenvolupament i maquetació de la nostra pròpia llibreria completa de components per al projecte i també per a altres webs oficials del Ministeri</li>
                <li>Vaig desenvolupar diversos components per a un projecte específic que van agradar tant que, sense haver sigut dissenyats per a la llibreria, van acabar integrant-s'hi i van ser adoptats en diverses aplicacions oficials del Ministeri</li>
                <li>Desenvolupament de l'aplicació seguint una guia d'estils molt estricta</li>
                <li>En poc temps em vaig erigir com el <span class="text-daurat">desenvolupador de referència en CSS</span> i maquetació dins l'equip i el projecte</li>
            </ul>
        }

        @if (m.es) {
            <h5>Principal desarrollador de una web para el Ministerio de Exteriores</h5>
            <p>
                En esta empresa trabajé para <app-link id="indra_es">Indra</app-link>, una consultora que gestiona varios proyectos para el Gobierno de España, contratado por <app-link id="alvea">Alvea</app-link>.<br>
                Principal desarrollador frontend de un backoffice para el <app-link id="ministerio-exteriores_es">Ministerio de Asuntos Exteriores y Cooperación</app-link>, que permitirá a los consulados y embajadas proporcionar soporte a los ciudadanos españoles que se encuentran en el extranjero durante situaciones de crisis, como atentados terroristas o catástrofes naturales. La aplicación permitirá gestionar grupos de ciudadanos para organizar traslados, salvoconductos, repatriaciones, renovación de documentos, comunicaciones y atención a necesidades especiales, entre otros servicios.<br><br>

                Iniciamos el proyecto creando una <app-link [href]="getLinkDintelComponents()">librería de componentes</app-link> en Angular, utilizando PrimeNG, Angular Material y otros plugins como base. Esta librería incluye tanto elementos comunes en formularios (selectores, radiobuttons, checkboxes, calendarios, mapas interactivos) como componentes habituales en interfaces de usuario (botones, cards, toasts, menús desplegables, breadcrumbs, etc.).<br><br>

                Tanto los componentes como la web están desarrollados siguiendo unos estilos estrictamente definidos, con cada aspecto del diseño (colores, formas, espacios, fuentes, tamaños, animaciones) fuertemente marcado. La estructura de la página es similar a la de las otras webs oficiales del estado. Los estilos están completamente desacoplados y organizados.<br><br>

                La aplicación cuenta con soporte para varios idiomas: español, inglés, catalán, euskera, gallego, asturiano y francés.<br><br>

                La aplicación es una Single Page Application de Angular. Tiene sistema de almacenamiento en caché de las peticiones para garantizar su funcionamiento en zonas con poca cobertura, o con problemas de conexión, algo frecuente en situaciones de emergencia. Además, cumple con todos los estándares de accesibilidad de <app-link id="accessibilitat-aa">nivel AA</app-link>.
            </p>

            <h4>Logros</h4>
            <ul>
                <!-- <li><span class="text-daurat">Líder de la parte frontend del proyecto</span></li> -->
                <li>Participación en el desarrollo y maquetación de nuestra propia librería completa de componentes para el proyecto y también para otras webs oficiales del Ministerio</li>
                <li>Desarrollé varios componentes para un proyecto específico que gustaron tanto que, sin haber sido diseñados para la librería, acabaron integrándose allí y fueron adoptados en varias de las aplicaciones oficiales del Ministerio</li>
                <li>Desarrollo de la aplicación siguiendo una guía de estilos muy estricta</li>
                <li>Al poco tiempo me erigí como el <span class="text-daurat">desarrollador de referencia en CSS</span> y maquetación dentro del equipo y el proyecto</li>
            </ul>
        }

        @if (m.en) {
            <h5>Lead developer of a website for the Ministry of Foreign Affairs</h5>
            <p>
                In this company I worked for <app-link id="indra_en">Indra</app-link>, a consultancy that manages several projects for the Government of Spain, hired by <app-link id="alvea">Alvea</app-link>.<br>
                Lead frontend developer of a back-office system for the <app-link id="ministerio-exteriores_en">Ministry of Foreign Affairs and Cooperation</app-link>, which will allow consulates and embassies to provide support to Spanish citizens who are abroad during crises situations, such as terrorist attacks or natural disasters. The application will allow managing groups of citizens to organize transfers, safe conduct passes, repatriations, document renewals, communications and attention to special needs, among other services.<br><br>

                We started the project by creating a <app-link [href]="getLinkDintelComponents()">component library</app-link> in Angular, using PrimeNG, Angular Material and other plugins as a base. This library includes both common form elements (selectors, radio buttons, checkboxes, calendars, interactive maps) and common user interface components (buttons, cards, toasts, drop-down menus, breadcrumbs, etc.). <br><br>

                Both the components and the website are developed following strictly defined styles, with each aspect of the design (colors, shapes, spaces, fonts, sizes, animations) strongly established. The structure of the page is similar to that of the other official government websites. The styles are completely decoupled and organized. <br><br>

                The application has support for several languages: Spanish, English, Catalan, Basque, Galician, Asturian and French.<br><br>

                The application is an Angular Single Page Application. It has a request caching system to ensure its operation in areas with poor coverage, or with connection problems, something common in emergency situations. It also meets all <app-link id="accessibilitat-aa">level AA</app-link> accessibility standards.
            </p>

            <h4>Achievements</h4>
            <ul>
                <!-- <li><span class="text-daurat">Frontend project leader</span></li> -->
                <li>Participation in the development and layout of our own complete library of components for the project and also for other official websites of the Ministry</li>
                <li>I developed several components for a specific project which were so liked that, without having been designed for the library, they ended up being integrated there and were adopted in many of the Ministry's official applications</li>
                <li>Application development following a very strict style guide</li>
                <li>In a short time I established myself as the <span class="text-daurat">reference developer for CSS</span> and layout within the team and the project</li>
            </ul>
        }

        @if (m.ca) { <h4>Demo interactiva</h4> }
        @if (m.es) { <h4>Demo interactiva</h4> }
        @if (m.en) { <h4>Interactive demo</h4> }

        <div class="text-80 font-italic mt-3 mb-2">
            @if (m.ca) { Interactua amb els botons! }
            @if (m.es) { ¡Interactúa con los botones! }
            @if (m.en) { Interact with the buttons! }
        </div>

        <section class="seccio-boto-dintel shadow-2-l">
            <a [href]="getLinkDintelHome()" class="rs dnt-button primary">
                @if (m.ca) { Llibreria Dintel }
                @if (m.es) { Librería Dintel }
                @if (m.en) { Dintel library }
            </a>
            <a [href]="getLinkDintelComponents()" class="rs dnt-button secondary">
                @if (m.ca) { Veure components }
                @if (m.es) { Ver componentes }
                @if (m.en) { See components }
            </a>
        </section>
        
    </article>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.ANGULAR" />
        <app-skill [skill]="Skills.NGRX" />
        <app-skill [skill]="Skills.TYPESCRIPT" />
        <app-skill [skill]="Skills.CSS" />
        <app-skill [skill]="Skills.SASS" />
        <app-skill [skill]="Skills.HTML5" />
        <app-skill [skill]="Skills.PRIMENG" />
        <app-skill [skill]="Skills.JASMINE" />
        <app-skill [skill]="Skills.JIRA" />
        <app-skill [skill]="Skills.SONARQUBE" />
        <app-skill [skill]="Skills.OPENSHIFT" />
        <app-skill [skill]="Skills.GIT" />
        <app-skill [skill]="Skills.BITBUCKET" />

        <app-skill [skill]="Skills.RESPONSIVEDESIGN" />
        <app-skill [skill]="Skills.CONTINUOUSINTEGRATION" />
        <app-skill [skill]="Skills.AGILE" />
        <app-skill [skill]="Skills.MVC" />

    </div>
</section>
