<section class="idiomes">
    <h3 class="mb-3">
        @if (m.ca) { Idiomes }
        @if (m.es) { Idiomas }
        @if (m.en) { Languages }
    </h3>
    <div class="banderes" [class.es]="m.es">
        <img src="assets/icons/flags/cat.svg" alt="Catalan" title="Native" class="ca" appMostrarAmbAnimacio>
        <img src="assets/icons/flags/es.svg" alt="Spanish" title="Native" class="es" appMostrarAmbAnimacio>
        <a href="https://learnenglish.britishcouncil.org/english-levels/understand-your-english-level/b2-upper-intermediate" class="no-style d-flex en" appMostrarAmbAnimacio matRipple>
            <img src="assets/icons/flags/uksa.svg" alt="English" title="B2+">
        </a>
    </div>
</section>
