.idiomes {
    .banderes {
        display: flex;
        justify-content: center;
        gap: 1rem;
    
        &.es {
            > .ca { order: 2 }
            > .es { order: 1 }
            > .en { order: 3 }
        }
    
        img {
            height: 2.5rem;
            border-radius: 0.2rem;
        }
    }
}
