<div class="card">
    <p class="titol">
        @if (m.ca) { Sobre IN2ART }
        @if (m.es) { Sobre IN2ART }
        @if (m.en) { About IN2ART }
    </p>
    <div class="text">
        <div class="jordi">
            Jordi Mas Parramon - Main Frontend Developer<br>
            <a href="mailto:xordimas@gmail.com" target="_blank">xordimas&#64;gmail.com</a><br>
            <a href="https://github.com/jordimas96" target="_blank">https://github.com/jordimas96</a>
        </div>
        <br>
        <br>
        <div class="manel">
            Manel Pagès Lozano - Frontend Developer<br>
            <a href="mailto:mpbydd@gmail.com" target="_blank">mpbydd&#64;gmail.com</a>
        </div>
    </div>
</div>
