@import "src/styles.scss";

.story {

    .imatges {
        position: relative;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100px;
        height: 100px;

        img.cercle {
            position: absolute;
            width: 100%;
        }

        img.foto {
            width: 85%;

            border-radius: 50rem;
        }
    }

    .titol {
        font-size: 0.9rem;
        text-align: center;

    }
}
