@import "src/styles.scss";

button.story {

    img {

        border-radius: 50rem;
        border: 3px solid #df01ae;
        padding: 0.15rem;

        width: 94px;
        height: 94px;
    }

    .titol {
        font-size: 0.9rem;
        text-align: center;

    }
}
