@import "src/styles.scss";



.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: fit-content;

        .titol {
            color: var(--text-80);
            font-size: 1.4rem;
        }
        .valor {
            font-size: 1.5rem;
        }
    }


}





// Pantalla Mòbil //
@media only screen and (max-width: 575px) { }
// Pantalla Tablet //
@media only screen and (min-width: 576px) { }
// Pantalla PC //
@media only screen and (min-width: 768px) { }
// Pantalla Molt Gran //
@media only screen and (min-width: 992px) { }
