<section id="stats">

    <div class="titol white-title-shadow h2 mb-4 text-center" appMostrarAmbAnimacio>
        @if (m.ca) { Estadístiques }
        @if (m.es) { Estadísticas }
        @if (m.en) { Stats }
    </div>

    <div class="stats section">
        <div class="stat card-themed bg-colored" appMostrarAmbAnimacio>
            <div class="titol">
                @if (m.ca) { Experiència total }
                @if (m.es) { Experiencia total }
                @if (m.en) { Total experience }
            </div>
            <div class="valor" [innerHTML]="getText(Skills._TOTAL)"></div>
        </div>

        <div class="stat card-themed bg-colored paleta-170" appMostrarAmbAnimacio>
            <div class="titol">Frontend</div>
            <div class="valor" [innerHTML]="getText(Skills.FRONTEND)"></div>
        </div>
        <div class="stat card-themed bg-colored paleta-207" appMostrarAmbAnimacio>
            <div class="titol">Backend</div>
            <div class="valor" [innerHTML]="getText(Skills.BACKEND)"></div>
        </div>
        <div class="stat card-themed bg-colored paleta-347" appMostrarAmbAnimacio>
            <div class="titol">Angular</div>
            <div class="valor" [innerHTML]="getText(Skills.ANGULAR)"></div>
        </div>
        <div class="stat card-themed bg-colored paleta-260" appMostrarAmbAnimacio>
            <div class="titol">CSS</div>
            <div class="valor" [innerHTML]="getText(Skills.CSS)"></div>
        </div>
        <div class="stat card-themed bg-colored paleta-53" appMostrarAmbAnimacio>
            <div class="titol">JavaScript</div>
            <div class="valor" [innerHTML]="getText(Skills.JAVASCRIPT)"></div>
        </div>
    </div>


</section>
