@import "src/styles.scss";



.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .stat {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .titol {
            color: var(--text-80);
            font-size: 1.4rem;
        }
        .valor {
            font-size: 1.2rem;

            ::ng-deep .num {
                font-weight: bold;
                color: var(--accent-color);

                &:nth-child(1) { font-size: 1.5em; }
                &:nth-child(2) { font-size: 1.25em; }
            }
        }
    }

}
