@import "src/styles.scss";



.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: fit-content;

        .titol {
            color: var(--text-80);
            font-size: 1.4rem;
        }
        .valor {
            font-size: 1.5rem;
        }
    }

}
