<section id="stats" class="stats section">


    <div class="tema-github stat card" appMostrarAmbAnimacio>
        <div class="titol">
            @if (m.ca) { Experiència total }
            @if (m.es) { Experiencia total }
            @if (m.en) { Total experience }
        </div>
        <div class="valor">{{ getText(Skills._TOTAL) }}</div>
    </div>

    <div class="tema-android stat card" appMostrarAmbAnimacio>
        <div class="titol">Frontend</div>
        <div class="valor">{{ getText(Skills.FRONTEND) }}</div>
    </div>
    <div class="tema-indra stat card" appMostrarAmbAnimacio>
        <div class="titol">Backend</div>
        <div class="valor">{{ getText(Skills.BACKEND) }}</div>
    </div>
    <div class="tema-matic stat card" appMostrarAmbAnimacio>
        <div class="titol">Angular</div>
        <div class="valor">{{ getText(Skills.ANGULAR) }}</div>
    </div>
    <div class="tema-orange stat card" appMostrarAmbAnimacio>
        <div class="titol">CSS</div>
        <div class="valor">{{ getText(Skills.CSS) }}</div>
    </div>
    <div class="tema-nexxia stat card" appMostrarAmbAnimacio>
        <div class="titol">JavaScript</div>
        <div class="valor">{{ getText(Skills.JAVASCRIPT) }}</div>
    </div>


</section>
