<div class="contact-icons">
    <a href="https://www.linkedin.com/in/jordimas96" class="contact-icon link-img linkedin" appMostrarAmbAnimacio matRipple>
        <img src="assets/icons/contact/linkedin.png" alt="LinkedIn" class="icon shadow-filter-1-l">
        <div class="text">LinkedIn</div>
    </a>
    <a href="https://github.com/jordimas96" class="contact-icon link-img github" appMostrarAmbAnimacio matRipple>
        <img src="assets/icons/contact/github.png" alt="GitHub" class="icon shadow-filter-1-l">
        <div class="text">GitHub</div>
    </a>
    <a href="https://jordimas96.github.io/external-pages/play-store/play-store.html" class="contact-icon link-img playstore" appMostrarAmbAnimacio matRipple>
        <img src="assets/icons/contact/play-store.png" alt="Google Play Store" class="icon shadow-filter-1-l">
        <div class="text">Play Store</div>
    </a>
    <a href="mailto:xordimas@gmail.com" class="contact-icon link-img email" appMostrarAmbAnimacio matRipple>
        <img src="assets/icons/contact/email.png" alt="Email" class="icon p-1 rounded-2 shadow-filter-1-l">
        <div class="text">Email me!</div>
    </a>
    <a href="https://www.youtube.com/playlist?list=PLuIrb7i3EMtOB_S2yQPbJ4nhHhdl3TYHM" class="contact-icon link-img youtube" appMostrarAmbAnimacio matRipple>
        <img src="assets/icons/contact/youtube.png" alt="YouTube" class="icon p-1 shadow-filter-1-l">
        <div class="text">YouTube</div>
    </a>
</div>
