<div class="contact-icons">
    <a href="https://www.linkedin.com/in/jordimas96" class="contact-icon linkedin" appMostrarAmbAnimacio matRipple>
        <img src="assets/icons/contact/linkedin.png" alt="LinkedIn logo" class="icon shadow-filter-1-l">
        <div class="text">LinkedIn</div>
    </a>
    <a href="https://github.com/jordimas96" class="contact-icon github" appMostrarAmbAnimacio matRipple>
        <img src="assets/icons/contact/github.png" alt="GitHub logo" class="icon shadow-filter-1-l">
        <div class="text">GitHub</div>
    </a>
    <a [href]="m.env.assets + '/external-pages/play-store/play-store.html'" class="contact-icon playstore" appMostrarAmbAnimacio matRipple>
        <img src="assets/icons/contact/play-store.png" alt="Google Play Store logo" class="icon shadow-filter-1-l">
        <div class="text">Play Store</div>
    </a>
    <a href="mailto:xordimas@gmail.com" class="contact-icon email" appMostrarAmbAnimacio matRipple>
        <img src="assets/icons/contact/email.png" alt="Email logo" class="icon p-1 rounded-2 shadow-filter-1-l">
        <div class="text">Email me!</div>
    </a>
    <a href="https://www.youtube.com/playlist?list=PLuIrb7i3EMtOB_S2yQPbJ4nhHhdl3TYHM" class="contact-icon youtube" appMostrarAmbAnimacio matRipple>
        <img src="assets/icons/contact/youtube.png" alt="YouTube logo" class="icon p-1 shadow-filter-1-l">
        <div class="text">YouTube</div>
    </a>
</div>
