@import "src/styles.scss";

.contact-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        text-decoration: none !important;
    }

    .contact-icon {
        display: flex;
        flex-direction: column;
        align-items: center;

        border-radius: 1rem;
        padding: 0.5rem;
        
        transition: font-size 0.3s, transform 0.3s, var(--transicio-colors);

        &:hover {
            transform: scale(1.3);

            &.linkedin {  background-color: light-dark(hsl(222, 100%, 92%), hsl(210, 50%, 20%)); }
            &.github {    background-color: light-dark(hsl(0, 0%, 90%),     hsl(0, 0%, 20%)); }
            &.playstore { background-color: light-dark(hsl(207, 100%, 92%), hsl(207, 50%, 20%)); }
            &.email {     background-color: light-dark(hsl(0, 0%, 90%),     hsl(0, 0%, 20%)); }
            &.youtube {   background-color: light-dark(hsl(0, 100%, 92%),   hsl(0, 23%, 20%)); }

            .text {
                opacity: 1;
                transform: translateY(0.1rem);
            }
        }
        
        .icon {
            height: 2.5rem;
            z-index: 10;
        }
        .text {
            font-size: 0.7rem;
            color: var(--text);
            margin: 0 -0.2rem;

            opacity: 0;
            transform: translateY(-50%) scale(0.5);

            transition: transform 0.3s, opacity 0.3s, margin 0.3s;

            @include mobil {
                display: none;
            }
        }
    }
}
