<div id="tasker" class="group mb-6 ocult-animacio h">
    <div class="subtitle mb-2 g-2">
        <ng-container *ngIf="m.ca()">Projectes TaskerNet</ng-container>
        <ng-container *ngIf="m.es()">Proyectos TaskerNet</ng-container>
        <ng-container *ngIf="m.en()">TaskerNet projects</ng-container>
        <a href="https://tasker.joaoapps.com/" class="link-img"><img src="assets/icons/tasker.png" alt="Tasker" class="title-icon"></a>
    </div>
    <p class="text mb-4">
        <ng-container *ngIf="m.ca()">
            Una altra de les meves aficions és experimentar amb Android, en específic trastejar amb diferents versions i ampliar-ne les funcionalitats. Una de les maneres de fer-ho és amb <a href="https://tasker.joaoapps.com/">Tasker</a>, una app d'automatització de tasques en Android que permet programar funcions senzilles, mitjançant pseudocodi, i ocasionalment també Java i HTML/CSS per a l'estructuració del contingut a mostrar. A través d'aquesta aplicació, he creat nombrosos projectes amb l'objectiu de millorar i ampliar les capacitats d'Android, i he publicat aquells que podrien resultar útils per a altres usuaris, alguns d'ells amb centenars de descàrregunes dins la comunitat.
        </ng-container>
        
        <ng-container *ngIf="m.es()">
            Otra de mis aficiones es experimentar con Android, en específico trastear con diferentes versiones y ampliar sus funcionalidades. Una de las maneras de hacerlo es con <a href="https://tasker.joaoapps.com/">Tasker</a>, una app de automatización de tareas en Android que permite programar funciones sencillas, mediante pseudocódigo, y ocasionalmente también Java y HTML/CSS para la estructuración del contenido a mostrar. A través de esta aplicación, he creado numerosos proyectos con el fin de mejorar y ampliar las capacidades de Android, y he publicado aquellos que podrían resultar útiles para otros usuarios, algunos de ellos con cientos de descargas dentro de la comunidad.
        </ng-container>
        
        <ng-container *ngIf="m.en()">
            Another of my hobbies is experimenting with Android, specifically tinkering with different versions and expanding its functionality. One way to do this is with <a href="https://tasker.joaoapps.com/">Tasker</a>, a task automation app on Android that allows you to program simple functions, using pseudocode, and occasionally also Java and HTML/CSS for structuring the content to be displayed. Through this app, I have created numerous projects to enhance and expand the functionality of Android, and I have published the most useful and straightforward ones for other users, some of them with hundreds of downloads within the community.
        </ng-container>
    </p>

    <div class="botons mt-4 mb-5">
        <a href="https://taskernet.com/?user=AS35m8mRntivpH1gAMw7ymN993wqjIo0bD6%2FSevikpiMYXceQJ%2BATvjOUxxvfzAbynKD" class="boto pl-3">
            <ng-container *ngIf="m.ca()">Els meus projectes</ng-container>
            <ng-container *ngIf="m.es()">Mis proyectos</ng-container>
            <ng-container *ngIf="m.en()">My projects</ng-container>
            <img src="assets/icons/tasker.png" alt="Tasker" class="logo">
        </a>

        <a href="https://play.google.com/store/apps/details?id=net.dinglisch.android.taskerm" class="boto pl-3">
            <ng-container *ngIf="m.ca()">Descarregar Tasker</ng-container>
            <ng-container *ngIf="m.es()">Descargar Tasker</ng-container>
            <ng-container *ngIf="m.en()">Download Tasker</ng-container>
            <img src="assets/icons/play-store.png" alt="Google Play Store" class="logo drop-shadow-1">
        </a>
    </div>

    <!-- Skills -->
    <div class="title-skills mt-4 mb-2">
        <ng-container *ngIf="m.ca()">Tecnologies utilitzades</ng-container>
        <ng-container *ngIf="m.es()">Tecnologías usadas</ng-container>
        <ng-container *ngIf="m.en()">Used technologies</ng-container>
    </div>
    <div class="skills">
        <app-skill n="HTML"/>
        <app-skill n="CSS"/>
        <app-skill n="Java"/>
    </div>
</div>
