@import "src/styles.scss";



.group {
    a.link-img {
        img.title-icon {
            transition: transform 0.3s;
        }
    }
    .botons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        
        .boto {
            .logo {
                transition: transform 0.3s;
            }
        }
    }
}




// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
/// 
// Pantalla PC //
@media only screen and (min-width: 576px) { }
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .group#tasker .botons {
        text-align: center;
        flex-direction: column;

        a.boto {
            padding: 1rem 1.4rem !important;
        }
    }
}

// PC //
@media (pointer: fine) {
    a.link-img:hover {
        img.title-icon {
            transform: rotate(360deg) scale(1.4);
        }
    }

    .botons {
        .boto:hover {
            .logo.tasker {
                transform: rotate(360deg);
            }
        }
    }
}
// Mòbil //
@media (pointer: coarse) { }
