<section id="tasker" class="tema-tasker card section" appMostrarAmbAnimacio>
    <div class="section-title d-flex align-items-center mb-2 gap-2">
        @if (m.ca) { Projectes TaskerNet }
        @if (m.es) { Proyectos TaskerNet }
        @if (m.en) { TaskerNet projects }
        <a href="https://tasker.joaoapps.com/" class="rs link-img d-flex"><img src="assets/icons/projects/tasker.png" alt="Tasker" class="title-icon"></a>
    </div>
    <p class="text mb-4">
        @if (m.ca) {
            Una altra de les meves aficions és experimentar amb Android, en específic trastejar amb diferents versions i ampliar-ne les funcionalitats. Una de les maneres de fer-ho és amb <app-link href="https://tasker.joaoapps.com/">Tasker</app-link>, una app d'automatització de tasques en Android que permet programar funcions senzilles, mitjançant pseudocodi, i ocasionalment també Java i HTML/CSS per a l'estructuració del contingut a mostrar. A través d'aquesta aplicació, he creat nombrosos projectes amb l'objectiu de millorar i ampliar les capacitats d'Android, i he publicat aquells que podrien resultar útils per a altres usuaris, alguns d'ells amb centenars de descàrregunes dins la comunitat.
        }
        
        @if (m.es) {
            Otra de mis aficiones es experimentar con Android, en específico trastear con diferentes versiones y ampliar sus funcionalidades. Una de las maneras de hacerlo es con <app-link href="https://tasker.joaoapps.com/">Tasker</app-link>, una app de automatización de tareas en Android que permite programar funciones sencillas, mediante pseudocódigo, y ocasionalmente también Java y HTML/CSS para la estructuración del contenido a mostrar. A través de esta aplicación, he creado numerosos proyectos con el fin de mejorar y ampliar las capacidades de Android, y he publicado aquellos que podrían resultar útiles para otros usuarios, algunos de ellos con cientos de descargas dentro de la comunidad.
        }
        
        @if (m.en) {
            Another of my hobbies is experimenting with Android, specifically tinkering with different versions and expanding its functionality. One way to do this is with <app-link href="https://tasker.joaoapps.com/">Tasker</app-link>, a task automation app on Android that allows you to program simple functions, using pseudocode, and occasionally also Java and HTML/CSS for structuring the content to be displayed. Through this app, I have created numerous projects to enhance and expand the functionality of Android, and I have published the most useful and straightforward ones for other users, some of them with hundreds of downloads within the community.
        }
    </p>

    <div class="botons mt-4">
        <a href="https://taskernet.com/?user=AS35m8mRntivpH1gAMw7ymN993wqjIo0bD6%2FSevikpiMYXceQJ%2BATvjOUxxvfzAbynKD" class="boto" appMostrarAmbAnimacio matRipple>
            @if (m.ca) { Els meus projectes }
            @if (m.es) { Mis proyectos }
            @if (m.en) { My projects }
            <img src="assets/icons/projects/tasker.png" alt="Tasker" class="logo tasker shadow-filter-1">
        </a>

        <a href="https://play.google.com/store/apps/details?id=net.dinglisch.android.taskerm" class="boto" appMostrarAmbAnimacio matRipple>
            @if (m.ca) { Descarregar Tasker }
            @if (m.es) { Descargar Tasker }
            @if (m.en) { Download Tasker }
            <img src="assets/icons/projects/play-store.png" alt="Google Play Store" class="logo shadow-filter-1">
        </a>
    </div>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.HTML5"/>
        <app-skill [skill]="Skills.CSS"/>
        <app-skill [skill]="Skills.JAVA"/>
    </div>
</section>
