@import "src/styles.scss";


.section {
    .section-title {
        a {
            img.title-icon {
                height: 2.4rem;
                transition: transform 0.3s;
            }
            &:hover {
                img.title-icon {
                    transform: rotate(360deg) scale(1.4);
                }
            }
        }
    }
    .botons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

        @include mobil {
            flex-direction: column;
        }
        
        .boto {
            .logo {
                transition: transform 0.3s;
            }
            &:hover {
                .logo.tasker {
                    transform: rotate(360deg);
                }
            }
        }
    }
}
