<div id="icons" class="tema-icons group mb-6" appMostrarAmbAnimacio>
    <div class="subtitle mb-2 gap-2_5">
        @if (m.ca) { Icones }
        @if (m.es) { Iconos }
        @if (m.en) { Icons }
    </div>
    <p class="text mb-4">
        @if (m.ca) {
            Al llarg dels meus projectes, ocasionalment m'he trobat amb la necessitat de crear icones i il·lustracions per a diferents aplicacions o webs, i he improvisat diverses icones originals i úniques que puguin representar el producte.<br>
            He utilitzat majoritàriament <a href="https://www.softcatala.org/programes/gimp/">GIMP</a> per a les edicions, ja que és lleuger i de codi obert.<br><br>
            A continuació tinc diversos exemples dels meus dissenys:
        }
        
        @if (m.es) {
            A lo largo de mis proyectos, ocasionalmente me he encontrado con la necesidad de crear iconos e ilustraciones para diferentes aplicaciones o webs, y he improvisado varios iconos originales y únicos que puedan representar el producto.<br>
            He utilizado mayoritariamente <a href="https://www.gimp.org/">GIMP</a> para las ediciones, ya que es ligero y de código abierto.<br><br>
            A continuación tengo varios ejemplos de mis diseños:
        }
        
        @if (m.en) {
            Throughout my projects, I have occasionally encountered the need to create icons and illustrations for different applications or websites, and I have improvised several original and unique icons that can represent the product.<br>
            I have mostly used <a href="https://www.gimp.org/">GIMP</a> for editing, as it is lightweight and open source.<br><br>
            Below I have several examples of my designs:
        }
    </p>

    <div class="icon-list">
        <img src="assets/images/icons/JMas original 25-4-17.png" alt="JMasOld" class="round"> <!-- 25/4/17 -->
        <img src="assets/images/icons/JMasBlauFosc 30-1-18.png" alt="JMas" class="round"> <!-- 30/1/18 -->

        <img src="assets/images/icons/breaking-ball.png" alt="breaking ball"> <!-- 26/6/20 -->
        <img src="assets/images/icons/wallpaper-blurrer.png" alt="wallpaper blurrer"> <!-- 18/2/23 -->
        <img src="assets/images/icons/sus-tracker.png" alt="sus tracker"> <!-- 30/11/20, 22/2/23 -->
        <img src="assets/images/icons/text-mimicker.png" alt="text mimicker"> <!-- 8/3/23 -->
        <img src="assets/images/icons/mad-jumpgate.png" alt="mad jumpgate"> <!-- 27/5/23 -->


        <img src="assets/images/icons/rounded-corners-directive.ico" alt="rounded corners directive"> <!-- 7/2/24 -->
        <img src="assets/images/icons/evorait-task_materials_ngrx.ico" alt="evorait task materials ngrx"> <!-- 20/2/24 -->
        <img src="assets/images/icons/meme-generator.ico" alt="meme generator"> <!-- 29/2/24 -->
        <img src="assets/images/icons/electricity-rate.ico" alt="electricity rate"> <!-- 1/3/24 -->
        <img src="assets/images/icons/icon-editor.ico" alt="icon editor"> <!-- 7/3/24 -->
        <img src="assets/images/icons/navigation-tab.ico" alt="navigation tab"> <!-- 9/3/24  -->
    </div>
</div>
