@import "src/styles.scss";



.section {

}
.icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;

    > * {
        width: 100px;

        &.round {
            border-radius: 50%;
        }
    }
    img {
        border-radius: 6.25%;
        transform-origin: center;

        transition: transform 0.3s, filter 0.3s;

        &:hover {
            transform: scale(1.5);
            @extend .shadow-filter-5;
            z-index: 2;
        }
    }
    div {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;

        img {
            width: 48%;
            height: 48%;
            padding: 0.2rem;
            background-color: #2f3539;
            border-radius: 0.7rem;

            &:hover {
                transform: scale(2);
            }
        }
    }
}



// Pantalla Mòbil // @media only screen and (max-width: 575px) { }
// Pantalla Tablet // @media only screen and (min-width: 576px) { }
// Pantalla PC // @media only screen and (min-width: 768px) { }
// Pantalla Molt Gran // @media only screen and (min-width: 992px) { }

// PC //
@media (pointer: fine) {
}
// Mòbil //
@media (pointer: coarse) { }
