@import "src/styles.scss";

.icon-list:not(.treureHover) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;

    > * {
        width: 100px;

        &.round {
            border-radius: 50%;
        }
    }
    img {
        border-radius: 6.25%;
        transform-origin: center;

        transition: transform 0.3s, filter 0.3s;

        &:hover {
            transform: scale(1.5);
            @extend .shadow-filter-5;
            z-index: 2;
        }
    }
    div {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;

        img {
            width: 48%;
            height: 48%;
            padding: 0.2rem;
            background-color: #2f3539;
            border-radius: 0.7rem;

            &:hover {
                transform: scale(2);
            }
        }
    }
}
