@import "src/styles.scss";



.group {

}
.icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;

    img {
        width: 100px;
        border-radius: 6.25%;

        transition: transform 0.3s, filter 0.3s;

        &:hover {
            transform: scale(1.5);
            @extend .shadow-filter-5;
            z-index: 2;
        }

        &.round {
            border-radius: 50%;
        }
    }
}



// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
/// 
// Pantalla PC //
@media only screen and (min-width: 576px) {
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
}

// PC //
@media (pointer: fine) {
}
// Mòbil //
@media (pointer: coarse) { }
