<section id="icons" class="tema-icons card-themed bg-colored section">
    <div class="titol-top-card section-title d-flex mb-2">
        @if (m.ca) { Icones }
        @if (m.es) { Iconos }
        @if (m.en) { Icons }
    </div>
    <article class="descripcio mb-4">
        @if (m.ca) {
            Al llarg dels meus projectes, ocasionalment m'he trobat amb la necessitat de crear icones i il·lustracions per a diferents aplicacions o webs. No tinc formació en edició d'imatges, però quan he de fer alguna cosa puc improvisar fins aconseguir un resultat decent, i en aquest cas he produït icones originals i úniques que puguin representar el producte.<br>
            He utilitzat majoritàriament <app-link id="gimp_ca">GIMP</app-link> per a les edicions, ja que és lleuger i de codi obert.<br><br>
            A continuació tinc diversos exemples dels meus dissenys més vistosos:
        }

        @if (m.es) {
            A lo largo de mis proyectos, ocasionalmente me he encontrado con la necesidad de crear iconos e ilustraciones para diferentes aplicaciones o webs. No tengo formación en edición de imágenes, pero cuando tengo que hacer algo puedo improvisar hasta conseguir un resultado decente, y en este caso he producido iconos originales y únicos que puedan representar el producto.<br>
            He utilizado mayoritariamente <app-link id="gimp_es">GIMP</app-link> para las ediciones, ya que es ligero y de código abierto.<br><br>
            A continuación tengo varios ejemplos de mis variopintos diseños:
        }

        @if (m.en) {
            Throughout my projects, I have occasionally encountered the need to create icons and illustrations for different applications or websites. I have no training in image editing, but when I have to do anything I can improvise until I get a decent result, and in this case I have produced original and unique icons that can represent the product.<br>
            I have mostly used <app-link id="gimp_en">GIMP</app-link> for editing, as it is lightweight and open source.<br><br>
            Below I have several examples of my colorful designs:
        }
    </article>

    <div class="icon-list">
        <img src="assets/images/icons/JMas original 25-4-17.png" alt="JMasOld" class="round" appMostrarAmbAnimacio> <!-- 25/4/17 -->
        <img src="assets/images/icons/JMasBlauFosc 30-1-18.png" alt="JMas" class="round" appMostrarAmbAnimacio> <!-- 30/1/18 -->

        <img src="assets/images/icons/breaking-ball.png" alt="breaking ball" appMostrarAmbAnimacio> <!-- 26/6/20 -->
        <div>
            <img src="assets/images/icons/breaking-ball-volum.png" alt="breaking ball volum" appMostrarAmbAnimacio> <!-- 19/6/20 -->
            <img src="assets/images/icons/breaking-ball-mute.png" alt="breaking ball mute" appMostrarAmbAnimacio> <!-- 19/6/20 -->
            <img src="assets/images/icons/breaking-ball-vibracio.png" alt="breaking ball vibracio" appMostrarAmbAnimacio> <!-- 4/7/20 -->
            <img src="assets/images/icons/breaking-ball-novibracio.png" alt="breaking ball novibracio" appMostrarAmbAnimacio> <!-- 4/7/20 -->
        </div>
        <img src="assets/images/icons/wallpaper-blurrer.png" alt="wallpaper blurrer" appMostrarAmbAnimacio> <!-- 18/2/23 -->
        <img src="assets/images/icons/sus-tracker.png" alt="sus tracker" appMostrarAmbAnimacio> <!-- 30/11/20, 22/2/23 -->
        <img src="assets/images/icons/text-mimicker.png" alt="text mimicker" appMostrarAmbAnimacio> <!-- 8/3/23 -->
        <img src="assets/images/icons/mad-jumpgate.png" alt="mad jumpgate" appMostrarAmbAnimacio> <!-- 27/5/23 -->


        <img src="assets/images/icons/rounded-corners-directive.ico" alt="rounded corners directive" appMostrarAmbAnimacio> <!-- 7/2/24 -->
        <img src="assets/images/icons/evorait-task_materials_ngrx.ico" alt="evorait task materials ngrx" appMostrarAmbAnimacio> <!-- 20/2/24 -->
        <img src="assets/images/icons/meme-generator.ico" alt="meme generator" appMostrarAmbAnimacio> <!-- 29/2/24 -->
        <img src="assets/images/icons/electricity-rate.ico" alt="electricity rate" appMostrarAmbAnimacio> <!-- 1/3/24 -->
        <img src="assets/images/icons/icon-editor.ico" alt="icon editor" appMostrarAmbAnimacio> <!-- 7/3/24 -->
        <img src="assets/images/icons/navigation-tab.ico" alt="navigation tab" appMostrarAmbAnimacio> <!-- 9/3/24  -->
        <img src="assets/images/icons/color-harmonizer.png" alt="navigation tab" appMostrarAmbAnimacio> <!-- 14/4/24  -->
    </div>
</section>
