@import "src/styles.scss";
@import "src/app/pages/experience-page/experience-styles.scss";


a.link-boto-titol:hover {
    img.title-icon {
        transform-origin: 50% 200%;
        animation: saludar 0.45s linear;
    }
}
@keyframes saludar {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(7.5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(7.5deg); }
    100% { transform: rotate(0deg); }
    0%, 100% { clip-path: inset(7%); }
}

.descripcio {
    p, ul {
        margin-bottom: 1.5rem;
    }

    .funcionalitats.card {
        background-color: light-dark(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
        padding: 1rem;
        border-radius: 1.5rem;
        border: 1px solid light-dark(rgba(255, 255, 255, 0.66), rgba(255, 255, 255, 0.27));
    }
}

.veure-info-projecte.card {
    overflow: hidden;
    position: relative;
    
    border-radius: 1.5rem 1.5rem 0 0;

    button.overlay {
        position: absolute;
        inset: 0;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-items: start;

        .text {
            color: light-dark(var(--color-7), var(--color-9));
            margin-top: 1rem;
            
            transition: translate 0.2s;

            i {
                transition: translate 0.2s;
            }
        }
    }

    .fadeout {
        max-height: 130px;
        transition: max-height 0.2s;
        mask-image: linear-gradient(to bottom, black 30%, transparent 90%);

        .placeholder {
            padding: 1rem;
            background-color: light-dark(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15));
            border-radius: 1.5rem;
            border: 1px solid light-dark(rgba(255, 255, 255, 0.66), rgba(255, 255, 255, 0.27));


            .text {
                filter: blur(4px);
                transition: filter 0.2s;
            }
        }
    }

    &:hover {
        button.overlay {
            .text {
                translate: 0 0.75rem;
                i {
                    translate: 0 0.5rem;
                }
            }
        }
        .fadeout {
            max-height: calc(130px + 2.5rem);

            .placeholder {

                .text {
                    filter: blur(2px);
                }
            }
        }
    }
}


h4 {
    color: var(--text-90);
}

.text-ressaltat {
    color: light-dark(black, gold);
    font-weight: bold;
}
