<section id="in2art" class="tema-in2art card-themed bg-colored section">
    <div class="titol-top-card section-title d-flex align-items-center justify-content-between mb-2">
        <a [href]="getLink()" class="rs link-boto-titol gap-3" (mouseenter)="isDown=true" matRipple>
            IN2ART
            <img src="assets/_experience/in2art/in2art.png" alt="In2art" class="title-icon inv-dark">
            <span class="fletxa">↗</span>
        </a>
        @if(isDown) { <span class="webDownMsg" appMostrarAmbAnimacio>
            <!-- <i class="fa-solid fa-person-digging"></i> -->
            <!-- <i class="fa-solid fa-file-circle-xmark"></i> -->
            <i class="fa-solid fa-dumpster-fire"></i>
            @if(m.ca) { Web actualment no disponible }
            @if(m.es) { Web actualmente no disponible }
            @if(m.en) { Web currently unavailable }
        </span> }
    </div>
    <!-- <article class="descripcio mb-4">
        @if (m.ca) {
            Principal desenvolupador d'una xarxa social enfocada al món de l'art, a In2art, amb Angular 11. Vaig ser responsable del frontend, disseny i part del backend.
            A més, estic orgullós de dir que vaig desenvolupar la pàgina des de zero utilitzant la meva experiència a Angular, CSS i TypeScript.<br>
            La primera part del projecte, quan vaig fer l'estructura i l'organització del frontend, la vaig desenvolupar en solitari. A mesura que la web va anar creixent i es van afegir noves seccions, vaig poder dividir la càrrega de treball entre estudiants de pràctiques de DAM (backend) als que jo mateix vaig formar en Angular, TypeScript i CSS. Junts vam treballar en equip per crear una veritable obra d'art.<br><br>

            També vaig elaborar una documentació amb els passos detallats per a compilar el projecte, pujar la web al servidor, utilitzar arxius importants com .htaccess, treballar amb les traduccions, paràmetres de les peticions de la API, etc. El propòsit d'aquesta documentació era evitar les feines repetitives i agilitzar la comunicació entre frontend i backend.
            A més, vaig crear diferents scripts de PowerShell per a automatitzar les compilacions i traduccions.
        }

        @if (m.es) {
            Principal desarrollador de una red social enfocada al mundo del arte, en In2art, con Angular 11. Fui responsable del frontend, diseño y parte del backend.
            Además, estoy orgulloso de decir que desarrollé la página desde cero utilizando mi experiencia en Angular, CSS y TypeScript.<br>
            La primera parte del proyecto, cuando hice la estructura y organización del frontend, la desarrollé en solitario. A medida que la web fue creciendo y se añadieron nuevas secciones, pude dividir la carga de trabajo entre estudiantes de prácticas de DAM (backend) a los que yo mismo formé en Angular, TypeScript y CSS. Juntos, trabajamos en equipo para crear una verdadera obra de arte.<br><br>

            También elaboré una documentación con los pasos detallados para compilar el proyecto, subir la web al servidor, usar archivos importantes como .htaccess, trabajar con las traducciones, parámetros de las peticiones de la API, etc. El propósito de esta documentación fue evitar los trabajos repetitivos y agilizar la comunicación entre frontend y backend.
            Además, creé distintos scripts de PowerShell para automatizar las compilaciones y traducciones.
        }

        @if (m.en) {
            Main developer of a social network focused on the art world, at In2art, with Angular 11. I was responsible for the frontend, design and part of the backend.
            Also, I am proud to say that I built the page from scratch using my experience in Angular, CSS, and TypeScript.<br>
            The first part of the project, when I did the structure and organization of the frontend, I developed it alone. As the web grew and new sections were added, I splitted the workload among DAM internship students (backend) that I trained myself in Angular, TypeScript, and CSS. Together, we worked as a team to create a true work of art.<br><br>

            I also produced a documentation with detailed steps to compile the project, upload the web to the server, use important files like .htaccess, work with translations, API request parameters, etc. The purpose of this documentation was to avoid repetitive tasks and streamline communication between frontend and backend.
            Additionally, I created different PowerShell scripts to automate builds and translations.
        }
    </article> -->
    <article class="descripcio mb-4">
        @if (m.ca) {
            <p>
                Principal desenvolupador d'una xarxa social enfocada al món de l'art, a In2art, amb Angular 11. Vaig ser responsable del frontend, disseny i part del backend.
            </p>

            <h4>Assoliments</h4>
            <ul>
                <li><span class="text-daurat">Líder de projecte</span>. Divisió, assignació de tasques i revisió</li>
                <li>Projecte construït des de zero amb Angular, CSS i TypeScript</li>
                <li>Participació en parts clau de la decisió dels estils i identitat visual de la xarxa social</li>
                <li>Formació de 4 estudiants en Frontend per incloure'ls a l'equip</li>
            </ul>

            <p>
                La primera part del projecte, quan vaig fer l'estructura i l'organització del frontend, la vaig desenvolupar en solitari. A mesura que la web va anar creixent i es van afegir noves seccions, vaig poder dividir la càrrega de treball entre estudiants de pràctiques de DAM (backend) als que jo mateix vaig formar en Angular, TypeScript i CSS. Junts vam treballar en equip per crear una veritable <app-link href="/assets/_experience/in2art/in2art-pc.png">obra d'art</app-link>.
            </p>

            <h4>Estructura i funcionalitats de la pàgina</h4>
            <ul>
                <li>Feed amb scroll infinit, publicacions multimèdia (imatges, vídeos, àudios i interactius), amb totes les dades, sistema de valoració (sobre criteris segons tipus d'obra) i de comentaris i respostes.</li>
                <li>Perfil, amb biografia, llistes de seguidors/subscriptors i llistat de publicacions pròpies.</li>
                <li>Formulari dinàmic per pujar arxius d'obres amb metadades completes (tècniques, moviments, dates, etiquetes, etc.).</li>
                <li>Buscador global amb mode d'exploració.</li>
                <li>Suport per a diversos idiomes.</li>
                <li>Notificacions.</li>
                <li>Ajustos.</li>
            </ul>

            <div class="text-center mb-5">
                <app-link [href]="readmeUrl">Fitxa completa de funcionalitats d'IN2ART</app-link>
            </div>
            

            <p>
                Vaig crear documentació i scripts per automatitzar compilacions, gestió de traduccions i configuració del projecte, amb l'objectiu d'agilitzar processos i la comunicació entre frontend i backend.<br><br>

                La secció de comentaris de la xarxa social va ser desenvolupada per un altre membre de l'equip, mentre que jo vaig supervisar i guiar-ne el desenvolupament i la integració al projecte principal.<br><br>

                D'altra banda, es va desenvolupar un backoffice per a la gestió d'usuaris i permisos. Va formar part de l'ecosistema del projecte i va ser desenvolupat per un altre membre de l'equip. Tot i no participar directament en el seu desenvolupament, em vaig encarregar de revisar-lo i guiar-ne el progrés.
            </p>
        }

        @if (m.es) {
            <p>
                Principal desarrollador de una red social enfocada al mundo del arte, en In2art, con Angular 11. Fui responsable del frontend, diseño y parte del backend.
            </p>

            <h4>Logros</h4>
            <ul>
                <li><span class="text-daurat">Líder de proyecto</span>. División, asignación de tareas y revisión</li>
                <li>Proyecto construido desde cero con Angular, CSS y TypeScript</li>
                <li>Participación en partes clave de la decisión de los estilos e identidad visual de la red social</li>
                <li>Formación de 4 estudiantes en Frontend para incluirlos en el equipo</li>
            </ul>

            <p>
                La primera parte del proyecto, la estructura y organización del frontend, la desarrollé en solitario. A medida que la web fue creciendo y se añadieron nuevas secciones, pude dividir la carga de trabajo entre estudiantes de prácticas de DAM (backend) a los que yo mismo formé en Angular, TypeScript y CSS. Juntos, trabajamos en equipo para crear una verdadera <app-link href="/assets/_experience/in2art/in2art-pc.png">obra de arte</app-link>.
            </p>

            <h4>Estructura y funcionalidades de la página</h4>
            <ul>
                <li>Feed con scroll infinito, publicaciones multimedia (imágenes, vídeos, audios e interactivos), con todos los datos, sistema de valoración (sobre criterios según tipo de obra) y de comentarios y respuestas.</li>
                <li>Perfil, con biografía, listas de seguidores/suscriptores y listado de publicaciones propias.</li>
                <li>Formulario dinámico para subir archivos de obras con metadatos completos (técnicas, movimientos, fechas, etiquetas, etc.).</li>
                <li>Buscador global con modo de exploración.</li>
                <li>Soporte para varios idiomas.</li>
                <li>Notificaciones.</li>
                <li>Ajustes.</li>
            </ul>

            <div class="text-center mb-5">
                <app-link [href]="readmeUrl">Ficha completa de funcionalidades de IN2ART</app-link>
            </div>


            <p>
                También creé documentación y scripts para automatizar compilaciones, gestión de traducciones y configuración del proyecto, para agilizar procesos y la comunicación entre frontend y backend.<br><br>

                La sección de comentarios de la red social fue desarrollada por otro miembro del equipo, mientras que yo supervisé y guié su desarrollo e integración al proyecto principal.<br><br>

                Por otro lado, se desarrolló un backoffice para la gestión de usuarios y permisos. Formó parte del ecosistema del proyecto y fue desarrollado por otro miembro del equipo. Pese a no participar directamente en su desarrollo, me encargué de revisarlo y guiar su progreso.
            </p>
        }

        @if (m.en) {
            <p>
                Main developer of a social network focused on the art world, at In2art, with Angular 11. I was responsible for the frontend, design and part of the backend.
            </p>

            <h4>Achievements</h4>
            <ul>
                <li><span class="text-daurat">Project lead</span>. Division, assignment of tasks and review</li>
                <li>Project built from scratch with Angular, CSS and TypeScript</li>
                <li>Participation in key parts of the decision of the styles and visual identity of the social network</li>
                <li>Training of 4 students in Frontend to be included in the team</li>
            </ul>

            <p>
                The first part of the project, when I did the structure and organization of the frontend, I developed it alone. As the web grew and new sections were added, I splitted the workload among DAM internship students (backend) that I trained myself in Angular, TypeScript, and CSS. Together, we worked as a team to create a true <app-link href="/assets/_experience/in2art/in2art-pc.png">work of art</app-link>.
            </p>

            <h4>Page structure and functionalities</h4>
            <ul>
                <li>Feed with infinite scroll, multimedia posts (images, videos, audios and interactives), with all data, rating system (on criteria according to type of work) and comments and replies.</li>
                <li>Profile, with biography, followers/subscribers lists and own posts list.</li>
                <li>Dynamic form to upload work files with complete metadata (techniques, movements, dates, tags, etc.).</li>
                <li>Global search engine with exploration mode.</li>
                <li>Support for multiple languages.</li>
                <li>Notifications.</li>
                <li>Settings.</li>
            </ul>

            <div class="text-center mb-5">
                <app-link [href]="readmeUrl">Complete feature sheet of IN2ART</app-link>
            </div>


            <p>
                I created documentation and scripts to automate builds, translation management and project configuration, with the aim of streamlining processes and communication between frontend and backend.<br><br>

                The social network's comments section was developed by another team member, while I oversaw and guided its development and integration into the main project.<br><br>

                On the other hand, a backoffice was developed for user and permission management. It was part of the project ecosystem and was developed by another team member. Despite not participating directly in its development, I was responsible for reviewing it and guiding its progress.
            </p>
        }
    </article>


    <app-demos-in2art class="mt-6 mb-6" />
    
    <app-about-in2art class="mb-6" />


    <!-- Skills -->
    <div class="skills-title mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.ANGULAR" />
        <app-skill [skill]="Skills.CSS" />
        <app-skill [skill]="Skills.TYPESCRIPT" />
        <app-skill [skill]="Skills.JAVASCRIPT" />
        <app-skill [skill]="Skills.JQUERY" />
        <app-skill [skill]="Skills.HTML5" />
        <app-skill [skill]="Skills.BOOTSTRAP" />
        <app-skill [skill]="Skills.ANGULARMATERIAL" />
        <app-skill [skill]="Skills.I18N" />
        <app-skill [skill]="Skills.NODEJS" />
        <app-skill [skill]="Skills.JSON" />
        <app-skill [skill]="Skills.MYSQL" />
        <app-skill [skill]="Skills.FILEZILLA" />
        <app-skill [skill]="Skills.APACHE" />
        <app-skill [skill]="Skills.GIT" />
        <app-skill [skill]="Skills.SOURCETREE" />
        <app-skill [skill]="Skills.POWERSHELL" />
        <app-skill [skill]="Skills.POSTMAN" />
        <app-skill [skill]="Skills.ASANA" />
        <app-skill [skill]="Skills.PHPMYADMIN" />
        <app-skill [skill]="Skills.POEDIT" />
        <app-skill [skill]="Skills.AGILE" />
        <app-skill [skill]="Skills.MVC" />
        <app-skill [skill]="Skills.RESPONSIVEDESIGN" />
    </div>
</section>
