<section id="bio" class="row section" appMostrarAmbAnimacio>
    <div class="col-5 col-sm-4 p-3 p-sm-4" appMostrarAmbAnimacio>
        <div class="foto">
            <!-- <app-imatge-scroll src="assets/Foto carnet 2020.jpg"></app-imatge-scroll> -->
            <img src="assets/Foto carnet 2020.jpg" alt="Foto">
        </div>
    </div>

    <div class="col-7 col-sm-8 px-sm-4 text-end align-self-center">

        <div class="py-sm-4">
            <div class="bondia text-60 mb-3" appMostrarAmbAnimacio>{{getSalutacioSegonsHora()}}</div>
            <div class="emdicjordi text-end">
                <span class="emdic text-70" appMostrarAmbAnimacio>
                    @if (m.ca) { Em dic }
                    @if (m.es) { Me llamo }
                    @if (m.en) { My name is }
                </span>
                <div class="jordi" appMostrarAmbAnimacio>Jordi Mas Parramon</div>
            </div>
            <div class="programador text-70 fst-italic" appMostrarAmbAnimacio>
                @if (m.ca) { - Programador frontend - }
                @if (m.es) { - Programador frontend - }
                @if (m.en) { - Frontend programmer - }
            </div>
        </div>


        <!-- Recipient bio pc -->
        @if (m.esPantallaPc()) {
            <div class="text-center text-80 mt-4">
                <div *ngTemplateOutlet="contBio"></div>
            </div>
        }
        
    </div>
    <!-- Recipient bio mobil -->
    @if (m.esPantallaMobil()) {
        <div class="text-center text-80 mt-4">
            <div *ngTemplateOutlet="contBio"></div>
        </div>
    }
    <!-- Template bio -->
    <ng-template #contBio>
        <div class="text-justify mb-4">
            @if (m.ca) {
                Sóc un apassionat programador especialitzat en frontend i UI/UX, amb
                <span class="tempsExp tooltipExp">{{anysExp || "diversos"}} anys d'experiència<div>{{m.exp.getTextExp("_total")}}</div></span>
                en Angular, CSS, Javascript, jQuery, Python i C#, entre altres. També he participat en fullstack, backend i Android quan ha sigut necessari.
                <br><br>
                Els meus esforços se centren en la creació d'interfícies d'usuari atractives, intuïtives, ergonòmiques i personalitzades per a proporcionar una experiència d'usuari tan agradable com sigui possible.
                <br><br>
                En aquesta web trobaràs detalls sobre la meva experiència, habilitats i projectes destacats, així com la meva informació de contacte perquè puguem conversar sobre diferents maneres d'ajudar-te amb projectes futurs, ja sigui en desenvolupament frontend, disseny UI/UX o qualsevol altra tasca relacionada.
            }
            @if (m.es) {
                Soy un apasionado programador especializado en frontend y UI/UX, con
                <span class="tempsExp tooltipExp">{{anysExp || "varios"}} años de experiencia<div>{{m.exp.getTextExp("_total")}}</div></span>
                en Angular, CSS, Javascript, jQuery, Python y C#, entre otros. También he participado en fullstack, backend y Android cuando ha sido necesario.
                <br><br>
                Mis esfuerzos se centran en la creación de interfaces de usuario atractivas, intuitivas, ergonómicas y personalizadas para proporcionar una experiencia de usuario lo más agradable posible.
                <br><br>
                En esta web encontrarás detalles sobre mi experiencia, habilidades y proyectos destacados, así como mi información de contacto para que podamos conversar sobre diferentes formas de ayudarte con proyectos futuros, ya sea desarrollo frontend, diseño UI/UX o cualquier otra tarea relacionada.
            }
            @if (m.en) {
                I am a passionate programmer specialized in frontend and UI/UX, with
                <span class="tempsExp tooltipExp">{{anysExp || "some"}} years of experience<div>{{m.exp.getTextExp("_total")}}</div></span>
                working with Angular, CSS, Javascript, jQuery, Python and C#, among others. I have also participated in fullstack, backend and Android when necessary.
                <br><br>
                My efforts focus on creating attractive, intuitive, ergonomic and personalized user interfaces to provide the most pleasant user experience possible.
                <br><br>
                On this website you will find details about my past experience, skills and featured projects, as well as my contact information so we can discuss different ways on helping you and your business with future projects, whether it is frontend development, UI/UX design or any other related task.
            }
        </div>

        <div class="d-flex flex-wrap justify-content-around align-items-end gap-2">
            <section class="idiomes">
                <h3 class="mb-3">
                    @if (m.ca) { Idiomes }
                    @if (m.es) { Idiomas }
                    @if (m.en) { Languages }
                </h3>
                <div class="banderes" [class.es]="m.es">
                    <img src="assets/icons/flags/cat.svg" alt="Catalan" title="Native" class="ca">
                    <img src="assets/icons/flags/es.svg" alt="Spanish" title="Native" class="es">
                    <a href="https://learnenglish.britishcouncil.org/english-levels/understand-your-english-level/b2-upper-intermediate" class="no-style d-flex en">
                        <img src="assets/icons/flags/uk.svg" alt="English" title="B2+">
                    </a>
                </div>
            </section>

            @if (m.esPantallaMobil()) { <div class="w-100"></div> }

            <a [href]="getRutaCV()" class="boto botoCV" appMostrarAmbAnimacio>
                @if (m.ca) { Obrir CV }
                @if (m.es) { Abrir CV }
                @if (m.en) { Open Resume }
                <img src="assets/icons/contact/cv.png" alt="Curriculum Vitae" class="logo inv-dark-2">
            </a>
        </div>
    </ng-template>
</section>
