@import "src/styles.scss";

// opacity: primary (87%), secondary (60%), tertiary (38%) //

.foto:not(.treureHover) {
    overflow: hidden;
    border-radius: 2rem;

    transition: border-radius 0.3s;

    @include tablet {
        -webkit-box-reflect: below 0px linear-gradient(to bottom, rgb(0 0 0 / 0%) 50%, rgb(0 0 0 / 15%));
    }

    &:hover {
        border-radius: 1rem !important;

        img {
            transform: none !important;
        }
    }

    img {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        transform-origin: top;
        
        transition: transform 0.3s;
    }
}

.bondia {
    font-size: 1.8rem;
    @include mobil { font-size: 1.5rem; }
}
.emdicjordi {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    column-gap: 0.5rem;

    @include mobil {
        flex-direction: column;
        align-items: flex-end;
    }

    .emdic {
        margin-bottom: -0.4rem;
        font-size: 1.4rem;
        @include mobil { font-size: 1.1rem; }
    }
    .jordi {
        color: var(--accent-color);
        font-size: 1.7rem;
        @include light { font-weight: bold !important; }
        @include mobil { font-size: 1.25rem; }
    }
}
.programador {
    font-size: 1.2rem;
    @include mobil { font-size: 0.9rem; }
}

.tempsExp {
    cursor: pointer;
    color: var(--accent-color);
    font-weight: bold;
    display: inline-block;
}

.botoCV {
    padding: 0.9rem 1rem 0.9rem 1.1rem;
}


// Tooltip //
.tooltipExp:not(.treureHover) {
    position: relative;

    > div {
        visibility: hidden;
        position: absolute;
        width: max-content;
        padding: 0.3rem 0.8rem;
        margin-left: -0.8rem;
        margin-top: 5px;
        border-radius: 0.7rem;
        background-color: var(--text);
        color: var(--fons);
        font-weight: normal;
        user-select: none;
        pointer-events: none;

        @extend .shadow-2;

        &::after {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent var(--text) transparent;
          }
    }
    &:hover > div { visibility: visible; }
}
