:host { display: block; }

figure {

    .contenidor {
        padding: 2rem;
        background-color: black;
        border-radius: 1.5rem;

        jmp-about-card {
            display: block;
        }
    }

    figcaption {
        font-size: 0.9rem;
        font-style: italic;
        color: var(--text-70);
    }
}
