@import "src/styles.scss";
@import "../page.scss";

.content {
    min-height: 70vh;

    .input-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
        @include mobil { gap: 0.25rem; }

        background-color: light-dark(hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 0%, 0.4));
        backdrop-filter: blur(20px);
        font-size: 3rem;
        @include mobil { font-size: 2rem; }

        width: 75%;
        @include mobil { width: 100%; }

        padding: 0.25rem 0.5rem;
        margin: auto;
        border-radius: 1rem;

        cursor: text;
        transition: translate, width, padding, border-radius, gap;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.38, 1.37, 0.64, 0.97);

        &.gran {
            translate: 0 25vh;
            @include mobil { width: 75%; }

            padding: 1.5rem 1.5rem;
            border-radius: 4rem;
            gap: 2rem;
            @include mobil { gap: 1.5rem; }
        }


        i.lupa {
            padding: 0.65rem;
            @include mobil { padding: 0.25rem; }

            color: light-dark(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 100%, 0.5));

            transition: color 0.4s;

            pointer-events: none;
        }

        input {
            width: 100%;
            background: none;
            border: 0;
            outline: none;

            &::placeholder { color: light-dark(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 100%, 0.7)); }
        }
    }

    .resultats {
        display: flex;
        flex-direction: column;
        gap: 6rem;

        .llista-skills {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;

            ::ng-deep {
                jmp-skill .chip {
                    font-size: 1.5rem;
                }
            }
        }
    }

}




// Ocultar camp buscador de la appbar a la pantalla /search //
::ng-deep .appbar {
    jmp-input-buscador, .zona-boto-buscador {
        scale: 0.75;
        opacity: 0;
        pointer-events: none;
    }
}
