<div id="page" class="page">



    <div class="content mb-6">

        <div class="mw-1400 mx-auto">

            <div class="d-flex flex-column align-items-center gap-3">

                <jmp-skill [skill]="skill" />

                <div class="info-card" [class]="skill" jmpMostrarAmbAnimacio>
                    {{ experienciaEn_string }} <b>{{ SkillText[skill] }}:</b><br>
                    {{ getTextTooltip() }}
                </div>

            </div>

            <div class="resultats mt-5">
                @if (caseStudies) {
                    <section class="case-studies">
                        <div class="llista-case-studies mx-auto row justify-content-center g-3 mb-6">
                            @for (caseStudy of caseStudies; track caseStudy) {
                                <jmp-preview-case-study [id]="caseStudy" [class]="previewClass(caseStudies.length)" />
                            }
                        </div>

                    </section>
                }
            </div>
            
        </div>

    </div>
</div>
