@import "src/styles.scss";
@import "../experience-styles.scss";



a.link-boto-titol {
    img.title-icon {
        transition: transform 0.3s;
    }
    &:hover {
        img.title-icon {
            transform: rotate(360deg) scale(1.2);
        }
    }
}

.descripcio {
    .maquina {
        width: 300px;
        @include mobil {
            width: 100%;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }

        // Arrodoniment text //
        shape-outside: url("/assets/images/evora/maquina-evora.png");
        shape-margin: 1.5rem;
    }
}
