@import "src/styles.scss";


.section {
    .section-title {
        a {
            img.title-icon {
                height: 1.6rem;
                transition: transform 0.3s;
            }
            &:hover {
                img.title-icon {
                    transform: scale(1.4);
                }
            }
        }
    }

    .boto-i-qr {
        text-align: center;
        align-items: center;
        row-gap: 2rem;

        @include mobil {
            flex-direction: column;
            row-gap: 1rem;
        }

        .botoAmazon {
            background-color: #152939;
            color: #03cbfe;
            padding: 1rem;
            padding-bottom: 0.5rem;

            img {
                height: 1.5rem;
            }

        }

        ::ng-deep qrcode {
            .qrcode {
                canvas {
                    border-radius: 16px !important;
                }
            }
        }

        .scan-here-text {
            font-size: 0.9rem;
        }
    }
}


// Icona en mode clar: afegim filtre forçat per a fer-la més fosca i que es vegi bé //
section#android .section-title .title-icon {
    @include light {
        filter: brightness(0.7) saturate(2);
    }
}
