<section id="android" class="tema-android section mb-6" appMostrarAmbAnimacio>
    <div class="section-title mb-2 gap-2_5">
        @if (m.ca) { Apps Android }
        @if (m.es) { Apps Android }
        @if (m.en) { Android Apps }
        <a href="https://www.android.com/" class="link-img"><img src="assets/icons/android.png" alt="Android" class="title-icon py-1"></a>
    </div>
    <div class="text mb-4">
        @if (m.ca) {
            Quan tinc temps lliure, m'agrada desenvolupar aplicacions per a Android i jocs per a la Play Store, ja sigui en Android Studio com en Unity. Per fer-ho, utilitzo majoritàriament Java, Kotlin i C#.<br>
            Sempre m'he esforçat a seguir les directrius de <a href="https://m2.material.io/">Material Design</a> en Android, però des d'Android 12 i la introducció de la tercera versió de Material Design, anomenada <a href="https://m3.material.io/">Material You</a>, he començat a dissenyar les interfícies seguint aquest nou estil, que ofereix una estètica moderna i agradable d'utilitzar. Seguint aquesta línia, a l'hora de triar el tema, utilitzo els <a href="https://developer.android.com/develop/ui/views/theming/dynamic-colors">colors dinàmics de Monet</a>, que ofereixen opcions de personalització segons el fons de pantalla. D'aquesta manera es poden generar interfícies amb combinacions de colors úniques per a cada usuari.<br><br>
        }
        
        @if (m.es) {
            Cuando tengo tiempo libre, me gusta desarrollar aplicaciones para Android y juegos para Play Store, ya sea en Android Studio como en Unity. Para ello, utilizo mayoritariamente Java, Kotlin y C#.<br>
            Siempre me he esforzado en seguir las directrices de <a href="https://m2.material.io/">Material Design</a> en Android, pero desde Android 12 y la introducción de la tercera versión de Material Design, llamada <a href="https://m3.material.io/">Material You</a>, he empezado a diseñar las interfaces siguiendo este nuevo estilo, que ofrece una estética moderna y agradable de utilizar. Siguiendo esa línea, a la hora de elegir el tema utilizo los <a href="https://developer.android.com/develop/ui/views/theming/dynamic-colors">colores dinámicos de Monet</a>, que ofrecen opciones de personalización según el fondo de pantalla. De esta forma se pueden generar interfaces con combinaciones de colores únicas para cada usuario.<br><br>
        }
        
        @if (m.en) {
            When I have free time, I like to develop Android apps and games for the Play Store, either in Android Studio or in Unity. To do it, I mostly use Java, Kotlin and C#.<br>
            I have always put effort into following <a href="https://m2.material.io/">Material Design</a> guidelines in Android, but since Android 12 and the introduction of the third version of Material Design, called <a href="https://m3.material.io/">Material You</a>, I have started to design the UIs following this new style, which offers a modern and pleasant-to-use aesthetic. When it comes to choosing the theme, I use <a href="https://developer.android.com/develop/ui/views/theming/dynamic-colors">Monet's dynamic colors</a>, which offer customization options depending on the wallpaper. In this way, interfaces with unique color combinations can be generated for each user.<br><br>
        }

        <app-detalls-android-apps/>
        <br>

        @if (m.ca) { Les meves aplicacions estan disponibles a diferents botigues: }
        @if (m.es) { Mis aplicaciones están disponibles en diferentes tiendas: }
        @if (m.en) { My apps are available on different markets: }
    </div>
    <div class="boto-i-qr row">
        <div class="col-6">
            <a href="/pages/play-store/play-store.html" class="boto botoAmbIcona" appMostrarAmbAnimacio>
                Play Store
                <img src="assets/icons/play-store.png" alt="Google Play Store" class="logo">
            </a>
        </div>
        @if (!m.esAndroid()) {
            <div class="col-6" appMostrarAmbAnimacio>
                <qrcode qrdata="https://jordimas96.github.io/pages/play-store/play-store.html" [errorCorrectionLevel]="'M'"
                    colorDark="#005727" colorLight="#b8ffd8" title="Play Store QR"></qrcode>

                <div class="scan-here-text text-80">
                    @if (m.ca) { Escaneja el QR des d'un dispositiu Android<br>per a visitar el meu perfil de Play Store }
                    @if (m.es) { Escanea el QR desde un dispositivo Android<br>para visitar mi perfil de Play Store }
                    @if (m.en) { Scan here from an Android device<br>to visit my Play Store profile }
                </div>
            </div>
        }
        <div class="col-6">
            <a [href]="getAmazonLink_apps()" class="boto botoAmazon tema-amazon-apps" appMostrarAmbAnimacio>
                <img src="assets/icons/amazon-appstore.png" alt="Amazon Appstore" class="logo">
            </a>
        </div>
        @if (!m.esAndroid()) {
            <div class="col-6 tema-amazon-apps" appMostrarAmbAnimacio>
                <qrcode [qrdata]="getAmazonLink_apps()" [errorCorrectionLevel]="'M'"
                    colorDark="#152939" colorLight="#b8f0ff" title="Amazon Appstore QR"></qrcode>

                <div class="scan-here-text text-80">
                    @if (m.ca) { Escaneja el QR des d'un dispositiu Android<br>per a visitar el meu perfil de Amazon Appstore }
                    @if (m.es) { Escanea el QR desde un dispositivo Android<br>para visitar mi perfil de Amazon Appstore }
                    @if (m.en) { Scan here from an Android device<br>to visit my Amazon Appstore profile }
                </div>
            </div>
        }
    </div>
    
    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill n="Android"/>
        <app-skill n="Kotlin"/>
        <app-skill n="Java"/>
        <app-skill n="C#"/>
        <app-skill n="PHP"/>
        <app-skill n="MySQL"/>
        <app-skill n="GitHub"/>
        <app-skill n="Android Studio"/>
        <app-skill n="Unity"/>
    </div>
</section>
