@import "src/styles.scss";



.group {
    a.link-img {
        img.title-icon {
            transition: transform 0.3s;
        }
    }

    .boto-i-qr {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;

        .div-qr-i-text {
            text-align: center;

            ::ng-deep qrcode {
                .qrcode {
                    canvas {
                        border-radius: 16px !important;
                        @extend .shadow-2;
                    }
                }
            }
            
            .scan-here {
                font-size: 0.9rem;
                color: var(--text-80);
            }
        }
    }
}


// Afegim filtre forçat per a que es vegi bé l'icona en mode clar //
.light :host .subtitle .title-icon {
    filter: brightness(0.7) saturate(2);
}



// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .group .boto-i-qr {
        flex-direction: column;
    }
}
// Pantalla Tablet //
@media only screen and (min-width: 576px) {
    .group {
        .boto-i-qr {
            a.boto {
                padding: 0.5rem !important;
                padding-left: 1rem !important;
            }
        }
    }
}
// Pantalla PC //
@media only screen and (min-width: 768px) { }
// Pantalla Molt Gran //
@media only screen and (min-width: 992px) { }


// PC //
@media (pointer: fine) {
    a.link-img:hover {
        img.title-icon {
            transform: scale(1.4);
        }
    }
}
// Mòbil //
@media (pointer: coarse) { }
