<section id="android" class="tema-android card-themed bg-colored section">
    <div class="titol-top-card section-title d-flex align-items-center mb-2 gap-2_5">
        @if (m.ca) { Apps Android }
        @if (m.es) { Apps Android }
        @if (m.en) { Android Apps }
        <a href="https://www.android.com/" class="rs">
            <img src="assets/_projects/android/icons/android.png" alt="Android" class="title-icon">
        </a>
    </div>
    <article class="descripcio mb-4">
        @if (m.ca) {
            Quan tinc temps lliure, m'agrada desenvolupar aplicacions per a Android i jocs per a la Play Store, ja sigui en Android Studio com en Unity. Per fer-ho, utilitzo majoritàriament Java, Kotlin i C#.<br>
            Sempre m'he esforçat a seguir les directrius de <app-link id="material-design">Material Design</app-link> en Android, però des d'Android 12 i la introducció de la tercera versió de Material Design, anomenada <app-link id="material-you">Material You</app-link>, he començat a dissenyar les interfícies seguint aquest nou estil, que ofereix una estètica moderna i agradable d'utilitzar. Seguint aquesta línia, a l'hora de triar el tema, utilitzo els <app-link id="dynamic-colors">colors dinàmics de Monet</app-link>, que ofereixen opcions de personalització segons el fons de pantalla. D'aquesta manera es poden generar interfícies amb combinacions de colors úniques per a cada usuari.<br><br>

            A més, les meves aplicacions han despertat tant d'interès que he rebut diverses ofertes per a comprar el meu compte de desenvolupador.
        }

        @if (m.es) {
            Cuando tengo tiempo libre, me gusta desarrollar aplicaciones para Android y juegos para Play Store, ya sea en Android Studio como en Unity. Para ello, utilizo mayoritariamente Java, Kotlin y C#.<br>
            Siempre me he esforzado en seguir las directrices de <app-link id="material-design">Material Design</app-link> en Android, pero desde Android 12 y la introducción de la tercera versión de Material Design, llamada <app-link id="material-you">Material You</app-link>, he empezado a diseñar las interfaces siguiendo este nuevo estilo, que ofrece una estética moderna y agradable de utilizar. Siguiendo esa línea, a la hora de elegir el tema utilizo los <app-link id="dynamic-colors">colores dinámicos de Monet</app-link>, que ofrecen opciones de personalización según el fondo de pantalla. De esta forma se pueden generar interfaces con combinaciones de colores únicas para cada usuario.<br><br>

            Además, mis aplicaciones han despertado tanto interés que he recibido varias ofertas para comprar mi cuenta de desarrollador.
        }

        @if (m.en) {
            When I have free time, I like to develop Android apps and games for the Play Store, either in Android Studio or in Unity. To do it, I mostly use Java, Kotlin and C#.<br>
            I have always put effort into following <app-link id="material-design">Material Design</app-link> guidelines in Android, but since Android 12 and the introduction of the third version of Material Design, called <app-link id="material-you">Material You</app-link>, I have started to design the UIs following this new style, which offers a modern and pleasant-to-use aesthetic. When it comes to choosing the theme, I use <app-link id="dynamic-colors">Monet's dynamic colors</app-link>, which offer customization options depending on the wallpaper. In this way, interfaces with unique color combinations can be generated for each user.<br><br>

            Additionally, my apps have generated so much interest that I have received several offers to purchase my developer account.
        }

        <app-detalls-android-apps class="mt-4 mb-5" appMostrarAmbAnimacio />

        @if (m.ca) { Les meves aplicacions estan disponibles a diferents botigues: }
        @if (m.es) { Mis aplicaciones están disponibles en diferentes tiendas: }
        @if (m.en) { My apps are available on different markets: }
    </article>
    <div class="boto-i-qr row">
        <div class="col-12 col-sm-6">
            <a [href]="'https://jordimas96.github.io/r/play-store'" class="boto ambIcona" appMostrarAmbAnimacio matRipple>
                Play Store
                <img src="assets/_projects/android/icons/buttons/play-store.png" alt="Google Play Store" class="logo">
            </a>
        </div>
        @if (!m.esAndroid()) {
            <div class="col-12 col-sm-6" appMostrarAmbAnimacio>
                <qrcode [qrdata]="'https://jordimas96.github.io/r/play-store'" [errorCorrectionLevel]="'M'"
                    colorDark="#005727" colorLight="#b8ffd8" title="Play Store QR"></qrcode>

                <div class="scan-here-text text-80">
                    @if (m.ca) { Escaneja el QR des d'un dispositiu Android<br>per a visitar el meu perfil de Play Store }
                    @if (m.es) { Escanea el QR desde un dispositivo Android<br>para visitar mi perfil de Play Store }
                    @if (m.en) { Scan here from an Android device<br>to visit my Play Store profile }
                </div>
            </div>
        }
        <div class="col-12 col-sm-6">
            <a [href]="getAmazonLink_apps()" class="boto botoAmazon paleta-192" appMostrarAmbAnimacio matRipple>
                <img src="assets/_projects/android/icons/buttons/amazon-appstore.png" alt="Amazon Appstore" class="logo">
            </a>
        </div>
        @if (!m.esAndroid()) {
            <div class="col-12 col-sm-6 paleta-192" appMostrarAmbAnimacio>
                <qrcode [qrdata]="getAmazonLink_apps()" [errorCorrectionLevel]="'M'"
                    colorDark="#152939" colorLight="#b8f0ff" title="Amazon Appstore QR"></qrcode>

                <div class="scan-here-text text-80">
                    @if (m.ca) { Escaneja el QR des d'un dispositiu Android<br>per a visitar el meu perfil de Amazon Appstore }
                    @if (m.es) { Escanea el QR desde un dispositivo Android<br>para visitar mi perfil de Amazon Appstore }
                    @if (m.en) { Scan here from an Android device<br>to visit my Amazon Appstore profile }
                </div>
            </div>
        }
    </div>

    <div class="text-center d-flex flex-wrap justify-content-center gap-4 mt-5">
        <app-story [urlId]="'18044150213577474'" [titol]="'Wallpaper Blurrer'" img="assets/about-me/stories/wallpaper-blurrer.png" appMostrarAmbAnimacio />
        <app-story [urlId]="'17877632784216731'" [titol]="'Text Mimicker'" img="assets/about-me/stories/text-mimicker.png" appMostrarAmbAnimacio />
        <app-story [urlId]="'18503334469057954'" [titol]="'SUS Tracker'" img="assets/about-me/stories/sus-tracker.png" appMostrarAmbAnimacio />
        <app-story [urlId]="'18067998383314514'" [titol]="'Breaking Ball'" img="assets/about-me/stories/breaking-ball.png" appMostrarAmbAnimacio />
    </div>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.ANDROID" />
        <app-skill [skill]="Skills.KOTLIN" />
        <app-skill [skill]="Skills.JAVA" />
        <app-skill [skill]="Skills.CSHARP" />
        <app-skill [skill]="Skills.PHP" />
        <app-skill [skill]="Skills.MYSQL" />
        <app-skill [skill]="Skills.GITHUB" />
        <app-skill [skill]="Skills.ANDROIDSTUDIO" />
        <app-skill [skill]="Skills.UNITY" />
    </div>
</section>
