@import "src/styles.scss";



.group {
    a.link-img {
        img.title-icon {
            transition: transform 0.3s;
        }
    }

    .boto-i-qr {
        text-align: center;
        align-items: center;
        row-gap: 2rem;

        ::ng-deep qrcode {
            .qrcode {
                canvas {
                    border-radius: 16px !important;
                }
            }
        }
        
        .scan-here {
            font-size: 0.9rem;
            color: var(--text-80);
        }
    }
}

.botoAmazon {
    background-color: #152939 !important;
    color: #03cbfe !important;
    padding: 1rem !important;
    padding-bottom: 0.5rem !important;

    img {
        height: 1.5rem !important;
    }

}


// Afegim filtre forçat per a que es vegi bé l'icona en mode clar //
.light :host .subtitle .title-icon {
    filter: brightness(0.7) saturate(2);
}



// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .group .boto-i-qr {
        flex-direction: column;
        row-gap: 1rem;
    }
}
// Pantalla Tablet //
@media only screen and (min-width: 576px) { }
// Pantalla PC //
@media only screen and (min-width: 768px) { }
// Pantalla Molt Gran //
@media only screen and (min-width: 992px) { }


// PC //
@media (pointer: fine) {
    a.link-img:hover {
        img.title-icon {
            transform: scale(1.4);
        }
    }
}
// Mòbil //
@media (pointer: coarse) { }
