@import "src/styles.scss";

.section {
    a.link-img {
        img.title-icon {
            transition: transform 0.3s;
        }
        &:hover {
            img.title-icon {
                transform: scale(1.4);
            }
        }
    }

    .boto-i-qr {
        text-align: center;
        align-items: center;
        row-gap: 2rem;

        @include mobil {
            flex-direction: column;
            row-gap: 1rem;
        }

        ::ng-deep qrcode {
            .qrcode {
                canvas {
                    border-radius: 16px !important;
                }
            }
        }
        
        .scan-here-text {
            font-size: 0.9rem;
        }
    }
}

.botoAmazon {
    background-color: #152939 !important;
    color: #03cbfe !important;
    padding: 1rem !important;
    padding-bottom: 0.5rem !important;

    img {
        height: 1.5rem !important;
    }

}


// Icona en mode clar: afegim filtre forçat per a fer-la més fosca i que es vegi bé //
section#android .link-img .title-icon {
    @include light {
        filter: brightness(0.7) saturate(2);
    }
}
