<div class="seccio">
    <button class="boto-desplegable no-style" (click)="toggleSeccio($event.currentTarget)">
        <div class="text-i-icona">
            <img src="assets/icons/mad-jumpgate.png" class="icona">
            <span class="titol">Mad Jumpgate</span>
        </div>
        <i class="fa-solid fa-chevron-down fletxa"></i>
    </button>
    <div class="contingut" style="display:none;">
        @if (m.esPc()) {
            <div class="iframe-i-placeholder" appMostrarAmbAnimacio>
                @if (carregarJoc) {
                    <iframe #iframeRef src="assets/mad-jumpgate/index.html" width="1920" height="1080" scrolling="no"></iframe>
                }
        
                <div class="placeholder" [style.width.px]="placeholderWidth" [style.height.px]="placeholderHeight"></div>
        
                <button class="boto botoFullscreen no-style" (click)="fullScreen()"><i class="fa-solid fa-expand"></i></button>
            </div>
        } @else {
            <div class="missatge-nomes-pc">
                @if (m.ca) { Aquest joc és només per a ordinador.<br>Accedeix des d'un ordinador per a jugar-hi. }
                @if (m.es) { Este juego es sólo para ordenador.<br>Accede desde un ordenador para jugar. }
                @if (m.en) { This game is for PC only.<br>Access from a computer to play it. }
            </div>
        }
    </div>
</div>
