@import "src/styles.scss";

.seccio {
    margin-bottom: 1rem;
    border-radius: 2rem;
    
    .boto-desplegable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem;

        .text-i-icona {
            display: flex;
            align-items: center;
            gap: 1rem;

            .icona {
                height: 4rem;
                border-radius: 1.5rem;
            }
            .titol {
                font-size: 1.5rem;
                color: var(--text);
            }
        }
        .fletxa {
            font-size: 1.5rem;
            margin-right: 1rem;
            margin-left: 1rem;
            transition: transform 200ms;
            
            &[data-open] {
                transform: rotate(-180deg);
            }
        }
    }
    .contingut {
        padding: 0.5rem 1rem 1rem;
        transition: padding-left 0.3s, padding-right 0.3s;

        .iframe-i-placeholder {
            position: relative;
            border-radius: 1rem;
            overflow: hidden;
        
            iframe {
                position: absolute;
                transform-origin: top left;
                border: none;
                border-radius: 1rem;
                z-index: 1;
            }
            .placeholder {
                // transition: height 2s;
            }
        
            .botoFullscreen {
                display: inline-block;
                position: absolute;
                top: 0; right: 0;
                margin: 0.5rem;
                padding: 0;
                width: 2.7rem;
                height: 2.7rem;
                border-radius: 10px;
                opacity: 0.5;
                z-index: 2;
        
                background-color: var(--color-l-7);
                color: var(--color-fosc);
        
                transition: opacity 0.2s;
        
                &:hover {
                    opacity: 1;
                }
            }
        }
        
        .missatge-nomes-pc {
            color: var(--text-80);
            text-align: center;
            font-size: 0.9rem;
        }
    }
}

::ng-deep .seccio {
    background-color: var(--color-clar-20);
}
::ng-deep .light .seccio {
    background-color: var(--color-clar-50);
    // @extend .shadow-1;
}




// Pantalla Mòbil //
@media only screen and (max-width: 575px) { }
// Pantalla Tablet //
@media only screen and (min-width: 576px) {
    .seccio {
        .contingut {
            padding: 0.5rem 1.5rem 1.5rem;
        }
    }
}
// Pantalla PC //
@media only screen and (min-width: 768px) { }
// Pantalla Molt Gran //
@media only screen and (min-width: 992px) { }
