<div class="seccio" appMostrarAmbAnimacio>
    <button class="boto-desplegable no-style" (click)="toggleSeccio($event.currentTarget)">
        <div class="text-i-icona">
            <img src="assets/images/mad-jumpgate/icons/mad-jumpgate.png" class="icona">
            <span class="titol">
                Mad Jumpgate
                @if(m.esPc()){
                    -
                    @if(m.ca) { Jugar aquí }
                    @if(m.es) { Jugar aquí }
                    @if(m.en) { Play here }
                }
            </span>
        </div>
        <i class="fa-solid fa-chevron-down fletxa"></i>
    </button>
    <div class="contingut" style="display:none;">
        @if (m.esPc()) {
            <div class="iframe-i-placeholder" appMostrarAmbAnimacio>
                @if (carregarJoc) {
                    <iframe #iframeRef src="external-pages/mad-jumpgate/index.html" width="1920" height="1080" scrolling="no"></iframe>
                }
        
                <div class="placeholder" [style.width.px]="placeholderWidth" [style.height.px]="placeholderHeight"></div>
        
                <button class="boto botoFullscreen no-style" (click)="fullScreen()"><i class="fa-solid fa-expand"></i></button>
            </div>
        } @else {
            <div class="missatge-nomes-pc">
                @if (m.ca) {
                    <div appMostrarAmbAnimacio>Aquest joc és només per a ordinador</div>
                    <div appMostrarAmbAnimacio>Accedeix des d'un ordinador per a jugar-hi</div>
                }
                @if (m.es) {
                    <div appMostrarAmbAnimacio>Este juego es sólo para ordenador</div>
                    <div appMostrarAmbAnimacio>Accede desde un ordenador para jugar</div>
                }
                @if (m.en) {
                    <div appMostrarAmbAnimacio>This game is for PC only</div>
                    <div appMostrarAmbAnimacio>Access from a computer to play it</div>
                }
            </div>
        }
    </div>
</div>
