<div class="seccio">
    <button class="boto-desplegable" (click)="toggleSeccio($event.currentTarget)" matRipple>
        <div class="d-flex align-items-center gap-3">
            <img src="assets/_projects/mad-jumpgate/icons/accordion/mad-jumpgate.png" class="icona">
            <span class="titol">
                @if (m.esPc) {
                    @if (m.ca) { Jugar al navegador }
                    @if (m.es) { Jugar en el navegador }
                    @if (m.en) { Play in browser }
                } @else {
                    Mad Jumpgate
                }
            </span>
        </div>
        <i class="fa-solid fa-chevron-down fletxa"></i>
    </button>
    <div class="contingut" style="display:none;">
        @if (m.esPc) {
            <div class="iframe-i-placeholder" jmpMostrarAmbAnimacio>
                @if (carregarJoc) {
                    <iframe #iframeRef src="https://mad-jumpgate.github.io/webgl" width="1920" height="1080" scrolling="no"></iframe>
                }
        
                <div class="placeholder" [style.width.px]="placeholderWidth" [style.height.px]="placeholderHeight"></div>
        
                <button class="botoFullscreen" (click)="fullScreen()" matRipple><i class="fa-solid fa-expand"></i></button>
            </div>
        } @else {
            <div class="missatge-nomes-pc">
                @if (m.ca) {
                    <div class="mb-2" jmpMostrarAmbAnimacio>Aquest joc només està disponible per a ordinador</div>
                    <div jmpMostrarAmbAnimacio>Accedeix des d'un ordinador per jugar-hi</div>
                }
                @if (m.es) {
                    <div class="mb-2" jmpMostrarAmbAnimacio>Este juego sólo está disponible para ordenador</div>
                    <div jmpMostrarAmbAnimacio>Accede desde un ordenador para jugar</div>
                }
                @if (m.en) {
                    <div class="mb-2" jmpMostrarAmbAnimacio>This game is only available on desktop</div>
                    <div jmpMostrarAmbAnimacio>Access from a computer to play</div>
                }
            </div>
        }
    </div>
</div>
