@import "src/styles.scss";

:host { display: block; }

.seccio {
    border-radius: 0.5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    background-color: light-dark(var(--color-clar-50), var(--color-clar-20));

    &[data-open] .fletxa {
        transform: rotate(-180deg);
    }
    &:not([data-open]):hover {
        background-color: light-dark(var(--color-clar-80), var(--color-clar-30));
    }
    
    .boto-desplegable {
        @include reset-button;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem;

        border-radius: inherit;

        .text-i-icona {
            display: flex;
            align-items: center;
            gap: 1rem;

            .icona {
                height: 4rem;
                border-radius: 1.5rem;
            }
            .titol {
                font-size: 1.5rem;
                color: var(--text);
            }
        }
        .fletxa {
            font-size: 1.5rem;
            margin-right: 1rem;
            margin-left: 1rem;
            transition: transform 200ms;
        }
    }
    .contingut {
        padding: 0.5rem 1rem 1rem;
        transition: padding-left 0.3s, padding-right 0.3s;

        @include tablet {
            padding: 0.5rem 1.5rem 1.5rem;
        }

        .iframe-i-placeholder {
            position: relative;
            border-radius: 1rem;
            overflow: hidden;
        
            iframe {
                position: absolute;
                transform-origin: top left;
                border: none;
                border-radius: 1rem;
                z-index: 1;
            }
            .placeholder {
                // transition: height 2s;
            }
        
            .botoFullscreen {
                @include reset-button;
                
                display: inline-block;
                position: absolute;
                top: 0; right: 0;
                margin: 0.5rem;
                padding: 0;
                width: 2.7rem;
                height: 2.7rem;
                border-radius: 10px;
                z-index: 2;
        
                color: var(--color-fosc);
                background-color: hsla(60, 100%, 75%, 0.3);
                backdrop-filter: blur(6px);
        
                transition: background-color 0.2s;
        
                &:hover {
                    background-color: hsla(60, 100%, 75%, 0.8);
                }
            }
        }
        
        .missatge-nomes-pc {
            text-align: center;
            div:nth-child(1) {
                font-size: 1.3rem;
                color: var(--text-90);
            }
            div:nth-child(2) {
                font-size: 0.9rem;
                color: var(--text-70);
            }
        }
    }
}
