@import "src/styles.scss";


.navegacio-pagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    
    > .boto {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;

        padding: 1rem 3rem;
        border-radius: 0.75rem;
        font-size: 1.85rem;

        &:first-of-type {
            padding: 1rem 1.7rem 1rem 2rem;
            border-radius: 2.5rem 0.75rem 0.75rem 2.5rem;
        }
        &:last-of-type {
            padding: 1rem 2.3rem 1rem 1.6rem;
            border-radius: 0.75rem 2.5rem 2.5rem 0.75rem;
        }

        color: white;
        &.home {        background-color: hsl(170, 100%, 30%);  }
        &.experience {  background-color: hsl(22, 50%, 40%);    }
        &.projects {    background-color: hsl(46, 100%, 35%);   }
        &.art {         background-color: hsl(275, 100%, 35%);  }
        &.about-me {    background-color: hsl(224, 100%, 58%);  }

        &:hover {
            box-shadow: inset 0 0 0 1000px #fff2 !important;
        }
    }
}
