@import "src/styles.scss";


.navegacio-pagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    
    &.fab-mode {
        position: fixed;
        z-index: 1050;
        bottom: 1.5rem; right: 1.5rem;
        @extend .shadow-filter-4-l;
        
        .boto {
            border-radius: 1rem !important;
            font-size: 1.25rem;
            padding: 1rem 1.25rem !important;

            // &:first-of-type { border-radius: 1.25rem 0.5rem 0.5rem 1.25rem !important; }
            // &:last-of-type { border-radius: 0.5rem 1.25rem 1.25rem 0.5rem !important; }
        }
    }
    
    .boto {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;

        padding: 1rem 3rem;
        border-radius: 0.75rem;
        font-size: 1.85rem;

        &:first-of-type {
            padding: 1rem 1.7rem 1rem 2rem;
            border-radius: 2.5rem 0.75rem 0.75rem 2.5rem;
        }
        &:last-of-type {
            padding: 1rem 2.3rem 1rem 1.6rem;
            border-radius: 0.75rem 2.5rem 2.5rem 0.75rem;
        }

        color: white;
        &.home {        background-color: hsl(170, 100%, 30%);  }
        &.experience {  background-color: hsl(22, 50%, 40%);    }
        &.projects {    background-color: hsl(46, 100%, 35%);   }
        &.art {         background-color: hsl(275, 100%, 35%);  }
        &.about-me {    background-color: hsl(224, 100%, 58%);  }

        &:hover {
            box-shadow: inset 0 0 0 1000px #fff2 !important;
        }
    }
}

.fab-ocult-animacio {
    .boto {
        // Estil iPhone control center //
        transform-origin: top;

        transform: translate(0px) scale(0.8);
        opacity: 0;

        transition: transform 0.3s, opacity 0.3s !important;
    }
    &.fab-mostrat {
        .boto {
            transform: translate(0) scale(1);
            opacity: 1;
        }
    }
    &:not(.fab-mostrat) {
        &, .boto {
            pointer-events: none;
        }
    }
}
