@if (!fabMode || scrollAlFinalDePagina) {
    <div class="navegacio-pagina"
        [class.fab-mode]="fabMode">
        <button
            class="boto" [class]="botons[0].nom"
            [routerLink]="'/' + botons[0].nom"
            [title]="botons[0].text()"
            animate.enter="scale-fadein"
            animate.leave="scale-fadeout"
            matRipple>
            <i class="fa-solid" [class]="botons[0].iconClass"></i>
        </button>
        <button
            class="boto" [class]="botons[1].nom"
            [routerLink]="'/' + botons[1].nom"
            animate.enter="scale-fadein"
            animate.leave="scale-fadeout"
            matRipple>
            <i class="fa-solid" [class]="botons[1].iconClass"></i>
            {{ botons[1].text() }}
        </button>
    </div>
}
