@import "src/styles.scss";

.group {
    --color-fosc-rgb-vals-test: rgb(16, 16, 16);
    --color-clar-rgb-vals-test: rgb(255, 255, 255);
    --color-fosc-rgb-vals: 16, 16, 16;
    --color-clar-rgb-vals: 255, 255, 255;
    --color-l-0: hsl(0, 0%, 6%);
    --color-l-1: hsl(0, 0%, 16%);
    --color-l-2: hsl(0, 0%, 27%);
    --color-l-3: hsl(0, 0%, 37%);
    --color-l-4: hsl(0, 0%, 48%);
    --color-l-5: hsl(0, 0%, 58%);
    --color-l-6: hsl(0, 0%, 69%);
    --color-l-7: hsl(0, 0%, 79%);
    --color-l-8: hsl(0, 0%, 89%);
    --color-l-9: hsl(0, 0%, 100%);
}

// Colors específics cards //
             .group { background-color: hsla(0, 0%, 6%, 0.5); }
.light :host .group { background-color: hsla(0, 0%, 100%, 0.5); }




// PC //
@media (pointer: fine) {
    a.link-boto-titol:hover {
        img.title-icon {
            transform-origin: 50% 200%;
            animation: saludar 0.5s linear;
        }
    }
    @keyframes saludar {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(-7.5deg); }
        50% { transform: rotate(0deg); }
        75% { transform: rotate(-7.5deg); }
        100% { transform: rotate(0deg); }
    }
}
// Mòbil //
@media (pointer: coarse) { }
