<section id="in2art" class="tema-in2art card section" appMostrarAmbAnimacio>
    <div class="section-title d-flex align-items-center justify-content-between mb-2" matRipple>
        <a [href]="getLink()" class="no-style link-boto-titol gap-3" (mouseenter)="isDown=true">
            In2art
            <img src="assets/icons/experience/in2art.png" alt="In2art" class="title-icon inv-dark">
            <span class="fletxa">↗</span>
        </a>
        @if(isDown) { <span class="webDownMsg">
            @if(m.ca) { Web actualment no disponible }
            @if(m.es) { Web actualmente no disponible }
            @if(m.en) { Web currently unavailable }
        </span> }
    </div>
    <p class="text mb-1">
        @if (m.ca) {
            Principal desenvolupador d'una xarxa social a In2art, amb Angular 11. Vaig ser responsable del frontend, disseny i part del backend.
            A més, estic orgullós de dir que vaig desenvolupar la pàgina des de zero utilitzant la meva experiència a Angular, CSS i TypeScript.<br>
            La primera part del projecte, quan vaig fer l'estructura i l'organització del frontend, la vaig desenvolupar en solitari. A mesura que la web va anar creixent i es van afegir noves seccions, vaig poder dividir la càrrega de treball entre estudiants de pràctiques de DAM (backend) als que jo mateix vaig formar en Angular, TypeScript i CSS. Junts vam treballar en equip per crear una veritable obra d'art.<br><br>

            També vaig elaborar una extensa documentació amb els passos detallats per a compilar el projecte, pujar la web al servidor, utilitzar arxius importants com .htaccess, treballar amb les traduccions, paràmetres de les peticions de la API, etc. El propòsit d'aquesta documentació era evitar les feines repetitives i agilitzar la comunicació entre frontend i backend.
            A més, vaig crear diferents scripts de PowerShell per a automatitzar les compilacions i traduccions.
        }

        @if (m.es) {
            Principal desarrollador de una red social en In2art, con Angular 11. Fui responsable del frontend, diseño y parte del backend.
            Además, estoy orgulloso de decir que desarrollé la página desde cero utilizando mi experiencia en Angular, CSS y TypeScript.<br>
            La primera parte del proyecto, cuando hice la estructura y organización del frontend, la desarrollé en solitario. A medida que la web fue creciendo y se añadieron nuevas secciones, pude dividir la carga de trabajo entre estudiantes de prácticas de DAM (backend) a los que yo mismo formé en Angular, TypeScript y CSS. Juntos, trabajamos en equipo para crear una verdadera obra de arte.<br><br>

            También elaboré una extensa documentación con los pasos detallados para compilar el proyecto, subir la web al servidor, usar archivos importantes como .htaccess, trabajar con las traducciones, parámetros de las peticiones de la API, etc. El propósito de esta documentación fue evitar los trabajos repetitivos y agilizar la comunicación entre frontend y backend.
            Además, creé distintos scripts de PowerShell para automatizar las compilaciones y traducciones.
        }


        @if (m.en) {
            Main developer of a social network at In2art, with Angular 11. I was responsible for the frontend, design and part of the backend.
            Also, I am proud to say that I built the page from scratch using my experience in Angular, CSS, and TypeScript.<br>
            The first part of the project, when I did the structure and organization of the frontend, I developed it alone. As the web grew and new sections were added, I splitted the workload among DAM internship students (backend) that I trained myself in Angular, TypeScript, and CSS. Together, we worked as a team to create a true work of art.<br><br>

            I also produced extensive documentation with detailed steps to compile the project, upload the web to the server, use important files like .htaccess, work with translations, API request parameters, etc. The purpose of this documentation was to avoid repetitive tasks and streamline communication between frontend and backend.
            Additionally, I created different PowerShell scripts to automate builds and translations.
        }
    </p>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.ANGULAR"/>
        <app-skill [skill]="Skills.CSS"/>
        <app-skill [skill]="Skills.TYPESCRIPT"/>
        <app-skill [skill]="Skills.JAVASCRIPT"/>
        <app-skill [skill]="Skills.JQUERY"/>
        <app-skill [skill]="Skills.HTML5"/>
        <app-skill [skill]="Skills.BOOTSTRAP"/>
        <app-skill [skill]="Skills.ANGULARMATERIAL"/>
        <app-skill [skill]="Skills.I18N"/>
        <app-skill [skill]="Skills.NODEJS"/>
        <app-skill [skill]="Skills.JSON"/>
        <app-skill [skill]="Skills.MYSQL"/>
        <app-skill [skill]="Skills.FILEZILLA"/>
        <app-skill [skill]="Skills.APACHE"/>
        <app-skill [skill]="Skills.GIT"/>
        <app-skill [skill]="Skills.SOURCETREE"/>
        <app-skill [skill]="Skills.POWERSHELL"/>
        <app-skill [skill]="Skills.POSTMAN"/>
        <app-skill [skill]="Skills.ASANA"/>
        <app-skill [skill]="Skills.PHPMYADMIN"/>
        <app-skill [skill]="Skills.POEDIT"/>
        <app-skill [skill]="Skills.AGILE"/>
        <app-skill [skill]="Skills.MVC"/>
        <app-skill [skill]="Skills.RESPONSIVEDESIGN"/>
    </div>
</section>
