@import "src/styles.scss";



.webDownMsg {
    color: white;
    background-color: rgb(126, 0, 0);
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    margin-right: -0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}




// PC //
@media (pointer: fine) {
    a.link-boto-titol:hover {
        img.title-icon {
            transform-origin: 50% 200%;
            animation: saludar 0.45s linear;
        }
    }
    @keyframes saludar {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(7.5deg); }
        50% { transform: rotate(0deg); }
        75% { transform: rotate(7.5deg); }
        100% { transform: rotate(0deg); }
    }
}
// Mòbil //
@media (pointer: coarse) { }
