@import "src/styles.scss";
@import "../experience-styles.scss";


a.link-boto-titol:hover {
    img.title-icon {
        transform-origin: 50% 200%;
        animation: saludar 0.45s linear;
    }
}
@keyframes saludar {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(7.5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(7.5deg); }
    100% { transform: rotate(0deg); }
    0%, 100% { clip-path: inset(7%); }
}


// Temporal //
.webDownMsg {
    color: white;
    background-color: rgb(126, 0, 0);
    font-weight: bold;
    padding: 0.35rem 0.75rem;
    margin-right: -0.5rem;
    border-radius: 1.5rem;
    font-size: 1rem;

    display: flex;
    gap: 0.5rem;

    i {
        font-size: 1.4rem;
        color: #ffa72f;
    }
}
