<div class="demos">

    <h3 class="mb-4 text-center">
        @if (m.ca) { Galeria de demos }
        @if (m.es) { Galería de demos }
        @if (m.en) { Gallery of demos }
    </h3>

    <div class="galeria">
        <div class="desktop">
            <img src="assets/images/in2art/demo/pc-thumb.png" alt="PC thumbnail" (click)="obrirModal(1)">
            <div class="text">
                Desktop
            </div>
        </div>

        <div class="mobile">
            <img src="assets/images/in2art/demo/mobile-thumb.png" alt="Mobile thumbnail" (click)="obrirModal(2)">
            <div class="text">
                Mobile
            </div>
        </div>

        <div class="responsive">
            <img src="assets/images/in2art/demo/responsive-thumb.png" alt="responsive thumbnail" (click)="obrirModal(3)">
            <div class="text">
                Responsive
            </div>
        </div>

    </div>

    <app-link [href]="m.env.assets + 'demos/in2art/'" class="mt-4">
        @if (m.ca) { Ús legítim i propietat }
        @if (m.es) { Uso legítimo y propiedad }
        @if (m.en) { Fair Use & Ownership }
    </app-link>

</div>
