@import "src/styles.scss";

:host { display: block; }

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    > div {
    
        iframe {
            border-radius: 1rem;
        }
        img {
            height: 200px;
            border-radius: 1rem;
            margin-bottom: 0.5rem;

            cursor: pointer;

            &:hover {
                
            }
        }

        .text {
            text-align: center;
            font-size: 1.5rem;
        }
    }
}
app-link {
    display: inline-block;
    font-size: 1.25rem;
}
