<section id="languages" class="llenguatges card-themed bg-colored section text-center">
    <div class="titol-llenguatges mb-4">
        @if (m.ca) { Habilitats en programació }
        @if (m.es) { Habilidades en programación }
        @if (m.en) { Programming skills }
    </div>

    <div class="botonsCanviarVista mt-2 mb-0">
        <button class="boto botoShowTime color-fons" (click)="showExpTime_click()" matRipple>
            @if (showTime) { <i class="fa-regular fa-calendar-minus"></i> }
            @else { <i class="fa-regular fa-calendar-plus"></i> }
            @if (m.ca) { {{ showTime ? "Ocultar temps" : "Mostrar temps" }} }
            @if (m.es) { {{ showTime ? "Ocultar tiempo" : "Mostrar tiempo" }} }
            @if (m.en) { {{ showTime ? "Hide time" : "Show time" }} }
        </button>
        @if (showTime) {
            <button class="boto botoSort color-fons" (click)="sort_click()" matRipple>
                @if (sorted) { <i class="fa-solid fa-chart-simple fa-rotate-90"></i> }
                @else { <i class="fa-solid fa-arrow-down-wide-short"></i> }
            </button>
        }
    </div>

    <div class="row justify-content-center">
        <div class="tipus-llenguatge col-12 col-lg-6" [ngClass]="!showTime ? 'col-sm-6' : ''">
            <div class="titol-tipus-llenguatge">Frontend</div>
            <div class="skills" [class.showTime]="showTime">
                @if (showTime) {
                    <jmp-skill [skill]="Skills.FRONTEND" [showTime]="showTime" />
                }
                <jmp-skill [skill]="Skills.ANGULAR" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.NGRX" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.JAVASCRIPT" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.JQUERY" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.CSS" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.SASS" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.TYPESCRIPT" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.HTML5" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.BOOTSTRAP" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.PRIMENG" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.ANGULARMATERIAL" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.MATERIALIZE" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.JEST" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.JASMINE" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.JIRA" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.PWA" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.I18N" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.ANDROID" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.KOTLIN" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.UWP" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.DELPHI" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.CORDOVA" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.XML" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skills.WPF" [showTime]="showTime" /> -->
            </div>
        </div>

        <div class="tipus-llenguatge col-12 col-lg-6" [ngClass]="!showTime ? 'col-sm-6' : ''">
            <div class="titol-tipus-llenguatge">Backend</div>
            <div class="skills" [class.showTime]="showTime">
                @if (showTime) {
                    <jmp-skill [skill]="Skills.BACKEND" [showTime]="showTime" />
                }
                <jmp-skill [skill]="Skills.NODEJS" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.JAVA" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.JSP" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.MICROSERVICES" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.SEQUELIZE" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.JSON" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skills.PYTHON" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.CSHARP" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.DJANGO" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skills.PHP" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.RUBYONRAILS" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skills.APACHE" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.XAMPP" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skills.MYSQL" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.PLSQL" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.PL1" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skills.DB2" [showTime]="showTime" /> -->
            </div>
        </div>

        <div id="divBotoVeureMes" class="col-12 col-sm-12 text-center">
            <button class="boto botoText botoVeureMes mt-4" (click)="obrirVeureMesSkills()" appMostrarAmbAnimacio matRipple>
                @if (m.ca) { Veure més }
                @if (m.es) { Ver más }
                @if (m.en) { See more }
                <i class="fa-solid fa-chevron-down"></i>
            </button>
        </div>

        <div class="tipus-llenguatge skills-ocultes col-12 col-lg-6" style="display:none;">
            <div class="titol-tipus-llenguatge">
                @if (m.ca) { Eines de desenvolupament }
                @if (m.es) { Herramientas de desarrollo }
                @if (m.en) { Software development tools }
            </div>
            <div class="skills" [class.showTime]="showTime">
                <jmp-skill [skill]="Skills.GIT" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.GITHUB" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.BITBUCKET" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.SOURCETREE" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.POSTMAN" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.FIGMA" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.ASANA" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skills.SQLDEVELOPER" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.PHPMYADMIN" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.FILEZILLA" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skills.ANDROIDSTUDIO" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.POWERSHELL" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skills.UNITY" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.VISUALSTUDIO" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.ECLIPSE" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.NETBEANS" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skills.SVN" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skills.HIBERNATE" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skills.VSCODE" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skills.GSHEETS" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.JOOMLA" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.POEDIT" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skills.FASTREPORT" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skills.AGILE" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.MVC" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.RESPONSIVEDESIGN" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skills.TEAMVIEWER" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skills.ANYDESK" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skills.REMOTEDESKTOP" [showTime]="showTime" /> -->
            </div>
        </div>

        <div class="tipus-llenguatge skills-ocultes col-12 col-lg-6" style="display:none;">
            <div class="titol-tipus-llenguatge">
                @if (m.ca) { Eines de virtualització i SO }
                @if (m.es) { Herramientas de virtualización y SO }
                @if (m.en) { Virtualization tools and OS }
            </div>
            <div class="skills" [class.showTime]="showTime">
                <jmp-skill [skill]="Skills.VMWARE" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.VIRTUALBOX" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.WINDOWS" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.WINDOWSSERVER" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.UBUNTU" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.DEBIAN" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.REDHAT" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.FEDORA" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.MACOS" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.TAILS" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.ZOSMVS" [showTime]="showTime" />
            </div>
        </div>

        <!-- <div class="tipus-llenguatge skills-ocultes col-12" [ngClass]="showTime ? 'col-sm-12' : 'col-sm-6'" style="display:none;">
            <div class="titol-tipus-llenguatge">
                @if (m.ca) { CMS i frameworks web }
                @if (m.es) { CMS y frameworks web }
                @if (m.en) { CMS and web frameworks }
            </div>
            <div class="skills" [class.showTime]="showTime">
                <jmp-skill [skill]="Skills.JOOMLA" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.K2" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.AKEEBABACKUP" [showTime]="showTime" />
                <jmp-skill [skill]="Skills.JCEFILEMANAGER" [showTime]="showTime" />
            </div>
        </div> -->

    </div>

</section>
