<section id="languages" class="llenguatges card-themed bg-colored section text-center">
    <div class="titol-llenguatges mb-4">
        @if (m.ca) { Habilitats en programació }
        @if (m.es) { Habilidades en programación }
        @if (m.en) { Programming skills }
    </div>

    <div class="botonsCanviarVista mt-2 mb-0">
        <button class="boto botoShowTime color-fons" (click)="showExpTime_click()" matRipple>
            @if (showTime) { <i class="fa-regular fa-calendar-minus"></i> }
            @else { <i class="fa-regular fa-calendar-plus"></i> }
            @if (m.ca) { {{ showTime ? "Ocultar temps" : "Mostrar temps" }} }
            @if (m.es) { {{ showTime ? "Ocultar tiempo" : "Mostrar tiempo" }} }
            @if (m.en) { {{ showTime ? "Hide time" : "Show time" }} }
        </button>
        @if (showTime) {
            <button class="boto botoSort color-fons" (click)="sort_click()" matRipple>
                @if (sorted) { <i class="fa-solid fa-chart-simple fa-rotate-90"></i> }
                @else { <i class="fa-solid fa-arrow-down-wide-short"></i> }
            </button>
        }
    </div>

    <div class="row justify-content-center">
        <div class="tipus-llenguatge col-12 col-lg-6" [ngClass]="!showTime ? 'col-sm-6' : ''">
            <div class="titol-tipus-llenguatge">Frontend</div>
            <div class="skills" [class.showTime]="showTime">
                @if (showTime) {
                    <jmp-skill [skill]="Skill.FRONTEND" [showTime]="showTime" />
                }
                <jmp-skill [skill]="Skill.ANGULAR" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.TYPESCRIPT" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.RXJS" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.NGRX" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.CSS" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.SCSS" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.JAVASCRIPT" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.JQUERY" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.HTML5" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.BOOTSTRAP" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.PRIMENG" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.ANGULARMATERIAL" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.MATERIALIZE" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.JEST" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.JASMINE" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.JIRA" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.PWA" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.I18N" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.ANDROID" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.KOTLIN" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.UWP" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.DELPHI" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.CORDOVA" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.XML" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skill.WPF" [showTime]="showTime" /> -->
            </div>
        </div>

        <div class="tipus-llenguatge col-12 col-lg-6" [ngClass]="!showTime ? 'col-sm-6' : ''">
            <div class="titol-tipus-llenguatge">Backend</div>
            <div class="skills" [class.showTime]="showTime">
                @if (showTime) {
                    <jmp-skill [skill]="Skill.BACKEND" [showTime]="showTime" />
                }
                <jmp-skill [skill]="Skill.NODEJS" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.JAVA" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.JSP" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.MICROSERVICES" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.SEQUELIZE" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.JSON" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skill.PYTHON" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.CSHARP" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.DJANGO" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skill.PHP" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.RUBYONRAILS" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skill.APACHE" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.XAMPP" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skill.MYSQL" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.PLSQL" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.PL1" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skill.DB2" [showTime]="showTime" /> -->
            </div>
        </div>

        <div id="divBotoVeureMes" class="col-12 col-sm-12 text-center">
            <button class="boto botoText botoVeureMes mt-4" (click)="obrirVeureMesSkills()" jmpMostrarAmbAnimacio matRipple>
                @if (m.ca) { Veure més }
                @if (m.es) { Ver más }
                @if (m.en) { See more }
                <i class="fa-solid fa-chevron-down"></i>
            </button>
        </div>

        <div class="tipus-llenguatge skills-ocultes col-12 col-lg-6" style="display:none;">
            <div class="titol-tipus-llenguatge">
                @if (m.ca) { Eines de desenvolupament }
                @if (m.es) { Herramientas de desarrollo }
                @if (m.en) { Software development tools }
            </div>
            <div class="skills" [class.showTime]="showTime">
                <jmp-skill [skill]="Skill.GIT" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.GITHUB" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.BITBUCKET" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.SOURCETREE" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.POSTMAN" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.FIGMA" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.ASANA" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skill.SQLDEVELOPER" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.PHPMYADMIN" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.FILEZILLA" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skill.ANDROIDSTUDIO" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.POWERSHELL" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skill.UNITY" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.VISUALSTUDIO" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.ECLIPSE" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.NETBEANS" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skill.SVN" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skill.HIBERNATE" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skill.VSCODE" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skill.GSHEETS" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.JOOMLA" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.POEDIT" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skill.FASTREPORT" [showTime]="showTime" /> -->
                <jmp-skill [skill]="Skill.AGILE" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.MVC" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.RESPONSIVEDESIGN" [showTime]="showTime" />
                <!-- <jmp-skill [skill]="Skill.TEAMVIEWER" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skill.ANYDESK" [showTime]="showTime" /> -->
                <!-- <jmp-skill [skill]="Skill.REMOTEDESKTOP" [showTime]="showTime" /> -->
            </div>
        </div>

        <div class="tipus-llenguatge skills-ocultes col-12 col-lg-6" style="display:none;">
            <div class="titol-tipus-llenguatge">
                @if (m.ca) { Eines de virtualització i SO }
                @if (m.es) { Herramientas de virtualización y SO }
                @if (m.en) { Virtualization tools and OS }
            </div>
            <div class="skills" [class.showTime]="showTime">
                <jmp-skill [skill]="Skill.VMWARE" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.VIRTUALBOX" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.WINDOWS" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.WINDOWSSERVER" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.UBUNTU" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.DEBIAN" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.REDHAT" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.FEDORA" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.MACOS" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.TAILS" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.ZOSMVS" [showTime]="showTime" />
            </div>
        </div>

        <!-- <div class="tipus-llenguatge skills-ocultes col-12" [ngClass]="showTime ? 'col-sm-12' : 'col-sm-6'" style="display:none;">
            <div class="titol-tipus-llenguatge">
                @if (m.ca) { CMS i frameworks web }
                @if (m.es) { CMS y frameworks web }
                @if (m.en) { CMS and web frameworks }
            </div>
            <div class="skills" [class.showTime]="showTime">
                <jmp-skill [skill]="Skill.JOOMLA" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.K2" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.AKEEBABACKUP" [showTime]="showTime" />
                <jmp-skill [skill]="Skill.JCEFILEMANAGER" [showTime]="showTime" />
            </div>
        </div> -->

    </div>

</section>
