<section id="orange" class="tema-orange section" appMostrarAmbAnimacio>
    <div class="section-title mb-2">
        <a [href]="getLink()" class="no-style link-boto-titol gap-3">
            Orange
            <img src="assets/icons/experience/orange.svg" alt="Orange" class="title-icon">
            <span class="fletxa">↗</span>
        </a>
    </div>
    <p class="text mb-1">
        @if (m.ca) {
            Programador fullstack a Control de Consumos, una secció d'Orange que s'encarrega de processar els consums dels clients, de gestionar les alertes que es disparen al superar el límit de consum i d'establir-hi bloquejos, amb l'objectiu de detectar usos fraudulents de les línies mòbils i els seus recursos (pagaments des de la SIM, subscripcions, etc).<br><br>

            Vaig participar en el desenvolupament i el manteniment del sistema CRM propi utilitzat per a gestionar els clients, les seves línies i l'aplicació de bloquejos. El frontend del CRM estava desenvolupat amb Angular, mentre que el backend estava dissenyat amb Java. Per a gestionar el backend vam utilitzar WebLogic com a servidor d'aplicacions i Maven per a la gestió de projectes.<br><br>

            A més del desenvolupament de programari, també em vaig encarregar del control, gestió i monitorització de màquines, servidors i connexions FTP.<br><br>
            
            Vaig treballar en estreta relació amb el client. Ens reuníem diàriament, tant amb el client com amb l'equip, per a mantenir una comunicació efectiva i optimitzar els nostres esforços.
        }

        @if (m.es) {
            Programador fullstack en Control de Consumos, una sección de Orange que se encarga de procesar los consumos de los clientes, de gestionar las alertas que se disparan al superar el límite de consumo y de establecer bloqueos, con el objetivo de detectar usos fraudulentos de las líneas móviles y sus recursos (pagos desde la SIM, suscripciones, etc).<br><br>

            Participé en el desarrollo y mantenimiento del sistema CRM propio utilizado para gestionar los clientes, sus líneas y la aplicación de bloqueos. El frontend del CRM estaba desarrollado con Angular, mientras que el backend estaba diseñado con Java. Para gestionar el backend utilizamos WebLogic como servidor de aplicaciones, y Maven para la gestión de proyectos.<br><br>

            Además del desarrollo de software, también me encargué del control, gestión y monitoreo de máquinas, servidores y conexiones FTP.<br><br>

            Trabajé en estrecha relación con el cliente. Nos reuníamos diariamente, tanto con el cliente como con el equipo, para mantener una comunicación efectiva y optimizar nuestros esfuerzos.
        }

        @if (m.en) {
            Fullstack programmer in Control de Consumos, a section of Orange that is responsible for processing customer usage, managing alerts triggered by exceeding consumption limits and implementing blocks, with the aim of detecting fraudulent use of mobile lines and their resources (SIM card payments, subscriptions, etc.).<br><br>

            I participated in the development and maintenance of the own CRM system used to manage customers, their lines and the application of blocks. The frontend of the CRM was developed with Angular, while the backend was designed with Java. We used WebLogic as the application server for the backend, and Maven for project management.<br><br>

            In addition to software development, I was also responsible for monitoring and managing machines, servers and FTP connections.<br><br>
            I worked closely with the client, holding daily meetings with both the client and the team to maintain effective communication and optimize our efforts.
        }
    </p>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill n="Java"/>
        <app-skill n="Angular"/>
        <app-skill n="SQL Developer"/>
        <app-skill n="WebLogic"/>
        <app-skill n="Eclipse"/>
        <app-skill n="Jira"/>
        <app-skill n="Confluence"/>
        <app-skill n="GitLab"/>
        <app-skill n="Maven"/>
        <app-skill n="JFrog Artifactory"/>
        <app-skill n="TortoiseGit"/>
        <app-skill n="WinSCP"/>
        
        <!-- <app-skill n="Windows Server"/> -->
        <app-skill n="Continuous integration"/>
        <app-skill n="Agile"/>
        
    </div>
</section>
