<h3 class="mb-4 text-center">
    @if (m.ca) { Secció "Sobre IN2ART" de la web (2022) }
    @if (m.es) { Sección "Acerca de IN2ART" de la web (2022) }
    @if (m.en) { Section "About IN2ART" from the web (2022) }
</h3>

<figure class="text-center">
    <app-about-card />
    <figcaption class="mt-2">
        @if (m.ca) {
            Fragment reconstruït de la secció "sobre IN2ART" de la web original el 2022.<br> 
            Hi apareixen les firmes dels 2 desenvolupadors principals, inclosa la meva.<br>
            Es pot veure també en les demos d'<app-link [href]="linkPC">ordinador</app-link> i de <app-link [href]="linkMobil">mòbil</app-link>.
        }
        @if (m.es) {
            Fragmento reconstruido de la sección "acerca de IN2ART" de la web original en 2022.<br>
            Aparecen las firmas de los 2 desarrolladores principales, incluyendo la mía.<br>
            Se puede ver también en las demos de <app-link [href]="linkPC">ordenador</app-link> y de <app-link [href]="linkMobil">móvil</app-link>.
        }
        @if (m.en) {
            Reconstructed fragment of the "about IN2ART" section from the original website in 2022.<br>
            It includes the signatures of the 2 main developers, including mine.<br>
            It can also be seen in the <app-link [href]="linkPC">desktop</app-link> and <app-link [href]="linkMobil">mobile</app-link> demos.
        }
    </figcaption>
</figure>
