@import "src/styles.scss";

nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    background-color: var(--fons-40);
    border-radius: 1.165rem; //1rem
    padding: 0.2rem;
    z-index: 0;
    transition: padding 0.3s;

    @include pc { border-radius: 1.234rem; }
    @include gran {
        border-radius: 1.375rem;
    }

    button {
        background: none;
        color: var(--text);

        outline: none;
        border: none;
        cursor: pointer;

        // padding: 0.25rem 1rem;
        padding: 0.125rem 0.5rem;
        border-radius: 10rem; //0.75rem
        font-size: 1.2rem;

        z-index: 2;

        transition: font-size 0.3s, padding 0.3s, color 0.3s, background-color 0.1s, transform 0.1s;

        @include mobil {
            flex: auto !important;
        }
        @include tablet {
            font-size: 1.2rem;
        }
        @include pc {
            font-size: 1.3rem;
            padding: 0.125rem 1.5rem;
        }
        @include gran {
            font-size: 1.5rem;
            padding: 0.125rem 1.6rem;
        }

        &.selected {
            color: var(--fons);
        }
    }
    // button:not(.selected) + button:not(.selected) { border-left: 1px solid var(--text-50); } // Separadors //
}

.pill {
    position: absolute;
    background-color: var(--accent-color);
    border-radius: 10rem; //0.75rem
    z-index: 1;
    // box-shadow: rgba(255, 255, 255, 0.27) 0px 30px 25px -30px inset, rgba(0, 0, 0, 0.27) 0px -30px 25px -30px inset;
}
