<nav>
    <button
        id="navegacio-tab-home"
        class="flex-4"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/"
        (click)="m.u.scroll(0)"
        matRipple
    >
        @if (m.esPantallaPc()) {
            @if (m.ca) { Inici }
            @if (m.es) { Inicio }
            @if (m.en) { Home }
        } @else {
            <i class="fa-solid fa-house" alt="Home"></i>
        }
    </button>
    <button
        id="navegacio-tab-experience"
        class="flex-10"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/experience"
        (click)="m.u.scroll(0)"
        matRipple
    >
        @if (m.esPantallaPc()) {
            @if (m.ca) { Experiència }
            @if (m.es) { Experiencia }
            @if (m.en) { Experience }
        } @else {
            <i class="fa-solid fa-briefcase" alt="Experience"></i>
        }
    </button>
    <button
        id="navegacio-tab-projects"
        class="flex-8"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/projects"
        (click)="m.u.scroll(0)"
        matRipple
    >
        @if (m.esPantallaPc()) {
            @if (m.ca) { Projectes }
            @if (m.es) { Proyectos }
            @if (m.en) { Projects }
        } @else {
            <i class="fa-solid fa-shapes" alt="Projects"></i>
        }
    </button>
    <button
        id="navegacio-tab-art"
        class="flex-3"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/art"
        (click)="m.u.scroll(0)"
        matRipple
    >
        @if (m.esPantallaPc()) {
            @if (m.ca) { Art }
            @if (m.es) { Arte }
            @if (m.en) { Art }
        } @else {
            <i class="fa-solid fa-paintbrush" alt="Art"></i>
        }
    </button>
    <button
        id="navegacio-tab-about-me"
        class="flex-10"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/about-me"
        (click)="m.u.scroll(0)"
        matRipple
    >
        @if (m.esPantallaPc()) {
            @if (m.ca) { Sobre mi }
            @if (m.es) { Acerca de mí }
            @if (m.en) { About me }
        } @else {
            <i class="fa-solid fa-user" alt="About me"></i>
        }
    </button>

    <div #pill class="pill"></div>

</nav>

<!-- Jordi Mas Parramon - xordimas@gmail.com - https://github.com/jordimas96 -->
