@import "src/styles.scss";

mat-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 0 !important;
    max-height: 100%;
    overflow: hidden;

    .content {
        max-height: 80vh;
        
        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            flex-grow: 1;
            border-radius: 2rem;
            @include mobil { border-radius: 0.5rem; }

        }
    }

    .botons {
        .close {
            width: 8rem;
            height: 5rem;
            padding: 0.25rem;
            font-size: 1.8rem;
            background-color: white;
            color: black;
            border-radius: 2rem 2rem 3rem 3rem;
        }
    }
    
}



::ng-deep .iframe-modal { }
::ng-deep .iframe-modal-backdrop {
    // background: #6e7da5;
    // background-color: light-dark(hsl(214, 100%, 87%), hsl(214, 24%, 35%));
    backdrop-filter: blur(40px) saturate(2);
}


// Eliminar estils per defecte //
::ng-deep .iframe-modal {
    .mdc-dialog__surface {
        background: none;
    }
}

::ng-deep .cdk-global-overlay-wrapper {
    padding: 2rem;
}
