
<!-- Apps Personals -->

<h4 class="mb-3">
    @if (m.ca) { Apps personals }
    @if (m.es) { Apps personales }
    @if (m.en) { Personal apps }
</h4>

<div class="apps-personals mb-5">
    <section class="seccio wallpaper-blurrer">
        <button class="boto-desplegable" (click)="toggleSeccio($event.currentTarget)" matRipple>
            <div class="d-flex align-items-center gap-3">
                <img src="assets/_projects/android/icons/apps/wallpaper-blurrer.png" class="icona">
                <div class="d-flex flex-column text-start">
                    <span class="titol">Wallpaper Blurrer</span>
                    <span class="subtitol">
                        @if (m.ca) { Aplica blur i altres efectes visuals al fons de pantalla }
                        @if (m.es) { Aplica efectos visuales al fondo de pantalla de inicio y bloqueo }
                        @if (m.en) { Apply visual effects to the home and lock screen wallpaper }
                    </span>

                </div>
            </div>
            <i class="fa-solid fa-chevron-down fletxa"></i>
        </button>
        <div class="contingut flex-column flex-sm-row" style="display:none;">
            <div class="info flex-8">
                <div>
                    <div class="text mb-3">
                        @if (m.ca) {
                            És una aplicació que et permet afegir alguns filtres al fons de pantalla, com ara desenfocament, saturació i canvi de to (canvi de colors) i aplicar-lo a la pantalla d'inici i la de bloqueig. També et permet descarregar la imatge editada.<br>
                            Aquesta app la vaig fer principalment en Kotlin, però amb algunes funcions en Java.
                        }
                        @if (m.es) {
                            Es una aplicación que te permite añadir algunos filtros al fondo de pantalla, como desenfoque, saturación y cambio de tono (cambio de colores) y aplicarlo a la pantalla de inicio y de bloqueo. También te permite descargar la imagen editada.<br>
                            Esta app la hice principalmente en Kotlin, pero con algunas funciones en Java.
                        }
                        @if (m.en) {
                            It is an app that lets you add some filters to your wallpaper, such as blur, saturate and hue (change colors) and apply it to your home screen and lock screen. It also lets you download the edited image.<br>
                            I made this app mainly in Kotlin, but with some functions in Java.
                        }
                    </div>
                    <div class="iconesStores shadow-filter-1">
                        <a [href]="m.env.assets + '/external-pages/apps/play-store/apps/wallpaper-blurrer.html'" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/play-store.png" alt="Play Store" title="Play Store" class="logo">
                        </a>
                        <a [href]="getAmazonLink_wallpaperBlurrer()" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/amazon-appstore.png" alt="Amazon Appstore" title="Amazon Appstore" class="logo">
                        </a>
                        <a href="https://apkpure.net/wallpaper-blurrer/com.jmasp.wallpaperblurrer" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/apkpure.png" alt="APKPure" title="APKPure" class="logo">
                        </a>
                    </div>
                </div>

                <div class="skills">
                    <app-skill [skill]="Skills.KOTLIN" />
                    <app-skill [skill]="Skills.JAVA" />
                    <app-skill [skill]="Skills.ANDROIDSTUDIO" />
                </div>
            </div>
            <div class="video flex-4" appMostrarAmbAnimacio>
                <video muted loop class="mw-75 mw-sm-100 m-auto m-sm-0">
                    <source [src]="m.env.assets_media_raw + '/demos/android-apps/wallpaper-blurrer.mp4'" type="video/mp4">
                </video>
            </div>
        </div>
    </section>



    <section class="seccio text-mimicker">
        <button class="boto-desplegable" (click)="toggleSeccio($event.currentTarget)" matRipple>
            <div class="d-flex align-items-center gap-3">
                <img src="assets/_projects/android/icons/apps/text-mimicker.png" class="icona">
                <div class="d-flex flex-column text-start">
                    <span class="titol">Text Mimicker</span>
                    <span class="subtitol">
                        @if (m.ca) { Converteix text a homoglifs idèntics per evitar banejos. Integrat al menú contextual d'Android }
                        @if (m.es) { Convierte texto a homoglifos idénticos para evitar baneos. Integrado en el menú contextual de Android }
                        @if (m.en) { Convert text to identical homoglyphs to avoid bans. Integrated into Android's context menu }
                    </span>

                </div>
            </div>
            <i class="fa-solid fa-chevron-down fletxa"></i>
        </button>
        <div class="contingut flex-column flex-sm-row" style="display:none;">
            <div class="info flex-1">
                <div>
                    <div class="text mb-3">
                        @if (m.ca) {
                            Text Mimicker et permet canviar un text en homoglifs, que són caràcters físicament idèntics però internament diferents, amb l'objectiu d'evitar banejos automàtics per paraules clau al escriure comentaris en algunes xarxes socials. També afegeix aquesta funció al menú contextual d'Android en seleccionar text, per a millor accessibilitat.<br>
                            Aquesta app la vaig fer principalment en Kotlin, però amb algunes funcions en Java.
                        }
                        @if (m.es) {
                            Text Mimicker te permite cambiar un texto en homoglifos, que son caracteres físicamente idénticos pero internamente diferentes, con el objetivo de evitar baneos automáticos por palabras clave al escribir comentarios en algunas redes sociales. También añade esta función en el menú contextual de Android al seleccionar texto, para mejor accesibilidad.<br>
                            Esta app la hice principalmente en Kotlin, pero con algunas funciones en Java.
                        }
                        @if (m.en) {
                            Text Mimicker lets you to change a text into homoglyphs, which are physically identical but internally different characters, in order to avoid automatic bans for keywords when writing comments on some social networks. It also adds this function in the Android's context menu when selecting text, for better accessibility.<br>
                            I made this app mainly in Kotlin, but with some functions in Java.
                        }
                    </div>
                    <div class="iconesStores shadow-filter-1">
                        <a [href]="m.env.assets + '/external-pages/apps/play-store/apps/text-mimicker.html'" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/play-store.png" alt="Play Store" title="Play Store" class="logo">
                        </a>
                        <a [href]="getAmazonLink_textMimicker()" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/amazon-appstore.png" alt="Amazon Appstore" title="Amazon Appstore" class="logo">
                        </a>
                        <a href="https://apkpure.net/text-mimicker/com.jmasp.textmimicker" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/apkpure.png" alt="APKPure" title="APKPure" class="logo">
                        </a>
                    </div>
                </div>

                <div class="skills">
                    <app-skill [skill]="Skills.KOTLIN" />
                    <app-skill [skill]="Skills.JAVA" />
                    <app-skill [skill]="Skills.ANDROIDSTUDIO" />
                </div>
            </div>
            <div class="video flex-1 d-flex align-items-end rounded-3" style="background-color:#262626" appMostrarAmbAnimacio>
                <video muted loop>
                    <source [src]="m.env.assets_media_raw + '/demos/android-apps/text-mimicker.mp4'" type="video/mp4">
                </video>
            </div>
        </div>
    </section>



    <section class="seccio sus-tracker">
        <button class="boto-desplegable" (click)="toggleSeccio($event.currentTarget)" matRipple>
            <div class="d-flex align-items-center gap-3">
                <img src="assets/_projects/android/icons/apps/sus-tracker.png" class="icona">
                <div class="d-flex flex-column text-start">
                    <span class="titol">SUS Tracker</span>
                    <span class="subtitol">
                        @if (m.ca) { Eina flotant per a Among US, per a marcar sospitosos i impostors }
                        @if (m.es) { Herramienta flotante para Among US, para marcar sospechosos e impostores }
                        @if (m.en) { Floating tool for Among US, to mark suspects and impostors }
                    </span>

                </div>
            </div>
            <i class="fa-solid fa-chevron-down fletxa"></i>
        </button>
        <div class="contingut flex-column" style="display:none;">
            <div class="info">
                <div>
                    <div class="text mb-3">
                        @if (m.ca) {
                            És una aplicació pensada per utilitzar-se d'eina mentre es juga al popular joc Among Us. Aquesta aplicació ofereix un menú flotant molt convenient per marcar qui és sospitós, innocent o impostor, per descartar els altres tripulants i trobar els impostors.<br>
                            Aquesta app va ser la primera que vaig fer en Android Studio, i la vaig fer principalment en Java.
                        }
                        @if (m.es) {
                            Es una aplicación pensada para usarse de herramienta mientras se juega al popular juego Among Us. Esta aplicación ofrece un menú flotante muy conveniente para marcar quién es sospechoso, inocente o impostor, para descartar a los demás tripulantes y encontrar a los impostores.<br>
                            Esta app fue la primera que hice en Android Studio, y la hice principalmente en Java.
                        }
                        @if (m.en) {
                            It is an application designed to be used as a tool while playing the popular game Among Us. This application offers a very convenient floating menu to mark who is suspicious, safe or impostor, to rule out the other crew members and find the impostors.<br>
                            This app was the first one I made in Android Studio, and I made it mainly in Java.
                        }
                    </div>
                    <div class="iconesStores shadow-filter-1">
                        <a [href]="m.env.assets + '/external-pages/apps/play-store/apps/sus-tracker.html'" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/play-store.png" alt="Play Store" title="Play Store" class="logo">
                        </a>
                        <a href="https://apkpure.net/sus-tracker/com.jmasp.amongushelper" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/apkpure.png" alt="APKPure" title="APKPure" class="logo">
                        </a>
                    </div>
                </div>

                <div class="skills">
                    <app-skill [skill]="Skills.JAVA" />
                    <app-skill [skill]="Skills.ANDROIDSTUDIO" />
                </div>
            </div>
            <div class="video" appMostrarAmbAnimacio>
                <video muted loop class="mb-1 mb-sm-0">
                    <source [src]="m.env.assets_media_raw + '/demos/android-apps/sus-tracker.mp4'" type="video/mp4">
                </video>
            </div>
        </div>
    </section>



    <section class="seccio breaking-ball">
        <button class="boto-desplegable" (click)="toggleSeccio($event.currentTarget)" matRipple>
            <div class="d-flex align-items-center gap-3">
                <img src="assets/_projects/android/icons/apps/breaking-ball.png" class="icona">
                <div class="d-flex flex-column text-start">
                    <span class="titol">Breaking Ball</span>
                    <span class="subtitol">
                        @if (m.ca) { Joc amb Unity, té bonus i tauler mundial de puntuacions }
                        @if (m.es) { Juego con Unity, tiene bonus y tabla mundial de puntuaciones }
                        @if (m.en) { Game with Unity, has boosters and world score board }
                    </span>

                </div>
            </div>
            <i class="fa-solid fa-chevron-down fletxa"></i>
        </button>
        <div class="contingut flex-column flex-sm-row" style="display:none;">
            <div class="info flex-8">
                <div>
                    <div class="text mb-3">
                        @if (m.ca) {
                            Aquesta és la primera aplicació que vaig fer a Android, és un joc fet amb Unity. L'objectiu del joc és mantenir la bola dins del tauler. Pots clicar la pantalla per posar cubs, controlar la bola i impedir que s'escapi. Les boles petites són bonus, les pots agafar per aconseguir millores. Hi ha 7 tipus de bonus, 6 de bons i 1 de dolent. Per a fer aquesta aplicació vaig fer servir majoritàriament C# i una mica de PHP per a la funcionalitat de guardar puntuacions a una base de dades online i tenir un tauler amb els rècords mundials.
                        }
                        @if (m.es) {
                            Esta es la primera aplicación que hice en Android, es un juego hecho con Unity. El objetivo del juego es mantener la bola dentro del tablero. Puedes pulsar la pantalla para poner cubos, controlar la bola e impedir que se escape. Las bolas pequeñas son bonus, puedes cogerlas para consegir mejoras. Hay 7 tipos de bonus, 6 buenos y 1 malo. Para esta aplicación usé mayoritariamente C# y un poco de PHP para la funcionalidad de guardar puntuaciones a una base de datos online y tener un tablero con los récords mundiales.
                        }
                        @if (m.en) {
                            This is the first app I made on Android, it is a game made with Unity. The aim of the game is to keep the ball on the board. You can click to place cubes, control the ball and prevent it from escaping. Small balls are bonuses, you can get them to get boosters. There are 7 types of boosters, 6 good and 1 bad. For this app I used mainly C# and a bit of PHP for the functionality of saving scores to an online database and having a world record board.
                        }
                    </div>
                    <div class="iconesStores shadow-filter-1">
                        <a [href]="m.env.assets + '/external-pages/apps/play-store/apps/breaking-ball.html'" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/play-store.png" alt="Play Store" title="Play Store" class="logo">
                        </a>
                        <a [href]="getAmazonLink_breakingBall()" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/amazon-appstore.png" alt="Amazon Appstore" title="Amazon Appstore" class="logo">
                        </a>
                        <a href="https://apkpure.net/breaking-ball/com.JMasp.BreakingBall" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/apkpure.png" alt="APKPure" title="APKPure" class="logo">
                        </a>
                    </div>
                </div>

                <div class="skills">
                    <app-skill [skill]="Skills.CSHARP" />
                    <app-skill [skill]="Skills.PHP" />
                    <app-skill [skill]="Skills.MYSQL" />
                    <app-skill [skill]="Skills.GITHUB" />
                    <app-skill [skill]="Skills.UNITY" />
                </div>
            </div>
            <div class="video flex-4" appMostrarAmbAnimacio>
                <video muted loop class="mw-75 mw-sm-100 m-auto m-sm-0">
                    <source [src]="m.env.assets_media_raw + '/demos/android-apps/breaking-ball.mp4'" type="video/mp4">
                </video>
            </div>
        </div>
    </section>
</div>



<!-- Apps Matic -->
 
<h4 class="mb-3">
    @if (m.ca) { Apps desenvolupades a Matic }
    @if (m.es) { Apps desarrolladas en Matic }
    @if (m.en) { Apps developed at Matic }
</h4>

<div class="apps-matic">
    <section class="seccio systemblock">
        <button class="boto-desplegable" (click)="toggleSeccio($event.currentTarget)" matRipple>
            <div class="d-flex align-items-center gap-3">
                <img src="assets/_projects/android/icons/apps/systemblock.png" class="icona">
                <div class="d-flex flex-column text-start">
                    <span class="titol">System Block</span>
                    <span class="subtitol">
                        @if (m.ca) { Permet als tècnics crear albarans i sincronitzar dades amb el CRM }
                        @if (m.es) { Permite a los técnicos crear albaranes y sincronizar datos con el CRM }
                        @if (m.en) { Allows technicians to create delivery notes and synchronize data with the CRM }
                    </span>

                </div>
            </div>
            <i class="fa-solid fa-chevron-down fletxa"></i>
        </button>
        <div class="contingut flex-column flex-sm-row" style="display:none;">
            <div class="info flex-8">
                <div class="text">
                    @if (m.ca) {
                        Aplicació mòbil que vaig fer quan traballava a Matic, per a l'empresa System Block, una empresa de molls de càrrega. Permet als tècnics gesionar les visites tècniques al client. Durant la visita, poden introduir-hi la informació de la intervenció, peces utilitzades i necessàries per fer la feina.<br><br>

                        Permet crear albarans, firmar-los i enviar-los per email, amb les fotos fetes durant la visita. Té agenda i llista d'ordres de treball per tècnic.<br>
                        L'app se sincronitza amb la base de dades central del CRM i amb la web.<br>
                        Interfície adaptativa per a mòbils i tablets.<br><br>

                        Aquesta app la vaig fer amb Javascript, jQuery, CSS i Cordova, i està compilada per a Android.<br><br>

                        És una web interna que només utilitzen els tècnics de l'empresa, no està publicada a cap botiga d'aplicacions.
                    }
                    @if (m.es) {
                        Aplicación móvil que hice cuando trabajaba en Matic, para la empresa System Block, una empresa de muelles de carga. Permite a los técnicos gestionar las visitas técnicas al cliente. Durante la visita, pueden introducir la información de la intervención, piezas utilizadas y necesarias para hacer el trabajo.<br><br>

                        Permite crear albaranes, firmarlos y enviarlos por email, con las fotos hechas durante la visita. Tiene agenda y lista de órdenes de trabajo por técnico.<br>
                        La app se sincroniza con la base de datos central del CRM y con la web.<br>
                        Interfaz adaptativa para móviles y tablets.<br><br>

                        Esta app la hice con Javascript, jQuery, CSS y Cordova, y está compilada para Android.<br><br>

                        Es una web interna que sólo utilizan los técnicos de la empresa, no está publicada en ninguna tienda de aplicaciones.
                    }
                    @if (m.en) {
                        Mobile application that I made when I worked at Matic, for the company System Block, a loading dock company. It allows technicians to manage technical visits to the client. During the visit, they can enter the information of the intervention, parts used and necessary to do the job.<br><br>

                        It allows you to create delivery notes, sign them and send them by email, with the photos taken during the visit. It has an agenda and a list of work orders by technician.<br>
                        The app synchronizes with the central CRM database and with the web.<br>
                        Adaptive interface for mobiles and tablets.<br><br>

                        I made this app with Javascript, jQuery, CSS and Cordova, and it is compiled for Android.<br><br>

                        It is an internal web that is only used by the company's technicians, it is not published in any app store.
                    }
                    <br>

                    <button routerLink="/matic" class="boto tema-matic mt-4 mx-auto d-flex" appMostrarAmbAnimacio matRipple>
                        @if (m.ca) { Veure més }
                        @if (m.es) { Ver más }
                        @if (m.en) { See more }
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>

                <div class="skills">
                    <app-skill [skill]="Skills.JAVASCRIPT" />
                    <app-skill [skill]="Skills.JQUERY" />
                    <app-skill [skill]="Skills.CSS" />
                    <app-skill [skill]="Skills.HTML5" />
                    <app-skill [skill]="Skills.BOOTSTRAP" />
                    <app-skill [skill]="Skills.CORDOVA" />
                    <app-skill [skill]="Skills.MVC" />
                    <app-skill [skill]="Skills.RESPONSIVEDESIGN" />
                    <app-skill [skill]="Skills.AGILE" />
                </div>
            </div>
            <div class="imatge flex-4 mw-75 mw-sm-100 mx-auto">
                <img src="assets/_experience/matic/systemblock/systemblock-captura-mobil.jpg" alt="System Block App" class="w-100">
            </div>
        </div>
    </section>



    <section class="seccio appcess">
        <button class="boto-desplegable" (click)="toggleSeccio($event.currentTarget)" matRipple>
            <div class="d-flex align-items-center gap-3">
                <img src="assets/_projects/android/icons/apps/appcess.png" class="icona">
                <div class="d-flex flex-column text-start">
                    <span class="titol">Appcess Test</span>
                    <span class="subtitol">
                        @if (m.ca) { Genera QRs d'accés després de tests de COVID, UI intuitiva i funcionament offline }
                        @if (m.es) { Genera QRs de acceso después de tests de COVID, UI intuitiva y funcionamiento offline }
                        @if (m.en) { Generates access QRs after COVID tests, intuitive UI and offline functionality }
                    </span>

                </div>
            </div>
            <i class="fa-solid fa-chevron-down fletxa"></i>
        </button>
        <div class="contingut flex-column flex-sm-row" style="display:none;">
            <div class="info flex-8">
                <div>
                    <div class="text">
                        @if (m.ca) {
                            Aplicació mòbil que vaig fer quan traballava a Matic. Permet gestionar l'accés a esdeveniments durant la pandèmia. L'aplicació permet als usuaris fer-se un test de COVID en centres autoritzats i, si són negatius, obtenir un QR per a accedir a l'esdeveniment.<br><br>

                            UI intuitiva, navegació amb doble swipe per navegar entre esdeveniments i alhora entre persones per a cada esdeveniment. Autenticació biomètrica i funcionament offline.<br><br>

                            Desenvolupada en només 3 setmanes i reutilitzada per a altres esdeveniments.<br><br>

                            Aquesta app la vaig fer amb Javascript, jQuery, CSS i Cordova, i està compilada per a Android i iPhone.<br><br>

                            Es va pujar a la Play Store, a l'App Store, i a algunes botigues de tercers.
                        }
                        @if (m.es) {
                            Aplicación móvil que hice cuando trabajaba en Matic. Permite gestionar el acceso a eventos durante la pandemia. La aplicación permite a los usuarios hacerse un test de COVID en centros autorizados y, si son negativos, obtener un QR para acceder al evento.<br><br>

                            UI intuitiva, navegación con doble swipe para navegar entre eventos y a la vez entre personas para cada evento. Autenticación biométrica y funcionamiento offline.<br><br>

                            Desarrollada en sólo 3 semanas y reutilizada para otros eventos.<br><br>

                            Esta app la hice con Javascript, jQuery, CSS y Cordova, y está compilada para Android y iPhone.<br><br>

                            Se subió a la Play Store, a la App Store, y a algunas tiendas de terceros.
                        }
                        @if (m.en) {
                            Mobile application that I made when I worked at Matic. It allows to manage access to events during the pandemic. The application allows users to take a COVID test at authorized centers and, if they test negative, obtain a QR code to access the event.<br><br>

                            Intuitive UI, double swipe navigation to navigate between events and at the same time between people for each event. Biometric authentication and offline functionality.<br><br>

                            Developed in just 3 weeks and reused for other events.<br><br>

                            I made this app with Javascript, jQuery, CSS and Cordova, and it is compiled for Android and iPhone.<br><br>

                            It was uploaded to the Play Store, the App Store, and some third-party stores.
                        }
                        <br>

                        <button routerLink="/matic" class="boto tema-matic my-4 mx-auto d-flex" appMostrarAmbAnimacio matRipple>
                            @if (m.ca) { Veure més }
                            @if (m.es) { Ver más }
                            @if (m.en) { See more }
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                    <div class="iconesStores shadow-filter-1">
                        <a [href]="m.env.assets + '/external-pages/matic/play-store/'" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/play-store.png" alt="Play Store" title="Play Store" class="logo">
                        </a>
                        <a [href]="m.env.assets + '/external-pages/matic/app-store/'" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/apple.jpg" alt="App Store" title="App Store" class="logo">
                        </a>
                        <a href="https://apkpure.net/canet-rock-test/es.appcess.canetrocktest/download/1.0.6" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" appMostrarAmbAnimacio matRipple>
                            <img src="assets/_projects/android/icons/stores/apkpure.png" alt="APKPure" title="APKPure" class="logo">
                        </a>
                    </div>
                </div>

                <div class="skills">
                    <app-skill [skill]="Skills.JAVASCRIPT" />
                    <app-skill [skill]="Skills.JQUERY" />
                    <app-skill [skill]="Skills.CSS" />
                    <app-skill [skill]="Skills.HTML5" />
                    <app-skill [skill]="Skills.BOOTSTRAP" />
                    <app-skill [skill]="Skills.CORDOVA" />
                    <app-skill [skill]="Skills.MVC" />
                    <app-skill [skill]="Skills.RESPONSIVEDESIGN" />
                    <app-skill [skill]="Skills.AGILE" />
                </div>
            </div>
            <div class="imatge flex-4 mw-75 mw-sm-100 mx-auto">
                <img src="assets/_experience/matic/appcess-captures/6.webp" alt="System Block App" class="w-100">
            </div>
        </div>
    </section>

</div>
