@import "src/styles.scss";

.seccio {
    margin-bottom: 1rem;
    border-radius: 2rem;
    
    .boto-desplegable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem;

        .text-i-icona {
            display: flex;
            align-items: center;

            .titol {
                font-size: 1.4rem;
                color: var(--text);
                text-align: left;
            }
            .icona {
                height: 3rem;
                border-radius: 1rem;
                margin-right: 1rem;
            }
        }
        .fletxa {
            font-size: 1.5rem;
            margin-right: 1rem;
            margin-left: 1rem;
            transition: transform 200ms ease;
            
            &[data-open] {
                transform: rotate(-180deg);
            }
        }
    }
    .contingut {
        transition: padding-left 0.3s ease, padding-right 0.3s ease;
    }
}

.wallpaper-blurrer {
    .contingut {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .text {

        }
        .imatge {
            align-self: center;
            video {
                max-width: 100%;
                border-radius: 1rem;
            }
        }
    }
}
.text-mimicker { }
.sus-tracker {
    .contingut {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .text { }
        .imatge {
            align-self: center;
            img, video {
                max-width: 100%;
                // Arrodonir un rectangle només amb percentatges //
                // No veuràs mai més res així en ta puta vida lol //
                border-radius: 3% / 13.5%;
            }
        }
    }
}
.breaking-ball {
    .contingut {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .text { }
        .imatge {
            align-self: center;
            video {
                max-width: 100%;
                border-radius: 1rem;
            }
        }
    }
}

::ng-deep .seccio {
    background-color: var(--color-clar-20);
}
::ng-deep .light .seccio {
    background-color: var(--color-clar-50);
    // @extend .shadow-1;
}



// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////


// Pantalla PC //
@media only screen and (min-width: 576px) {
    .seccio {

        .contingut {
            padding: 1.5rem;
            padding-top: 0;
        }
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .seccio {

        .contingut {
            padding: 1rem;
            padding-top: 0;
        }
    }
}
// Pantalla Mòbil o tablet petita //
@media only screen and (max-width: 768px) {
    .wallpaper-blurrer {
        .contingut {
            flex-direction: column;
            .imatge {
                video {
                    max-width: 50%;
                    margin: auto;
                }
            }
        }
    }
    .breaking-ball {
        .contingut {
            flex-direction: column;
            .imatge {
                video {
                    max-width: 50%;
                    margin: auto;
                }
            }
        }
    }
}
