@import "src/styles.scss";

:host { display: block; }

.seccio {
    margin-bottom: 1rem;
    border-radius: 2rem;
    
    .boto-desplegable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem;

        .text-i-icona {
            display: flex;
            align-items: center;
            gap: 1rem;

            .icona {
                height: 4rem;
                border-radius: 1.5rem;
            }
            .titol {
                font-size: 1.4rem;
                color: var(--text);
            }
        }
        .fletxa {
            font-size: 1.5rem;
            margin-right: 1.5rem;
            margin-left: 1.5rem;
            transition: transform 200ms;
        }
    }
    .contingut {
        display: flex;
        column-gap: 1rem;
        row-gap: 2rem;

        padding: 0.5rem 1rem 1rem;
        transition: padding-left 0.3s, padding-right 0.3s;

        @include tablet {
            padding: 1rem 1.5rem 1.5rem;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2.25rem;

            .text { }
            .iconesStores {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                @include mobil {
                    justify-content: center;
                }

                a {
                    display: block;
                    border-radius: 50%;
                    overflow: hidden;

                    .logo {
                        height: 3rem;
                    }
                }
            }
            .skills { }
        }
        .video {
            video {
                max-width: 100%;
                border-radius: 1rem;
            }
        }
    }
}

.seccio[data-open] .fletxa {
    transform: rotate(-180deg);
}

// Estils extres //
.sus-tracker {
    .contingut .video video {
        // Arrodonir un rectangle només amb percentatges //
        // No veuràs mai més res així en ta puta vida lol //
        // ( 346px / 24px / 5) = 2.88%;
        // (1578px / 24px / 5) = 13.15%
        border-radius: 2.88% / 13.15%
    }
}

// Evtar que els tooltips flotants de skill quedin a sota //
:host > section.seccio {
    position: relative;
    &:nth-of-type(1) { z-index: 4; }
    &:nth-of-type(2) { z-index: 3; }
    &:nth-of-type(3) { z-index: 2; }
    &:nth-of-type(4) { z-index: 1; }
}


::ng-deep .seccio {
    background-color: var(--color-clar-20);
    &:not([data-open]):hover {
        background-color: var(--color-clar-30);
    }
}
::ng-deep .light .seccio {
    background-color: var(--color-clar-50);
    &:not([data-open]):hover {
        background-color: var(--color-clar-80);
    }
    // @extend .shadow-1;
}
