<div id="other" class="group mb-6" appMostrarAmbAnimacio>
    <div class="subtitle mb-2 gap-2_5">
        @if (m.ca) { Altres projectes }
        @if (m.es) { Otros proyectos }
        @if (m.en) { Other projects }
        <a href="https://github.com/jordimas96?tab=repositories" class="link-img"><img src="assets/icons/contact/github.png" alt="GitHub" class="title-icon inv-dark py-1"></a>
    </div>
    <div class="mb-4">
        @if (m.ca) { Tinc alguns projectes de GitHub sobre diversos temes, per exemple: }
        @if (m.es) { Tengo algunos proyectos de GitHub sobre varios temas, por ejemplo: }
        @if (m.en) { I have some GitHub projects on many topics, for example: }
        <br><br>

        <ngx-masonry class="repos row no-gutters m-n2" [ordered]="true">
            @for(repo of repos; track repos["name"]) {

                <div ngxMasonryItem class="col-12 col-md-6 p-2">
                    
                    <a [href]="repo.url" class="no-style">
                        <div class="repo p-4 {{repo.name}}" [style.backgroundColor]="getColorRepoCards(repo.cardHue)" appMostrarAmbAnimacio>
                            <img [src]="repo.iconUrl1" [alt]="repo.nameFormated" class="mb-2 shadow-filter-1" (error)="repo.iconUrl1=null" *ngIf="repo.iconUrl1">
                            <img [src]="repo.iconUrl2" [alt]="repo.nameFormated" class="mb-2 shadow-filter-1" (error)="repo.iconUrl2=null" *ngIf="repo.iconUrl2">
                            <div class="title mb-1">{{repo.nameFormated}}</div>
                            <div class="text">{{repo.text[m.idioma]}}</div>
                        </div>
                    </a>

                </div>

            } @empty { <i class="ml-4">No projects found</i> }
        </ngx-masonry>
    </div>
    
    <!-- Skills -->
    <div class="title-skills mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill n="Angular"/>
        <app-skill n="CSS"/>
        <app-skill n="Javascript"/>
        <app-skill n="jQuery"/>
        <app-skill n="NgRx"/>
        <app-skill n="PHP"/>
    </div>
</div>
