@import "src/styles.scss";

// .group {
//     --color-fosc-hsl-vals-test: hsl(0, 0%, 6%);
//     --color-clar-hsl-vals-test: hsl(0, 0%, 100%);
//     --color-fosc-hsl-vals: 0, 0%, 6%;
//     --color-clar-hsl-vals: 0, 0%, 100%;
//     --color-l-0: hsl(0, 0%, 6%);
//     --color-l-1: hsl(0, 0%, 16%);
//     --color-l-2: hsl(0, 0%, 27%);
//     --color-l-3: hsl(0, 0%, 37%);
//     --color-l-4: hsl(0, 0%, 48%);
//     --color-l-5: hsl(0, 0%, 58%);
//     --color-l-6: hsl(0, 0%, 69%);
//     --color-l-7: hsl(0, 0%, 79%);
//     --color-l-8: hsl(0, 0%, 89%);
//     --color-l-9: hsl(0, 0%, 100%);
// }

// // Colors específics cards //
// .dark  :host .group { background-color: hsla(0, 0%, 6%, 0.5); }
// .light :host .group { background-color: hsla(0, 0%, 100%, 0.5); }


.dark  :host .repo { background-color: var(--color-clar-20); }
.light :host .repo { background-color: var(--color-clar-50); }



.group {
    a.link-img {
        img.title-icon {
            transition: transform 0.3s;
        }
    }

    .repos {

        .repo {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            border-radius: 2rem;
            
            
            img {
                height: 4rem;
                margin-top: -0.2rem;
            }
            .title {
                font-size: 1.6rem;
                text-transform: capitalize;
            }
            .text {

            }
        }
    }
}


// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
/// 
// Pantalla PC //
@media only screen and (min-width: 576px) { }
// Pantalla Mòbil //
@media only screen and (max-width: 575px) { }

// PC //
@media (pointer: fine) {
    a.link-img:hover {
        img.title-icon {
            transform: scale(1.4);
        }
    }
}
// Mòbil //
@media (pointer: coarse) { }
