@import "src/styles.scss";

#android {
    --color-fosc-rgb-vals-test: rgb(0, 41, 18);
    --color-clar-rgb-vals-test: rgb(184, 255, 216);
    --color-fosc-rgb-vals: 0, 41, 18;
    --color-clar-rgb-vals: 184, 255, 216;
    --color-l-0: hsl(147, 100%, 8%);
    --color-l-1: hsl(147, 100%, 17%);
    --color-l-2: hsl(147, 100%, 25%);
    --color-l-3: hsl(147, 100%, 34%);
    --color-l-4: hsl(147, 100%, 43%);
    --color-l-5: hsl(147, 100%, 51%);
    --color-l-6: hsl(147, 100%, 60%);
    --color-l-7: hsl(147, 100%, 69%);
    --color-l-8: hsl(147, 100%, 77%);
    --color-l-9: hsl(147, 100%, 86%);
}
#mad-jumpgate {
    --color-fosc-rgb-vals-test: rgb(37, 37, 0);
    --color-clar-rgb-vals-test: rgb(255, 255, 209);
    --color-fosc-rgb-vals: 37, 37, 0;
    --color-clar-rgb-vals: 255, 255, 209;
    --color-l-0: hsl(60, 100%, 7%);
    --color-l-1: hsl(60, 100%, 14%);
    --color-l-2: hsl(60, 100%, 19%);
    --color-l-3: hsl(60, 100%, 28%);
    --color-l-4: hsl(60, 100%, 35%);
    --color-l-5: hsl(60, 100%, 44%);
    --color-l-6: hsl(60, 100%, 58%);
    --color-l-7: hsl(60, 100%, 65%);
    --color-l-8: hsl(60, 100%, 72%);
    --color-l-9: hsl(60, 100%, 91%);
}
#tasker {
    --color-fosc-rgb-vals-test: rgb(36, 20, 0);
    --color-clar-rgb-vals-test: rgb(255, 235, 209);
    --color-fosc-rgb-vals: 36, 20, 0;
    --color-clar-rgb-vals: 255, 235, 209;
    --color-l-0: hsl(34, 100%, 7%);
    --color-l-1: hsl(34, 100%, 16%);
    --color-l-2: hsl(34, 100%, 26%);
    --color-l-3: hsl(34, 100%, 35%);
    --color-l-4: hsl(34, 100%, 44%);
    --color-l-5: hsl(34, 100%, 54%);
    --color-l-6: hsl(34, 100%, 63%);
    --color-l-7: hsl(34, 100%, 72%);
    --color-l-8: hsl(34, 100%, 82%);
    --color-l-9: hsl(34, 100%, 91%);
}
#amazfit {
    --color-fosc-rgb-vals-test: rgb(20, 0, 36);
    --color-clar-rgb-vals-test: rgb(255, 243, 209);
    --color-fosc-rgb-vals: 20, 0, 36;
    --color-clar-rgb-vals: 255, 243, 209;
    --color-l-0: hsl(273, 100%, 7%);
    --color-l-1: hsl(273, 100%, 16%);
    --color-l-2: hsl(273, 100%, 26%);
    --color-l-3: hsl(273, 100%, 35%);
    --color-l-4: hsl(273, 100%, 44%);
    --color-l-5: hsl(44, 100%, 44%);
    --color-l-6: hsl(44, 100%, 58%);
    --color-l-7: hsl(44, 100%, 65%);
    --color-l-8: hsl(44, 100%, 72%);
    --color-l-9: hsl(44, 100%, 91%);
}
                 .group#android { background-color: hsla(147, 100%, 14%, 0.5); }
::ng-deep .light .group#android { background-color: hsla(147, 100%, 72%, 0.5); }
                 .group#mad-jumpgate { background-color: hsla(60, 100%, 21%, 0.5); }
::ng-deep .light .group#mad-jumpgate { background-color: hsla(60, 100%, 72%, 0.5); }
                 .group#tasker { background-color: hsla(34, 100%, 25%, 0.5); }
::ng-deep .light .group#tasker { background-color: hsla(34, 100%, 72%, 0.5); }
                 .group#amazfit { background-color: hsla(273, 100%, 15%, 0.5); }
::ng-deep .light .group#amazfit { background-color: hsla(44, 100%, 72%, 0.5); }



.group {
    .subtitle {
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
        }
    }

    &#android {

        .boto-i-qr {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .div-qr-i-text {
                text-align: center;


                ::ng-deep qrcode {
                    .qrcode {
                        canvas {
                            border-radius: 16px !important;
                            @extend .shadow-2;
                        }
                    }
                }
                .scan-here {
                    font-size: 0.9rem;
                    color: var(--text-80);
                }
            }


            
        }
    }
    
    &#tasker {

        .botons {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        
    }
    
    &#amazfit {

        .boto-i-gif {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .boto {
            }

            .div-gif-i-text {
                text-align: center;
        
        
                img {
                    border-radius: 11px;
                }
                .text-gif {
                    font-size: 0.9rem;
                    color: var(--text-80);
                }
            }
        }

    }


}




// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
/// 
// Pantalla PC //
@media only screen and (min-width: 576px) {
    .group#amazfit .boto-i-gif a.boto {
        padding-right: 0.5rem;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .group#android .boto-i-qr, .group#tasker .botons, .group#amazfit .boto-i-gif {
        text-align: center;
        flex-direction: column;

        a.boto {
            padding: 1rem 1.4rem !important;
        }
    }
    .group#amazfit .boto-i-gif a.boto {
        padding-right: 1rem;
    }
}

// PC //
@media (pointer: fine) { }
// Mòbil //
@media (pointer: coarse) { }
