.group {

    .boto-i-qr {
        
        a.boto {
            display: inline-block;
            padding: 0.5rem 0.7rem;
            padding-left: 1rem;
            font-size: 1.3rem;
            border-radius: 10000px;

            background-color: var(--color-7);
            color: var(--fons);

            transition: var(--transicio-colors);

            img.logo {
                height: 2rem;
            }

            .fletxa {
                display: inline-block;
                margin-left: 0.7rem;
                color: var(--link);

                transition: transform 0.3s ease, var(--transicio-colors);
            }
        }
    }
}

iframe.game {
    max-width: 100%;

    opacity: 0;
    transition: opacity 0.3s ease;
}
.game-placeholder {
    max-width: 100%;

    background-color: var(--text-50);
}






// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
/// 
// Pantalla PC //
@media only screen and (min-width: 576px) { }
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .boto-i-qr {
        text-align: center;
        a.boto {
            padding: 1rem 1.4rem !important;
        }
    }
}

// PC //
@media (pointer: fine) { }
// Mòbil //
@media (pointer: coarse) { }
