<div class="content" [style.margin-top.px]="m.u.getAlturaAppbar()">
    <div class="title h1 mb-5 ocult-animacio h">
        <ng-container *ngIf="m.ca()">Projectes personals</ng-container>
        <ng-container *ngIf="m.es()">Proyectos personales</ng-container>
        <ng-container *ngIf="m.en()">Personal projects</ng-container>
    </div>

    <!-- Android Apps -->
    <div id="android" class="group ocult-animacio h">
        <div class="subtitle mb-2 g-2_5">
            <ng-container *ngIf="m.ca()">Apps Android</ng-container>
            <ng-container *ngIf="m.es()">Apps Android</ng-container>
            <ng-container *ngIf="m.en()">Android Apps</ng-container>
            <a href="https://www.android.com/" class="link-img"><img src="assets/icons/android.png" alt="Android" class="title-icon py-1"></a>
        </div>
        <p class="text mb-4">
            <ng-container *ngIf="m.ca()">
                Quan tinc temps lliure, m'agrada desenvolupar aplicacions per a Android i jocs per a la Play Store, ja sigui en Android Studio com en Unity. Per fer-ho, utilitzo majoritàriament Java, Kotlin i C#.<br>
                Sempre m'he esforçat a seguir les directrius de <a href="https://m2.material.io/">Material Design</a> en Android, però des d'Android 12 i la introducció de la tercera versió de Material Design, anomenada <a href="https://m3.material.io/">Material You</a>, he començat a dissenyar les interfícies seguint aquest nou estil, que ofereix una estètica moderna i agradable d'utilitzar. Seguint aquesta línia, a l'hora de triar el tema, utilitzo els <a href="https://developer.android.com/develop/ui/views/theming/dynamic-colors">colors dinàmics de Monet</a>, que ofereixen opcions de personalització segons el fons de pantalla. D'aquesta manera es poden generar interfícies amb combinacions de colors úniques per a cada usuari.<br><br>
                Les aplicacions que he desenvolupat en el meu temps lliure són les següents:
                <br><br>
                <app-detalls-android-apps/>
                <br>
                <ng-container *ngIf="m.esAndroid()">Les meves aplicacions estan disponibles a la Play Store:</ng-container>
                <ng-container *ngIf="!m.esAndroid()">Les meves aplicacions estan disponibles a la Play Store. Podeu escanejar el codi QR des d'un dispositiu Android per visitar el meu perfil a la Play Store:</ng-container>
            </ng-container>
            
            <ng-container *ngIf="m.es()">
                Cuando tengo tiempo libre, me gusta desarrollar aplicaciones para Android y juegos para Play Store, ya sea en Android Studio como en Unity. Para ello, utilizo mayoritariamente Java, Kotlin y C#.<br>
                Siempre me he esforzado en seguir las directrices de <a href="https://m2.material.io/">Material Design</a> en Android, pero desde Android 12 y la introducción de la tercera versión de Material Design, llamada <a href="https://m3.material.io/">Material You</a>, he empezado a diseñar las interfaces siguiendo este nuevo estilo, que ofrece una estética moderna y agradable de utilizar. Siguiendo esa línea, a la hora de elegir el tema utilizo los <a href="https://developer.android.com/develop/ui/views/theming/dynamic-colors">colores dinámicos de Monet</a>, que ofrecen opciones de personalización según el fondo de pantalla. De esta forma se pueden generar interfaces con combinaciones de colores únicas para cada usuario.<br><br>
                Las aplicaciones que he desarrollado en mi tiempo libre son las siguientes:
                <br><br>
                <app-detalls-android-apps/>
                <br>
                <ng-container *ngIf="m.esAndroid()">Mis aplicaciones están disponibles en la Play Store:</ng-container>
                <ng-container *ngIf="!m.esAndroid()">Mis aplicaciones están disponibles en la Play Store. Puedes escanear el código QR desde un dispositivo Android para visitar mi perfil en la Play Store:</ng-container>
            </ng-container>
            
            <ng-container *ngIf="m.en()">
                When I have free time, I like to develop Android apps and games for the Play Store, either in Android Studio or in Unity. To do it, I mostly use Java, Kotlin and C#.<br>
                I have always put effort into following <a href="https://m2.material.io/">Material Design</a> guidelines in Android, but since Android 12 and the introduction of the third version of Material Design, called <a href="https://m3.material.io/">Material You</a>, I have started to design the UIs following this new style, which offers a modern and pleasant-to-use aesthetic. When it comes to choosing the theme, I use <a href="https://developer.android.com/develop/ui/views/theming/dynamic-colors">Monet's dynamic colors</a>, which offer customization options depending on the wallpaper. In this way, interfaces with unique color combinations can be generated for each user.<br><br>
                The applications that I have developed in my free time are the following:
                <br><br>
                <app-detalls-android-apps/>
                <br>
                <ng-container *ngIf="m.esAndroid()">My apps are available on the Play Store:</ng-container>
                <ng-container *ngIf="!m.esAndroid()">My apps are available on the Play Store. You can scan the QR code from an Android device to visit my profile on the Play Store:</ng-container>
            </ng-container>
        </p>
        <!-- <a href="https://play.google.com/store/apps/developer?id=Jordi+Mas+Parramon">
            <ng-container *ngIf="m.ca()">Les meves apps a Google Play</ng-container>
            <ng-container *ngIf="m.es()">Mis apps en Google Play</ng-container>
            <ng-container *ngIf="m.en()">My apps in Google Play</ng-container>
        </a> -->
        <div class="boto-i-qr">
            <a href="https://play.google.com/store/apps/developer?id=Jordi+Mas+Parramon" class="boto mb-3">
                <ng-container *ngIf="m.ca()">Les meves apps</ng-container>
                <ng-container *ngIf="m.es()">Mis apps</ng-container>
                <ng-container *ngIf="m.en()">My apps</ng-container>
                <img src="assets/icons/play-store.png" alt="Google Play Store" class="logo">
            </a>
            <div *ngIf="!m.esAndroid()" class="div-qr-i-text">
                <qrcode qrdata="https://play.google.com/store/apps/developer?id=Jordi+Mas+Parramon" [errorCorrectionLevel]="'M'"
                    colorDark="#005727" colorLight="#b8ffd8"></qrcode>

                <div class="scan-here mt-2">
                    <ng-container *ngIf="m.ca()">Escaneja el QR des d'un dispositiu Android<br>per a visitar el meu perfil de Play Store</ng-container>
                    <ng-container *ngIf="m.es()">Escanea el QR desde un dispositivo Android<br>para visitar mi perfil de Play Store</ng-container>
                    <ng-container *ngIf="m.en()">Scan here from an Android device<br>to visit my Play Store profile</ng-container>
                </div>
            </div>
        </div>
        
        <!-- Skills -->
        <div class="title-skills mt-4 mb-2">
            <ng-container *ngIf="m.ca()">Tecnologies utilitzades</ng-container>
            <ng-container *ngIf="m.es()">Tecnologías usadas</ng-container>
            <ng-container *ngIf="m.en()">Used technologies</ng-container>
        </div>
        <div class="skills">
            <app-skill n="Android"/>
            <app-skill n="Kotlin"/>
            <app-skill n="Java"/>
            <app-skill n="C#"/>
            <app-skill n="PHP"/>
            <app-skill n="MySQL"/>
            <app-skill n="GitHub"/>
            <app-skill n="Android Studio"/>
            <app-skill n="Unity"/>
        </div>
    </div>

    
    <!-- Mad Jumpgate -->
    <div id="mad-jumpgate" class="group ocult-animacio h">
        <div class="subtitle mb-2 g-2_5">
            <ng-container *ngIf="m.ca()">Projecte final de DAM - Mad Jumpgate</ng-container>
            <ng-container *ngIf="m.es()">Proyecto final de DAM - Mad Jumpgate</ng-container>
            <ng-container *ngIf="m.en()">Final project of DAM - Mad Jumpgate</ng-container>
            <a href="https://jmaspgames.itch.io/mad-jumpgate" class="link-img"><img src="assets/icons/mad-jumpgate.png" alt="Mad Jumpgate" class="title-icon rounded"></a>
        </div>
        <p class="text mb-4">
            <ng-container *ngIf="m.ca()">
                Aquest és el meu projecte final del segon curs del Cicle Superior de Desenvolupament d'Aplicacions Multiplataforma (DAM). Em va portar 2 setmanes de feina crear aquest <i><a href="https://ca.wikipedia.org/wiki/Videojoc_d%27acci%C3%B3_en_primera_persona">First Person Shooter</a></i> des de zero, utilitzant Unity. Des del moviment de la càmara i del jugador, passant per les mecàniques de cada tipus d'arma (tant l'usuari com els enemics) i punts de spawn, fins a gestionar l'inventari format per la munició i els subministraments.
            </ng-container>
            
            <ng-container *ngIf="m.es()">
                Éste es mi proyecto final del segundo curso del Ciclo Superior de Desarrollo de Aplicaciones Multiplataforma (DAM). Me llevó 2 semanas de trabajo crear ese <i><a href="https://es.wikipedia.org/wiki/Videojuego_de_disparos_en_primera_persona">First Person Shooter</a></i> desde cero, usando Unity. Desde el movimiento de la cámara y del jugador, pasando por las mecánicas de cada tipo de arma (tanto el usuario como los enemigos) y puntos de spawn, hasta gestionar el inventario formado por la munición y los suministros.
            </ng-container>
            
            <ng-container *ngIf="m.en()">
                This is my final project for the second year of the Higher Cycle of Multiplatform Application Development (DAM). It took me 2 weeks of work to create this <i><a href="https://en.wikipedia.org/wiki/First-person_shooter">First Person Shooter</a></i> from scratch, using Unity. From the movement of the camera and the player, through the mechanics of shooting each type of weapon (both the user and the enemies) and spawn points, to managing the inventory consisting of ammunition and supplies.
            </ng-container>
        </p>

        <!-- Mad jumpgate - itch.io -->
        <!-- <div style="position: relative; max-width: 100%;">
            <div class="game-placeholder" style="width: 552px; height: 167px;">
                <iframe *ngIf="mostrarWidgetJoc" #game class="game" src="https://itch.io/embed/2011884" width="552" height="167" frameborder="0">
                    <a href="https://jmaspgames.itch.io/mad-jumpgate">Mad Jumpgate by Jordi Mas</a>
                </iframe>
            </div>
            
            <div class="joc-nomes-pc" *ngIf="!m.esPc()" style="width: 552px; height: 167px;">
                <ng-container *ngIf="m.ca()">Aquest joc és només per a ordinador.<br>Accedeix des d'un ordinador per a jugar-hi.</ng-container>
                <ng-container *ngIf="m.es()">Este juego es sólo para ordenador.<br>Accede desde un ordenador para jugar.</ng-container>
                <ng-container *ngIf="m.en()">This game is for PC only.<br>Access from a computer to play it.</ng-container>
            </div>
        </div> -->
        <div class="div-mad-jumpgate">
            <app-mad-jumpgate/>
        </div>

        <!-- Skills -->
        <div class="title-skills mt-4 mb-2">
            <ng-container *ngIf="m.ca()">Tecnologies utilitzades</ng-container>
            <ng-container *ngIf="m.es()">Tecnologías usadas</ng-container>
            <ng-container *ngIf="m.en()">Used technologies</ng-container>
        </div>
        <div class="skills">
            <app-skill n="C#" />
            <app-skill n="Unity"/>
            <app-skill n="Visual Studio"/>
        </div>
    </div>


    <!-- Tasker -->
    <div id="tasker" class="group ocult-animacio h">
        <div class="subtitle mb-2 g-2_5">
            <ng-container *ngIf="m.ca()">Projectes TaskerNet</ng-container>
            <ng-container *ngIf="m.es()">Proyectos TaskerNet</ng-container>
            <ng-container *ngIf="m.en()">TaskerNet projects</ng-container>
            <a href="https://tasker.joaoapps.com/" class="link-img"><img src="assets/icons/tasker.png" alt="Tasker" class="title-icon"></a>
        </div>
        <p class="text mb-4">
            <ng-container *ngIf="m.ca()">
                Una altra de les meves aficions és experimentar amb Android, en específic trastejar amb diferents versions i ampliar-ne les funcionalitats. Una de les maneres de fer-ho és amb <a href="https://tasker.joaoapps.com/">Tasker</a>, una app d'automatització de tasques en Android que permet programar funcions senzilles, mitjançant pseudocodi, i ocasionalment també Java i HTML/CSS per a l'estructuració del contingut a mostrar. A través d'aquesta aplicació, he creat nombrosos projectes amb l'objectiu de millorar i ampliar les capacitats d'Android, i he publicat aquells que podrien resultar útils per a altres usuaris, alguns d'ells amb centenars de descàrregunes dins la comunitat.
            </ng-container>
            
            <ng-container *ngIf="m.es()">
                Otra de mis aficiones es experimentar con Android, en específico trastear con diferentes versiones y ampliar sus funcionalidades. Una de las maneras de hacerlo es con <a href="https://tasker.joaoapps.com/">Tasker</a>, una app de automatización de tareas en Android que permite programar funciones sencillas, mediante pseudocódigo, y ocasionalmente también Java y HTML/CSS para la estructuración del contenido a mostrar. A través de esta aplicación, he creado numerosos proyectos con el fin de mejorar y ampliar las capacidades de Android, y he publicado aquellos que podrían resultar útiles para otros usuarios, algunos de ellos con cientos de descargas dentro de la comunidad.
            </ng-container>
            
            <ng-container *ngIf="m.en()">
                Another of my hobbies is experimenting with Android, specifically tinkering with different versions and expanding its functionality. One way to do this is with <a href="https://tasker.joaoapps.com/">Tasker</a>, a task automation app on Android that allows you to program simple functions, using pseudocode, and occasionally also Java and HTML/CSS for structuring the content to be displayed. Through this app, I have created numerous projects to enhance and expand the functionality of Android, and I have published the most useful and straightforward ones for other users, some of them with hundreds of downloads within the community.
            </ng-container>
        </p>

        <div class="botons mt-4">
            <a href="https://taskernet.com/?user=AS35m8mRntivpH1gAMw7ymN993wqjIo0bD6%2FSevikpiMYXceQJ%2BATvjOUxxvfzAbynKD" class="boto mx-2 mb-3">
                <ng-container *ngIf="m.ca()">Els meus projectes</ng-container>
                <ng-container *ngIf="m.es()">Mis proyectos</ng-container>
                <ng-container *ngIf="m.en()">My projects</ng-container>
                <img src="assets/icons/tasker.png" alt="Tasker" class="logo">
            </a>

            <a href="https://play.google.com/store/apps/details?id=net.dinglisch.android.taskerm" class="boto mx-2 mb-3">
                <ng-container *ngIf="m.ca()">Descarregar Tasker</ng-container>
                <ng-container *ngIf="m.es()">Descargar Tasker</ng-container>
                <ng-container *ngIf="m.en()">Download Tasker</ng-container>
                <img src="assets/icons/play-store.png" alt="Google Play Store" class="logo">
            </a>
        </div>

        <!-- Skills -->
        <div class="title-skills mt-4 mb-2">
            <ng-container *ngIf="m.ca()">Tecnologies utilitzades</ng-container>
            <ng-container *ngIf="m.es()">Tecnologías usadas</ng-container>
            <ng-container *ngIf="m.en()">Used technologies</ng-container>
        </div>
        <div class="skills">
            <app-skill n="HTML"/>
            <app-skill n="CSS"/>
            <app-skill n="Java"/>
        </div>
    </div>



    <!-- Amazfit Watchfaces -->
    <div id="amazfit" class="group ocult-animacio h">
        <div class="subtitle mb-2 g-2_5">
            Amazfit Watchfaces
            <a href="https://amazfitwatchfaces.com/" class="link-img"><img src="assets/icons/amazfit-watchfaces.png" alt="Mad Jumpgate" class="title-icon rounded"></a>
        </div>
        <p class="text mb-4">
            <ng-container *ngIf="m.ca()">
                Un dels camps en el que vaig descobrir la meva passió pel disseny i la meva habilitat per a trobar solucions als problemes és en el cas de la watchface que vaig fer per la Xiaomi Mi Band 4. Tenia aquesta smartband i vaig notar que li faltava una funció que seria ben convenient: Una llanterna. Com que el hardware i software de la pulsera eren molt limitats i no es podia afegir la funció directament al sistema, vaig optar per una solució més senzilla: crear una watchface blanca que pogués servir com a llanterna i al mateix temps com a rellotge, mostrant a més indicadors bàsics com la data, bateria, nombre de passes, etc. Com que la watchface m'era molt útil, vaig pujar-la a la web de Amazfit Watchfaces per a que els usuaris de la comunitat se la poguessin decarregar.
                <a href="https://amazfitwatchfaces.com/mi-band-4/view/7773"></a>
            </ng-container>
            
            <ng-container *ngIf="m.es()">
                Uno de los campos en el que descubrí mi pasión por el diseño y mi habilidad para encontrar soluciones a los problemas fue cuando creé una watchface para la Xiaomi Mi Band 4. Tenía esta smartband y noté que le faltaba una función que sería bien conveniente: Una linterna. Dado que el hardware y software de la pulsera eran muy limitados y no se podía añadir la función directamente al sistema, opté por una solución más sencilla: crear una watchface blanca que pudiera servir como linterna y al mismo tiempo como reloj, mostrando además indicadores básicos como la fecha, batería, número de pasos, etc. Como la watchface me resultaba muy útil, la subí a la web de Amazfit Watchfaces para que los usuarios de la comunidad pudieran descargársela.
            </ng-container>
            
            <ng-container *ngIf="m.en()">
                One of the fields in which I discovered my passion for design and my ability to find solutions to problems was when I created a watchface for the Xiaomi Mi Band 4. I had this smartband and noticed that it was lacking a feature that would be quite convenient: A flashlight. Since the hardware and software of the band were very limited and the function could not be added directly to the system, I opted for a simpler solution: creating a white watchface that could serve as a flashlight and a watch at the same time, also showing basic indicators such as the date, battery level, number of steps, etc. Since the watchface was very useful to me, I uploaded it to the Amazfit Watchfaces website so that users from the community could download it.
            </ng-container>
        </p>
        <div class="boto-i-gif">
            <a href="https://amazfitwatchfaces.com/mi-band-4/view/7773" class="boto mb-3">
                <ng-container *ngIf="m.ca()">Les meves watchfaces</ng-container>
                <ng-container *ngIf="m.es()">Mis watchfaces</ng-container>
                <ng-container *ngIf="m.en()">My watchfaces</ng-container>
                <img src="assets/icons/amazfit-watchfaces.png" alt="Amazfit Watchfaces" class="logo rounded-4">
            </a>
            <div class="div-gif-i-text">
                <img src="assets/amazfit-watchfaces/white-screen-flashlight.gif" alt="GIF watchface">

                <div class="text-gif mt-2" hidden>
                    <ng-container *ngIf="m.ca()">Explicacio GIF</ng-container>
                    <ng-container *ngIf="m.es()">Explicacio GIF</ng-container>
                    <ng-container *ngIf="m.en()">Explicacio GIF</ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
