<div id="page" class="page">
    <div class="page-title mb-5" appMostrarAmbAnimacio>
        @if (m.ca) { Projectes personals }
        @if (m.es) { Proyectos personales }
        @if (m.en) { Personal projects }
    </div>

    <div class="content mb-6 d-flex flex-column gap-6">

        <app-android-apps />
        <app-mad-jumpgate />
        <app-github-projects />
        <app-custom-roms />
        <app-tasker />
        
        <button class="boto botoSeguentPagina align-self-center" routerLink="/art" appMostrarAmbAnimacio>
            @if (m.ca) { Art }
            @if (m.es) { Arte }
            @if (m.en) { Art }
            <i class="fa-solid fa-chevron-right"></i>
        </button>

    </div>
</div>
