@import "src/styles.scss";

mat-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 0 !important;
    max-height: 100%;
    overflow: hidden;

    iframe {
        border-radius: 32px;
        border-radius: 24px;
        border-radius: 32px 32px 24px 24px;
        background-color: black;

        max-width: 100%;
        max-height: calc(100% - 7rem); // 100% - altura botó, gap, i padding del "body" //

        &.horitzontal {
            width: auto;
            height: 100%;
        }
        &.vertical {
            width: 100%;
            height: auto;
        }
    }
    .desktop {
        aspect-ratio: 2560 / 1440;
    }
    .mobile {
        aspect-ratio: 1080 / 2050;
    }
    .responsive {
        aspect-ratio: 1920 / 1080;
    }

    .botons {
        .close {
            width: 8rem;
            height: 5rem;
            padding: 0.25rem;
            font-size: 1.8rem;
            background-color: white;
            color: black;
            border-radius: 2rem 2rem 3rem 3rem;
        }
    }
    
}



::ng-deep .iframe-modal { }
::ng-deep .iframe-modal-backdrop {
    // background: #6e7da5;
    // background-color: light-dark(hsl(214, 100%, 87%), hsl(214, 24%, 35%));
    backdrop-filter: blur(40px) saturate(2);
}


// Eliminar estils per defecte //
::ng-deep .iframe-modal {
    .mdc-dialog__surface {
        background: none;
    }
}

::ng-deep .cdk-global-overlay-wrapper {
    padding: 2rem;
}
