@import "src/styles.scss";





.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 80%;
    transform: translate(-100%);
    background-color: transparent;
    backdrop-filter: blur(100px) saturate(2);
    // border-radius: 0 1.5rem 1.5rem 0;

    box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0);

    z-index: 1101;

    transition: transform 0.3s, box-shadow 0.3s;

    &.open {
        transform: none;
        // @extend .shadow-5;
        box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.5);
    }

    
    .botoSidebar {
        padding: 0.5rem;
        font-size: 2rem;
    }

    .seccions {
        display: flex;
        flex-direction: column;
        
        overflow: hidden;
        
        button {
            font-size: 1.5rem;
            width: 100%;
            padding: 1rem;

            &:hover {
                box-shadow: inset 0 0 0 1000px var(--color-clar-20);
            }
        }
    }


    .zonaInferior {
        position: absolute;
        bottom: 0;
        width: 100%;

        .contact-icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
            .contact-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                border-radius: 1rem;
                padding: 0.5rem;
                
                .icon {
                    height: 2.5rem;
                    z-index: 10;
                }
                .text {
                    font-size: 0.7rem;
                    color: var(--color-clar);
                    margin: 0 -0.2rem;
        
                    opacity: 0;
                    transform: translateY(-100%) scale(0.5);
        
                    transition: transform 0.3s, opacity 0.3s, margin 0.3s;
                }
            }
        }
        
    }
}
.backdrop {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 1100;
}
.sidebar.open + .backdrop {
    width: 20%;
}

// Google Analytics //
.hiddenButtonBlockGoogleAnalytics {
    position: absolute;
    top: 0; right: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
}



// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .contact-icons {
        column-gap: 0.25rem;
    }
}
// Pantalla Tablet //
@media only screen and (min-width: 576px) {
    .sidebar {
        width: 400px;
        
        .botoSidebar {
            padding: 0.5rem 1.5rem;
        }

        .seccions {
            button {
                font-size: 2rem;
            }
        }
    }
    .sidebar.open + .backdrop {
        width: calc(100% - 400px);
    }
}
// Pantalla PC //
@media only screen and (min-width: 768px) { }
// Pantalla Molt Gran //
@media only screen and (min-width: 992px) { }

// PC //
@media (pointer: fine) {
    .sidebar {

        .botoSidebar {
            visibility: hidden;
        }
        .zonaInferior {

            .contact-icons {
                
                .contact-icon {
                    transition: font-size 0.3s, transform 0.3s, var(--transicio-colors);

                    &:hover {
                        background-color: var(--color-l-3);
                        transform: scale(1.3);

                        .text {
                            opacity: 1;
                            transform: translateY(0.1rem);
                        }
                    }
                }
            }
        }
    }
}
// Mòbil //
@media (pointer: coarse) {
    .contact-icons {
        .text {
            display: none;
        }
    }
}
