<div class="sidebar" [class.open]="open">

    <button class="botoSidebar botoText" (click)="this.tancar()">
        <i class="fa-solid fa-close d-block"></i>
    </button>

    <nav class="seccions">
        <button class="botoText" routerLink="/">
            @if (m.ca) { Inici }
            @if (m.es) { Inicio }
            @if (m.en) { Home }
        </button>
        <button class="botoText tema-evora" routerLink="/experience">
            @if (m.ca) { Experiència }
            @if (m.es) { Experiencia }
            @if (m.en) { Experience }
        </button>
        <button class="botoText tema-android" routerLink="/projects">
            @if (m.ca) { Projectes }
            @if (m.es) { Proyectos }
            @if (m.en) { Projects }
        </button>
        <button class="botoText tema-icons" routerLink="/art">
            @if (m.ca) { Art }
            @if (m.es) { Arte }
            @if (m.en) { Art }
        </button>
    </nav>






    <div class="zonaInferior p-3">

        <div class="contact-icons mb-4 no-style">
            <a href="https://www.linkedin.com/in/jordimas96" class="contact-icon linkedin">
                <img src="assets/icons/contact/linkedin.png" alt="LinkedIn" class="icon boing shadow-filter-1-l">
                <div class="text">LinkedIn</div>
            </a>
            <a href="https://github.com/jordimas96" class="contact-icon github">
                <img src="assets/icons/contact/github.png" alt="GitHub" class="icon boing shadow-filter-1-l">
                <div class="text">GitHub</div>
            </a>
            <a href="https://jordimas96.github.io/external-pages/play-store/play-store.html" class="contact-icon playstore">
                <img src="assets/icons/contact/play-store.png" alt="Google Play Store" class="icon boing shadow-filter-1-l">
                <div class="text">Play Store</div>
            </a>
            @if (m.esPantallaMobil()) { <div class="w-100"></div> }
            <a href="mailto:xordimas@gmail.com" class="contact-icon email">
                <img src="assets/icons/contact/email.png" alt="Email" class="icon boing p-1 rounded-2 shadow-filter-1-l">
                <div class="text">Email me!</div>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLuIrb7i3EMtOB_S2yQPbJ4nhHhdl3TYHM" class="contact-icon youtube">
                <img src="assets/icons/contact/youtube.png" alt="YouTube" class="icon boing p-1 shadow-filter-1-l">
                <div class="text">YouTube</div>
            </a>
        </div>

        <div class="d-flex justify-content-between align-items-end">
            <app-dark-mode />
            <app-selector-idioma />
        </div>
        
    </div>


    <!-- Google Analytics -->
    <div class="hiddenButtonBlockGoogleAnalytics" (click)="blockGoogleAnalyticsService.hiddenButtonClick()"></div>

</div>
@if (m.esPantallaTactil()) {
    <div class="backdrop" (click)="this.tancar()"></div>
} @else {
    <div class="backdrop" (mouseenter)="this.tancar()"></div>
}
