@import "src/styles.scss";

.sidebar {
    position: fixed;
    top: var(--APPBAR-HEIGHT);
    bottom: 0;
    width: var(--RAIL-WIDTH);
    max-width: 80%;

    display: flex;
    flex-direction: column;

    background-color: transparent;
    backdrop-filter: blur(40px) saturate(2);

    overflow: hidden;

    z-index: 1101;

    transition: width 0.3s, translate 0.3s, transform 0.3s, box-shadow 0.3s;

    &.open {
        translate: 0 0;
    }
    &:not(.open) {
        translate: -100% 0;
    }

    &.drawer {
        width: var(--DRAWER-WIDTH);
        // border-radius: 0 2.5rem 2.5rem 0;
    }
    &.rail {
        // border-radius: 0 2rem 2rem 0;
    }
    &.mobil {
        backdrop-filter: blur(100px) saturate(2);
        --color-ombra: transparent;
        box-shadow: 0 1000px 0 1000px var(--color-ombra);
        &.open {
            --color-ombra: rgba(0, 0, 0, 0.5);
        }
    }

    .seccions {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        flex: 1;

        padding: 0.5rem;

        overflow-y: auto;
        @include cursor { scrollbar-width: none; }

        touch-action: auto !important;

        transition: gap 0.3s;

        .boto-seccio {
            @include reset-button;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;

            flex-shrink: 0;

            font-size: 1.7rem;
            border-radius: 50rem;

            transition: padding 0.3s, background-color 0.3s;

            // &:hover { box-shadow: inset 0 0 0 1000px var(--color-clar-30); }

            .icona {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: none;

                width: calc(var(--RAIL-WIDTH) - 1rem);
                height: 4rem;
                font-size: 1.8rem;

                transition: height 0.3s;
            }

            .text {
                transition: opacity 0.3s;
            }

            &.drawer {
                background-color: var(--color-clar-20);
                padding: 0 0.65rem;
            }

            &.rail {
                .text {
                    opacity: 0;
                }
            }

            &.selected {
                background-color: var(--color-clar-90);
                color: var(--color-clar);
            }

            // Colors //
            &.home {
                &:not(.selected):hover {
                    color: light-dark(hsl(160deg 100% 75%), hsl(160deg 100% 50%));
                }
                &.selected {
                    background-color: hsl(170deg 100% 30%);
                }
            }
            &.experience {
                &:not(.selected):hover {
                    color: light-dark(hsl(22deg 73.33% 71.05%), hsl(22deg 36% 50%));
                }
                &.selected {
                    // a0794c
                    background-color: hsl(22deg 50% 40%);
                }
            }
            &.projects {
                &:not(.selected):hover {
                    color: hsl(46deg 100% 50%);
                }
                &.selected {
                    background-color: hsl(46deg 100% 35%);
                }
            }
            &.art {
                &:not(.selected):hover {
                    color: light-dark(hsl(282deg 100% 43%), hsl(298deg 100% 66%));
                }
                &.selected {
                    background-color: hsl(275deg 100% 35%);
                }
            }
            &.about-me {
                &:not(.selected):hover {
                    color: light-dark(hsl(224deg 100% 50%), #4193ff);
                }
                &.selected {
                    background-color: hsl(224deg 100% 58%);
                }
            }
            &.cv {
                user-select: none;
                &:hover {
                    color: var(--color-clar);
                    .icona, .text {
                        filter: brightness(0.8) sepia(1) saturate(2);
                        @include light {
                            filter: brightness(0.2) sepia(1) !important;
                        }
                    }
                }
            }
        }
    }

    .zonaInferior {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        flex-shrink: 0;

        padding: 0.5rem;

        app-dark-mode {
            display: flex;
            flex-wrap: nowrap;
        }
        app-selector-idioma {
            display: block;
            transition: opacity 0.3s;
        }

        ::ng-deep &.hide-buttons {
            app-dark-mode .botoAutoMode, app-selector-idioma {
                visibility: hidden !important;
            }
        }
    }

    &.rail .zonaInferior {

        ::ng-deep app-dark-mode {
            .botoDarkMode, .botoAutoMode {
                width: 3rem;
                height: 4rem;
                // rotate: -90deg;
                // i { rotate: +90deg; }
            }
            .botoAutoMode {
                opacity: 0;
            }
        }
        app-selector-idioma {
            opacity: 0;
        }
    }
}

.backdrop {
    position: fixed;
    inset: 0;
    z-index: 1100;
}


// Google Analytics //
.hiddenButtonBlockGoogleAnalytics {
    position: absolute;
    top: 0; right: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
}


@media only screen and (max-height: 600px) {
    .sidebar {
        .seccions {
            .boto-seccio {
                .icona {
                    height: 3.75rem;
                }
            }
        }
        &.rail {
            .seccions {
                gap: 0;
            }
            .zonaInferior {
                ::ng-deep app-dark-mode {
                    .botoDarkMode, .botoAutoMode {
                        height: 3rem;
                    }
                }
            }
        }
    }
}
