<div class="sidebar" [class.open]="open">

    <button class="botoSidebar botoText" (click)="this.tancar()">
        <i class="fa-solid fa-close d-block"></i>
    </button>




    <nav class="seccions mt-5">
        <button class="botoText" routerLink="/">
            @if (m.ca) { Inici }
            @if (m.es) { Inicio }
            @if (m.en) { Home }
        </button>
        <button class="botoText tema-evora" routerLink="/experience">
            @if (m.ca) { Experiència }
            @if (m.es) { Experiencia }
            @if (m.en) { Experience }
        </button>
        <button class="botoText tema-android" routerLink="/projects">
            @if (m.ca) { Projectes }
            @if (m.es) { Proyectos }
            @if (m.en) { Projects }
        </button>
        <button class="botoText tema-icons" routerLink="/art">
            @if (m.ca) { Art }
            @if (m.es) { Arte }
            @if (m.en) { Art }
        </button>
    </nav>

    <div class="barraInferior p-3">
        <app-dark-mode />
        <app-selector-idioma />
    </div>



</div>
<div class="backdrop" (mouseenter)="this.tancar()"></div>
