@import "src/styles.scss";

.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 80%;
    transform: translate(-100%);
    background-color: transparent;
    backdrop-filter: blur(100px) saturate(2);
    // border-radius: 0 1.5rem 1.5rem 0;

    box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0);

    z-index: 1101;

    transition: transform 0.3s, box-shadow 0.3s;

    @include tablet {
        width: 400px;
    }

    &.open {
        transform: none;
        // @extend .shadow-5;
        box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.5);
    }

    .botoSidebar {
        padding: 0.5rem;
        font-size: 2rem;

        @include tablet {
            padding: 0.5rem 1.5rem;
        }
        @include cursor {
            visibility: hidden;
        }
    }

    .seccions {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        
        overflow: hidden;
        
        button {
            @include rs-button;
            font-size: 1.5rem;
            width: 100%;
            padding: 1rem 1.75rem;
            border-radius: 10rem;
            text-align: start;

            background-color: var(--color-clar-20);


            @include tablet {
                font-size: 2rem;
            }

            &:hover {
                box-shadow: inset 0 0 0 1000px var(--color-clar-30);
            }

            i {
                font-size: 1.8rem;
                margin-right: 0.5rem;
            }
        }
    }

    .zonaInferior {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

}
.backdrop {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 1100;
}
.sidebar.open + .backdrop {
    width: 20%;

    @include tablet {
        width: calc(100% - 400px);
    }
}

// Google Analytics //
.hiddenButtonBlockGoogleAnalytics {
    position: absolute;
    top: 0; right: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
}
