<!-- Matic -->
<div class="group">
    <div class="subtitle mb-2">
        <a [href]="getLink()" class="no-style link-boto-titol g-3">
            Matic
            <img src="assets/icons/matic.png" alt="Matic" class="title-icon rounded">
            <span class="fletxa">↗</span>
        </a>
    </div>
    <p class="text mb-1">
        <ng-container *ngIf="m.ca()">
            Durant la meva experiència laboral a Matic Enginyeria Informàtica, vaig ser responsable de programar tant el frontend com el backend d'un sistema CRM dissenyat per a la gestió de clients, manteniments i molls de càrrega de l'empresa SystemBlock. Aquest sistema integra una web, una app Android i un programa <a href="https://learn.microsoft.com/ca-es/windows/uwp/get-started/universal-application-platform-guide">UWP</a> per a Windows 10.<br><br>
            A més, vaig dur a terme el manteniment i millora de <a href="https://www.ocineurbanxmadrid.es/">diverses pàgines web</a> per a <a href="https://www.ocine.es/">Ocine</a>, cosa que va incloure la creació de noves seccions, pantalles i funcions, utilitzant CSS, Javascript, PHP i Joomla.<br>
            També vaig desenvolupar pàgines web específiques per a les pantalles de cartelleres a múltiples locals de cinemes a Madrid.<br><br>

            Elaboració de documentació sobre com generar claus de signatura per a les aplicacions Android i UWP, i instruccions per a pujar canvis a les webs d'Ocine i sincronitzar els monitors de les cartelleres. Elaboració de scripts PowerShell per a automatitzar tasques.
        </ng-container>
            
        <ng-container *ngIf="m.es()">
            Durante mi experiencia laboral en Matic Enginyeria Informàtica, fui responsable de programar tanto el frontend como el backend de un sistema CRM diseñado para la gestión de clientes, mantenimientos y muelles de carga de la empresa SystemBlock. Este sistema integra un sitio web, una app Android y un programa <a href="https://learn.microsoft.com/es-es/windows/uwp/get-started/universal-application-platform-guide">UWP</a> para Windows 10.<br><br>
            Además, llevé a cabo el mantenimiento y mejora de <a href="https://www.ocineurbanxmadrid.es/">varias páginas web</a> para <a href="https://www.ocine.es/">Ocine</a>, lo que incluyó la creación de nuevas secciones, pantallas y funciones, utilizando CSS, Javascript, PHP y Joomla.<br>
            También desarrollé páginas web específicas para las pantallas de carteleras en múltiples locales de cines en Madrid.<br><br>

            Elaboración de documentación sobre cómo generar claves de firma para las aplicaciones Android y UWP, e instrucciones para subir cambios en las webs de Ocine y sincronizar los monitores de las carteleras. Elaboración de scripts PowerShell para automatizar tareas.
        </ng-container>
            
        <ng-container *ngIf="m.en()">
            During my work experience at Matic Enginyeria Informàtica, I was responsible for programming both the frontend and the backend of a CRM system designed for customer, maintenance, and loading docks management for the company SystemBlock. The system integrates a website, an Android app and a <a href="https://learn.microsoft.com/en-us/windows/uwp/get-started/universal-application-platform-guide">UWP</a> Windows 10 program.<br><br>
            In addition, I carried out maintenance and improvement of <a href="https://www.ocineurbanxmadrid.es/">several webpages</a> for <a href="https://www.ocine.es/">Ocine</a>, which included the creation of new sections, screens and functions, using CSS, Javascript, PHP and Joomla.<br>
            I also developed specific web pages for billboard screens in multiple cinema locations in Madrid.<br><br>

            Elaboration of documentation on how to generate signature keys for Android and UWP applications, and instructions for uploading changes to Ocine websites and synchronizing billboard monitors. Development of PowerShell scripts to automate tasks.
        </ng-container>
    </p>

    <!-- Skills -->
    <div class="title-skills mt-4 mb-2">
        <ng-container *ngIf="m.ca()">Tecnologies utilitzades</ng-container>
        <ng-container *ngIf="m.es()">Tecnologías usadas</ng-container>
        <ng-container *ngIf="m.en()">Used technologies</ng-container>
    </div>
    <div class="skills">
        <app-skill n="JavaScript"/>
        <app-skill n="JQuery"/>
        <app-skill n="CSS"/>
        <app-skill n="HTML"/>
        <app-skill n="Bootstrap"/>
        <app-skill n="UWP"/>
        <app-skill n="Cordova"/>
        <app-skill n="Sequelize"/>
        <app-skill n="PHP"/>
        <app-skill n="Apache"/>
        <app-skill n="MySQL"/>
        <app-skill n="PHPMyadmin"/>
        <app-skill n="Filezilla"/>
        <app-skill n="PowerShell"/>
        <app-skill n="Windows Server"/>
        <app-skill n="Joomla"/>
        <app-skill n="Agile"/>
        <app-skill n="MVC"/>
        <app-skill n="Responsive Web Design"/>
        <app-skill n="AnyDesk"/>
        <app-skill n="Remote Desktop"/>
    </div>
</div>
