@switch (nom) {
    @case ("indra") {
        <div class="item tema-dintel card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">Indra</div>
            <div class="text">
                @if (m.ca) {
                    Backoffice i llibreria per gestionar ciutadans a l'estranger durant crisis.<br>
                    Llibreria per a totes les aplicacions del ministeri d'afers exteriors.
                }
                @if (m.es) {
                    Backoffice y librería para gestionar ciudadanos en el extranjero durante crisis.<br>
                    Librería para todas las aplicaciones del ministerio de asuntos exteriores.
                }
                @if (m.en) {
                    Backoffice and library to manage citizens abroad during crises.<br>
                    Library for all applications of the Ministry of Foreign Affairs.
                }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/indra">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("in2art") {
        <div class="item tema-in2art card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">In2art</div>
            <div class="text">
                @if (m.ca) { Xarxa social d'art. Frontend complet, backend parcial.<br> Líder de projecte. }
                @if (m.es) { Red social de arte. Frontend completo, backend parcial.<br> Líder de proyecto. }
                @if (m.en) { Art social network. Complete frontend, partial backend.<br> Project lead. }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/in2art">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("matic") {
        <div class="item tema-matic card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">Matic</div>
            <div class="text">
                @if (m.ca) {
                    CRM per a la gestió d'una empresa de transports. Web, app i programa Windows.<br><br>
                    App per controlar l'accés a esdeveniments amb tests COVID i QR.<br><br>
                    Desenvolupament de seccions per OCINE.
                }
                @if (m.es) {
                    CRM para la gestión de una empresa de transportes. Web, app y programa Windows.<br><br>
                    App para controlar el acceso a eventos con tests COVID y QR.<br><br>
                    Desarrollo de secciones para OCINE.
                }
                @if (m.en) {
                    CRM for the management of a transport company. Web, app and Windows program.<br><br>
                    App to control access to events with COVID tests and QR.<br><br>
                    Development of sections for OCINE.
                }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/matic">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("evora") {
        <div class="item tema-evora card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">Evora IT</div>
            <div class="text">
                @if (m.ca) {
                    Migració d'una aplicació a PWA i a Angular 17 i anàlisi del seu impacte.<br><br>
                    Multinacional del sector mèdic.<br><br>
                    Comunicació només en anglès, equip multicultural.
                }
                @if (m.es) {
                    Migración de una aplicación a PWA y a Angular 17 y análisis del impacto.<br><br>
                    Multinacional del sector médico.<br><br>
                    Comunicación solo en inglés, equipo multicultural.
                }
                @if (m.en) {
                    Migration of an application to PWA and Angular 17 and analysis of its impact.<br><br>
                    Multinational company in the medical sector.<br><br>
                    Communication only in English, multicultural team.
                }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/evora">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("orange") {
        <div class="item tema-orange card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">Orange</div>
            <div class="text">
                @if (m.ca) { Fullstack en una aplicació per a evitar fraus en el consum dels clients d'una operadora. }
                @if (m.es) { Fullstack en una aplicación para evitar fraudes en el consumo de los clientes de una operadora. }
                @if (m.en) { Fullstack in an application to prevent fraud in the consumption of an operator's clients. }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/orange">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("tecnocom") {
        <div class="item tema-tecnocom card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">Tecnocom / Indra</div>
            <div class="text">
                @if (m.ca) { Renovació del sistema Línia Oberta de La Caixa: Desenvolupament d'un sistema de gestió de clients, amb guies de desenvolupament. Middlewares. }
                @if (m.es) { Renovación del sistema Línia Oberta de La Caixa: Desarrollo de un sistema de gestión de clientes, con guías de desarrollo. Middlewares. }
                @if (m.en) { Renewal of La Caixa's Línia Oberta system: Development of a customer management system, with development guides. Middlewares. }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/tecnocom">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("nexxia") {
        <div class="item tema-nexxia card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">Nexxia</div>
            <div class="text">
                @if (m.ca) { Desenvolupament d'un sistema de generació de plantilles personalitzades per a posterior generació de factures. }
                @if (m.es) { Desarrollo de un sistema de generación de plantillas personalizadas para posterior generación de facturas. }
                @if (m.en) { Development of a system for generating customized templates for subsequent invoice generation. }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/nexxia">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("android") {
        <div class="item tema-android card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">
                @if (m.ca) { Apps Android }
                @if (m.es) { Apps Android }
                @if (m.en) { Android Apps }
            </div>
            <div class="text">
                @if (m.ca) { 6 apps Android, a la Play Store i altres. Android Studio, Java, Kotlin i Unity. Material You. Colors dinàmics de Monet. }
                @if (m.es) { 6 apps Android, en la Play Store y otras. Android Studio, Java, Kotlin y Unity. Material You. Colores dinámicos de Monet. }
                @if (m.en) { 6 Android apps, on the Play Store and others. Android Studio, Java, Kotlin and Unity. Material You. Monet dynamic colors. }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/android">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("mad-jumpgate") {
        <div class="item tema-mad-jumpgate card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">
                @if (m.ca) { Joc de disparar per a PC }
                @if (m.es) { Juego de disparos para PC }
                @if (m.en) { PC shooting game }
            </div>
            <div class="text">
                @if (m.ca) { Joc de disparar fet en 2 setmanes amb Unity. 5 nivells amb armes i objectes curatius, granades, spawn d'enemics, música i efectes especials. Projecte final de DAM }
                @if (m.es) { Juego de disparos hecho en 2 semanas con Unity. 5 niveles con varias armas y objetos curativos, granadas, spawn de enemigos, música y efectos especiales. Proyecto final de DAM }
                @if (m.en) { Shooting game made in 2 weeks with Unity. 5 levels with various weapons and healing items, grenades, enemy spawn, music and special effects. Final project of DAM }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/mad-jumpgate">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("github") {
        <div class="item tema-github card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">
                @if (m.ca) { Projectes GitHub }
                @if (m.es) { Proyectos GitHub }
                @if (m.en) { GitHub projects }
            </div>
            <div class="text">
                @if (m.ca) { Els meus repositoris més rellevants a GitHub, on tinc els meus experiments i eines, i projectes vells dels meus estudis. A temps real. }
                @if (m.es) { Mis repositorios más relevantes en GitHub, donde tengo mis experimentos y herramientas, y proyectos viejos de mis estudios. En tiempo real. }
                @if (m.en) { My most relevant repositories on GitHub, where I have my experiments and tools, and old projects from my studies. In real time. }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/github">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("custom-roms") {
        <div class="item card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">Custom ROMs</div>
            <div class="text">
                @if (m.ca) { Instal·lació de ROMs personalitzades als meus dispositius Android i smartwatches. Desbloqueig del bootloader i modificació de firmwares. }
                @if (m.es) { Instalación de ROMs personalizadas en mis dispositivos Android y smartwatches. Desbloqueo del bootloader y modificación de firmwares. }
                @if (m.en) { Installing custom ROMs on my Android devices and smartwatches. Bootloader unlocking and firmware modification. }
            </div>
            <div class="text-end">
                <button class="boto stretched-link color-fons" routerLink="/custom-roms">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("tasker") {
        <div class="item tema-tasker card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">
                @if (m.ca) { Projectes TaskerNet }
                @if (m.es) { Proyectos TaskerNet }
                @if (m.en) { TaskerNet projects }
            </div>
            <div class="text">
                @if (m.ca) { Automatitzacions complexes en Android amb Tasker. Compartides amb la comunitat amb centenars de descàrregues. }
                @if (m.es) { Automatizaciones complejas en Android con Tasker. Compartidas con la comunidad con cientos de descargas. }
                @if (m.en) { Complex automations on Android with Tasker. Shared with the community with hundreds of downloads. }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/tasker">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("icons") {
        <div class="item tema-icons card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">
                @if (m.ca) { Icones }
                @if (m.es) { Iconos }
                @if (m.en) { Icons }
            </div>
            <div class="text">
                @if (m.ca) { Disseny d'icones i il·lustracions improvisades per a diferents projectes propis. }
                @if (m.es) { Diseño de iconos e ilustraciones improvisadas para distintos proyectos propios. }
                @if (m.en) { Design of improvised icons and illustrations for various personal projects. }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/icons">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    } @case ("amazfit") {
        <div class="item tema-amazfit card-themed bg-colored" appMostrarAmbAnimacio matRipple>
            <div class="titol">Amazfit Watchfaces</div>
            <div class="text">
                @if (m.ca) { Projectes per a la personalització de smartwatches. Publicació del projectes per a la comunitat. }
                @if (m.es) { Proyectos para la personalización de smartwatches. Publicación de los proyectos para la comunidad. }
                @if (m.en) { Projects for smartwatch customization. Uploading projects for the community. }
            </div>
            <div class="text-end">
                <button class="boto stretched-link" routerLink="/amazfit">
                    {{ seeMore }}
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    }
}
