<div class="seccio">
    <button class="boto-desplegable" (click)="toggleSeccio($event.currentTarget)" matRipple>
        <div class="d-flex align-items-center gap-3">
            <img src="assets/_projects/mad-jumpgate/icons/accordion/miniatura-gameplay.png" class="icona">
            <span class="titol">
                @if (m.ca) { Veure gameplay }
                @if (m.es) { Ver gameplay }
                @if (m.en) { Watch gameplay }
            </span>
        </div>
        <i class="fa-solid fa-chevron-down fletxa"></i>
    </button>
    <div class="contingut" style="display:none;">

        <div class="iframe-i-placeholder" appMostrarAmbAnimacio>
            @if (carregarVideo) {
                <iframe #iframeRef [width]="placeholderWidth" [height]="placeholderHeight" src="https://www.youtube.com/embed/TwJ3bpvQ4qA?si=vdVvicJhPCClGwrQ" title="Mad Jumpgate gameplay" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            }
        
            <div class="placeholder" [style.width.px]="placeholderWidth" [style.height.px]="placeholderHeight"></div>
        </div>
    </div>
</div>
