@import "src/styles.scss";

:host { display: block; }

.seccio {
    margin-bottom: 1rem;
    border-radius: 2rem;
    background-color: light-dark(var(--color-clar-50), var(--color-clar-20));

    &[data-open] .fletxa {
        transform: rotate(-180deg);
    }
    &:not([data-open]):hover {
        background-color: light-dark(var(--color-clar-80), var(--color-clar-30));
    }
    
    .boto-desplegable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem;

        border-radius: inherit;

        .text-i-icona {
            display: flex;
            align-items: center;
            gap: 1rem;

            .icona {
                height: 4rem;
                border-radius: 1.5rem;
            }
            .titol {
                font-size: 1.5rem;
                color: var(--text);
            }
        }
        .fletxa {
            font-size: 1.5rem;
            margin-right: 1rem;
            margin-left: 1rem;
            transition: transform 200ms;
        }
    }
    .contingut {
        padding: 0.5rem 1rem 1rem;
        transition: padding-left 0.3s, padding-right 0.3s;

        @include tablet {
            padding: 0.5rem 1.5rem 1.5rem;
        }

        .iframe-i-placeholder {
            position: relative;
            border-radius: 1rem;
            overflow: hidden;
        
            iframe {
                position: absolute;
                transform-origin: top left;
                border: none;
                border-radius: 1rem;
                z-index: 1;
            }
        }
    }
}
