@import "src/styles.scss";

:host { display: block; }

.seccio {
    margin-bottom: 1rem;
    border-radius: 2rem;
    
    .boto-desplegable {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem;

        .text-i-icona {
            display: flex;
            align-items: center;
            gap: 1rem;

            .icona {
                height: 4rem;
                border-radius: 1.5rem;
            }
            .titol {
                font-size: 1.5rem;
                color: var(--text);
            }
        }
        .fletxa {
            font-size: 1.5rem;
            margin-right: 1rem;
            margin-left: 1rem;
            transition: transform 200ms;
        }
    }
    .contingut {
        padding: 0.5rem 1rem 1rem;
        transition: padding-left 0.3s, padding-right 0.3s;

        .iframe-i-placeholder {
            position: relative;
            border-radius: 1rem;
            overflow: hidden;
        
            iframe {
                position: absolute;
                transform-origin: top left;
                border: none;
                border-radius: 1rem;
                z-index: 1;
            }
        }
    }
}

.seccio[data-open] .fletxa {
    transform: rotate(-180deg);
}

::ng-deep .seccio {
    background-color: var(--color-clar-20);
    &:not([data-open]):hover {
        background-color: var(--color-clar-30);
    }
}
::ng-deep .light .seccio {
    background-color: var(--color-clar-50);
    &:not([data-open]):hover {
        background-color: var(--color-clar-80);
    }
    // @extend .shadow-1;
}




// Pantalla Mòbil //
@media only screen and (max-width: 575px) { }
// Pantalla Tablet //
@media only screen and (min-width: 576px) {
    .seccio {
        .contingut {
            padding: 0.5rem 1.5rem 1.5rem;
        }
    }
}
// Pantalla PC //
@media only screen and (min-width: 768px) { }
// Pantalla Molt Gran //
@media only screen and (min-width: 992px) { }
