<ng-container *ngIf="m.ca()">
    - Wallpaper Blurrer: És una aplicació que et permet afegir alguns filtres, com ara el desenfocament, la saturació i el to (els colors) de la pantalla inicial i la pantalla de bloqueig. També us permet descarregar la imatge editada.
    <br><br>
    - Text Mimicker: Text Mimicker et permet canviar el text en homoglifs, que són caràcters físicament idèntics però internament diferents, amb l'objectiu d'evitar banejos automàtics per paraules clau en escriure comentaris en algunes xarxes socials. També afegeix una opció per afegir aquesta funció al menú contextual en seleccionar text, per a millor accessibilitat.
    <br><br>
    - SUS Tracker: És una aplicació pensada per utilitzar-se d'eina mentre es juga al popular joc Among Us. Aquesta aplicació ofereix un menú flotant molt convenient per marcar qui és sospitós, innocent o impostor, per descartar els altres tripulants i trobar els impostors.
    <br><br>
    - Breaking Ball: Aquesta és la primera aplicació que vaig fer a Android, és un joc fet amb unity. Lobjectiu del joc és mantenir la bola dins del tauler. Pots prémer la pantalla per posar galledes, controlar la bola i impedir que s'escapi. Les boles petites són bonus, les pots agafar per aconseguir millores. Per a aquesta aplicació vaig fer servir C# i una mica de PHP per a la funcionalitat de guardar puntuacions i tenir un tauler amb els rècords mundials.
</ng-container>

<ng-container *ngIf="m.es()">
    - Wallpaper Blurrer: Es una aplicación que te permite añadir algunos filtros, como el desenfoque, la saturación y el tono (los colores) de la pantalla de inicio y la pantalla de bloqueo. También te permite descargar la imagen editada.
    <br><br>
    - Text Mimicker: Text Mimicker te permite cambiar el texto en homoglifos, que son caracteres físicamente idénticos pero internamente diferentes, con el objetivo de evitar baneos automáticos por palabras clave al escribir comentarios en algunas redes sociales. También añade una opción para añadir dicha función en el menú contextual al seleccionar texto, para mejor accesibilidad.
    <br><br>
    - SUS Tracker: Es una aplicación pensada para usarse de herramienta mientras se juega al popular juego Among Us. Esta aplicación ofrece un menú flotante muy conveniente para marcar quién es sospechoso, inocente o impostor, para descartar a los demás tripulantes y encontrar a los impostores.
    <br><br>
    - Breaking Ball: Esta es la primera aplicación que hice en android, es un juego hecho con unity. El objetivo del juego es mantener la bola dentro del tablero. Puedes pulsar la pantalla para poner cubos, controlar la bola e impedir que se escape. Las bolas pequeñas son bonus, puedes cogerlas para consegir mejoras. Para esta aplicación usé C# y un poco de PHP para la funcionalidad de guardar puntuaciones y tener un tablero con los récords mundiales.
</ng-container>

<ng-container *ngIf="m.en()">
    - Wallpaper Blurrer: It is an application that allows you to add some filters, such as blur, saturation and hue (colors) to the home screen and lock screen. It also allows you to download the edited image.
    <br><br>
    - Text Mimicker: Text Mimicker allows you to change the text into homoglyphs, which are physically identical but internally different characters, in order to avoid automatic bans for keywords when writing comments on some social networks. It also adds an option to add said function in the context menu when selecting text, for better accessibility.
    <br><br>
    - SUS Tracker: It is an application designed to be used as a tool while playing the popular game Among Us. This application offers a very convenient floating menu to mark who is suspicious, innocent or imposter, to rule out the other crew members and find the impostors.
    <br><br>
    - Breaking Ball: This is the first app I made on android, it's a game made with unity. The object of the game is to keep the ball on the board. You can tap the screen to put cubes, control the ball and prevent it from escaping. Small balls are bonus, you can catch them to get upgrades. For this app I used C# and a bit of PHP for the functionality to save scores and have a world record board.
</ng-container>
