<div class="seccio wallpaper-blurrer">
    <button class="boto-desplegable no-style" (click)="toggleSeccio($event.currentTarget)">
        <div class="text-i-icona">
            <img src="assets/icons/android-apps/wallpaper-blurrer.png" class="icona">
            <span class="titol">Wallpaper Blurrer</span>
        </div>
        <i class="fa-solid fa-chevron-down fletxa"></i>
    </button>
    <div class="contingut" style="display:none;">
        <div class="text">
            <ng-container *ngIf="m.ca()">
                És una aplicació que et permet afegir alguns filtres al fons de pantalla, com ara desenfocament, saturació i canvi de to (canvi de colors) i aplicar-lo a la pantalla d'inici i la de bloqueig. També et permet descarregar la imatge editada.<br>
                Aquesta app la vaig fer principalment en Kotlin, però amb algunes funcions en Java.
            </ng-container>
            <ng-container *ngIf="m.es()">
                Es una aplicación que te permite añadir algunos filtros al fondo de pantalla, como desenfoque, saturación y cambio de tono (cambio de colores) y aplicarlo a la pantalla de inicio y de bloqueo. También te permite descargar la imagen editada.<br>
                Esta app la hice principalmente en Kotlin, pero con algunas funciones en Java.
            </ng-container>
            <ng-container *ngIf="m.en()">
                It is an app that lets you add some filters to your wallpaper, such as blur, saturate and hue (change colors) and apply it to your home screen and lock screen. It also lets you download the edited image.<br>
                I made this app mainly in Kotlin, but with some functions in Java.
            </ng-container>
        </div>
        <div class="imatge">
            <video muted loop>
                <source [src]="'assets/images/detalls-android/wallpaper-blurrer.mp4'" type="video/mp4">
                <img [src]="'assets/images/detalls-android/wallpaper-blurrer-foto-1.png'" alt="wallpaper-blurrer" class="">
            </video>
        </div>
    </div>
</div>

<div class="seccio text-mimicker">
    <button class="boto-desplegable no-style" (click)="toggleSeccio($event.currentTarget)">
        <div class="text-i-icona">
            <img src="assets/icons/android-apps/text-mimicker.png" class="icona">
            <span class="titol">Text Mimicker</span>
        </div>
        <i class="fa-solid fa-chevron-down fletxa"></i>
    </button>
    <div class="contingut" style="display:none;">
        <div class="text">
            <ng-container *ngIf="m.ca()">
                Text Mimicker et permet canviar un text en homoglifs, que són caràcters físicament idèntics però internament diferents, amb l'objectiu d'evitar banejos automàtics per paraules clau al escriure comentaris en algunes xarxes socials. També afegeix aquesta funció al menú contextual d'Android en seleccionar text, per a millor accessibilitat.<br>
                Aquesta app la vaig fer principalment en Kotlin, però amb algunes funcions en Java.
            </ng-container>
            <ng-container *ngIf="m.es()">
                Text Mimicker te permite cambiar un texto en homoglifos, que son caracteres físicamente idénticos pero internamente diferentes, con el objetivo de evitar baneos automáticos por palabras clave al escribir comentarios en algunas redes sociales. También añade esta función en el menú contextual de Android al seleccionar texto, para mejor accesibilidad.<br>
                Esta app la hice principalmente en Kotlin, pero con algunas funciones en Java.
            </ng-container>
            <ng-container *ngIf="m.en()">
                Text Mimicker lets you to change a text into homoglyphs, which are physically identical but internally different characters, in order to avoid automatic bans for keywords when writing comments on some social networks. It also adds this function in the Android's context menu when selecting text, for better accessibility.<br>
                I made this app mainly in Kotlin, but with some functions in Java.
            </ng-container>
        </div>
        <div class="imatge">

        </div>
    </div>
</div>

<div class="seccio sus-tracker">
    <button class="boto-desplegable no-style" (click)="toggleSeccio($event.currentTarget)">
        <div class="text-i-icona">
            <img src="assets/icons/android-apps/sus-tracker.png" class="icona">
            <span class="titol">SUS Tracker</span>
        </div>
        <i class="fa-solid fa-chevron-down fletxa"></i>
    </button>
    <div class="contingut" style="display:none;">
        <div class="text">
            <ng-container *ngIf="m.ca()">
                És una aplicació pensada per utilitzar-se d'eina mentre es juga al popular joc Among Us. Aquesta aplicació ofereix un menú flotant molt convenient per marcar qui és sospitós, innocent o impostor, per descartar els altres tripulants i trobar els impostors.<br>
                Aquesta app va ser la primera que vaig fer en Android Studio, i la vaig fer principalment en Java.
            </ng-container>
            <ng-container *ngIf="m.es()">
                Es una aplicación pensada para usarse de herramienta mientras se juega al popular juego Among Us. Esta aplicación ofrece un menú flotante muy conveniente para marcar quién es sospechoso, inocente o impostor, para descartar a los demás tripulantes y encontrar a los impostores.<br>
                Esta app fue la primera que hice en Android Studio, y la hice principalmente en Java.
            </ng-container>
            <ng-container *ngIf="m.en()">
                It is an application designed to be used as a tool while playing the popular game Among Us. This application offers a very convenient floating menu to mark who is suspicious, safe or impostor, to rule out the other crew members and find the impostors.<br>
                This app was the first one I made in Android Studio, and I made it mainly in Java.
            </ng-container>
        </div>
        <div class="imatge mb-1 mb-sm-0">
            <video muted loop>
                <source [src]="'assets/images/detalls-android/sus-tracker.mp4'" type="video/mp4">
                <img [src]="'assets/images/detalls-android/sus-tracker.gif'" alt="sus-tracker" class="">
            </video>
        </div>
    </div>
</div>

<div class="seccio breaking-ball">
    <button class="boto-desplegable no-style" (click)="toggleSeccio($event.currentTarget)">
        <div class="text-i-icona">
            <img src="assets/icons/android-apps/breaking-ball.png" class="icona">
            <span class="titol">Breaking Ball</span>
        </div>
        <i class="fa-solid fa-chevron-down fletxa"></i>
    </button>
    <div class="contingut" style="display:none;">
        <div class="text">
            <ng-container *ngIf="m.ca()">
                Aquesta és la primera aplicació que vaig fer a Android, és un joc fet amb Unity. L'objectiu del joc és mantenir la bola dins del tauler. Pots clicar la pantalla per posar cubs, controlar la bola i impedir que s'escapi. Les boles petites són bonus, les pots agafar per aconseguir millores. Hi ha 7 tipus de bonus. Per a fer aquesta aplicació vaig fer servir majoritàriament C# i una mica de PHP per a la funcionalitat de guardar puntuacions a una base de dades online i tenir un tauler amb els rècords mundials.
            </ng-container>
            <ng-container *ngIf="m.es()">
                Esta es la primera aplicación que hice en Android, es un juego hecho con Unity. El objetivo del juego es mantener la bola dentro del tablero. Puedes pulsar la pantalla para poner cubos, controlar la bola e impedir que se escape. Las bolas pequeñas son bonus, puedes cogerlas para consegir mejoras. Hay 7 tipos de bonus. Para esta aplicación usé mayoritariamente C# y un poco de PHP para la funcionalidad de guardar puntuaciones a una base de datos online y tener un tablero con los récords mundiales.
            </ng-container>
            <ng-container *ngIf="m.en()">
                This is the first app I made on Android, it is a game made with Unity. The aim of the game is to keep the ball on the board. You can click to place cubes, control the ball and prevent it from escaping. Small balls are bonuses, you can get them to get boosters. There is 7 types of boosters. For this app I used mainly C# and a bit of PHP for the functionality of saving scores to an online database and having a world record board.
            </ng-container>
        </div>
        <div class="imatge mb-1 mb-sm-0">
            <video muted loop>
                <source [src]="'assets/images/detalls-android/breaking-ball.mp4'" type="video/mp4">
            </video>
        </div>
    </div>
</div>
