<mat-dialog-content #contenidor (click)="dialogRef.close()">
    @switch (data.id) {
        @case (1) {
            <iframe
                #iframe
                class="desktop" [class]="direccioALimitar"
                src="https://www.youtube.com/embed/8K6HP2YXtyk?autoplay=1" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                ></iframe>
        }
        @case (2) {
            <iframe
                #iframe
                class="mobile" [class]="direccioALimitar"
                src="https://www.youtube.com/embed/_VEn4PUaOVk?autoplay=1" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                ></iframe>
        }
        @case (3) {
            <iframe
                #iframe
                class="responsive" [class]="direccioALimitar"
                src="https://www.youtube.com/embed/L6nUWqkXtik?autoplay=1" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                ></iframe>
        }
    }
    <div class="botons d-flex gap-2">
        <button class="boto back" (click)="dialogRef.close()" matRipple><i class="fa-solid fa-close"></i></button>
        <!-- <button class="boto fullscreen" (click)="fullscreen($event)" matRipple><i class="fa-solid fa-expand"></i></button> -->
    </div>
</mat-dialog-content>
