<section id="projects-home">

    <div class="titol white-title-shadow h2 mb-4 text-center" jmpMostrarAmbAnimacio>
        @if (m.ca) { Projectes personals }
        @if (m.es) { Proyectos personales }
        @if (m.en) { Personal projects }
    </div>

    <div class="projectes section row g-3">

        <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" id="in2art" />
        <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" id="bunquer" />
        <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" id="android" />
        <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" id="mad_jumpgate" />
        <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" id="github" />
        <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" id="custom_roms" />
        <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" id="tasker" />

        <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" id="icons" />
        <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" id="amazfit" />
        
    </div>

</section>
