<section id="projects-home">

    <div class="titol white-title-shadow h2 mb-4 text-center" appMostrarAmbAnimacio>
        @if (m.ca) { Projectes personals }
        @if (m.es) { Proyectos personales }
        @if (m.en) { Personal projects }
    </div>

    <div class="projectes section row g-3">

        <div class="col-12 col-sm-6">
            <div class="projecte tema-android card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">
                    @if (m.ca) { Apps Android }
                    @if (m.es) { Apps Android }
                    @if (m.en) { Android Apps }
                </div>
                <div class="text">
                    @if (m.ca) { 6 apps Android, a la Play Store i altres. Android Studio, Java, Kotlin i Unity. Material You. Colors dinàmics de Monet. }
                    @if (m.es) { 6 apps Android, en la Play Store y otras. Android Studio, Java, Kotlin y Unity. Material You. Colores dinámicos de Monet. }
                    @if (m.en) { 6 Android apps, on the Play Store and others. Android Studio, Java, Kotlin and Unity. Material You. Monet dynamic colors. }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/android">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="projecte tema-mad-jumpgate card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">
                    @if (m.ca) { Joc de disparar per a PC }
                    @if (m.es) { Juego de disparos para PC }
                    @if (m.en) { PC shooting game }
                </div>
                <div class="text">
                    @if (m.ca) { Joc de disparar fet en 2 setmanes amb Unity. 5 nivells amb armes i objectes curatius, granades, spawn d'enemics, música i efectes especials. }
                    @if (m.es) { Juego de disparos hecho en 2 semanas con Unity. 5 niveles con varias armas y objetos curativos, granadas, spawn de enemigos, música y efectos especiales. }
                    @if (m.en) { Shooting game made in 2 weeks with Unity. 5 levels with various weapons and healing items, grenades, enemy spawn, music and special effects. }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/mad-jumpgate">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="projecte tema-github card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">
                    @if (m.ca) { Projectes GitHub }
                    @if (m.es) { Proyectos GitHub }
                    @if (m.en) { GitHub projects }
                </div>
                <div class="text">
                    @if (m.ca) { Els meus repositoris més rellevants a GitHub, on tinc els meus experiments i eines, i projectes vells dels meus estudis. A temps real. }
                    @if (m.es) { Mis repositorios más relevantes en GitHub, donde tengo mis experimentos y herramientas, y proyectos viejos de mis estudios. En tiempo real. }
                    @if (m.en) { My most relevant repositories on GitHub, where I have my experiments and tools, and old projects from my studies. In real time. }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/github">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="projecte card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">Custom ROMs</div>
                <div class="text">
                    @if (m.ca) { Instal·lació de ROMS personalitzades als meus dispositius Android i smartwatches. Desbloqueig del bootloader i modificació de firmwares. }
                    @if (m.es) { Instalación de ROMS personalizadas en mis dispositivos Android y smartwatches. Desbloqueo del bootloader y modificación de firmwares. }
                    @if (m.en) { Installing custom ROMs on my Android devices and smartwatches. Bootloader unlocking and firmware modification. }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link color-fons" routerLink="/custom-roms">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="projecte tema-tasker card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">
                    @if (m.ca) { Projectes TaskerNet }
                    @if (m.es) { Proyectos TaskerNet }
                    @if (m.en) { TaskerNet projects }
                </div>
                <div class="text">
                    @if (m.ca) { Automatitzacions complexes en Android amb Tasker. Compartides amb la comunitat amb centenars de descàrregues. }
                    @if (m.es) { Automatizaciones complejas en Android con Tasker. Compartidas con la comunidad con cientos de descargas. }
                    @if (m.en) { Complex automations on Android with Tasker. Shared with the community with hundreds of downloads. }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/tasker">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="projecte tema-icons card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">
                    @if (m.ca) { Icones }
                    @if (m.es) { Iconos }
                    @if (m.en) { Icons }
                </div>
                <div class="text">
                    @if (m.ca) { Disseny d'icones i il·lustracions improvisades per a diferents projectes propis. }
                    @if (m.es) { Diseño de iconos e ilustraciones improvisadas para distintos proyectos propios. }
                    @if (m.en) { Design of improvised icons and illustrations for various personal projects. }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/icons">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="projecte tema-amazfit card-themed bg-colored" appMostrarAmbAnimacio matRipple>
                <div class="titol">Amazfit Watchfaces</div>
                <div class="text">
                    @if (m.ca) { Projectes per a la personalització de smartwatches. Publicació del projectes per a la comunitat. }
                    @if (m.es) { Proyectos para la personalización de smartwatches. Publicación de los proyectos para la comunidad. }
                    @if (m.en) { Projects for smartwatch customization. Uploading projects for the community. }
                </div>
                <div class="text-end">
                    <button class="boto stretched-link" routerLink="/amazfit">
                        {{ seeMore }}
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

</section>
