<div class="group ocult-animacio h">
    <div class="subtitle mb-2">
        <a [href]="getLink()" class="no-style link-boto-titol g-3">
            Nexxia Soft
            <img src="assets/icons/nexxia.jpg" alt="Nexxia" class="title-icon rounded-2">
            <span class="fletxa">↗</span>
        </a>
    </div>
    <p class="text mb-1">
        <ng-container *ngIf="m.ca()">
            Quan vaig estar de pràctiques en aquesta empresa, vaig desenvolupar una eina de software en Delphi que permetia generar aplicacions Windows amb opcions personalitzades per a la generació de plantilles <a href="https://www.fast-report.com/en/">FastReport</a>. Aquestes plantilles permeten al client generar informes i factures personalitzades per satisfer les seves necessitats.<br><br>
            També vaig desenvolupar diverses pantalles web referents al projecte, usant JQuery i Bootstrap.
        </ng-container>
            
        <ng-container *ngIf="m.es()">
            Cuando estuve de prácticas en esta empresa, desarrollé una herramienta de software en Delphi que permitía generar aplicaciones Windows con opciones personalizadas para la generación de plantillas <a href="https://www.fast-report.com/en/">FastReport</a>. Estas plantillas permiten al cliente generar informes y facturas personalizadas para satisfacer sus necesidades.<br><br>
            También desarrollé varias pantallas web referentes al proyecto, usando JQuery y Bootstrap.
        </ng-container>
            
        <ng-container *ngIf="m.en()">
            When I was doing my internship at this company, I developed a software tool in Delphi that allowed to generate Windows applications with customized options for the generation of <a href="https://www.fast-report.com/en/">FastReport</a> templates. These templates allow the customer to generate customized reports and invoices to meet their needs.<br><br>
            I also developed several web screens related to the project, using JQuery and Bootstrap.
        </ng-container>
    </p>
    
    <!-- Skills -->
    <div class="title-skills mt-4 mb-2">
        <ng-container *ngIf="m.ca()">Tecnologies utilitzades</ng-container>
        <ng-container *ngIf="m.es()">Tecnologías usadas</ng-container>
        <ng-container *ngIf="m.en()">Used technologies</ng-container>
    </div>
    <div class="skills">
        <app-skill n="JavaScript"/>
        <app-skill n="JQuery"/>
        <app-skill n="CSS"/>
        <app-skill n="HTML"/>
        <app-skill n="Bootstrap"/>
        <app-skill n="Delphi"/>
        <app-skill n="FastReport"/>
        <app-skill n="Responsive Web Design"/>
    </div>
</div>
