// Variables //
@import "./variables.scss";

// Per aplicar un estil saltant-se l'encapsulació d'Angular //
// :host ::ng-deep

// Per a més efectivitat (si el primer no funciona) //
// ::ng-deep

// * { transition: all 0.3s ease; }

// /* Función para agregar un valor alfa a un color */
// @function color($color, $alpha: 1) {
//     @return rgba(var($color), $alpha);
// }

html {
    color-scheme: dark;

    // Footer //
    position: relative;
    min-height: 100%;

    &.light {
        color-scheme: light;
    }
}

body {
    font-family: "Segoe UI", Verdana, Arial, sans-serif !important;
    background: var(--fons) url("assets/background/boles.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    // background: var(--color-1);
    color: var(--text);
    margin-bottom: 100px;
    line-height: 1.4;
    overflow-y: scroll;
}

// Estils estructura pagines //
.content {
    max-width: 940px;
    margin: auto;
    font-size: 1.1rem;
    // margin-bottom: 1000px;
}

.title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text);
}
.subtitle {
    color: var(--text);
}
.text {
    text-align: justify;
    color: var(--text-80);
}

.title, .subtitle, .text {
    transition: font-size 0.3s ease;
}
.title-icon {
    height: 2rem;
}

.group {
    color: var(--text);
    background-color: var(--fons-50);
    backdrop-filter: blur(40px);
    @extend .shadow-2;
    transition: padding 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, var(--transicio-ocult-animacio) !important;
}

.group:not(:last-child) {
    margin-bottom: 4rem;
}

.title-skills {
    font-size: 1.25rem;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    margin: -0.25rem;
    app-skill {
        @extend .ocult-animacio, .-v;
    }
}

// Efecte hover botó gran a web en PC //
.link-boto {
    padding: 1rem 1rem;
    margin: -1rem -1rem;
    border-radius: 10000px;

    transition: background-color 0.3s ease;

    .fletxa {
        display: inline-block;
        margin-left: 0.7rem;
        color: var(--link);

        transition: transform 0.3s ease, color 0.3s ease;
    }
}





/* Arreglos */
.title-icon {
    // display: block;
}
a.link-img {
    display: inline-block;
    vertical-align: bottom;
}
a:not(.link-img, .no-style) {
    text-decoration: none;
    &:link, &:visited {
        color: var(--link);
    }
}
a.no-style {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}
button.no-style {
    background-color: transparent;
    color: inherit;
    border: 0;
    // border-radius: 1rem;
    outline: none;
    cursor: pointer;
}



// Utils //
.rounded { border-radius: 0.25rem !important; }
.rounded-2 { border-radius: 0.5rem !important; }
.rounded-3 { border-radius: 1rem !important; }
.rounded-4 { border-radius: 2rem !important; }

html.light .inv-dark { filter: invert(1); }
html.dark .inv-dark-2 { filter: invert(1); }

img, .nodrag {
    -webkit-user-drag: none;
     -khtml-user-drag: none;
       -moz-user-drag: none;
         -o-user-drag: none;
}

img, .noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.shadow-1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important; }
.shadow-2 { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important; }
.shadow-3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important; }
.shadow-4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important; }
.shadow-5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important; }

.light {
    .shadow-1-l { @extend .shadow-1 }
    .shadow-2-l { @extend .shadow-2 }
    .shadow-3-l { @extend .shadow-3 }
    .shadow-4-l { @extend .shadow-4 }
    .shadow-5-l { @extend .shadow-5 }
}







// Tota la pagina //

// Selecció //
::selection { background-color: var(--color-7); color: var(--fons); }
::-moz-selection { background-color: var(--color-7); color: var(--fons); }

// Scrollbar //
// Fons //
::-webkit-scrollbar { background-color: var(--scrollbar-via); }
// Via //
::-webkit-scrollbar-track { background-color: var(--scrollbar-via); }
// Thumb //
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-1);
    box-shadow: inset -17px 0px 15px -10px var(--scrollbar-thumb-2);
    border: 2px solid var(--scrollbar-via);
    border-radius: 6px;
    &:hover { background-color: var(--scrollbar-thumb-2); }
}
// Botons //
// ::-webkit-scrollbar-button {
//     background-color: var(--scrollbar-thumb-1);
//     box-shadow: inset -17px 0px 15px -10px var(--scrollbar-thumb-2);
//     border: 2px solid var(--scrollbar-via);
//     // border-radius: 30px;
//     border-radius: 10px 10px 6px 6px;
//     height: 20px;
//     &:active { background-color: var(--scrollbar-thumb-2); }
// }



// ANIMACIONS //
.ocult-animacio {
    &.v { transform: translateY(-30px); }
    &.h { transform: translateX(-30px); }
    &.-v { transform: translateY(30px); }
    &.-h { transform: translateX(30px); }
    opacity: 0;
    transition: var(--transicio-ocult-animacio);

    &.mostrat {
        transform: translate(0);
        opacity: 1;
    }
}


// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
// Pantalla Gran //
@media only screen and (min-width: 992px) { }
// Pantalla PC //
@media only screen and (min-width: 576px) {
    .content {
        padding: 1rem 1rem 4rem;
    }
    .title {
        font-size: 2.5rem;
    }
    .subtitle {
        font-size: 1.75rem;
    }
    .text {
        font-size: 1.1rem;
    }
    .group {
        padding: 1.3rem 2rem 2rem;
        border-radius: 2.5rem;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .content {
        padding: 0.5rem 0.5rem 4rem;
    }
    .title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 1.4rem;
    }
    .text {
        font-size: 1.1rem;
    }
    .group {
        padding: 1rem;
        border-radius: 2rem;
    }
    .skills {
        justify-content: center;
    }
}

// PC //
@media (pointer: fine) {
    // Efecte hover links en PC //
    a:not(.link-img, .no-style) {
        background-image: linear-gradient(0deg, var(--link), var(--link));
        background-size: calc(100% - 12px) 8%;
        background-position: 50% 88%;
        background-repeat: no-repeat;
        padding: 0 6px 2px;
        margin: 0 -6px;
        transition: all 0.3s ease;
        
        &:hover {
            text-decoration: none;
            
            color: var(--fons);
            background-size: 100% 100%;
            border-radius: 0.5rem;
        }
    }

    // Efecte hover botó gran a web en PC //
    .link-boto {
        &:hover {
            background-color: var(--color-2) !important;
            .fletxa {
                transform: translate(0.2rem, -0.35rem);
                color: var(--text);
            }
        }
    }
}
// Mòbil //
@media (pointer: coarse) { }


// Media queries adequades //
// Pantalla Gran // @media only screen and (min-width: 992px) { }
// Pantalla PC // @media only screen and (min-width: 576px) { }
// Pantalla Mòbil // @media only screen and (max-width: 575px) { }
// PC // @media (pointer: fine) { }
// Mòbil // @media (pointer: coarse) { }

// #endregion MEDIA QUERIES //
