// Per aplicar un estil saltant-se l'encapsulació d'Angular //
// :host ::ng-deep

// Per a més efectivitat (si el primer no funciona) //
// ::ng-deep

html {
    font-family: Arial, sans-serif;
    color-scheme: dark;

    &.light {
        color-scheme: light;
    }
}

// Estils generals dark mode //
body {
    // --fons: rgb(0, 31, 31);
    // --text: rgb(224, 255, 255);
    --fons: rgb(16, 16, 16);
    --text: rgb(255, 255, 255);

    --link: #5fc2ff;
    --link-hover: #2b94d6;
}
.light body {
    --fons: rgb(255, 255, 255);
    --text: rgb(16, 16, 16);

    --link: #0089ff;
    --link-hover: #0065bd;
}

// Temes //
.matinada {
    &       body { --fons: rgb(37, 37, 0);     --text: rgb(255, 255, 209); }
    &.light body { --fons: rgb(255, 255, 209); --text: rgb(37, 37, 0);     }
}
.mati {
    &       body { --fons: rgb(0, 26, 39);     --text: rgb(186, 232, 255); }
    &.light body { --fons: rgb(186, 232, 255); --text: rgb(0, 26, 39);     }
}
.tarda {
    &       body { --fons: rgb(34, 19, 0);     --text: rgb(255, 236, 210); }
    &.light body { --fons: rgb(255, 236, 210); --text: rgb(34, 19, 0);     }
}
.vespre {
    &       body { --fons: rgb(0, 0, 42);      --text: rgb(217, 217, 255); }
    &.light body { --fons: rgb(217, 217, 255); --text: rgb(0, 0, 42);      }
}
.nit {
    &       body { --fons: rgb(16, 16, 16);    --text: rgb(255, 255, 255); }
    &.light body { --fons: rgb(255, 255, 255); --text: rgb(16, 16, 16);    }
}



body {
    background: var(--fons);
    color: var(--text);
    // transition: background-color 0.3s ease, color 0.3s ease;
}


.content {
    max-width: 940px;
    margin: auto;
    padding: 1rem;
    font-size: 1.1rem;
}

.title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.group {
    margin-top: 3rem;
}




.title-icon {
    height: 2rem;
}
.inv-dark {
    transition: filter 0.3s ease;
}
.light .inv-dark {
    filter: invert(1);
}
.dark .inv-dark-2 {
    filter: invert(1);
}



/* Fixes */
a:not(.link-img):link, a:not(.link-img):visited {
    color: var(--link);
    text-decoration: none;
}
a:not(.link-img):hover {
    color: var(--link-hover);
    text-decoration: underline;
}
a.link-img {
    display: inline-block;
    vertical-align: bottom;
}
.title-icon {
    display: block;
}

iframe.game {
    max-width: 100%;
}



img, .nodrag {
    -webkit-user-drag: none;
     -khtml-user-drag: none;
       -moz-user-drag: none;
         -o-user-drag: none;
}

img, .noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}



// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
// Mòbil //
@media only screen and (max-width: 576px) {
    .title {
        font-size: 2rem;
    }


}
// PC //
// @media only screen and (min-width: 576px) { }


// @media only screen and (max-width: 576px) { // Mòbil // }
// @media only screen and (min-width: 576px) { // PC // }
// #endregion MEDIA QUERIES //
