// Variables //
@import "./variables.scss";

// Per aplicar un estil saltant-se l'encapsulació d'Angular //
// :host ::ng-deep

// Per a més efectivitat (si el primer no funciona) //
// ::ng-deep

// * { transition: all 0.3s ease; }

// /* Función para agregar un valor alfa a un color */
// @function color($color, $alpha: 1) {
//     @return rgba(var($color), $alpha);
// }

html {
    color-scheme: dark;

    // Footer //
    position: relative;
    min-height: 100%;

    &.light {
        color-scheme: light;
    }
}

body {
    font-family: lato, Verdana, Arial, sans-serif; //"Segoe UI",
    background: var(--fons) url("assets/background/boles.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: top left;
    // background: var(--color-1);
    color: var(--text);
    letter-spacing: 0.2px;
    line-height: 1.4;
    overflow-y: scroll;
    overflow-x: hidden;
}

// Estils estructura pagines //
.content {
    max-width: 940px;
    margin: auto;
    font-size: 1.1rem;
    // margin-bottom: 1000px;

    .title {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
        color: var(--text);
    }
    .group {
        color: var(--text);
        background-color: var(--fons-50);
        backdrop-filter: blur(40px);
        @extend .shadow-2;
        transition: padding 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease, var(--transicio-ocult-animacio) !important;
    
        .subtitle {
            color: var(--text);
        }
        .text {
            text-align: justify;
            color: var(--text-80);
        }

        .title, .subtitle, .text {
            transition: font-size 0.3s ease;
        }
        .title-icon {
            height: 2rem;
        }
    }

    .title-skills {
        font-size: 1.25rem;
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        margin: -0.25rem;
    }
}

// Estils generals per tots els ns (<button> i <a>) //
.boto {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    padding: 0.5rem 0.7rem;
    border: none;
    outline: none !important;
    font-size: 1.3rem;
    border-radius: 10000px;

    background-color: var(--color-7);
    color: var(--fons);
}
.boto img.logo {
    height: 2rem;
    margin-left: 0.5rem;
}

.botoSeguentPagina {
    padding: 2rem 4rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    
}





/* Arreglos - Fixes */
.title-icon {
    // display: block;
}
a.link-img {
    display: inline-block;
    vertical-align: bottom;
}
a:not(.link-img, .no-style, .boto) {
    text-decoration: none;
    &:link, &:visited {
        color: var(--link);
    }
}
a.no-style {
    color: inherit;
    text-decoration: none;
}
button.no-style {
    background-color: transparent;
    color: inherit;
    border: 0;
    outline: none;
    cursor: pointer;
}
video {
    display: block;
}



// Utils //
.rounded { border-radius: 0.25rem !important; }
.rounded-2 { border-radius: 0.5rem !important; }
.rounded-3 { border-radius: 1rem !important; }
.rounded-4 { border-radius: 2rem !important; }

.g-0   { gap: 0rem !important; }
.g-0_5 { gap: 0.125rem !important; }
.g-1   { gap: 0.25rem !important; }
.g-1_5 { gap: 0.375rem !important; }
.g-2   { gap: 0.5rem !important; }
.g-2_5 { gap: 0.75rem !important; }
.g-3   { gap: 1rem !important; }
.g-3_5 { gap: 1.25rem !important; }
.g-4   { gap: 1.5rem !important; }
.g-4_5 { gap: 2.25rem !important; }
.g-5   { gap: 3rem !important; }

.m-6 { margin: 4rem; }
.mt-6 { margin-top: 4rem; }
.mr-6 { margin-right: 4rem; }
.mb-6 { margin-bottom: 4rem; }
.ml-6 { margin-left: 4rem; }

.flex-1  { flex: 1; }
.flex-2  { flex: 2; }
.flex-3  { flex: 3; }
.flex-4  { flex: 4; }
.flex-5  { flex: 5; }
.flex-6  { flex: 6; }
.flex-7  { flex: 7; }
.flex-8  { flex: 8; }
.flex-9  { flex: 9; }
.flex-10 { flex: 10; }
.flex-11 { flex: 11; }
.flex-12 { flex: 12; }

html.light .inv-dark { filter: invert(1); }
html.dark .inv-dark-2 { filter: invert(1); }

img, .nodrag {
    -webkit-user-drag: none;
     -khtml-user-drag: none;
       -moz-user-drag: none;
         -o-user-drag: none;
}

img, .noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

// Ombres //
.shadow-1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important; }
.shadow-2 { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important; }
.shadow-3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important; }
.shadow-4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important; }
.shadow-5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important; }

// Ombres que només funcionen en mode clar //
.light {
    .shadow-1-l { @extend .shadow-1; }
    .shadow-2-l { @extend .shadow-2; }
    .shadow-3-l { @extend .shadow-3; }
    .shadow-4-l { @extend .shadow-4; }
    .shadow-5-l { @extend .shadow-5; }
}







// Tota la pagina //

// Selecció //
::selection { background-color: var(--color-7); color: var(--fons); }
::-moz-selection { background-color: var(--color-7); color: var(--fons); }

// Scrollbar //
// Fons //
::-webkit-scrollbar { background-color: var(--scrollbar-via); }
// Via //
::-webkit-scrollbar-track { background-color: var(--scrollbar-via); }
// Thumb //
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-1);
    box-shadow: inset -17px 0px 10px -10px var(--scrollbar-thumb-2);
    border: 2px solid var(--scrollbar-via);
    border-radius: 6px;
    &:hover  { background-color: var(--scrollbar-thumb-hover);  box-shadow: none; }
    &:active { background-color: var(--scrollbar-thumb-active); box-shadow: none; }
}
// Botons //
// ::-webkit-scrollbar-button {
//     background-color: var(--scrollbar-thumb);
//     box-shadow: inset -17px 0px 15px -10px var(--scrollbar-thumb-hover);
//     border: 2px solid var(--scrollbar-via);
//     // border-radius: 30px;
//     border-radius: 10px 10px 6px 6px;
//     height: 20px;
//     &:active { background-color: var(--scrollbar-thumb-hover); }
// }



// ANIMACIONS //
// .ocult-animacio {
//     &.v { transform: translateY(-30px); }
//     &.h { transform: translateX(-30px); }
//     &.-v { transform: translateY(30px); }
//     &.-h { transform: translateX(30px); }
//     opacity: 0;
//     transition: var(--transicio-ocult-animacio);

//     &.mostrat {
//         transform: translate(0);
//         opacity: 1;
//     }
// }
// app-skill { @extend .ocult-animacio, .-v; }
.ocult-animacio {
    // Estil iPhone control center //
    --a: translate(0px);
    &.v { --a: translateY(0%); transform-origin: top; }
    &.h { --a: translateX(10%); transform-origin: left; }
    &.-v { --a: translateY(-0%); transform-origin: bottom; }
    &.-h { --a: translateX(-10%); transform-origin: right; }

    // transform-origin: top;
    transform: var(--a) scale(0.8);
    opacity: 0;
    transition: var(--transicio-ocult-animacio);

    &.mostrat {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}


// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
// Pantalla Gran //
@media only screen and (min-width: 992px) { }
// Pantalla PC //
@media only screen and (min-width: 576px) {
    .content {
        padding: 1rem 1rem 0rem;
    }
    .title {
        font-size: 2.5rem;
    }
    .subtitle {
        font-size: 1.75rem;
    }
    .text {
        font-size: 1.1rem;
    }
    .group {
        padding: 1.3rem 2rem 2rem;
        border-radius: 2.5rem;
    }
    .boto {
        transition: border-radius 0.3s ease, var(--transicio-colors);
    }
    .boto:hover {
        background-color: var(--color-l-9) !important;
    }
    ::ng-deep .light .boto:hover {
        background-color: var(--color-l-3) !important;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .content {
        padding: 0.5rem 0.5rem 0rem;
    }
    .title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 1.4rem;
    }
    .text {
        font-size: 1.1rem;
    }
    .group {
        padding: 1rem;
        border-radius: 2rem;
    }
    .skills {
        justify-content: center;
    }
}

// PC //
@media (pointer: fine) {
    // Efecte hover links en PC //
    a:not(.link-img, .no-style, .boto) {
        display: inline-block;
        position: relative;// fa com el z-index //
        background-image: linear-gradient(0deg, var(--link), var(--link));
        background-size: calc(100% - 12px) 8%;
        background-position: 50% 88%;
        background-repeat: no-repeat;
        padding: 0px 6px;
        margin: 0 -6px;
        border-radius: 0.5rem;
        transition: all 0.3s ease;

        &:hover {
            text-decoration: none;
            
            color: var(--fons);
            background-size: 100% 100%;
            // transform: scale(1.05);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important; // shadow-1 //
        }
    }
    .botoSeguentPagina:hover { border-radius: 3rem; }
    
}
// Mòbil //
@media (pointer: coarse) { }


// Media queries adequades //
// Pantalla Gran // @media only screen and (min-width: 992px) { }
// Pantalla PC // @media only screen and (min-width: 576px) { }
// Pantalla Mòbil // @media only screen and (max-width: 575px) { }
// PC // @media (pointer: fine) { }
// Mòbil // @media (pointer: coarse) { }

// #endregion MEDIA QUERIES //
