@import "src/app/styles/reset.scss";
@import "src/app/styles/mediaqueries.scss";
@import "src/app/styles/variables.scss";
// @import "src/app/styles/themes.scss";
@import "src/app/styles/scrollbar.scss";
@import "src/app/directives/mostrar-amb-animacio.directive.scss";
@import "src/app/styles/extra-styles/shapes.scss";
@import "src/app/styles/extra-styles/spacing.scss";
@import "src/app/styles/extra-styles/sizing.scss";

// Per aplicar un estil saltant-se l'encapsulació d'Angular //
// :host ::ng-deep

// Per a més efectivitat (si el primer no funciona) //
// ::ng-deep

// * { transition: all 0.3s; }

// /* Función para agregar un valor alfa a un color */
// @function color($color, $alpha: 1) {
//     @return rgba(var($color), $alpha);
// }

html {

    // Footer //
    position: relative;
    min-height: 100%;

    &.dark {
        --body-background-color: var(--color-l-0);
        color-scheme: only dark;
    }
    &.light {
        --body-background-color: var(--color-l-8);
        color-scheme: only light;
    }

    body {
        font-family: lato, Verdana, Arial, sans-serif; //"Segoe UI",
        background: var(--body-background-color) url("assets/background/boles.png");
        background-attachment: fixed;
        background-size: cover;
        background-position: top left;
        // background: var(--color-1);
        color: var(--text);
        letter-spacing: 0.2px;
        line-height: 1.4;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

// Estils estructura pagines //
.page {
    transition: transform 0.3s;

    .content {
        max-width: 940px;
        margin: auto;
    }

    .skills-title {
        font-size: 1.25rem;
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        @include mobil {
            justify-content: center;
        }
    }
}
.section {

    .section-title {
        font-size: 1.75rem;

        @include mobil {
            font-size: 1.4rem;
        }

        .title-icon {
            height: 2rem;
        }
    }

    .descripcio {
        color: var(--text-80);
        font-size: 1.1rem;
        text-align: justify;
    }
}
.card-themed {
    color: var(--text);
    background: var(--fons-card, var(--fons-50));
    backdrop-filter: blur(40px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); // Shadow 2 //

    padding: 1rem;
    border-radius: 2rem;

    @include tablet {
        padding: 2rem;
        border-radius: 2.5rem;
    }

    // &.bg-colored {
    //     background-color: var(--fons-card);
    // }

    .titol-top-card {
        @include tablet {
            margin-top: -0.7rem;
        }
    }
}

// Estils generals per tots els ns (<button> i <a>) //
.boto {
    @include reset-a;
    @include reset-button;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 0.75rem 1.3rem;
    border-radius: 50rem;

    background-color: var(--accent-color);
    color: var(--fons);

    font-size: 1.3rem;

    cursor: pointer;
    // @extend .hoverWhiter;

    &.ambIcona {
        padding: 0.5rem;
        padding-left: 1rem;
    }

    &.botoText {
        background-color: transparent;
        color: var(--text);
        // padding: 0;
    }

    img.logo {
        height: 2rem;
    }
}



.boing {
	cursor: pointer;

    transform-origin: center;

    transition: transform 0.1s, border-radius 0.3s, color 0.3s;

    &:active {
        transform: scale(0.9) !important;
    }
    &:disabled {
		pointer-events: none;
    }
}





/* Arreglos - Fixes */
video, img {
    display: block;
}

.cdk-overlay-container {
    z-index: 1110;
}


// Bugs llibreries (?)

// Bootstrap 5.3.3 //
.text-justify {
    text-align: justify !important;
}
.float-left { float: left !important; }
.float-right { float: right !important; }
.float-none { float: none !important; }



// Utils //
// *** Ja exsiteixen a bootstrap 5 //
.rounded { border-radius: 0.25rem !important; }
.rounded-2 { border-radius: 0.5rem !important; }
.rounded-3 { border-radius: 1rem !important; }
.rounded-4 { border-radius: 2rem !important; }

.text-10 { color: var(--text-10); }
.text-20 { color: var(--text-20); }
.text-30 { color: var(--text-30); }
.text-40 { color: var(--text-40); }
.text-50 { color: var(--text-50); }
.text-60 { color: var(--text-60); }
.text-70 { color: var(--text-70); }
.text-80 { color: var(--text-80); }
.text-90 { color: var(--text-90); }

.color-clar-10 { color: var(--color-clar-10); }
.color-clar-20 { color: var(--color-clar-20); }
.color-clar-30 { color: var(--color-clar-30); }
.color-clar-40 { color: var(--color-clar-40); }
.color-clar-50 { color: var(--color-clar-50); }
.color-clar-60 { color: var(--color-clar-60); }
.color-clar-70 { color: var(--color-clar-70); }
.color-clar-80 { color: var(--color-clar-80); }
.color-clar-90 { color: var(--color-clar-90); }

.color-fosc-10 { color: var(--color-fosc-10); }
.color-fosc-20 { color: var(--color-fosc-20); }
.color-fosc-30 { color: var(--color-fosc-30); }
.color-fosc-40 { color: var(--color-fosc-40); }
.color-fosc-50 { color: var(--color-fosc-50); }
.color-fosc-60 { color: var(--color-fosc-60); }
.color-fosc-70 { color: var(--color-fosc-70); }
.color-fosc-80 { color: var(--color-fosc-80); }
.color-fosc-90 { color: var(--color-fosc-90); }

.inv-dark {
    @include light {
        filter: invert(1);
    }
}
.inv-dark-2 {
    @include dark {
        filter: invert(1);
    }
}
.inv-dark-gris {
    @include light {
        filter: brightness(0.4);
    }
}
.filter-invert, .invert { filter: invert(1); }

img, .nodrag {
    -webkit-user-drag: none;
     -khtml-user-drag: none;
       -moz-user-drag: none;
         -o-user-drag: none;
}

img, .noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}


// Icones (img -> i) //
.icona-cv {
    background-color: currentColor;
    mask-image: url('/assets/icons/cv.png');
    mask-size: calc(100% - 0.5rem);
    -webkit-mask-size: calc(100% - 0.5rem);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}


// Ombres //
.shadow-1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important; }
.shadow-2 { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important; }
.shadow-3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important; }
.shadow-4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important; }
.shadow-5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important; }

.shadow-filter-1 { filter: drop-shadow(0 1px 3px rgba(0,0,0,0.12)) drop-shadow(0 1px 2px rgba(0,0,0,0.24)) !important; }
.shadow-filter-2 { filter: drop-shadow(0 3px 6px rgba(0,0,0,0.16)) drop-shadow(0 3px 6px rgba(0,0,0,0.23)) !important; }
.shadow-filter-3 { filter: drop-shadow(0 10px 20px rgba(0,0,0,0.19)) drop-shadow(0 6px 6px rgba(0,0,0,0.23)) !important; }
.shadow-filter-4 { filter: drop-shadow(0 14px 28px rgba(0,0,0,0.25)) drop-shadow(0 10px 10px rgba(0,0,0,0.22)) !important; }
.shadow-filter-5 { filter: drop-shadow(0 19px 38px rgba(0,0,0,0.30)) drop-shadow(0 15px 12px rgba(0,0,0,0.22)) !important; }

// Ombres que només funcionen en mode clar //
.light {
    .shadow-1-l { @extend .shadow-1; }
    .shadow-2-l { @extend .shadow-2; }
    .shadow-3-l { @extend .shadow-3; }
    .shadow-4-l { @extend .shadow-4; }
    .shadow-5-l { @extend .shadow-5; }

    .shadow-filter-1-l { @extend .shadow-filter-1; }
    .shadow-filter-2-l { @extend .shadow-filter-2; }
    .shadow-filter-3-l { @extend .shadow-filter-3; }
    .shadow-filter-4-l { @extend .shadow-filter-4; }
    .shadow-filter-5-l { @extend .shadow-filter-5; }
}








// Tota la pagina //

// Selecció //
::selection { background-color: var(--color-7); color: var(--fons); }
::-moz-selection { background-color: var(--color-7); color: var(--fons); }



// Efecte hover botons en PC //
// .boto:not(.botoText):hover {
//     background-color: light-dark(var(--color-l-3), var(--color-l-9)) !important;
//     box-shadow: inset 0 0 0 1000px var(--color-clar-40) !important;
// }


.hoverWhiter:hover {
    box-shadow: inset 0 0 0 1000px light-dark(#fff2, #fff8) !important;
}

