// Variables //

:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    // Estils generals dark mode //
    
    // --fons: rgb(0, 31, 31);
    // --text: rgb(224, 255, 255);
    --fons: rgb(16, 16, 16);
    --text: rgb(255, 255, 255);

    --link: #5fc2ff;

    --transicio-colors: background-color 0.3s ease, color 0.15s ease, border-color 0.3s ease, filter 0.3s ease;
    --transicio-ocult-animacio: transform 0.3s ease, opacity 0.5s ease, font-size 0.3s ease, var(--transicio-colors);

    &.light {
        --fons: rgb(255, 255, 255);
        --text: rgb(16, 16, 16);
    
        --link: #0089ff;
    }
}


// Pantalla PC //
@media only screen and (min-width: 576px) { }
// Pantalla Mòbil //
@media only screen and (max-width: 575px) { }
