// Variables //

// Bootstrap //
$enable-negative-margins: true !important; // No funciona i no sé per què //


:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    // Estils generals dark mode //
    
    // --fons: rgb(0, 31, 31);
    // --text: rgb(224, 255, 255);
    --fons: rgb(16, 16, 16);
    --text: rgb(255, 255, 255);

    --link: #5fc2ff;

    --transicio-colors: background-color 0.3s, color 0.3s, border-color 0.3s, filter 0.3s;

    &.light {
        --fons: rgb(255, 255, 255);
        --text: rgb(16, 16, 16);
    
        --link: #0089ff;
    }


    // Temes (fons i text) //
    &.matinada {
        --color-fosc-hsl-vals-test: hsl(60, 100%, 7%);
        --color-clar-hsl-vals-test: hsl(60, 100%, 91%);
        --color-fosc-hsl-vals: 60, 100%, 7%;
        --color-clar-hsl-vals: 60, 100%, 91%;
    }
    &.mati {
        --color-fosc-hsl-vals-test: hsl(200, 100%, 8%);
        --color-clar-hsl-vals-test: hsl(200, 100%, 86%);
        --color-fosc-hsl-vals: 200, 100%, 8%;
        --color-clar-hsl-vals: 200, 100%, 86%;
    }
    &.tarda {
        --color-fosc-hsl-vals-test: hsl(34, 100%, 7%);
        --color-clar-hsl-vals-test: hsl(35, 100%, 91%);
        --color-fosc-hsl-vals: 34, 100%, 7%;
        --color-clar-hsl-vals: 35, 100%, 91%;
    }
    &.vespre {
        --color-fosc-hsl-vals-test: hsl(269, 100%, 8%);
        --color-clar-hsl-vals-test: hsl(260, 100%, 93%);
        --color-fosc-hsl-vals: 269, 100%, 8%;
        --color-clar-hsl-vals: 260, 100%, 93%;
    }
    &.nit {
        --color-fosc-hsl-vals-test: hsl(0, 0%, 0%);
        --color-clar-hsl-vals-test: hsl(0, 0%, 100%);
        --color-fosc-hsl-vals: 0, 0%, 0%;
        --color-clar-hsl-vals: 0, 0%, 100%;
    }
    // Paleta 2 //
    &.matinada {
        --color-l-0: #242400;
        --color-l-1: #454500;
        --color-l-2: #636300;
        --color-l-3: #909000;
        --color-l-4: #b5b500;
        --color-l-5: #e2e200;
        --color-l-6: #ffff2a;
        --color-l-7: #ffff4e;
        --color-l-8: #ffff72;
        --color-l-9: #ffffd1;
    }
    &.mati {
        --color-l-0: #001b29;
        --color-l-1: #003855;
        --color-l-2: #005681;
        --color-l-3: #0073ad;
        --color-l-4: #0091d9;
        --color-l-5: #07acff;
        --color-l-6: #32bbff;
        --color-l-7: #5fcaff;
        --color-l-8: #8bd8ff;
        --color-l-9: #b8e7ff;
    }
    &.tarda {
        --color-l-0: #241400;
        --color-l-1: #532e00;
        --color-l-2: #834800;
        --color-l-3: #b36200;
        --color-l-4: #e27c00;
        --color-l-5: #ff9512;
        --color-l-6: #ffaa42;
        --color-l-7: #ffbf72;
        --color-l-8: #ffd5a1;
        --color-l-9: #ffecd1;
    }
    &.vespre {
        --color-l-0: #140029;
        --color-l-1: #2b0057;
        --color-l-2: #45008a;
        --color-l-3: #5c00b8;
        --color-l-4: #7300e6;
        --color-l-5: #8c1aff;
        --color-l-6: #a64dff;
        --color-l-7: #bd7aff;
        --color-l-8: #d6adff;
        --color-l-9: #eddbff;
    }
    &.nit {
        --color-l-0: #000000;
        --color-l-1: #2a2a2a;
        --color-l-2: #444444;
        --color-l-3: #5f5f5f;
        --color-l-4: #7a7a7a;
        --color-l-5: #949494;
        --color-l-6: #afafaf;
        --color-l-7: #cacaca;
        --color-l-8: #e4e4e4;
        --color-l-9: #ffffff;
    }

    // Scrollbar //
    --scrollbar-fons: var(--color-clar-30);
    --scrollbar-via: var(--color-l-1);
    --scrollbar-thumb-1: var(--color-l-7);
    --scrollbar-thumb-2: var(--color-l-4);
    --scrollbar-thumb-hover: var(--color-l-7);
    --scrollbar-thumb-active: var(--color-l-8);

    &.light {
        --scrollbar-fons: var(--color-l-9);
        --scrollbar-via: white;
        --scrollbar-thumb-1: var(--color-l-5);
        --scrollbar-thumb-2: var(--color-l-3);
        --scrollbar-thumb-hover: var(--color-l-6);
        --scrollbar-thumb-active: var(--color-l-7);
    }
    
}

// Establir variables mode fosc i clar //
:root, .group {
    --color-fosc:    hsla(var(--color-fosc-hsl-vals), 1.0);
    --color-fosc-90: hsla(var(--color-fosc-hsl-vals), 0.9);
    --color-fosc-80: hsla(var(--color-fosc-hsl-vals), 0.8);
    --color-fosc-70: hsla(var(--color-fosc-hsl-vals), 0.7);
    --color-fosc-60: hsla(var(--color-fosc-hsl-vals), 0.6);
    --color-fosc-50: hsla(var(--color-fosc-hsl-vals), 0.5);
    --color-fosc-40: hsla(var(--color-fosc-hsl-vals), 0.4);
    --color-fosc-30: hsla(var(--color-fosc-hsl-vals), 0.3);
    --color-fosc-20: hsla(var(--color-fosc-hsl-vals), 0.2);
    --color-fosc-10: hsla(var(--color-fosc-hsl-vals), 0.1);
    --color-clar:    hsla(var(--color-clar-hsl-vals), 1.0);
    --color-clar-90: hsla(var(--color-clar-hsl-vals), 0.9);
    --color-clar-80: hsla(var(--color-clar-hsl-vals), 0.8);
    --color-clar-70: hsla(var(--color-clar-hsl-vals), 0.7);
    --color-clar-60: hsla(var(--color-clar-hsl-vals), 0.6);
    --color-clar-50: hsla(var(--color-clar-hsl-vals), 0.5);
    --color-clar-40: hsla(var(--color-clar-hsl-vals), 0.4);
    --color-clar-30: hsla(var(--color-clar-hsl-vals), 0.3);
    --color-clar-20: hsla(var(--color-clar-hsl-vals), 0.2);
    --color-clar-10: hsla(var(--color-clar-hsl-vals), 0.1);

    --fons: var(--color-fosc);
    --fons-90: var(--color-fosc-90);
    --fons-80: var(--color-fosc-80);
    --fons-70: var(--color-fosc-70);
    --fons-60: var(--color-fosc-60);
    --fons-50: var(--color-fosc-50);
    --fons-40: var(--color-fosc-40);
    --fons-30: var(--color-fosc-30);
    --fons-20: var(--color-fosc-20);
    --fons-10: var(--color-fosc-10);
    --text: var(--color-clar);
    --text-90: var(--color-clar-90);
    --text-80: var(--color-clar-80);
    --text-70: var(--color-clar-70);
    --text-60: var(--color-clar-60);
    --text-50: var(--color-clar-50);
    --text-40: var(--color-clar-40);
    --text-30: var(--color-clar-30);
    --text-20: var(--color-clar-20);
    --text-10: var(--color-clar-10);

    --color-0: var(--color-l-0);
    --color-1: var(--color-l-1);
    --color-2: var(--color-l-2);
    --color-3: var(--color-l-3);
    --color-4: var(--color-l-4);
    --color-5: var(--color-l-5);
    --color-6: var(--color-l-6);
    --color-7: var(--color-l-7);
    --color-8: var(--color-l-8);
    --color-9: var(--color-l-9);
}

:root.light, :root.light .group {
    --fons: var(--color-clar);
    --fons-90: var(--color-clar-90);
    --fons-80: var(--color-clar-80);
    --fons-70: var(--color-clar-70);
    --fons-60: var(--color-clar-60);
    --fons-50: var(--color-clar-50);
    --fons-40: var(--color-clar-40);
    --fons-30: var(--color-clar-30);
    --fons-20: var(--color-clar-20);
    --fons-10: var(--color-clar-10);
    --text: var(--color-fosc);
    --text-90: var(--color-fosc-90);
    --text-80: var(--color-fosc-80);
    --text-70: var(--color-fosc-70);
    --text-60: var(--color-fosc-60);
    --text-50: var(--color-fosc-50);
    --text-40: var(--color-fosc-40);
    --text-30: var(--color-fosc-30);
    --text-20: var(--color-fosc-20);
    --text-10: var(--color-fosc-10);
    
    --color-0: var(--color-l-9);
    --color-1: var(--color-l-8);
    --color-2: var(--color-l-7);
    --color-3: var(--color-l-6);
    --color-4: var(--color-l-5);
    --color-5: var(--color-l-4);
    --color-6: var(--color-l-3);
    --color-7: var(--color-l-2);
    --color-8: var(--color-l-1);
    --color-9: var(--color-l-0);
}


// Pantalla PC //
@media only screen and (min-width: 576px) { }
// Pantalla Mòbil //
@media only screen and (max-width: 575px) { }
