@import "src/styles.scss";


.section {
    .section-title {
        a {
            img.title-icon {
                height: 2.4rem;
                transition: transform 0.3s;
            }
            &:hover {
                img.title-icon {
                    transform: scale(1.4);
                }
            }
        }
    }

    .seccioIcones {
        // .play
        // .gameplay

        background-color: light-dark(var(--color-clar-50),  var(--color-clar-20));
        border-radius: 1.25rem;

        .titol {
            font-size: 1rem;
            line-height: 1rem;
            text-align: center;

            padding: 0 0.25rem;
            margin-bottom: 1rem;

        }
        .contingut {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;

            a {
                @include reset-a;
                
                display: block;
                border-radius: 50%;
                overflow: hidden;
        
                .logo {
                    height: 3rem;
                }
            }
        }

        &.disabled {
            filter: grayscale(1) brightness(0.8);
            backdrop-filter: grayscale(1);
            opacity: 0.5;
            pointer-events: none;

            .contingut {
                filter: none !important;
            }
        }
    }
}
