@import "src/styles.scss";



a.link-img {
    img.title-icon {
        transition: transform 0.3s;
    }
    &:hover {
        img.title-icon {
            transform: scale(1.4);
        }
    }
}

.seccioIcones {
    // .play
    // .gameplay

    border-radius: 1.25rem;

    .titol {
        font-size: 1rem;
        line-height: 1rem;
        text-align: center;

        padding: 0 0.25rem;
        margin-bottom: 1rem;

    }
    .contingut {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        a {
            display: block;
            border-radius: 50%;
            overflow: hidden;
    
            .logo {
                height: 3rem;
            }
        }
    }
}

::ng-deep .seccioIcones {
    background-color: var(--color-clar-20);
}
::ng-deep .light .seccioIcones {
    background-color: var(--color-clar-50);
    // @extend .shadow-1;
}



// Pantalla Mòbil // @media only screen and (max-width: 575px) { }
// Pantalla Tablet // @media only screen and (min-width: 576px) { }
// Pantalla PC // @media only screen and (min-width: 768px) { }
// Pantalla Molt Gran // @media only screen and (min-width: 992px) { }
