<section id="mad-jumpgate" class="tema-mad-jumpgate card-themed bg-colored section" appMostrarAmbAnimacio>
    <div class="section-title d-flex align-items-center mb-2 gap-2_5">
        @if (m.ca) { Projecte final de DAM - Mad Jumpgate }
        @if (m.es) { Proyecto final de DAM - Mad Jumpgate }
        @if (m.en) { Final project of DAM - Mad Jumpgate }
        <a href="https://jmaspgames.itch.io/mad-jumpgate" class="rs">
            <img src="assets/images/mad-jumpgate/icons/mad-jumpgate.png" alt="Mad Jumpgate" class="title-icon rounded">
        </a>
    </div>
    <p class="text mb-4">
        @if (m.ca) {
            Aquest és el meu projecte final del segon curs del Cicle Superior de Desenvolupament d'Aplicacions Multiplataforma (DAM). Em va portar 2 setmanes de feina crear aquest <i><app-link href="https://ca.wikipedia.org/wiki/Videojoc_d%27acci%C3%B3_en_primera_persona">First Person Shooter</app-link></i> des de zero, utilitzant Unity. Des del moviment de la càmara i del jugador, passant per les mecàniques de cada tipus d'arma (tant l'usuari com els enemics) i punts de spawn, fins a gestionar l'inventari format per la munició i els subministraments.
        }
        
        @if (m.es) {
            Éste es mi proyecto final del segundo curso del Ciclo Superior de Desarrollo de Aplicaciones Multiplataforma (DAM). Me llevó sólo 2 semanas de trabajo crear este <i><app-link href="https://es.wikipedia.org/wiki/Videojuego_de_disparos_en_primera_persona">First Person Shooter</app-link></i> desde cero, usando Unity. Desde el movimiento de la cámara y del jugador, pasando por las mecánicas de cada tipo de arma (tanto el usuario como los enemigos) y puntos de spawn, hasta gestionar el inventario formado por la munición y los suministros.
        }
        
        @if (m.en) {
            This is my final project for the second year of the Higher Cycle of Multiplatform Application Development (DAM). It took me 2 weeks of work to create this <i><app-link href="https://en.wikipedia.org/wiki/First-person_shooter">First Person Shooter</app-link></i> from scratch, using Unity. From the movement of the camera and the player, through the mechanics of shooting each type of weapon (both the user and the enemies) and spawn points, to managing the inventory consisting of ammunition and supplies.
        }
    </p>

    <app-mad-jumpgate-joc />
    <app-mad-jumpgate-gameplay />

    <div class="d-flex gap-3 mt-3">
        @if (m.esPc()) {
            <div class="seccioIcones play p-3" appMostrarAmbAnimacio>
                <div class="titol text-80">
                    @if(m.ca) { Jugar }
                    @if(m.es) { Jugar }
                    @if(m.en) { Play }
                </div>
                <div class="contingut shadow-filter-1">
                    <a [href]="m.env.assets + '/external-pages/mad-jumpgate'" class="bg-white" [class.apple-squircle]="m.esIOS()" matRipple>
                        <img src="assets/images/mad-jumpgate/icons/unity.png" alt="Web player" title="Web player" class="logo">
                    </a>
                    <a href="https://jmaspgames.itch.io/mad-jumpgate" [class.apple-squircle]="m.esIOS()" matRipple>
                        <img src="assets/images/mad-jumpgate/icons/itch-io.svg" alt="itch.io" title="itch.io" class="logo">
                    </a>
                </div>
            </div>
        }
        <div class="seccioIcones gameplay p-3" appMostrarAmbAnimacio>
            <div class="titol text-80">
                @if(m.ca) { Veure gameplay }
                @if(m.es) { Ver gameplay }
                @if(m.en) { Watch gameplay }
            </div>
            <div class="contingut shadow-filter-1">
                <a href="https://youtu.be/TwJ3bpvQ4qA" class="bg-white" [class.samsung-squircle]="m.esSamsung()" [class.xiaomi-rounded]="m.esXiaomi()" [class.apple-squircle]="m.esIOS()" matRipple>
                    <img src="assets/images/mad-jumpgate/icons/youtube.png" alt="Gameplay on YouTube" title="Gameplay on YouTube" class="logo">
                </a>
            </div>
        </div>
    </div>

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.CSHARP" />
        <app-skill [skill]="Skills.UNITY"/>
        <app-skill [skill]="Skills.VISUALSTUDIO"/>
    </div>
</section>
