<section id="mad-jumpgate" class="tema-mad-jumpgate card-themed bg-colored section">
    <div class="titol-top-card section-title d-flex align-items-center mb-2 gap-2_5">
        @if (m.ca) { Projecte final de DAM - Joc de disparar per a PC }
        @if (m.es) { Proyecto final de DAM - Juego de disparos para PC }
        @if (m.en) { Final project of DAM - PC shooting game }
        <a href="https://mad-jumpgate.github.io/" class="rs">
            <img src="assets/_projects/mad-jumpgate/mad-jumpgate.png" alt="Mad Jumpgate - PC shooting game" class="title-icon rounded">
        </a>
    </div>
    <article class="descripcio mb-4">
        @if (m.ca) {
            Aquest és el meu projecte final del segon curs del Cicle Superior de Desenvolupament d'Aplicacions Multiplataforma (DAM). Em va portar 2 setmanes de feina crear aquest <i><app-link id="fps">First Person Shooter</app-link></i> des de zero, utilitzant Unity. Des del moviment de la càmara i del jugador, passant per les mecàniques de cada tipus d'arma (tant l'usuari com els enemics) i punts de spawn, fins a gestionar l'inventari format per la munició i els subministraments.<br>
            Inclou 5 nivells, 4 tipus d'armes diferents, diversos objectes curatius i armilles antibales, granades, spawn d'enemics segons la ubicació del jugador, trampes, 5 tipus d'enemics dividits en 2 categories amb diferents habilitats, i efectes especials, com un marcador del dany causat, explosions, canvi de l'aire del joc al tenir poca salut, i música diferent segons el nivell i el moment del joc.
        }

        @if (m.es) {
            Éste es mi proyecto final del segundo curso del Ciclo Superior de Desarrollo de Aplicaciones Multiplataforma (DAM). Me llevó sólo 2 semanas de trabajo crear este <i><app-link id="fps">First Person Shooter</app-link></i> desde cero, usando Unity. Desde el movimiento de la cámara y del jugador, pasando por las mecánicas de cada tipo de arma (tanto el usuario como los enemigos) y puntos de spawn, hasta gestionar el inventario formado por la munición y los suministros.<br>
            Incluye 5 niveles, 4 tipos de armas distintas, varios objetos curativos y chalecos antibalas, granadas, spawn de enemigos según la ubicación del jugador, trampas, 5 tipos de enemigos dividos en 2 categorías con diferentes habilidades, y efectos especiales, como marcador del daño causado, explosiones, cambio del aire del juego al tener poca salud, y diferente música según el nivel y el momento del juego.
        }

        @if (m.en) {
            This is my final project for the second year of the Higher Cycle of Multiplatform Application Development (DAM). It took me 2 weeks of work to create this <i><app-link id="fps">First Person Shooter</app-link></i> from scratch, using Unity. From the movement of the camera and the player, through the mechanics of shooting each type of weapon (both the user and the enemies) and spawn points, to managing the inventory consisting of ammunition and supplies.<br>
            It includes 5 levels, 4 different types of weapons, various healing items and bulletproof vests, grenades, enemy spawns based on the player's location, traps, 5 types of enemies divided into 2 categories with different abilities each, and special effects, such as a marker for the damage caused, explosions, changing the game's atmosphere when having low health, and different music depending on the level and moment of the game.
        }
    </article>

    <div class="text-center mb-5">
        <a href="https://mad-jumpgate.github.io/" class="boto veure-projecte">
            @if (m.ca) { Veure projecte }
            @if (m.es) { Ver proyecto }
            @if (m.en) { View project }
        </a>
    </div>

    <div class="accordion mb-3">
        <app-mad-jumpgate-joc appMostrarAmbAnimacio />
        <app-mad-jumpgate-gameplay appMostrarAmbAnimacio />
    </div>

    <div class="seccions-icones d-flex gap-3">
        <div appMostrarAmbAnimacio>
            <div class="seccio-icones card play p-3" [class.disabled]="m.esMobil">
                <div class="titol text-80">
                    @if (m.ca) { Jugar }
                    @if (m.es) { Jugar }
                    @if (m.en) { Play }
                </div>
                <div class="contingut shadow-filter-1">
                    <a href="https://mad-jumpgate.github.io/webgl" class="bg-white" [class.samsung-squircle]="m.esSamsung" [class.xiaomi-rounded]="m.esXiaomi" [class.apple-squircle]="m.esIOS" matRipple>
                        <img src="assets/_projects/mad-jumpgate/icons/buttons/unity.png" [alt]="textPlayInBrowser()" [title]="textPlayInBrowser()" class="logo">
                    </a>
                    <a href="https://jmaspgames.itch.io/mad-jumpgate" [class.samsung-squircle]="m.esSamsung" [class.xiaomi-rounded]="m.esXiaomi" [class.apple-squircle]="m.esIOS" matRipple>
                        <img src="assets/_projects/mad-jumpgate/icons/buttons/itch-io.svg" [alt]="textPlayInItchIo()" [title]="textPlayInItchIo()" class="logo">
                    </a>
                    <a href="https://jordimas96.github.io/r/mad-jumpgate-download-windows" [class.samsung-squircle]="m.esSamsung" [class.xiaomi-rounded]="m.esXiaomi" [class.apple-squircle]="m.esIOS" matRipple>
                        <img src="assets/_projects/mad-jumpgate/icons/buttons/windows.png" [alt]="textDownloadForWindows()" [title]="textDownloadForWindows()" class="logo">
                    </a>
                </div>
            </div>
        </div>
        <div appMostrarAmbAnimacio>
            <div class="seccio-icones card gameplay p-3">
                <div class="titol text-80">
                    @if (m.ca) { Veure gameplay }
                    @if (m.es) { Ver gameplay }
                    @if (m.en) { Watch gameplay }
                </div>
                <div class="contingut shadow-filter-1">
                    <a href="https://youtu.be/TwJ3bpvQ4qA" class="bg-white" [class.samsung-squircle]="m.esSamsung" [class.xiaomi-rounded]="m.esXiaomi" [class.apple-squircle]="m.esIOS" matRipple>
                        <img src="assets/_projects/mad-jumpgate/icons/buttons/youtube.png" [alt]="textGameplayOnYoutube()" [title]="textGameplayOnYoutube()" class="logo">
                    </a>
                </div>
            </div>
        </div>
        @if (m.esPantallaPc) {
            <div class="flex-fill d-flex justify-content-center">
                <div class="card p-3" appMostrarAmbAnimacio>
                    <app-story [urlId]="'18078142072743585'" [titol]="'FPS'" img="assets/about-me/stories/mad-jumpgate.png" />
                </div>
            </div>
        }
        
    </div>

    @if (m.esPantallaMobil) {
        <div class="text-center mt-4">
            <app-story [urlId]="'18078142072743585'" [titol]="'FPS'" img="assets/about-me/stories/mad-jumpgate.png" appMostrarAmbAnimacio />
        </div>
    }
    

    <!-- Skills -->
    <div class="skills-title mt-4 mb-2">
        @if (m.ca) { Tecnologies utilitzades }
        @if (m.es) { Tecnologías usadas }
        @if (m.en) { Used technologies }
    </div>
    <div class="skills">
        <app-skill [skill]="Skills.CSHARP" />
        <app-skill [skill]="Skills.UNITY" />
        <app-skill [skill]="Skills.VISUALSTUDIO" />
    </div>
</section>
