:root {

}
.boto {
    display: inline-block;
    padding: 0.5rem 0.7rem;
    padding-left: 1rem;
    border: 0;
    font-size: 1.3rem;
    border-radius: 10000px;

    background-color: var(--color-7);
    color: var(--fons);

    transition: var(--transicio-colors);
}

.placeholder {
    // background-color: red;
}

iframe {
    position: absolute;
    // transform: scale(0.2);
    transform-origin: top left;
    border: none;
    border-radius: 64px;
}
