@import "src/styles.scss";

.boto {
    display: block;
    outline: 0;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 10000px;
    font-size: 1.3rem;

    background-color: var(--color-7);
    color: var(--fons);


    &[disabled] {
        opacity: 0.2;
    }
}

.missatge-nomes-pc {
    color: var(--text-80);
    text-align: center;
    font-size: 0.9rem;
}


.iframe-i-placeholder {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    iframe {
        position: absolute;
        transform-origin: top left;
        border: none;
        // border-radius: 16px;
    }
    .placeholder {
        transition: height 2s ease;
    }

    .botoFullscreen {
        position: absolute;
        top: 0; right: 0;
        margin: 0.5rem;
        padding: 0;
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 10px;
        opacity: 0.5;

        background-color: var(--color-l-7);
        color: var(--color-fosc);

        transition: opacity 0.2s ease;

        &:hover {
            opacity: 1;
        }
    }
}
