@import "src/styles.scss";
@import "../page.scss";

::ng-deep app-index {
    display: none !important;
}
::ng-deep app-navegacio-tab nav button {
    box-shadow: 0px 30px 25px -30px rgba(255, 255, 255, 0.2705882353) inset, 0px -30px 25px -30px rgba(0, 0, 0, 0.2705882353) inset;
}


.botoBack {
    font-size: 1.5rem;

    padding: 1rem 1.75rem;

    color: light-dark(var(--color-l-0), var(--color-l-9));

    gap: 1rem;

    &:hover {
        color: light-dark(var(--color-l-3), var(--color-l-6));
        i {
            transform: translateX(-0.25rem);
        }
    }
    i {
        display: flex;
        transition: transform 0.3s;
    }
}

.sectionList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    button {
        color: var(--text);
        background: var(--fons-card, var(--fons-50));
        backdrop-filter: blur(40px);
        padding: 1rem 2rem;
        font-size: 1.7rem;
        border-radius: 1.5rem;
        
        transition: transform 0.3s;

        @include mobil {
            padding: 0.5rem 1rem;
            font-size: 1.3rem;
            border-radius: 1rem;
        }

        &:hover {
            // transform: scale(1.1);
            filter: brightness(1.5);
            z-index: 1;
        }
    }
}
