<div id="page" class="page">
    <!-- <div class="page-title mb-5" appMostrarAmbAnimacio>
        @if (m.ca) { Secció }
        @if (m.es) { Sección }
        @if (m.en) { Section }
    </div> -->

    <!-- @if(m.esPantallaPc()) { <div class="pt-5"></div> } -->



    <div class="content">

        <button [routerLink]="urlGoBack" class="boto botoText botoBack my-3" appMostrarAmbAnimacio matRipple>
            <i class="fa-solid fa-chevron-left"></i>
            <!-- {{ getNameGoBack() }} -->
            @if (m.ca) { Enrere }
            @if (m.es) { Atrás }
            @if (m.en) { Back }
        </button>



        @switch (section) {
            @case ("android")      { <app-android-apps />       }
            @case ("mad-jumpgate") { <app-mad-jumpgate />       }
            @case ("github")       { <app-github-projects />    }
            @case ("custom-roms")  { <app-custom-roms />        }
            @case ("tasker")       { <app-tasker />             }
            @case ("icons")        { <app-icons />              }
            @case ("amazfit")      { <app-amazfit-watchfaces /> }
            @case ("alvea")        { <app-alvea />              }
            @case ("evora")        { <app-evora />              }
            @case ("orange")       { <app-orange />             }
            @case ("in2art")       { <app-in2art />             }
            @case ("matic")        { <app-matic />              }
            @case ("indra")        { <app-indra />              }
            @case ("nexxia")       { <app-nexxia />             }
            @default {
                <h2 class="text-center mt-5">Invalid section name</h2>
                <!-- <h2 class="text-center mt-5"><app-link href="/" target="_self">Go home</app-link></h2> -->
            }
        }








        <div class="row mt-6">
            <div class="titol h2 mb-4 text-center" appMostrarAmbAnimacio>
                @if (m.ca) { Experiència professional }
                @if (m.es) { Experiencia profesional }
                @if (m.en) { Professional experience }
            </div>
            <div class="sectionList mb-5">
                @if(section != "alvea") {        <button class="boto tema-alvea"        routerLink="/section/alvea"        matRipple>Alvea</button>              }
                @if(section != "evora") {        <button class="boto tema-evora"        routerLink="/section/evora"        matRipple>Evora IT</button>           }
                @if(section != "orange") {       <button class="boto tema-orange"       routerLink="/section/orange"       matRipple>Orange</button>             }
                @if(section != "in2art") {       <button class="boto tema-in2art"       routerLink="/section/in2art"       matRipple>In2art</button>             }
                @if(section != "matic") {        <button class="boto tema-matic"        routerLink="/section/matic"        matRipple>Matic</button>              }
                @if(section != "indra") {        <button class="boto tema-indra"        routerLink="/section/indra"        matRipple>Indra</button>              }
                @if(section != "nexxia") {       <button class="boto tema-nexxia"       routerLink="/section/nexxia"       matRipple>Nexxia</button>             }
            </div>
            <div class="titol h2 mb-4 text-center" appMostrarAmbAnimacio>
                @if (m.ca) { Projectes personals }
                @if (m.es) { Proyectos personales }
                @if (m.en) { Personal projects }
            </div>
            <div class="sectionList mb-5">
                @if(section != "android") {      <button class="boto tema-android"      routerLink="/section/android"      matRipple>Apps Android</button>       }
                @if(section != "mad-jumpgate") { <button class="boto tema-mad-jumpgate" routerLink="/section/mad-jumpgate" matRipple>PC shooting game</button>   }
                @if(section != "github") {       <button class="boto tema-github"       routerLink="/section/github"       matRipple>GitHub Projects</button>    }
                @if(section != "custom-roms") {  <button class="boto "                  routerLink="/section/custom-roms"  matRipple>Custom ROMs</button>        }
                @if(section != "tasker") {       <button class="boto tema-tasker"       routerLink="/section/tasker"       matRipple>Tasker</button>             }
                @if(section != "icons") {        <button class="boto tema-icons"        routerLink="/section/icons"        matRipple>Icons</button>              }
                @if(section != "amazfit") {      <button class="boto tema-amazfit"      routerLink="/section/amazfit"      matRipple>Amazfit Watchfaces</button> }
            </div>
        </div>








    </div>
</div>
