@import "src/styles.scss";

section.card-themed {
    .section-title {

        .link-boto-titol {
            display: flex;
            align-items: center;

            padding: 0.6rem 1.3rem;
            margin: -0.6rem -1.3rem;
            
            // per l'efecte hover botó gran a web en PC //
            border-radius: 10000px;

            transition: background-color 0.3s, transform 0.1s;

            @include mobil {
                padding: 0.5rem 1rem;
                margin: -0.5rem;
            }

            .fletxa {
                color: var(--link);

                transition: transform 0.3s, color 0.3s;
            }

            // Efecte hover botó gran a web en PC //
            &:hover {
                background-color: var(--color-3) !important;
                .fletxa {
                    transform: translate(0.2rem, -0.35rem);
                    color: var(--text) !important;
                }
            }
        }
    }
}
