@import "src/styles.scss";

#in2art {
    --color-fosc-rgb-vals-test: rgb(16, 16, 16);
    --color-clar-rgb-vals-test: rgb(255, 255, 255);
    --color-fosc-rgb-vals: 16, 16, 16;
    --color-clar-rgb-vals: 255, 255, 255;
    --color-l-0: hsl(0, 0%, 6%);
    --color-l-1: hsl(0, 0%, 16%);
    --color-l-2: hsl(0, 0%, 27%);
    --color-l-3: hsl(0, 0%, 37%);
    --color-l-4: hsl(0, 0%, 48%);
    --color-l-5: hsl(0, 0%, 58%);
    --color-l-6: hsl(0, 0%, 69%);
    --color-l-7: hsl(0, 0%, 79%);
    --color-l-8: hsl(0, 0%, 89%);
    --color-l-9: hsl(0, 0%, 100%);
}
#matic {
    --color-fosc-rgb-vals-test: rgb(36, 0, 2);
    --color-clar-rgb-vals-test: rgb(255, 209, 212);
    --color-fosc-rgb-vals: 36, 0, 2;
    --color-clar-rgb-vals: 255, 209, 212;
    --color-l-0: hsl(356, 100%, 7%);
    --color-l-1: hsl(356, 100%, 16%);
    --color-l-2: hsl(356, 100%, 26%);
    --color-l-3: hsl(356, 100%, 35%);
    --color-l-4: hsl(356, 100%, 44%);
    --color-l-5: hsl(356, 100%, 54%);
    --color-l-6: hsl(356, 100%, 63%);
    --color-l-7: hsl(356, 100%, 72%);
    --color-l-8: hsl(356, 100%, 82%);
    --color-l-9: hsl(356, 100%, 91%);
}
#indra {
    --color-fosc-rgb-vals-test: rgb(0, 32, 41);
    --color-clar-rgb-vals-test: rgb(184, 240, 255);
    --color-fosc-rgb-vals: 0, 32, 41;
    --color-clar-rgb-vals: 184, 240, 255;
    --color-l-0: hsl(193, 100%, 8%);
    --color-l-1: hsl(193, 100%, 17%);
    --color-l-2: hsl(193, 100%, 25%);
    --color-l-3: hsl(193, 100%, 34%);
    --color-l-4: hsl(193, 100%, 43%);
    --color-l-5: hsl(193, 100%, 51%);
    --color-l-6: hsl(193, 100%, 60%);
    --color-l-7: hsl(193, 100%, 69%);
    --color-l-8: hsl(193, 100%, 77%);
    --color-l-9: hsl(193, 100%, 86%);
}
#nexxia {
    --color-fosc-rgb-vals-test: rgb(36, 27, 0);
    --color-clar-rgb-vals-test: rgb(255, 244, 209);
    --color-fosc-rgb-vals: 36, 27, 0;
    --color-clar-rgb-vals: 255, 244, 209;
    --color-l-0: hsl(46, 100%, 7%);
    --color-l-1: hsl(46, 100%, 14%);
    --color-l-2: hsl(46, 100%, 19%);
    --color-l-3: hsl(46, 100%, 28%);
    --color-l-4: hsl(46, 100%, 35%);
    --color-l-5: hsl(46, 100%, 44%);
    --color-l-6: hsl(46, 100%, 58%);
    --color-l-7: hsl(46, 100%, 65%);
    --color-l-8: hsl(46, 100%, 72%);
    --color-l-9: hsl(46, 100%, 91%);
}
                 .group#in2art { background-color: hsla(0, 0%, 6%, 0.5); }
::ng-deep .light .group#in2art { background-color: hsla(0, 0%, 100%, 0.5); }
                 .group#matic { background-color: hsla(356, 100%, 15%, 0.5); }
::ng-deep .light .group#matic { background-color: hsla(356, 100%, 72%, 0.5); }
                 .group#indra { background-color: hsla(193, 100%, 16%, 0.5); }
::ng-deep .light .group#indra { background-color: hsla(193, 100%, 62%, 0.5); }
                 .group#nexxia { background-color: hsla(46, 100%, 21%, 0.5); }
::ng-deep .light .group#nexxia { background-color: hsla(46, 100%, 72%, 0.5); }


.group {
    .subtitle {
        display: flex;
        align-items: center;

        .link-boto-titol {
            display: flex;
            align-items: center;

            // per l'efecte hover botó gran a web en PC //
            border-radius: 10000px;

            transition: background-color 0.3s ease;

            .fletxa {
                color: var(--link);

                transition: transform 0.3s ease, color 0.3s ease;
            }
        }
    }
}



// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
/// 
// Pantalla PC //
@media only screen and (min-width: 576px) {
    .link-boto-titol {
        padding: 0.5rem 1rem;
        margin: -0.5rem -1rem;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .link-boto-titol {
        padding: 0.6rem;
        margin: -0.6rem;
    }
}

// PC //
@media (pointer: fine) {
    // Efecte hover botó gran a web en PC //
    .link-boto-titol {
        &:hover {
            background-color: var(--color-2) !important;
            .fletxa {
                transform: translate(0.2rem, -0.35rem);
                color: var(--text) !important;
            }
        }
    }
}
// Mòbil //
@media (pointer: coarse) { }
