<div id="page" class="page">
    <div class="page-title mb-5" appMostrarAmbAnimacio>
        @if (m.ca) { Experiència professional }
        @if (m.es) { Experiencia profesional }
        @if (m.en) { Professional experience }
    </div>

    <div class="content mb-6">

        <div class="seccions mw-1400 m-auto row justify-content-center g-3 mb-6">

            <jmp-preview-case-study class="col-12 col-md-6 col-xl-6" pagina="experience" id="indra" />
            <jmp-preview-case-study class="col-12 col-md-6 col-xl-6" pagina="experience" id="in2art" />
            <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" pagina="experience" id="matic" />
            <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" pagina="experience" id="evora" />
            <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" pagina="experience" id="orange" />
            <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" pagina="experience" id="tecnocom" />
            <jmp-preview-case-study class="col-12 col-md-6 col-xl-4" pagina="experience" id="nexxia" />
            
        </div>


        <jmp-botons-navegacio-pagina />

    </div>
</div>
