@import "src/styles.scss";




.group {
    .subtitle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link-boto-titol {
            display: flex;
            align-items: center;

            // per l'efecte hover botó gran a web en PC //
            border-radius: 10000px;

            transition: background-color 0.3s;

            .fletxa {
                color: var(--link);

                transition: transform 0.3s, color 0.3s;
            }
        }

        .practiques {
            font-size: 1rem;
            color: var(--text-60);
        }
    }
}



// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
/// 
// Pantalla PC //
@media only screen and (min-width: 576px) {
    .link-boto-titol {
        padding: 0.5rem 1rem;
        margin: -0.5rem -1rem;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .link-boto-titol {
        padding: 0.6rem;
        margin: -0.6rem;
    }
}

// PC //
@media (pointer: fine) {
    // Efecte hover botó gran a web en PC //
    .link-boto-titol {
        &:hover {
            background-color: var(--color-2) !important;
            .fletxa {
                transform: translate(0.2rem, -0.35rem);
                color: var(--text) !important;
            }
        }
    }
}
// Mòbil //
@media (pointer: coarse) { }
