<div class="content" [style.margin-top.px]="m.u.getAlturaAppbar()">
    <div class="title h1 mb-5 ocult-animacio v">
        @if (m.ca()) { Experiència professional }
        @if (m.es()) { Experiencia profesional }
        @if (m.en()) { Professional experience }
    </div>

    @if (m.front() || m.full()) {
        <app-orange />
        <app-in2art />
        <app-matic />
        <app-indra />
        <app-nexxia />
    } @else {
        <app-orange />
        <app-indra />
        <app-matic />
        <app-in2art />
        <app-nexxia />
    }

    <div class="mb-6 text-center ocult-animacio v">
        <button class="boto botoSeguentPagina m-auto" (click)="m.u.getDocument().querySelector('#projects').click()">
            @if (m.ca()) { Projectes }
            @if (m.es()) { Proyectos }
            @if (m.en()) { Projects }
        </button>
    </div>
    
</div>
