.link-title {
    // background-color: var(--text-10);
    padding: 0.5rem 1rem;
    margin: -0.5rem -1rem;
    border-radius: 10000px;

    transition: var(--transicio-colors);

    .fletxa {
        display: inline-block;
        margin-left: 0.7rem;
        color: var(--link);

        transition: transform 0.3s ease, var(--transicio-colors);
    }

    &:hover {
        .fletxa {
            transform: translate(0.2rem, -0.35rem);
            color: var(--text);
        }
    }
}



// #region MEDIA QUERIES //
///////////////////
// MEDIA QUERIES //
///////////////////
/// 
// Pantalla PC //
@media only screen and (min-width: 576px) { }
// Pantalla Mòbil //
@media only screen and (max-width: 575px) { }

// PC //
@media (pointer: fine) {
    ::ng-deep .dark  .link-title:hover { background-color: var(--color-2); }
    ::ng-deep .light .link-title:hover { background-color: var(--color-2); }
}
// Mòbil //
@media (pointer: coarse) { }
