.contenidor {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    background-color: var(--fons-50);
    // border: 1px solid var(--color-2);
    border-radius: 1000px;
    margin: auto;
    padding: 0.25rem;
    // overflow: hidden;

    z-index: 0;

    transition: var(--transicio-colors);

    
    button {
        background: none;
        color: var(--text);

        outline: none;
        border: none;
        cursor: pointer;

        padding: 0.25rem 1rem;
        border-radius: 1000px;
        z-index: 2;

        transition: font-size 0.3s ease, padding 0.3s ease, color 0.8s ease;

        &.selected {
            // background-color: var(--text);
            color: var(--fons);
        }
    }
}

::ng-deep .vespre.dark .contenidor button.selected {
    // color: var(--text);
}

.pill {
    position: absolute;
    background-color: var(--text);
    border-radius: 1000px;
    z-index: 1;
}



// Pantalla Gran //
@media only screen and (min-width: 992px) {
    button {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}
// Pantalla PC //
@media only screen and (min-width: 576px) {
    button {
        font-size: 1.5rem;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .contenidor {
        padding: 0.2rem;
    }
    button {
        font-size: 1.2rem;
    }
}

// PC //
@media (pointer: fine) { }
// Mòbil //
@media (pointer: coarse) { }
