@import "src/styles.scss";

.contenidor {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--fons-50);
    border-radius: 25px; //15px;
    margin: auto;
    padding: 0.25rem;

    z-index: 0;

    
    button {
        background: none;
        color: var(--text);

        outline: none;
        border: none;
        cursor: pointer;

        padding: 0.25rem 1rem;
        z-index: 2;
        border-radius: 3rem;

        transition: font-size 0.3s ease, padding 0.3s ease, color 0.3s ease, background-color 0.1s ease;

        &.selected {
            color: var(--fons);
        }
    }
    // button:not(.selected) + button:not(.selected) { border-left: 1px solid var(--text-50); } // Separadors //
}

.pill {
    position: absolute;
    background-color: var(--text);
    border-radius: 25px; //13px;
    z-index: 1;
}



// Pantalla Gran //
@media only screen and (min-width: 992px) {
    button {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}
// Pantalla PC //
@media only screen and (min-width: 576px) {
    button {
        font-size: 1.5rem;
    }
}
// Pantalla Mòbil //
@media only screen and (max-width: 575px) {
    .contenidor {
        padding: 0.2rem;
    }
    button {
        font-size: 1.2rem;
    }
}

// PC //
@media (pointer: fine) {
    button {
        &:hover {
            background-color: var(--text-20) !important;
        }
        &:not(:last-of-type) {
            margin-right: 0.25rem;
        }
    }
}
// Mòbil //
@media (pointer: coarse) { }
