@import "src/styles.scss";

:host { display: block; }

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

        
    .card {
        position: relative;

        height: 200px;
        border-radius: 1rem;

        overflow: hidden;

        cursor: pointer;

        .icona {
            position: absolute;
            inset: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 3rem;
            color: white;
            
            transition: scale 0.3s, opacity 0.3s;
        }
        img {
            height: 100%;

            filter: brightness(0.4);
            // @include light { filter: brightness(0.6); }
            
            transition: scale 0.3s, filter 0.3s;
        }

        &:hover {
            .icona {
                scale: 1.6;
                opacity: 0.7;
            }
            img {
                scale: 1.6;
                filter: brightness(1) blur(20px) saturate(4);
            }
        }
    }

    .text {
        text-align: center;
        font-size: 1.3rem;
    }
}
app-link {
    display: inline-block;
    font-size: 1.1rem;
}
