<div class="demos">

    <h3 class="mb-4 text-center">
        @if (m.ca) { Galeria de demos }
        @if (m.es) { Galería de demos }
        @if (m.en) { Gallery of demos }
    </h3>

    <div class="galeria">
        <div class="desktop">
            <div class="card" (click)="obrirModal(1)" matRipple appMostrarAmbAnimacio>
                <img src="assets/_experience/in2art/demo/pc-thumb.png" class="fons" alt="PC thumbnail">
                <div class="icona">
                    <i class="fa-solid fa-play"></i>
                </div>
            </div>
            <div class="text mt-2" appMostrarAmbAnimacio>
                @if (m.ca) { Escriptori }
                @if (m.es) { Escritorio }
                @if (m.en) { Desktop }
            </div>
        </div>

        <div class="mobile">
            <div class="card" (click)="obrirModal(2)" matRipple appMostrarAmbAnimacio>
                <img src="assets/_experience/in2art/demo/mobile-thumb.png" alt="Mobile thumbnail">
                <div class="icona">
                    <i class="fa-solid fa-play"></i>
                </div>
            </div>
            <div class="text mt-2" appMostrarAmbAnimacio>
                @if (m.ca) { Mòbil }
                @if (m.es) { Móvil }
                @if (m.en) { Mobile }
            </div>
        </div>

        <div class="responsive">
            <div class="card" (click)="obrirModal(3)" matRipple appMostrarAmbAnimacio>
                <img src="assets/_experience/in2art/demo/responsive-thumb.png" alt="responsive thumbnail">
                <div class="icona">
                    <i class="fa-solid fa-play"></i>
                </div>
            </div>
            <div class="text mt-2" appMostrarAmbAnimacio>
                @if (m.ca) { Responsiu }
                @if (m.es) { Responsivo }
                @if (m.en) { Responsive }
            </div>
        </div>

    </div>

    <app-link [href]="m.env.assets + '/demos/in2art/'" class="mt-4" appMostrarAmbAnimacio>
        <i class="fa-solid fa-scale-balanced me-1"></i>
        @if (m.ca) { Ús legítim i propietat }
        @if (m.es) { Uso legítimo y propiedad }
        @if (m.en) { Fair Use & Ownership }
    </app-link>

</div>
