@import "src/styles.scss";

.select-idioma {
    align-self: center;

    background-color: var(--fons-40);
    color: var(--text);
    font-size: 1.1rem;

    border: none;
    border-radius: 5px;
    padding: 0.25rem 0.5rem 0.25rem 1rem;

    cursor: pointer;

    @include tablet {
        font-size: 1.2rem;
    }
    @include tactil {
        border-radius: 0.6rem !important;
    }

    option {
        background-color: var(--fons);
    }
}
